<h2>
  Unicode
  <small>Drag and Drop</small>
</h2>
<div id="unicodes" class="unicode-buttons row-fluid"></div>
<br />
<form class="form-inline">
  <input class="insert-unicode-input input-small" placeholder="Paste/type unicode symbol" type="text"/>
  <input class="insert-unicode-tipa-input input-small" placeholder="TIPA/keyboard shortcut" type="text"/>
  <button class = "btn btn-primary add-unicode">Add</button>
</form>