<div class="pull-right">
  <a href="#" class="loc_Show_Unicode_Palette" rel="tooltip" >
    <i class="icons icon-plus-sign"></i></a>
</div>
<h3><span class = "Unicode"></span>
<span class = "Drag_and_Drop"> </span>
</h3>