<a  href="#" class="tipa-keyboard-shortcut" rel="popover" data-placement="bottom" data-content="{{tipa}}" 
  data-original-title="TIPA/keyboard shortcut" tabindex="-1">
  <span class="unicode-symbol label label-info" draggable="true">{{symbol}}</span> 
</a> 
