<h1>Insert Unicode</h1>
<p id="unicodes" class="row-fluid"></p>

 <input class="insert-unicode-input input-small" placeholder="Paste/type unicode symbol" type="text"/> 
 <input class="insert-unicode-tipa-input input-small" placeholder="TIPA/keyboard shortcut" type="text"/><button class = "btn-primary add-unicode">Add</button>
 