<div class="pull-right">
  <a href="#" rel="tooltip" title="Hide Unicode palette">
    <i class="icons icon-minus-sign"></i></a>
</div>
<h3><span class = "Unicode"></span>
<span class = "Drag_and_Drop">
  </span>
</h3>
<div id="unicodes" class="unicode-buttons row-fluid"></div>
<br />
<span class="like-form-inline">
  <input class="insert-unicode-input input-small loc_Paste_Type_Unicode_Symbol_Placeholder"  type="text"/>
  <input class="insert-unicode-tipa-input input-small loc_TIPA_shortcut" type="text"/>
  <a href="#" rel="tooltip" title="Add new symbol">
    <button class="btn btn-primary add-unicode" value="Add"><span class = "Add"></span></button>
 </span>