<span class="dropdown " id="menu{{symbol}}"> 
  <a class="btn-mini btn show-unicode-details dropdown-toggle btn-info" data-toggle="dropdown" href="#menu{{symbol}}"> 
    <b class="unicode-symbol halfopacity" draggable="true">{{symbol}}</b>
  </a>
	<ul class="dropdown-menu">
		<li><span class = "LaTeX_Code"></span></li>
		<li><input class="edit-tipa-input input-small" value="{{tipa}}" type="text"></li>
		<li><span class = "Unicode_Instructions"></span></li>
		<li><a data-toggle="modal" href="#hotkey-settings-modal"><i
				class="icon-hdd"></i><span class = "Keyboard_Shortcuts"></span> </a></li>
		<li class="remove-unicode"><a><i class="icon-remove-sign"></i>
		<span class = "Remove_Unicode"></span>
		 </a></li>
	</ul>
</span>