<div class="pull-right">
  <a href="#" class ="locale_Hide_Unicode_Palette" rel="tooltip" >
    <i class="icons icon-minus-sign"></i></a>
</div>
<h3><span class = "locale_Unicode"></span>
<span class = "locale_Drag_and_Drop">
  </span>
</h3>
<div id="unicodes" class="unicode-buttons row-fluid"></div>
<br />
<span class="like-form-inline">
  <input class="insert-unicode-input input-small locale_Paste_Type_Unicode_Symbol_Placeholder"  type="text"/>
  <input class="insert-unicode-tipa-input input-small locale_TIPA_shortcut" type="text"/>
  <a href="#" class = "locale_Add_new_symbol" rel="tooltip">
    <button class="btn btn-primary add-unicode" value="Add"><span class = "locale_Add"></span></button></a>
 </span>