<a  href="#" class="unicode-symbol-details" rel="popover" data-placement="bottom" data-content="Use <input class='edit-tipa-input' value='{{tipa}}'> to type this character, {{tipa}} will also be used when you export your data to LaTeX form." 
  data-original-title="TIPA/keyboard shortcut for {{symbol}}"  tabindex="-1"><span class="unicode-symbol label label-info" draggable="true">{{symbol}}</span></a> 
