<div class = datum_field>

	<label>Utterance:</label>
	<textarea>{{utterance}}</textarea> <br>
	
	<label>Gloss:</label>
	<textarea>{{gloss}}</textarea> <br>
	
	<label>Translation:</label>
	<textarea>{{translation}}</textarea> <br>
	
	
</div>