
<div class="singleHeaderPage">
	<div class="bulletSectionHeader_noMenu">
		<span>People</span>
	</div>
	<div class="bulletSection">

		<span>The app was orginally developed in collaboration with students and
			professors of linguistics from local universities (McGill and
			Concordia).</span>
		<hr>
		<h3>Interns &amp; Contributors</h3>
		<ul class="namesList">
			<li hidden><a href="https://github.com/farahabbasi/">Farah Abbasi</a> (Mastercard)</li>
			<li><a href="https://github.com/louisa-bielig/">Louisa Bielig</a> (McGill)</li>
			<li><a href="http://udel.edu/%7Emdotedot/">M.E. Cathcart</a> (U Delaware)</li>
			<li><a href="http://gina.cesine.ca/">Gina Chiodo</a> (Shutterstock, Concordia)</li>
			<li><a href="http://trisapeace.angelfire.com/">Theresa Deering</a> (Vision Critical, McGill)</li>
      <li><a href="http://www.jrwdunham.com/">Joel Dunham</a> (Concordia, UBC)</li>
			<li><a href="http://jdhorner.com/">Josh Horner</a> (Amilia)</li>
			<li><a href="http://ymanyakina.github.io/">Yuliya Manyakina</a> (The Language Conservancy, McGill)</li>
			<li><a href="http://migmaq.org/about/elise-mcclay/">Elise McClay</a> (UBC, McGill)</li>
      <li><a href="https://github.com/hisakonog">Hisako Noguchi</a> (Concordia)</li> <!-- linguistics.concordia.ca/gazette.html -->
			<li><a href="http://tobinskinner.com/">Tobin Skinner</a> (Amilia, UQAM)</li>
			<li><a href="http://myaamiacenter.org/?page_id=458">Xianli Sun</a> (Facebook, Miami University)</li>
      <li><a href="https://github.com/FieldDB?tab=members">More...</a></li>
		</ul>
		<hr>
		<span>Please <a
			href="https://docs.google.com/forms/d/1OOErc2fyCUrIr2aXOFIO7buxSX67xqox83rTjYFtMXE/viewform?embedded=true">contact
				us</a> if you have any questions!
		</span>
	</div>
</div>

