

<div class="datum_menu">

	<div id="dropZone">Drop Audio Here! </div>
	<div id="buttons">
      <button class="menuB" id="playDatum"> <img src= "./../public/datum_menu/play.png" alt="this will be the button that will play the audio." /></button>
      <button class="menuB" id="clipboard"> <img src= "./../public/datum_menu/clipboard.png" alt="this will be the button that lets you copy to clipboard." /></button>
      <button class="menuB" id="duplicate"> <img src= "./../public/datum_menu/duplicate.png" alt="this will be the button that will pull up a cloned datum." /></button>
      <button class="menuB" id="star"> <img src= "./../public/datum_menu/favorite.png" alt="this will be the button that lets you favorite a datum" /></button>
      <button class="menuB" id="LaTeX"> <img src= "./../public/datum_menu/latex.png" alt="this will be the button that will convert your datum into latex." /></button>
    </div>
    
</div>
