<div class="datum_menu">

	<div id="dropZone"> </div>
    <img src= "./datum_menu/play.png" alt="this will be the button that will play the audio." />
    <img src= "./datum_menu/clipboard.png" alt="this will be the button that lets you copy to clipboard." />
    <img src= "./datum_menu/duplicate.png" alt="this will be the button that will pull up a cloned datum." />

    <img src= "./datum_menu/favorite.png" alt="this will be the button that lets you favorite a datum" />
    <img src= "./datum_menu/latex.png" alt="this will be the button that will convert your datum into latex." />
    
    
</div>
