#dropZone{
  border: dashed;
  border-color: white;
  height: 20px;
  width: 130px;
  text-align: center; 
  float: right;
  margin-right: 10px
}



.menuB{
  background-color: transparent;
  height: 30px;
  width: 30px;
  border: none;
  
}

#LaTeX{
	background-color: transparent;
	height: 30px;
	width: 100px;
	border: none;
}

#fullscreen{
	float: right;
}

#newDatum{
	float: right;
	height: 30px;
	width: 30px;
}