#dropZone{
  border: dashed;
  border-color: white;
  height: 20px;
  width: 130px;
  text-align: center; 
  float: right;
}



.menuB{
  background-color: transparent;
  height: 30px;
  width: 30px;
}

#LaTeX{
	background-color: transparent;
	height: 30px;
}