
#hideOnLoad {
  visibility: hidden;
}

.document_not_ready_spinner {
  margin-top: 150px;
}

h3 {
  color: #102E37;
}

body {
  background-color: #FCFCFC;
}
.whiteicon{
  color: white;
}

.loading_trouble_message {
  position: fixed;
  text-align: center;
  background-color: #F0F5FF;
  color: #000000;
  width: 100%;
  bottom: 0;
  z-index: 100;
}

.footnote {
  font-size: .8em;
}

.floatLeft {
  float: left;
}

.floatRight {
  float: right;
}


.clearDiv {
  clear: both;
}


span ul {
  display: inline;
}


#login_screen {
  text-align: center;
}
/*
span, div, ul, li {
  border: 1px solid black !important;
}
*/
.mainPageDiv {
  background-color: #F0F5FF;
  border-radius: 10px;
  border: 1px solid #102E37;
  margin-left: 20%;
  margin-right: 20%;
  padding: 10px;
  font-weight: 700;
  font-size: 1.3em;
}

.newSessionDiv {
  background-color: #F0F5FF;
  /*  border-radius: 10px; */
  /*  border: 1px solid #102E37; */
  margin-right: 5%;
  margin-left: 5%;
  padding: 10px;
}

.newSessionTable {
  text-align: left;
}

.settingsSection {
  background-color: #F0F5FF;
  border-radius: 10px;
  border: 1px solid #102E37;
  padding: 15px;
  margin: 15px;
}

.settings_section_header {
  background-color: #F0F5FF;
  border: 1px #102E37 solid;
  padding-left: 10px;
  border-radius: 10px;
  margin: 10px;
  /*float: left;*/
}

.settings_section_header h2 {
  font-size: 1.2em;
  color: #102E37;
  margin: 0px;
}

.user_thumbnails {
  /*display: inline;*/
  text-align: center;
  float: left;
  padding: 1em;
}

a.delete_button {
  text-decoration: none;
  color: #102E37;
  font-weight: 800;
}
.delete_button:hover {
  color: #7A012A;
}

.settingsItems {
  margin: 15px;
}

.focus_box_div {
  width: 0;
  height: 0;
  overflow: hidden;
}

.selectedRow {
  background-color: #6D8CA0;
  border: 2px solid;
}

.unselectedRow:nth-child(odd) {
  background-color: #F1F0FF;
}

.unselectedRow {
  background-color: #FCFCFC;
}

.unselectedNewRow {
  background-color: #5D5E5E;
}

.unselectedGreyRow:nth-child(odd) {
  background-color: #F1F0F1;
}

.unselectedGreyRow {
  background-color: #FCFCFC;
}

.relativePosition {
  position: relative;
}

.entered_modified_info {
  font-size: .8em;
  font-weight: 700;
  line-height: 1em;
}

.expandCollapseButton {
  position: absolute;
  bottom: 10px;
  right: 15px;
}


.spreadsheet-expandedData {
    right-border: 1px solid #102E37;
    /*text-align: center;*/
}


.expandedData {
    border: 2px solid #102E37;
    background-color: #F0F5FF;
    min-height: 35px;
    border-radius: 15px;
    /*text-align: center;*/
}

.expandedDataInner {
      padding: 10px;
}

.expandedDataComments {
    border: 2px solid #102E37;
    background-color: #F0F5FF;
    min-height: 35px;
    border-radius: 15px;
}

.expandedData form {
  margin: 0;
  padding: 0;
}

.settingsHeader {
  background-color: #0099CC;
  border: 1px solid;
}

.settingsRow {
  background-color: #6D8CA0;
  box-shadow: 10px 10px 5px #888888;
}

.activeTemplate {
  background-color: #83F787;
  border-radius: 15px;
}

.page_navigation {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5px;
  background-color: #FCFCFC;
  z-index: 100;
}

div.row {
  padding: 10px;
}

h1 {
  color: #102E37;
}

h2 {
  color: #102E37;
}

input:focus {
  background-color: #EAFFFF;
  outline-size: 6px;
  outline: #102E37;
}

.clearCacheMessage {
  text-align: center;
  font-size: .8em;
  font-weight: 700;
}

@-webkit-keyframes greenPulse {
  from { background-color: #C20495; -webkit-box-shadow: 0 0 9px #333; }
  50% { background-color: #FF75DF; -webkit-box-shadow: 0 0 18px #91bd09; }
  to { background-color: #C20495; -webkit-box-shadow: 0 0 9px #333; }
}

.pulsing
{
  border-radius: 4px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 0;
  color: #FFFFFF;
 -webkit-animation-name: greenPulse;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
}

.question {
  padding: 10px;
  font-size: 1.4em;
  font-weight: 700;
}

.answer {
  padding: 15px;
  margin-left: 15px;
}

/*http://stackoverflow.com/questions/18873428/turn-off-animation-modal-angular-ui*/
.modal.fade {
  opacity: 1 !important;
}

.modal.fade .modal-dialog, .modal.in .modal-dialog {
  -webkit-transform: translate(0, 0) !important;
  -ms-transform: translate(0, 0) !important;
  transform: translate(0, 0) !important;
}
.nevershowSlidingAnimation{
 /* -webkit-transform: translate(0, 0) !important;
  -ms-transform: translate(0, 0) !important;
  transform: translate(0, 0) !important;*/
}

.spreadsheet-row {
  width: 100%;
  margin: 0;
  /*padding: 10px;*/
  display: block;
  clear: both;
}

.exportLine {

}

.corpus-selected {
  background-color: #F8FaFF
}

button .btn-play {
  display: none !important;
}

.RecordMP3js-recorder audio {
  display: none;
}

.RecordMP3js-recorder a {
  display: none;
}

.fielddb-large-textarea {
  height: 3em;
}

.import-progress {
  display: none;
}
