em {
  background-color: yellow;
}
.glossCouplet {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  vertical-align: top;
  /*necessary for when utteranceArray/morphemeArray/glossArray have different lengths*/
}

.igt-area{
  margin: .5em;
}
.igt-area .glossCouplet {
  background-color: #FFFcdF;
  margin-bottom: 5px;
/*  font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace; */
}
