em {
  background-color: yellow;
}

.search-form {
  display: inline-block;
}

.search-progress-bar {
  width: 180px; 
  height: 23px; 
  border: 1px solid gray; 
  background-color: #E9E9E9;
}

.inner-search-progress-bar {
  font-size: .7em; 
  height: 100%; 
  color: white; 
  text-align: right; 
  line-height: 23px; 
  width: 0px; 
  background-color: #99356B;
}

a.accordion-toggle {
  color: black;
  text-decoration: none;
}
.glossCouplet {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  vertical-align: top;
  /*necessary for when utteranceArray/morphemeArray/glossArray have different lengths*/
}

.igt-area {
  margin: .5em;
}
.igt-area .glossCouplet {
  background-color: #FFFcdF;
  margin-bottom: 5px;
}


/* range style http://codepen.io/onediv/pen/GBJcl */

input[type=range] {
  -webkit-appearance: none;
  /*background-color: transparent;*/
  width: 100%;
  /*width: 300px;*/
  /*height: 38px;*/
  /*padding-top:10px;*/
  overflow:hidden;
  margin: 0;
  /*margin-left: -20px;*/
  /*transform-style: preserve-3d;*/
  /*perspective: 300;*/
  /*transform-origin: 50% 50% 300px;*/
  /*perspective-origin: 50% -121%;*/
  /*transform: skew(62deg);*/
}
input[type=range]:focus{
  outline:none;
}
input[type="range"]::-webkit-slider-thumb {
  position:relative;
  -webkit-appearance: none;
  cursor:pointer;
  background-color: transparent;
  width: 30px;
  height: 3px;
  box-shadow: 1px 5px 10px -1px rgba(0, 0, 0,0.2),
  -25px 0 0 10px rgba(90, 184, 6, 0.5),
  -75px 0 0 10px rgba(90, 184, 6, 0.5),
  -125px 0 0 10px rgba(90, 184, 6, 0.5),
  -175px 0 0 10px rgba(90, 184, 6, 0.5),
  -225px 0 0 10px rgba(90, 184, 6, 0.5),
  -275px 0 0 10px rgba(90, 184, 6, 0.5),
  -325px 0 0 10px rgba(90, 184, 6, 0.5);
  z-index:2;
}
input[type="range"]::-webkit-slider-thumb:after {
  content: "";
  position: absolute;
  z-index: 1;
  left: -285px;
  top: -28px;
  /*width: 300px;*/
  height: 140px;
  background: #9FE472;
  transform: rotateX(90deg);
  transform-origin: 0 0px 0;
  transform: rotateX(90deg) translateY(-140px) translateZ(-18px);
}
input[type="range"]::-webkit-slider-thumb:before {
  content: "< >";
  position: absolute;
  background: #eaebe5;
  background: -moz-linear-gradient(top, #eaebe5 0%, #dcdedd 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eaebe5), color-stop(100%,#dcdedd));
  background: -webkit-linear-gradient(top, #eaebe5 0%,#dcdedd 100%);
  background: -o-linear-gradient(top, #eaebe5 0%,#dcdedd 100%);
  background: -ms-linear-gradient(top, #eaebe5 0%,#dcdedd 100%);
  background: linear-gradient(to bottom, #eaebe5 0%,#dcdedd 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaebe5', endColorstr='#dcdedd',GradientType=0 );
  top: -2px;
  left: 0px;
  border-radius: 2px;
  color: #5a5a5a;
  text-shadow: 0 1px 0 white;
  height: 22px;
  width: 32px;
  border-top: 1px solid white;
  border-left: 1px solid white;
  box-sizing: border-box;
  text-align: center;
  line-height: 19px;
  font-size: 17px;
}
input[type="range"]::-webkit-slider-runnable-track:before {
  content: "";
  position: absolute;
  height: 38px;
  width: 283px;
  background: #e8e8e8;
  background: -moz-linear-gradient(top, #dfdfdf 0%, #d8d8d8 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dfdfdf), color-stop(100%,#d8d8d8));
  background: -webkit-linear-gradient(top, #dfdfdf 0%,#d8d8d8 100%);
  background: -o-linear-gradient(top, #dfdfdf 0%,#d8d8d8 100%);
  background: -ms-linear-gradient(top, #dfdfdf 0%,#d8d8d8 100%);
  background: linear-gradient(to bottom, #dfdfdf 0%,#d8d8d8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dfdfdf', endColorstr='#d8d8d8',GradientType=0 );
  bottom: 0;
  left: 0;
}
input[type="range"]::-webkit-slider-runnable-track:after {
  content: "";
  position: absolute;
  height: 10px;
  width: 270px;
  background: rgb(247, 247, 247);
  top: 0;
  right: 26px;
  transform: skew(62deg);
}
input[type=range]:before {
  content: "";
  position: absolute;
  background: rgb(190, 190, 190);
  box-shadow:0 1px 0 rgb(235, 235, 235);
  /*width: 283px;*/
  left: 0;
  height: 1px;
  top: 29px;
  z-index: 1;
}
input[type=range]:after {
  content: "";
  position: absolute;
  background: rgb(190, 190, 190);
  width: 7px;
  left: 3px;
  border-radius: 50%;
  height: 6px;
  top: 26px;
  z-index: 1;
  box-shadow:30px 0 0 rgb(190, 190, 190),
  60px 0 0 rgb(190, 190, 190),
  90px 0 0 rgb(190, 190, 190),
  120px 0 0 rgb(190, 190, 190),
  150px 0 0 rgb(190, 190, 190),
  180px 0 0 rgb(190, 190, 190),
  210px 0 0 rgb(190, 190, 190),
  240px 0 0 rgb(190, 190, 190),
  270px 0 0 rgb(190, 190, 190),
  60px 1px 0 rgb(235, 235, 235),
  90px 1px 0 rgb(235, 235, 235),
  120px 1px 0 rgb(255, 255, 255),
  150px 1px 0 rgb(235, 235, 235),
  180px 1px 0 rgb(235, 235, 235),
  210px 1px 0 rgb(235, 235, 235),
  240px 1px 0 rgb(235, 235, 235),
  270px 1px 0 rgb(235, 235, 235);
}
