{
  "parser": "babel-eslint",
  "extends": [
    "standard",
    "standard-react"
  ],
  "plugins": [
    "babel",
    "react",
    "promise"
  ],
  "env": {
    "mocha" : true
  },
  "globals": {
    "document": false,
    "expect": false,
    "navigator": false,
    "sinon": false,
    "window": false
  },
  "rules": {}
}
