<div ng-class="col-md-1" title="{{datum.fields._collection[0].help}}"  ng-show="corpus.currentSession.datalist.showDocCheckboxes || corpus.currentSession.datalist.showDocPosition || datum.fields._collection[0].value">
  <input type="checkbox" ng-show="corpus.currentSession.datalist.showDocCheckboxes"/>
  <span class="badge badge-info"
  ng-show="corpus.currentSession.datalist.showDocPosition"
  title="Position in Elicitation Session/Transcript">
  N. <!-- {{$index +1}} -->
</span>
{{datum.fields._collection[0].value | neverEmpty}}
</div>

<div ng-show="corpus.fieldsInColumns.first.length > 0"
  class="{{corpus.fieldsInColumns.columnWidthClass}}">
  <div class="spreadsheet-row" ng-repeat="corpusField in corpus.fieldsInColumns.first track by $index"
  ng-hide="corpusField.showToUserTypes == 'readonly'"
  title="{{corpusField.help}}">
  {{datum.fields[corpusField.id].value | neverEmpty}}
</div>
</div>
<div ng-show="corpus.fieldsInColumns.second.length > 0"
  class="{{corpus.fieldsInColumns.columnWidthClass}}">
  <div class="spreadsheet-row" ng-repeat="corpusField in corpus.fieldsInColumns.second track by $index"
  ng-hide="corpusField.showToUserTypes == 'readonly'"
  title="{{corpusField.help}}">
  {{datum.fields[corpusField.id].value | neverEmpty}}
</div>
</div>
<div ng-show="corpus.fieldsInColumns.third.length > 0"
  class="{{corpus.fieldsInColumns.columnWidthClass}}">
  <div class="spreadsheet-row" ng-repeat="corpusField in corpus.fieldsInColumns.third track by $index"
  ng-hide="corpusField.showToUserTypes == 'readonly'"
  title="{{corpusField.help}}">
  {{datum.fields[corpusField.id].value | neverEmpty}}
</div>
</div>

<div class="{{corpus.fieldsInColumns.detailsWidthClass}}">
  <span class="pull-right">
    <img ng-src="images/loading-spinner.gif" class="gravatar-small" ng-show="datum.loading" />
    <i  class="fa fa-download" ng-click="datum.fetch()">
    </i>
    <i ng-show="datum.hasAudio" class="fa fa-microphone" title="Listen">
    </i>
    <i ng-show="datum.comments.length > 0" class="fa fa-comment"> </i>
  </span>
  <div title="Date entered">
    <i class="fa fa-clock-o">
    </i>
    {{datum.dateEntered | fielddbPrettyDate}}
    <img ng-hide="!datum.fields.enteredByUser" title="{{datum.fields.enteredByUser.user.username}}" ng-hide="!datum.fields.enteredByUser.user.gravatar" ng-src="https://secure.gravatar.com/avatar/{{datum.fields.enteredByUser.user.gravatar}}?s=15&d=identicon"/>
  </div>
  <div title="Date modified">
    <i class="fa fa-save">
    </i>
    {{datum.dateModified | fielddbPrettyDate}}
    <!-- <span ng-hide="!datum.fields.modifiedByUser.users[0]"> <i class="fa fa-group"> </i> </span> -->
    <img ng-repeat="modifiedByUser in datum.fields.modifiedByUser.users track by $index"  ng-src="https://secure.gravatar.com/avatar/{{modifiedByUser.gravatar}}?s=15&d=identicon" title="{{modifiedByUser.username}} at {{modifiedByUser.timestamp | fielddbPrettyDate}}" />
  </div>
  <ul class="list-unstyled " ng-show="datum.comments.length > 0">
    <li ng-repeat="comment in datum.comments">
      <img class="gravatar-small" title="{{comment.username}}" ng-src="https://secure.gravatar.com/avatar/{{comment.gravatar}}?s=15&d=identicon">
      &nbsp;
      <i class=" fa fa-comment">
      </i>
      {{comment.text | limitTo:40}}
    </li>
  </ul>
</div>

<ul class="hide list-unstyled list-inline col-xs-12 col-md-12 col-lg-12" ng-show="datum.hasAudio">
  <li ng-repeat="audioFile in datum.audioVideo.collection track by $index" ng-hide="audioFile.trashed == 'deleted'">
   <audio controls title="{{audioFile.description}}" >
     <source ng-src="{{audioFile.URL}}"/>
   </audio>
 </li>
</ul>

<pre ng-hide="true">
  {{datum}}
</pre>

<pre ng-hide="true">
  {{corpus.fieldsInColumns.first[0] | json}}
</pre>
