<form ng-submit="markAsEdited(datum.utterance, datum, $event);" class="container-fluid">
  <div class="span1" >
    <!-- todo try ng-change to reduce edits which are not edits -->
    N. {{$index +1}}
    <input type="checkbox" ng-show="corpus.currentSession.datalist.showDocCheckboxes" ng-model="datum.selected"/>
    <input
    ng-blur="markAsEdited(datum.utterance, datum)"
    class="span2"
    type="text"
    ng-model="datum[corpus.datumFields.collection[0].id]"
    placeholder="*#?"
    title="{{corpus.datumFields.collection[0].help}}" />

  </div>
  <div class="{{corpus.fieldsInColumns.columnWidthClass}}">

    <input class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
    ng-repeat="corpusField in corpus.fieldsInColumns.first track by $index"
    ng-hide="corpusField.showToUserTypes == 'readonly'"
    placeholder="{{corpusField.label}}"
    title="{{corpusField.help}}"
    ng-model="datum.fields[corpusField.id].value"
    />


  </div>
  <div ng-show="corpus.fieldsInColumns.second.length > 0" class="{{corpus.fieldsInColumns.columnWidthClass}}" >

    <input class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
    ng-repeat="corpusField in corpus.fieldsInColumns.second track by $index"
    ng-hide="corpusField.showToUserTypes == 'readonly'"
    placeholder="{{corpusField.label}}"
    title="{{corpusField.help}}"
    ng-model="datum.fields[corpusField.id].value"
    />

  </div>
  <div ng-show="corpus.fieldsInColumns.third.length > 0" class="{{corpus.fieldsInColumns.columnWidthClass}}" columnlabel="third">

    <input class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
    ng-repeat="corpusField in corpus.fieldsInColumns.third track by $index"
    ng-hide="corpusField.showToUserTypes == 'readonly'"
    placeholder="{{corpusField.label}}"
    title="{{corpusField.help}}"
    ng-model="datum.fields[corpusField.id].value"
    />

  </div>
  <div class="{{corpus.fieldsInColumns.detailsWidthClass}}">

    <span title="{{contextualize('locale_date_entered')}} {{datum.dateEntered | fielddbPrettyDate}}">
      <i class="fa whiteicon fa-clock-o">
      </i>
      {{datum.dateEntered | fielddbPrettyDate}}
    </span>
    <span ng-hide="!datum.enteredByUser">
      <img title="{{datum.enteredByUser.username}}" ng-hide="!datum.enteredByUser.gravatar" ng-src="https://secure.gravatar.com/avatar/{{datum.enteredByUser.gravatar}}?s=15&d=identicon">
      <br />
    </span>
    <br />
    <span title="{{contextualize('locale_date_entered')}}  {{datum.dateModified | fielddbPrettyDate}}">
      <i class="fa whiteicon fa-save">
      </i>
      {{datum.dateModified | fielddbPrettyDate}}
    </span>
    <!-- <span ng-hide="!datum.modifiedByUser.users[0]"> <i class="fa whiteicon fa-group"> </i> </span> -->
    <span ng-repeat="modifiedByUser in datum.modifiedByUser.users">
      <img ng-src="https://secure.gravatar.com/avatar/{{modifiedByUser.gravatar}}?s=15&d=identicon" title="{{modifiedByUser.username}} at {{modifiedByUser.timestamp | fielddbPrettyDate}}" />
      &nbsp;
    </span>
    <div class="pull-right">
      <button  class="btn btn-danger" type="button" ng-click="deleteRecord(datum)" ng-show="datum.expandedViewMode">
        <i class="fa fa-trash-o">
        </i>
        {{contextualize('locale_delete_this_record_button')}}
      </button>
      <i ng-show="datum.hasAudio" class="fa whiteicon fa-microphone">
      </i>
      <i ng-show="datum.hasImages" class="fa whiteicon fa-camera">
      </i>
      <i ng-show="datum.hasRelatedData" class="fa whiteicon fa-link">
      </i>
      <i ng-show="datum.comments.length > 0" class="fa whiteicon fa-comment">
      </i>
      <i class="fa whiteicon fa-refresh hide" hidden ng-click="datum.fetch()">
      </i>
      <img ng-src="images/loading-spinner.gif" class="gravatar-small" ng-show="datum.loading" />
      <i class="fa whiteicon" ng-class="{'fa-list': !datum.expandedViewMode, 'fa-th-list': datum.expandedViewMode}" ng-click="datum.expandedViewMode=datum.expandedViewMode?false:true">
      </i>
    </div>
  </div>
</form>
<div class="container-fluid" ng-show="datum.expandedViewMode && datalist.activeItem==$index">

  <div class="spreadsheet-expandedData col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <div class=" col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div fielddb-audio-video-recorder parent="datum"></div>
    </div>
  </div>

  <div class="spreadsheet-expandedData col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <ul ng-show="datum.hasComments" class="list-unstyled">
        <li ng-repeat="comment in datum.comments">
          <a ng-click="deleteComment(comment, datum)" class=" delete_button" >
            <i class="fa fa-times-circle">
            </i>
          </a>
          <img title="{{comment.username}}" ng-src="https://secure.gravatar.com/avatar/{{comment.gravatar}}?s=15&d=identicon"/>
          &nbsp;
          <i class="fa fa-clock-o">
          </i>
          {{comment.timestamp | fielddbPrettyDate}}
          <i class="fa fa-comment">
          </i>
          {{comment.text}}
        </li>
      </ul>
      <button ng-show="commentPermissions" class="btn btn-primary" ng-click="addComment(datum);" >
        <i class="fa whiteicon fa-comment">
        </i>
        {{contextualize('locale_add_comment_button')}}
      </button>
    </div>
  </div>

  <div ng-show="datum.hasImages||datum.hasAudio||datum.hasRelatedData" class="spreadsheet-expandedData col-xs-12 col-sm-12 col-md-6 col-lg-6" >
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <table >
        <tr ng-repeat="image in datum.images.collection track by $index" ng-hide="image.trashed == 'deleted'">
          <td>
            <span class="form-horizontal">
              <a  class="delete_button btn btn-danger floatLeft" ng-click="flagAsDeleted(image, datum)">
                <i class="fa fa-trash-o whiteicon">
                </i>
              </a>
              <a href="{{image.URL}}" target="_blank">
                <img class="scrollable" ng-src="{{image.URL}}"/>
              </a>
            </span>
          </td>
          <td>
            <span class="form-horizontal">
              <input  type="text" keypress-mark-as-edited placeholder="Optional description" title="Optional description" ng-model='image.description' ng-blur="markAsNotSaved(datum)" />
              &nbsp;
            </span>
          </td>
          <td>
            <a href="{{image.URL}}" target="_blank">
              <i class="fa whiteicon fa-link">
              </i>
            </a>
          </td>
        </tr>
        <tr ng-repeat="audioFile in datum.audioVideo.collection track by $index" ng-hide="audioFile.trashed == 'deleted'">
          <td>
            <span class="form-horizontal">
              <a  class="delete_button btn btn-danger floatLeft" ng-click="flagAsDeleted(audioFile, datum)">
                <i class="fa fa-trash-o whiteicon">
                </i>
              </a>
              <audio controls>
                <source ng-src="{{audioFile.URL}}"/>
              </audio>
            </span>
          </td>
          <td>
            <span class="form-horizontal">
              <input  type="text" keypress-mark-as-edited placeholder="Optional description" title="Optional description" ng-model='audioFile.description' ng-blur="markAsNotSaved(datum)" />
              &nbsp;
            </span>
          </td>
          <td>
            <a href="{{audioFile.URL}}" target="_blank">
              <i class="fa whiteicon fa-link">
              </i>
            </a>
          </td>
        </tr>
        <tr ng-repeat="relatedFile in datum.relatedData track by $index" ng-hide="relatedFile.trashed == 'deleted'">
          <td>
            <span class="form-horizontal">
              <a  class="delete_button btn btn-danger floatLeft" ng-click="flagAsDeleted(relatedFile, datum)">
                <i class="fa fa-trash-o whiteicon">
                </i>
              </a>
              <a href="{{relatedFile.URL}}" target="_blank">
              </a>
            </span>
          </td>
          <td>
            <span class="form-horizontal">
              <input  type="text" keypress-mark-as-edited placeholder="Optional description" title="Optional description" ng-model='relatedFile.description' ng-blur="markAsNotSaved(datum)" />
              &nbsp;
            </span>
          </td>
          <td>
            <a href="{{relatedFile.URL}}" target="_blank">
              <i class="fa whiteicon fa-link">
              </i>
            </a>
          </td>
        </tr>
      </table>

    </div>
  </div>
</div>
