<form ng-submit="createRecord(newFieldData)" >
  <div class="span5" spreadsheet-catch-focus-on-arrow-press>
    <div class="focus_box_div">
      <input />
    </div>
    <input id="firstFieldOfNewEntry"  keypress-mark-as-new class="span5" type="text" ng-model="newFieldData.field1" placeholder="{{fields.field1.title}}" title="{{fields.field1.title}}" title="{{fields.field1.title}}" ng-hide="fields.field1.label==''">
    <input guess-morphemes-from-utterance auto-glosser-on="{{useAutoGlosser}}" keypress-mark-as-new class="span5" type="text" ng-model="newFieldData.field2" placeholder="{{fields.field2.title}}" title="{{fields.field2.title}}" title="{{fields.field2.title}}" ng-hide="fields.field2.label==''" >
    <input guess-gloss-from-morphemes guess-utterance-from-morphemes auto-glosser-on="{{useAutoGlosser}}" keypress-mark-as-new class="span5" type="text" ng-model="newFieldData.field3" placeholder="{{fields.field3.title}}" title="{{fields.field3.title}}" title="{{fields.field3.title}}" ng-hide="fields.field3.label==''" >
    <input keypress-mark-as-new class="span5 " type="text" ng-model="newFieldData.field4" placeholder="{{fields.field4.title}}" title="{{fields.field4.title}}" title="{{fields.field4.title}}" ng-hide="fields.field4.label==''">
  </div>
  <div class="span5">
    <input keypress-mark-as-new class="span5" type="text" ng-model="newFieldData.field5" placeholder="{{fields.field5.title}}" title="{{fields.field5.title}}" title="{{fields.field5.title}}" ng-hide="fields.field5.label==''">
    <input keypress-mark-as-new class="span5" type="text" ng-model="newFieldData.field6" placeholder="{{fields.field6.title}}" title="{{fields.field6.title}}" title="{{fields.field6.title}}" ng-hide="fields.field6.label==''">
    <input keypress-mark-as-new class="span5" type="text" ng-model="newFieldData.field7" placeholder="{{fields.field7.title}}" title="{{fields.field7.title}}" title="{{fields.field7.title}}" ng-hide="fields.field7.label==''">
    <input keypress-mark-as-new class="span5" type="text" ng-model="newFieldData.field8" placeholder="{{fields.field8.title}}" title="{{fields.field8.title}}" title="{{fields.field8.title}}" ng-hide="fields.field8.label==''">
  </div>
  <div class="span2">
    <button ng-class="newRecordHasBeenEditedButtonClass()" type="submit" ng-disabled="newRecordHasBeenEdited==false">
      <i class="fa whiteicon fa-plus">
      </i>
      Create New
    </button>
  </span>
</form>

