<div spreadsheet-catch-arrow-key
  ng-class="{selectedRow: activeDatumIndex=='newEntry', unselectedNewRow: activeDatumIndex!='newEntry'}"
  class="relativePosition"
  ng-click="selectRow('newEntry')"
  ng-hide="data==undefined || loading==true || activeSession==undefined || searching==true || readPermissions == false || currentPage!=0">
  <div class="row">
  <form ng-submit="createRecord(newFieldData);newFieldData=''"  spreadsheet-catch-focus-on-arrow-press>
    <div class="focus_box_div">
      <input ng-disabled="writePermissions==false"/>
    </div>
    <div class="span3">
      <input
            guess-morphemes-from-utterance auto-glosser-on={{useAutoGlosser}} keypress-mark-as-new class="span3" type="text" ng-model="newFieldData.field1"
        placeholder="{{fields.field1.title}}" title="{{fields.field1.title}}"
        ng-hide="fields.field1.label==''">
    </div>
    <div class="span3">
      <input
            guess-gloss-from-morphemes guess-utterance-from-morphemes auto-glosser-on={{useAutoGlosser}} keypress-mark-as-new class="span3" type="text" ng-model="newFieldData.field2"
        placeholder="{{fields.field2.title}}" title="{{fields.field2.title}}"
        ng-hide="fields.field2.label==''">
    </div>
    <div class="span3">
      <input
            keypress-mark-as-new class="span3" type="text" ng-model="newFieldData.field3"
        placeholder="{{fields.field3.title}}" title="{{fields.field3.title}}"
        ng-hide="fields.field3.label==''">
    </div>
    <div class="span2">
      <input
            keypress-mark-as-new class="span2" type="text" ng-model="newFieldData.field4"
        placeholder="{{fields.field4.title}}" title="{{fields.field4.title}}"
        ng-hide="fields.field4.label==''">
    </div>
    <div class="span1">
      <button ng-show="activeDatumIndex=='newEntry'" class="btn btn-primary"
        type="submit"> <i class="fa whiteicon fa-plus"></i>{{locale_create_button}}</button>
    </div>
  </form>
  </div>
  <div class="row" ng-show="activeDatumIndex=='newEntry' && expandCollapse==true">
    <div class="span10">
      <input ng-disabled="writePermissions==false" keypress-mark-as-new type="text" class="span10" ng-model="newFieldData.field5"
        placeholder="{{fields.field5.title}}" title="{{fields.field5.title}}"
        ng-hide="fields.field5.label==''">
    </div>
  </div>
      <div class="row" ng-show="activeDatumIndex=='newEntry' && expandCollapse==true">
        <div class="span3 offset1 expandedData">
          <div class="expandedDataInner">
          <button ng-hide="writePermissions==false" ng-class="recordingButtonClass" ng-click="startRecording(newFieldData)" ng-show="audioCompatible==true && activeDatumIndex=='newEntry'"><i class="fa {{recordingIcon}}"></i>&nbsp;{{recordingStatus}}</button>&nbsp;&nbsp;
        </div>
        </div>
        <div class="span6 expandedData">
          <div class="expandedDataInner">
            <form id="form_new_datum_audio-file">
            <i class="fa fa-bullhorn"></i>&nbsp;
            <input ng-disabled="writePermissions==false" id="new_datum_audio-file" type="file" multiple ng-model='fileToUpload' /><button class="btn btn-primary" ng-click="uploadFile(newFieldData)" ng-disabled="newDatumHasAudioToUpload==true"> <i class="fa whiteicon fa-file"></i>{{locale_add_file_button}}</button>
          </form>
        </div>
      </div>
        <div class="span1">
          <span ng-show="processingAudio==true"><img src="images/spinner-small.gif"></span>
        </div>
      </div>
      <div class="row" ng-show="activeDatumIndex=='newEntry' && expandCollapse==true && newFieldData.audioVideo[0]!=undefined">
        <div class="span8 offset1">
          <b>{{locale_create_then_save_compact}}</b><br />
          <span ng-repeat="audioFile in newFieldData.audioVideo"><i> <i class="fa whiteicon fa-bullhorn"></i> {{locale_new_audio_file}}</i> {{audioFile.description}}<br /></span>
        </div>
      </div>
</div>

<div class="row" ng-show="activeSession==undefined && loading==false && searching==false && documentReady==true && data!=undefined">
  <div class="span12 pagination-centered">
    <h2>{{locale_select_session_message}}</h2>
  </div>
</div>

<div class="row" ng-show="loading==true">
  <div class="span12 pagination-centered">
    <img src="images/loading-spinner.gif" width="100px">
  </div>
</div>
<div class="row" ng-show="data==undefined && loading!=true">
  <div class="span12 pagination-centered">
    {{locale_no_data_message}}
  </div>
</div>

<div spreadsheet-catch-arrow-key class="row relativePosition"
  ng-class="{selectedRow: activeDatumIndex==$index, unselectedRow: activeDatumIndex!=$index}"
  ng-repeat="datum in data | orderBy:orderProp"
  ng-click="selectRow($index)" ng-hide="loading==true || (writePermissions==true && readPermissions==false)">

  <!-- Show when editing -->
  <div ng-show="activeDatumIndex==$index">
    <form ng-submit="markAsEdited(fieldData, datum);"  spreadsheet-catch-focus-on-arrow-press>
      <div class="span3" >
        <div class="focus_box_div"><input ng-disabled="writePermissions==false" spreadsheet-catch-focus-on-arrow-press /></div>
        <input ng-disabled="writePermissions==false" guess-morphemes-from-utterance auto-glosser-on={{useAutoGlosser}} keypress-mark-as-edited class="span3" type="text" ng-model="fieldData.field1"
          ng-init="fieldData.field1=datum[fields.field1.label]"
          value={{datum[fields.field1.label]}}
          placeholder="{{fields.field1.title}}" title="{{fields.field1.title}}"
          ng-hide="fields.field1.label==''"
           >
      </div>
      <div class="span3">
        <input ng-disabled="writePermissions==false" guess-gloss-from-morphemes guess-utterance-from-morphemes auto-glosser-on={{useAutoGlosser}} keypress-mark-as-edited class="span3" type="text" ng-model="fieldData.field2"
          ng-init="fieldData.field2=datum[fields.field2.label]"
          value={{datum[fields.field2.label]}}
          placeholder="{{fields.field2.title}}" title="{{fields.field2.title}}"
          ng-hide="fields.field2.label==''"
           >
      </div>
      <div class="span3">
        <input ng-disabled="writePermissions==false" keypress-mark-as-edited class="span3" type="text" ng-model="fieldData.field3"
          ng-init="fieldData.field3=datum[fields.field3.label]"
          value={{datum[fields.field3.label]}}
          placeholder="{{fields.field3.title}}" title="{{fields.field3.title}}"
          ng-hide="fields.field3.label==''"
           >
      </div>
      <div class="span3">
        <input ng-disabled="writePermissions==false" keypress-mark-as-edited class="span3" type="text" ng-model="fieldData.field4"
          ng-init="fieldData.field4=datum[fields.field4.label]"
          value={{datum[fields.field4.label]}}
          placeholder="{{fields.field4.title}}" title="{{fields.field4.title}}"
          ng-hide="fields.field4.label==''"
           >
      </div>
  </div>
  <!-- Show when not editing -->
  <div ng-show="activeDatumIndex!=$index" class="container-fluid">
    <div class="row"  spreadsheet-catch-focus-on-arrow-press>
    <div class="span3" >
      <span class="span3" title="{{fields.field1.title}}">
        <input ng-disabled="writePermissions==false" type="checkbox" value="{{datum.id}}"
        ng-checked="datum.checked" ng-model="datum.checked"
        ng-show="searching==true">
      <input hidden />
        {{datum[fields.field1.label]
        | neverEmpty}}</span>
    </div>
    <div class="span3">
      <span class="span3" title="{{fields.field2.title}}">{{datum[fields.field2.label]
        | neverEmpty}}</span>
    </div>
    <div class="span3">
      <span class="span3" title="{{fields.field3.title}}">{{datum[fields.field3.label]
        | neverEmpty}}</span>
    </div>
    <div class="span2">
      <span class="span2" title="{{fields.field4.title}}">{{datum[fields.field4.label]
        | neverEmpty}}</span>
    </div>
    <div class="span1 entered_modified_info">
      <span title="Date modified">{{datum.dateModified | shortDate}}
      </span>
    </div>
  </div>
</div>
</div>
<br />
<div data-spreadsheet-pagination > </div>
