<div class="spreadsheet-row" data-spreadsheet-no-data-to-display></div>

<div
class="container-fluid"
ng-class="{selectedRow: activeDatumIndex==$index, unselectedGreyRow: activeDatumIndex!=$index}"
ng-repeat="datum in datalist.docs._collection track by $index "
 fielddb-id="{{datum.id}}" data-fielddb-doc json="datum" corpus="corpus">


</div>
<!--
<div
class="container-fluid"
data-spreadsheet-adapting-columnar-template-new >
</div>
-->
<!--
<div data-spreadsheet-pagination > </div>
-->


<blockquote ng-show="datalist.debugMode" class="status">
  {{datalist.warnMessage}}
  {{datalist.docs.warnMessage}}
</blockquote>

