<div data-spreadsheet-no-data-to-display></div>

<div class="spreadsheet-row" data-fielddb-datalist json="application.corpus.currentSession.datalist" corpus="application.corpus"></div>

<!--
<pre ng-show="application.corpus.currentSession.datalist.debugMode">
  Root scope Application Corpus type fieldDBtype {{application.corpus.fieldDBtype }}
  {{application.corpus.currentSession.docs }}
</pre>

<pre ng-show="application.corpus.debugMode">
  {{application.corpus.fieldsInColumns | json}}
</pre>

-->
