<div class="modal-header">
    <h3 class="modal-title">Search results</h3>
</div>
<div class="modal-body">
    <p>
        {{resultsMessageFromExternalController}}
    </p>
    <ul class="unstyled" ng-repeat="result in resultsFromExternalController">
        <li ng-repeat="corpusField in fieldsInColumns.first">
          {{result[corpusField.label]}}
        </li>
        <li ng-repeat="corpusField in fieldsInColumns.second">
          {{result[corpusField.label]}}
        </li>
        <li ng-repeat="corpusField in fieldsInColumns.third">
          {{result[corpusField.label]}}
        </li>
        <li>
            Tags: {{commaList(result.datumTags)}}
        </li>
    </ul>
    <hr/>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">Close</button>
</div>
