<br />
<br />
  <h1>{{contextualize('locale_frequently_asked_questions')}}</h1>
<br />

<div class="question" ng-bind-html="contextualize('locale_tips')">
</div>
<div class="answer">
<ul>
  <li ng-bind-html="contextualize('locale_tutorial_link')"></li>
  <li ng-bind-html="contextualize('locale_return_main')"></li>
  <li ng-bind-html="contextualize('locale_save_often')"></li>
  <li ng-bind-html="contextualize('locale_browser_reload')"></li>
  <li ng-bind-html="contextualize('locale_change_settings_and_sync')"></li>
</ul>
</div>

<div class="question" ng-bind-html="contextualize('locale_create_account_question')">
</div>
<div class="answer" ng-bind-html="contextualize('locale_create_account_answer')">
</div>

<div class="question" ng-bind-html="contextualize('locale_forgot_password_question')">
</div>
<div class="answer" ng-bind-html="contextualize('locale_forgot_password_answer')">
</div>

<div class="question" ng-bind-html="contextualize('locale_create_corpus_question')">
</div>
<div class="answer" ng-bind-html="contextualize('locale_create_corpus_answer')">
</div>

<div class="question" ng-bind-html="contextualize('locale_enter_data_question')">
</div>
<div class="answer" ng-bind-html="contextualize('locale_enter_data_answer')">
</div>

<div class="question" ng-bind-html="contextualize('locale_import_data_question')">
</div>
<div class="answer" ng-bind-html="contextualize('locale_import_data_answer')">
</div>

<div class="question" ng-bind-html="contextualize('locale_audio_upload_limit_question')">
</div>
<div class="answer" ng-bind-html="contextualize('locale_audio_upload_limit_answer')">
</div>

<div class="question" ng-bind-html="contextualize('locale_edit_record_question')">
</div>
<div class="answer" ng-bind-html="contextualize('locale_edit_record_answer')">
</div>

<div class="question" ng-bind-html="contextualize('locale_record_upload_comment_question')">
</div>
<div class="answer" ng-bind-html="contextualize('locale_record_upload_comment_answer')">
</div>

<div class="question" ng-bind-html="contextualize('locale_delete_record_question')">
</div>
<div class="answer" ng-bind-html="contextualize('locale_delete_record_answer')">
</div>
<div class="question" ng-bind-html="contextualize('locale_privacy_question')">
</div>
<div class="answer" ng-bind-html="contextualize('locale_privacy_answer')">
</div>

<div class="question" ng-bind-html="contextualize('locale_export_question')">
</div>
<div class="answer" ng-bind-html="contextualize('locale_export_answer')">
</div>

</div>
<div class="question" ng-bind-html="contextualize('locale_share_session_question')">
</div>
<div class="answer" ng-bind-html="contextualize('locale_share_session_answer')">
</div>

<div class="question" ng-bind-html="contextualize('locale_multiple_language_question')">
</div>
<div class="answer" ng-bind-html="contextualize('locale_multiple_language_answer')">
</div>

<div class="question" ng-bind-html="contextualize('locale_multiang_glosser_question')">
</div>
<div class="answer" ng-bind-html="contextualize('locale_multilang_glosser_answer')">
</div>

<div class="question" ng-bind-html="contextualize('locale_combine_corpora_question')">
</div>
<div class="answer" ng-bind-html="contextualize('locale_combine_corpora_answer')">
</div>

<div class="question" ng-bind-html="contextualize('locale_combine_glossers_question')">
</div>
<div class="answer" ng-bind-html="contextualize('locale_combine_glossers_question')">
</div>

<div class="question" ng-bind-html="contextualize('locale_own_glossers_question')">
</div>
<div class="answer" ng-bind-html="contextualize('locale_own_glossers_answer')">
</div>

<div class="question" ng-bind-html="contextualize('locale_learn_scripting_question')">
</div>
<div class="answer" ng-bind-html="contextualize('locale_learn_scripting_answer')">
</div>

<div class="question" ng-bind-html="contextualize('locale_contact_question')">
</div>
<div class="answer" ng-bind-html="contextualize('locale_contact_answer')">
</div>

<small>LingSync v{{appVersion}} <span ng-show="mcgillOnly">McGill</span></small>
