<br />
<br />
  <h1>Frequently Asked Questions</h1>
<br />

<div class="question">
Tips:
</div>
<div class="answer">
<ul>
  <li>First time using? Try our <a href="http://lingsync.org/#/tutorial">tutorial</a> to get familiar with the app.</li>
  <li>To return to the main page at any time, click on the LingSync logo at the top left of the page.</li>
  <li>Save your work often! Changes are automatically saved every five minutes, but it is good practice to save frequently.</li>
  <li>Use your browser's reload button to discard changes.</li>
  <li>If a change in your settings isn’t showing up immediately, save your data and click the sync button (↻); this should update everything, and will also keep your auto-parser performing at its best.</li>
</ul>
</div>

<div class="question">
How do I create an account?
</div>
<div class="answer">
From the main startup screen, click the "Register" button in the top right corner and fill out the form. If you are unsure as to which server you should select, you most likely want to choose "LingSync".
</div>

<div class="question">
How do I create a corpus?
</div>
<div class="answer">
  After you have logged in, hover over "Settings" and select "Corpus". From this page, you can add a new corpus.
</div>

<div class="question">
How do I enter data?
</div>
<div class="answer">
  After you have selected a corpus and an elicitation session (or created a new session), you will be taken to the data entry page. The topmost item on this page is the space to enter new records. Fill in your data and/or record/upload audio and then click "Create New". Note that your new record will not be saved to the database until you click the "Save" button at the top right of the screen!
</div>

<div class="question">
How do I import data?
</div>
<div class="answer">
  You can import entire Elicitation Session by uploading an audio/video (any format works: .wav, .aiff, .mp3, .ogg, .mov, .avi, .3gp, .mp4 etc) <a href="https://www.youtube.com/watch?v=IcsdPyYEMFc&list=PLUrH6CNxFDrMtraL8hTLbLsQwdw1117FT">(how-to video)</a>.
or text data (csv, plain text, TextGrid, toolbox and more)  <a href="https://www.youtube.com/watch?v=Gcc0CFhGLfI&list=PLUrH6CNxFDrMtraL8hTLbLsQwdw1117FT">(how-to video)</a> using the <a target="_blank" href="https://chrome.google.com/webstore/detail/lingsync-prototype/eeipnabdeimobhlkfaiohienhibfcfpa">Prototype app</a>. These import functionality will be moved to the corpus admin pages when it becomes a priority.
</div>

<div class="question">
How much audio/video can I upload?
</div>
<div class="answer">
We set the limit at 1.5GB. If this is too low for you, you probably are doing a lot with audio/video and maybe even your department has a server that you can install the audio service on so that you dont have to use the LingSync.org resources. If you will have a lot of heavy video files (more than 300MB) you can also consider using a private or unlisted videos on YouTube, SoundCloud, Google drive or even your department's servers to host the files online.
</div>

<div class="question">
How do I edit an existing record?
</div>
<div class="answer">
  Single-click anywhere on the record you wish to edit. This will make the record editable. Make your changes and click the "Done" button. Note that changes to this record will not be saved to the database until you click the "Save" button!
</div>

<div class="question">
How do I record audio, upload audio, or add/view comments?
</div>
<div class="answer">
  Click the expand button <i class="fa fa-list"></i> on a new record or a record in edit mode to access audio and comment features. You may click the collapse button <i class="fa fa-th-list"></i> to hide this section.<br /><br />
  <b>Recording Audio</b><br />
  To record audio, click the record button. <b>Note that you must then click the "Allow" button on the browser dropdown at the top of the page.</b> Your audio will begin recording once you click "Allow". To stop recording, simply click the "Recording" button. Your audio will then be processed. This may take a while.<br /><br />
  <b>Uploading Audio</b><br />
  To upload audio files, click on "Choose files" and select one or more audio files from your hard drive. Audio files may be in .wav, .mp3, or .ogg format.<br /><br />
  <b>Adding/Deleting Comments</b><br />
  To add a comment, click on the "Add a comment" link and enter your comment in the popup box. To delete a comment, click on the "X" next to the comment. You may only delete your own comments. Comments are not editable, so to change what your comment says simply delete it and write a new one.
</div>

<div class="question">
How do I delete a record or audio file?
</div>
<div class="answer">
  To delete a record, click the relevant record and then click the "Delete" button. To delete an audio file, click on the "X" next to the file. In both cases, you will be prompted to verify the deletion. Note that deleting records and files only a flag and does not result in destroying data.
</div>
<div class="question">
Is my data private and protected?
</div>
<div class="answer">
  Yes! For more on our policies with respect to your data, please see <a target="_blank" href="https://www.lingsync.org/privacy.html">our web site</a>.
</div>

<div class="question">
How do I export data?
</div>
<div class="answer">
  You can export your entire database as <a target="_blank" href="{{server}}/{{DB.pouchname}}/_design/pages/_list/asCSV/get_datum_fields">csv</a> (warning, csv is a lossy format, don't use this for backing up your data), or backup your data as non-lossy <a target="_blank" href="{{server}}/{{DB.pouchname}}/_design/pages/_view/get_datum_fields">json</a>. You can also share your data with other people by adding them to your corpus, or you can make parts of your corpus public and sharable on <a target="_blank" href="http://lingsync.org/{{DB.pouchname.replace('-','/')}}">your corpus' own webpage</a> You can also export lists of data in LaTeX among other things using the <a target="_blank" href="https://chrome.google.com/webstore/detail/lingsync-prototype/eeipnabdeimobhlkfaiohienhibfcfpa">Prototype app</a>.
  <p>You can also download a <a href="{{server}}/{{DB.pouchname}}/_design/pages/_list/asCSV/word_list?group=true">word list</a>, <a href="{{server}}/{{DB.pouchname}}/_design/pages/_list/asCSV/lexicon_create_tuples?group=true">glossed word list</a> and a <a href="{{server}}/{{DB.pouchname}}/_design/pages/_list/asCSV/morphemes_in_utterance?group=true">morphemes list</a>, among other things. If you're curious about other exports you can do, <a target="_blank" href="https://docs.google.com/forms/d/18KcT_SO8YxG8QNlHValEztGmFpEc4-ZrjWO76lm0mUQ/viewform">contact us</a> and one of the current students will give you a tutorial. Exporting data from LingSync.org is extremely powerful and flexible.</p>
</div> 

</div>
<div class="question">
Can I share just a session, not a whole corpus?   
</div>
<div class="answer">
  If you want to share a session with someone, you must <a target="_blank" href="https://docs.google.com/forms/d/18KcT_SO8YxG8QNlHValEztGmFpEc4-ZrjWO76lm0mUQ/viewform">send us an email</a> to say which session you want to share. We will send you a widget that accesses only data in that session and lets the user log into that widget to read (if they are allowed) and/or edit (if they are allowed) data. You must put the widget in your own website and/or wordpress blog and provide the url to the user(s). If the user is not permitted to see other things in your corpus you need to provide us with their username(s) so we can add conditional permissions to their account.
</div> 

<div class"question">
Can I have multiple object languages in one corpus? If I have multiple languages, what would happen to the semi-auto glosser?
</div>

<div class="answer">
</div> 

<div class="question">
Can I combine corpora? 
</div> 
<div=class"answer"> 
  If you want to combine corpora you must <a target="_blank" href="https://docs.google.com/forms/d/18KcT_SO8YxG8QNlHValEztGmFpEc4-ZrjWO76lm0mUQ/viewform">send us an email</a> to tell us the names of the corpora to combine, and where to combine them to. We will verify that you have permission to do this, and do the combining and testing of the result.
</div>

<div class="question">
Can I combine glossers and use it for multiple corpora?
</div> 
<div class="answer">
  By default, each corpus has its own glosser fed by the data in that corpus. If you have many corpora that you want to feed one glosser, you must <a target="_blank" href="https://docs.google.com/forms/d/18KcT_SO8YxG8QNlHValEztGmFpEc4-ZrjWO76lm0mUQ/viewform">send us an email</a> and tell us which corpora should feed which glosser. 
</div> 

<div class="question">
Contact
</div>
<div class="answer">
  For any other questions or comments, you may <a target="_blank" href="https://docs.google.com/forms/d/18KcT_SO8YxG8QNlHValEztGmFpEc4-ZrjWO76lm0mUQ/viewform">send us an email</a> or <a target="_blank" href="https://www.facebook.com/LingSyncApp">ask other users on Facebook</a>.
</div>

<small>LingSync v{{appVersion}} <span ng-show="mcgillOnly">McGill</span></small>
