<br />
<br />
  <h1>{{contextualize('locale_frequently_asked_questions')}}</h1>
<br />


<div class="question">
Should I use LingSync for my Fields Methods classes?
</div>
<div class="answer">
<p>No, we do not recommend using LingSync for upcoming fields methods classes. We are planning on discontinuing support for this app on August 1st 2017, after which time corpora will be availible as archive only. This project remains open source and non-proprietary, anyone can use the code to create future apps.</p>
<p>Between February 2015 and November 2015 classes experienced a great deal of student frustration. The current hosting provider and server is unreliable 80%-90% uptime which makes it almost impossible to rely on the app. On December 2nd we upgraded the server, since then it appears to have become more reliable. We expect to change hosting providers after the Christmas break.</p>
<p>If you were planning on using the app, please <a href="mailto:support@lingsync.org">email us</a> for instructions on how to use Dative. </p>
</div>

<div class="question" ng-bind-html="contextualize('locale_tips')">
</div>
<div class="answer">
<ul>
  <li ng-bind-html="contextualize('locale_tutorial_link')"></li>
  <li ng-bind-html="contextualize('locale_return_main')"></li>
  <li ng-bind-html="contextualize('locale_save_often')"></li>
  <li ng-bind-html="contextualize('locale_browser_reload')"></li>
  <li ng-bind-html="contextualize('locale_change_settings_and_sync')"></li>
</ul>
</div>


<div class="question" ng-bind-html="contextualize('locale_create_account_question')">
</div>
<div class="answer" ng-bind-html="contextualize('locale_create_account_answer')">
</div>

<div class="question" ng-bind-html="contextualize('locale_forgot_password_question')">
</div>
<div class="answer" ng-bind-html="contextualize('locale_forgot_password_answer')">
</div>

<div class="question" ng-bind-html="contextualize('locale_create_corpus_question')">
</div>
<div class="answer" ng-bind-html="contextualize('locale_create_corpus_answer')">
</div>

<div class="question" ng-bind-html="contextualize('locale_instructor_faq_question')">
</div>
<div class="answer" ng-bind-html="contextualize('locale_instructor_faq_answer')">
</div>

<div class="question" ng-bind-html="contextualize('locale_remove_corpus_question')">
</div>
<div class="answer" ng-bind-html="contextualize('locale_remove_corpus_answer')">
</div>

<div class="question" ng-bind-html="contextualize('locale_enter_data_question')">
</div>
<div class="answer" ng-bind-html="contextualize('locale_enter_data_answer')">
</div>

<div class="question" ng-bind-html="contextualize('locale_import_data_question')">
</div>
<div class="answer" ng-bind-html="contextualize('locale_import_data_answer')">
</div>

<div class="question" ng-bind-html="contextualize('locale_audio_upload_limit_question')">
</div>
<div class="answer" ng-bind-html="contextualize('locale_audio_upload_limit_answer')">
</div>

<div class="question" ng-bind-html="contextualize('locale_edit_record_question')">
</div>
<div class="answer" ng-bind-html="contextualize('locale_edit_record_answer')">
</div>

<div class="question" ng-bind-html="contextualize('locale_record_upload_comment_question')">
</div>
<div class="answer" ng-bind-html="contextualize('locale_record_upload_comment_answer')">
</div>

<div class="question" ng-bind-html="contextualize('locale_delete_record_question')">
</div>
<div class="answer" ng-bind-html="contextualize('locale_delete_record_answer')">
</div>


<div class="question " >
How can I see what has been happening in my corpus?
</div>
<div class="answer">

You can look in your <a target="_blank" href="https://corpus.lingsync.org/{{corpus.dbname}}-activity_feed/_design/activities/activity_feed.html#/user/{{user.username}}/corpus/{{corpus.dbname}}">team's activity feed</a>.
<!--
<iframe ng-show="corpus.activityFeedUrl"
  src="corpus.activityFeedUrl"
  width="100%" height="400" frameborder="0" ALLOWTRANSPARENCY="true">
</iframe> -->
</div>


<div class="question" ng-bind-html="contextualize('locale_privacy_question')">
</div>
<div class="answer" ng-bind-html="contextualize('locale_privacy_answer')">
</div>

<div class="question" ng-bind-html="contextualize('locale_export_question')">
</div>
<div class="answer" ng-bind-html="contextualize('locale_export_answer')">
</div>

<div class="question" ng-bind-html="contextualize('locale_python_question')">
</div>
<div class="answer" ng-bind-html="contextualize('locale_python_answer')">
</div>


</div>
<div class="question" ng-bind-html="contextualize('locale_share_session_question')">
</div>
<div class="answer" ng-bind-html="contextualize('locale_share_session_answer')">
</div>

<div class="question" ng-bind-html="contextualize('locale_multiple_language_question')">
</div>
<div class="answer" ng-bind-html="contextualize('locale_multiple_language_answer')">
</div>

<div class="question" ng-bind-html="contextualize('locale_multiang_glosser_question')">
</div>
<div class="answer" ng-bind-html="contextualize('locale_multilang_glosser_answer')">
</div>

<div class="question" ng-bind-html="contextualize('locale_combine_corpora_question')">
</div>
<div class="answer" ng-bind-html="contextualize('locale_combine_corpora_answer')">
</div>

<div class="question" ng-bind-html="contextualize('locale_combine_glossers_question')">
</div>
<div class="answer" ng-bind-html="contextualize('locale_combine_glossers_answer')">
</div>

<div class="question" ng-bind-html="contextualize('locale_own_glossers_question')">
</div>
<div class="answer" ng-bind-html="contextualize('locale_own_glossers_answer')">
</div>


<div class="question" >
What was I working on last time?
</div>
<div class="answer">
You can look in <a target="_blank" href="https://corpus.lingsync.org/{{user.username}}-activity_feed/_design/activities/activity_feed.html#/user/{{user.username}}">your activity feed</a>.
<!--
<iframe hidden ng-show="user.activityFeedUrl"
  src="user.activityFeedUrl"
  width="100%" height="400" frameborder="0" ALLOWTRANSPARENCY="true">
</iframe> -->
</div>

<div class="question" ng-bind-html="contextualize('locale_learn_scripting_question')">
</div>
<div class="answer" ng-bind-html="contextualize('locale_learn_scripting_answer')">
</div>

<div class="question" ng-bind-html="contextualize('locale_contact_question')">
</div>
<div class="answer" ng-bind-html="contextualize('locale_contact_answer')">
</div>

<small>LingSync v{{appVersion}} <span ng-show="mcgillOnly">McGill</span></small>
