<div data-spreadsheet-no-data-to-display ></div>

<div spreadsheet-catch-arrow-key class="row relativePosition" ng-class="{selectedRow: activeDatumIndex==$index, unselectedGreyRow: activeDatumIndex!=$index}" ng-repeat="datum in data | orderBy:orderProp" ng-click="selectRow($index)" ng-hide="loading==true || readPermissions==false">

  <!-- Show when editing -->
  <div fielddb-id="{{datum.id}}" data-spreadsheet-adapting-columnar-template-edit ng-show=" writePermissions==true && readPermissions==true && activeDatumIndex==$index"></div>
  <!-- Show when not editing -->
  <div data-spreadsheet-adapting-columnar-template-read ng-show="(readPermissions==true && activeDatumIndex!=$index ) || (readPermissions==true && writePermissions!=true ) " ></div>

</div>

<div data-spreadsheet-adapting-columnar-template-new ng-click="selectRow('newEntry')" ng-show="writePermissions==true && fullCurrentSession._id" class="row relativePosition" ng-class="{selectedRow: activeDatumIndex=='newEntry', unselectedNewRow: activeDatumIndex!='newEntry'}"></div>

<br />
<div data-spreadsheet-pagination > </div>
