<div class="row-fluid document_not_ready_spinner" ng-hide="documentReady==true">
  <div class="span4 offset4 pagination-centered">
    <img src="images/loading-spinner.gif" width="75">
  </div>
</div>
<div id="hideOnLoadDeprecated">
  <div class="largeMenuBar">
    <div class="menubar mainMenubar" ng-cloak>
      <span class="menuTitle">
        <a ng-click="navigateVerifySaved('home')">
          <img src="images/icon48_dev.png" border="0" />
        </a>
      </span>
      <span ng-hide="data==undefined" ng-class="{active_menu_class: activeMenu=='none'}">
        <a class="menuitem" ng-click="loadDataEntryScreen();">
          <i class="fa whiteicon fa-list">
          </i>
          {{contextualize('locale_data_entry')}}
        </a>
      </span>
      |
      <span ng-hide="dataentry==false" ng-class="{active_menu_class: activeMenu=='searchMenu'}">
        <a class="menuitem" ng-click="navigateVerifySaved('searchMenu');">
          <i class="fa whiteicon fa-search">
          </i>
          {{contextualize('locale_search')}}
        </a>
      </span>
      |
      <span ng-show="dataentry==true" ng-class="{active_menu_class: activeMenu=='editSession'}">
        <a class="menuitem" ng-click="navigateVerifySaved('editSession')">
          <i class="fa whiteicon fa-calendar">
          </i>
          {{contextualize('locale_session')}}
        </a>
      </span>
      |
      <span ng-show="authenticated==true" ng-class="{active_menu_class: activeMenu=='corpusSettings' || activeMenu=='settings'}">
        <ul class="dropdown_nav">
          <li>
            <a class="menuitem">
              <i class="fa whiteicon fa-cogs">
              </i>
              {{contextualize("locale_settings")}}
            </a>
            <ul>
              <li>
                <a ng-click="navigateVerifySaved('corpusSettings')">
                  <i class="fa whiteicon fa-cloud">
                  </i>
                  {{contextualize('locale_corpus')}}
                </a>
              </li>
              <li ng-hide="corpus.dbname==undefined">
                <a ng-click="navigateVerifySaved('settings');">
                  <i class="fa whiteicon fa-cogs">
                  </i>
                  {{contextualize('locale_user_interface')}}
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </span>
      |
      <span ng-class="{active_menu_class: activeMenu=='faq'}">
        <a class="menuitem" ng-click="navigateVerifySaved('faq');clickSuccess=true;">
          <i class="fa whiteicon fa-question-circle">
          </i>
          {{contextualize('locale_faq')}}
        </a>
      </span>
      |
      <span ng-hide="data==undefined" ng-hide="dataentry==false">
        <input type="checkbox" ng-model="useAutoGlosser">
        <i class="fa whiteicon fa-bar-chart-o">
        </i>
        {{contextualize('locale_glosser')}}
      </span>
      <span class="rightMenuItems" ng-show="authenticated==true">
        <div class="rightMenuItemsDiv">
          <div ng-hide="corpus==undefined">
            <a class="floatLeft" href="http://lingsync.org/{{corpus.dbname.replace('-','/')}}/{{corpus.dbname}}" target="_blank" title="Visit this {{corpus.dbname}}'s webpage">
              <img ng-hide="corpus.gravatar==undefined" ng-src="https://secure.gravatar.com/avatar/{{corpus.gravatar}}?s=30&amp;d=retro&amp;r=pg" border="0">
            </a>
            <i class="fa whiteicon fa-calendar">
            </i>
            {{fullCurrentSession.dateAndGoalSnippet}}
            <br />
            <i class="fa whiteicon fa-cloud">
            </i>
            {{corpus.title | limitTo:50}}
          </div>
          <div>
            &nbsp;
            <button ng-class="getSavedState().class" ng-click="saveChanges();" ng-show="dataentry==true && loading==false && (writePermissions==true || commentPermissions==true)">
              {{getSavedState().text}}
            </button>
            &nbsp;
            <button class="btn btn-warning" ng-click="logOut()">
              <i class="fa whiteicon fa-arrow-right">
              </i>
              {{contextualize('locale_logout')}}
            </button>
            <a href="http://lingsync.org/{{user.username}}" target="_blank" title="Visit your share page">
              <img ng-hide="corpus.gravatar==undefined" ng-src="https://secure.gravatar.com/avatar/{{user.gravatar}}?s=30&amp;d=identicon" border="0">
            </a>
          </div>
        </div>
        <div class="clearDiv">
        </div>
      </span>
      <span ng-hide="authenticated">
        <div class="rightMenuItemsDiv">
          <button ng-click="navigateVerifySaved('register');" class="btn btn-primary">
            {{contextualize('locale_registration')}}
          </button>
        </div>
      </span>
    </div>
    <div class="subMenubar" ng-show="activeSubMenu=='editSession'" ng-cloak>
      <div class="form-horizontal">
        <span>
          <i class="fa whiteicon fa-calendar">
          </i>
          {{contextualize('locale_change_session')}}
        </span>
        <select class="span3" ng-model="fullCurrentSession" ng-options="session.dateAndGoalSnippet for session in sessions">
        </select>
        &nbsp;
        <button class="btn btn-primary" ng-click="selectSession(fullCurrentSession._id);navigateVerifySaved('none')">
          {{contextualize('locale_activate_session_button')}}
        </button>
        &nbsp;&nbsp;
        <span ng-hide="activeSessionID==undefined">
          <button ng-show="writePermissions==true" class="btn btn-success" ng-click="selectSession(fullCurrentSession._id);editSessionDetails=!editSessionDetails;createNewSessionDropdown=false" >
            {{contextualize('locale_edit_session_info_button')}}
          </button>
          &nbsp;&nbsp;
        </span>
        <span ng-show="(data | filter: activeSessionID).length==0">
          <button ng-show="writePermissions==true" class="btn btn-danger" ng-click="deleteEmptySession(activeSessionID)" ng-disabled="readOnly==true">
            <i class="fa whiteicon fa-trash-o">
            </i>
            {{contextualize('locale_delete_session')}}
          </button>
          &nbsp;&nbsp;
        </span>
        <button ng-show="writePermissions==true" class="btn btn-primary" ng-click="createNewSessionDropdown=!createNewSessionDropdown;editSessionDetails=false" ng-disabled="readOnly==true">
          <i class="fa whiteicon fa-plus">
          </i>
          {{contextualize('locale_create_new_elicitation_session_button')}}
        </button>
      </div>
      <div class="subSubMenubar"ng-show="editSessionDetails==true && activeSessionID!=undefined"ng-cloak>
        <form ng-model='fullCurrentSession'>
          <table cellpadding="5px">
            <tr>
              <td>
                <i class="fa whiteicon fa-calendar">
                </i>
                {{contextualize('locale_goal_textbox')}}:
              </td>
              <td>
                <input class="span3" type="text" ng-model="fullCurrentSession.goal" placeholder="Collecting examples of animacy agreement">
              </td>
              <!-- <td>
                <i class="fa whiteicon fa-user">
                </i>
                {{contextualize('locale_consultants_textbox')}}:
              </td>
              <td>
                <input class="span3" type="text" ng-model="fullCurrentSession.consultants" ng-hide="true" placeholder="ME,EV,FE">
              </td> -->
              <!-- <td>
                <i class="fa whiteicon fa-user">
                </i>
                {{contextualize('locale_user_textbox')}}:
              </td>
              <td>
                <input class="span3" type="text" ng-model="fullCurrentSession.user" placeholder="{{fullCurrentSession.user}}" disabled>
              </td> -->
            </tr>
            <tr>
              <td>
                {{contextualize('locale_language_textbox')}}:
              </td>
              <td>
                <input class="span3" type="text" ng-model="fullCurrentSession.language" placeholder="Language">
              </td>
              <td>
                {{contextualize('locale_dialect_textbox')}}:
              </td>
              <td>
                <input class="span3" type="text" ng-model="fullCurrentSession.dialect" placeholder="Dialect">
              </td>
              <td>
                {{contextualize('locale_date_elicited_textbox')}}:
              </td>
              <td>
                <input class="span3" type="date" ng-model="fullCurrentSession.dateElicited" placeholder="Weds 2012-08-01">
              </td>
            </tr>
          </table>
        </form>
        <div>
          <button class="btn" ng-click="editSession(fullCurrentSession, data);">
            <i class="fa whiteicon fa-save">
            </i>
            {{contextualize('locale_save_changes_button')}}
          </button>
          &nbsp;
          <button class="btn" ng-click="editSessionDetails=false">
            {{contextualize('locale_cancel_button')}}
          </button>
        </div>
      </div>
      <div class="subSubMenubar" ng-show="createNewSessionDropdown==true" ng-cloak>
        <form ng-model='newSession'>
          <table cellpadding="5px">
            <tr>
              <td>
                <i class="fa whiteicon fa-calendar">
                </i>
                {{contextualize('locale_goal_textbox')}}:
              </td>
              <td>
                <input class="span3" type="text" ng-model="newSession.goal" placeholder="Collecting examples of animacy agreement">
              </td>
             <!--  <td>
                <i class="fa whiteicon fa-user">
                </i>
                {{contextualize('locale_consultants_textbox')}}:
              </td>
              <td>
                <input class="span3" type="text" ng-model="newSession.consultants" ng-hide="true" placeholder="ME,EV,FE">
              </td> -->
             <!--  <td>
                <i class="fa whiteicon fa-user">
                </i>
                {{contextualize('locale_user_textbox')}}:
              </td>
              <td>
                <input disabled class="span3" type="text" ng-model="newSession.user" placeholder="{{user.name}}">
              </td> -->
            </tr>
            <tr>
              <td>
                {{contextualize('locale_language_textbox')}}:
              </td>
              <td>
                <input class="span3" type="text" ng-model="newSession.language" placeholder="Language">
              </td>
              <td>
                {{contextualize('locale_dialect_textbox')}}:
              </td>
              <td>
                <input class="span3" type="text" ng-model="newSession.dialect" placeholder="Dialect">
              </td>
              <td>
                {{contextualize('locale_date_elicited_textbox')}}:
              </td>
              <td>
                <input class="span3" type="date" ng-model="newSession.dateElicited" placeholder="Weds 2012-08-01">
              </td>
            </tr>
          </table>
        </form>
        <div>
          <button class="btn btn-primary" ng-click="createNewSession(newSession);createNewSessionDropdown=false;navigateVerifySaved('none')">
            <i class="fa whiteicon fa-save">
            </i>
            {{contextualize('locale_create_session_button')}}
          </button>
          &nbsp;
          <button class="btn" ng-click="createNewSessionDropdown=false">
            {{contextualize('locale_cancel_button')}}
          </button>
        </div>
      </div>
    </div>
    <div class="subMenubar" ng-show="activeSubMenu=='searchMenu'">
      <form class="form-horizontal">
        <i class="fa whiteicon fa-search">
        </i>
        {{contextualize('locale_search_text_box')}}&nbsp;
        <input type="text" class="input-medium search-query" ng-model='searchTerm'>
        &nbsp;
        <button class="btn btn-primary" ng-click="runSearch(searchTerm);">
          {{contextualize('locale_go_button')}}
        </button>
        &nbsp;
        <button class="btn btn-primary" ng-click="selectAll();">
          {{contextualize('locale_select_all_button')}}
        </button>
        &nbsp;
        <button class="btn btn-primary" ng-click="exportResults();">
          {{contextualize('locale_export_button')}}
        </button>
        &nbsp;
        <button class="btn btn-warning" ng-click="clearSearch()">
          {{contextualize('locale_clear_results_button')}}
        </button>
        &nbsp;
        <span>
          {{searchHistory}}
        </span>
      </form>
    </div>
  </div>




  <div class="smallMenuBar">
    <div class="menubar mainMenubar" ng-cloak>
      <span class="menuTitle">
        <a ng-click="navigateVerifySaved('home')">
          <img src="images/icon48_dev.png" border="0" />
        </a>
      </span>
      <span ng-hide="data==undefined" ng-class="{active_menu_class: activeMenu=='none'}">
        <a class="menuitem" ng-click="loadDataEntryScreen()">
          <i class="fa whiteicon fa-list">
          </i>
        </a>
      </span>
      |
      <span ng-hide="dataentry==false" ng-class="{active_menu_class: activeMenu=='searchMenu'}">
        <a class="menuitem" ng-click="navigateVerifySaved('searchMenu');">
          <i class="fa whiteicon fa-search">
          </i>
        </a>
      </span>
      |
      <span ng-show="dataentry==true" ng-class="{active_menu_class: activeMenu=='editSession'}">
        <a class="menuitem" ng-click="navigateVerifySaved('editSession')">
          <i class="fa whiteicon fa-calendar">
          </i>
        </a>
      </span>
      |
      <span ng-show="authenticated==true" ng-class="{active_menu_class: activeMenu=='corpusSettings' || activeMenu=='settings'}">
        <ul class="small_dropdown_nav navitem">
          <li>
            <a class="menuitem" href="#">
              <i class="fa whiteicon fa-cogs">
              </i>
            </a>
            <ul>
              <li>
                <a ng-click="navigateVerifySaved('corpusSettings')">
                  <i class="fa whiteicon fa-cloud">
                  </i>
                </a>
              </li>
              <li ng-hide="corpus.dbname==undefined">
                <a ng-click="navigateVerifySaved('settings');">
                  <i class="fa whiteicon fa-cogs">
                  </i>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </span>
      |
      <span ng-class="{active_menu_class: activeMenu=='faq'}">
        <a class="menuitem" ng-click="navigateVerifySaved('faq');clickSuccess=true;">
          <i class="fa whiteicon fa-question-circle">
          </i>
        </a>
      </span>
      |
      <span ng-hide="data==undefined" ng-hide="dataentry==false">
        <input type="checkbox" ng-model="useAutoGlosser">
        <i class="fa whiteicon fa-bar-chart-o">
        </i>
      </span>
      <span class="smallMenuBarInfo" ng-show="authenticated==true">
        <span class=" smallMenuBarInfoItem" ng-hide="corpus==undefined">
          <a class="" href="http://lingsync.org/{{corpus.dbname.replace('-','/')}}/{{corpus.dbname}}" target="_blank" title="Visit this corpus' webpage">
            <img ng-src="https://secure.gravatar.com/avatar/{{corpus.gravatar}}?s=30&amp;d=retro&amp;r=pg" border="0">
          </a>
        </span>
        <span class="smallMenuBarInfoItem">
          &nbsp;
          <button ng-class="getSavedState().class" ng-click="saveChanges();" ng-show="dataentry==true && loading==false">
            <i ng-class="getSavedState().icon">
            </i>
          </button>
          &nbsp;
          <button class="btn btn-warning" ng-click="logOut()">
            <i class="fa whiteicon fa-arrow-right">
            </i>
          </button>
          <a href="http://lingsync.org/{{user.username}}" target="_blank" title="Visit your share page">
            <img ng-src="https://secure.gravatar.com/avatar/{{user.gravatar}}?s=30&amp;d=identicon" border="0">
          </a>
        </span>
      </span>
      <span ng-hide="authenticated">
        <span>
          <button ng-click="navigateVerifySaved('register');" class="btn btn-primary">
            {{contextualize('locale_registration')}}
          </button>
        </span>
      </span>
    </div>
    <div class="subMenubar" ng-show="activeSubMenu=='editSession'" ng-cloak>
      <span>
        {{contextualize('locale_change_session')}}
      </span>
      <select class="span3" ng-model="fullCurrentSession" ng-options="session.dateAndGoalSnippet for session in sessions">
      </select>
      <button class="btn btn-primary" ng-click="selectSession(fullCurrentSession._id);navigateVerifySaved('none')">
        <i class="fa whiteicon fa-calendar">
        </i>
        {{contextualize('locale_activate_session_button')}}
      </button>
      &nbsp;&nbsp;
      <span ng-hide="activeSessionID==undefined">
        <button class="btn btn-success" ng-click="selectSession(fullCurrentSession._id);editSessionDetails=!editSessionDetails;createNewSessionDropdown=false" ng-disabled="readOnly==true">
          <i class="fa whiteicon fa-pencil">
          </i>
          {{contextualize('locale_edit_session_info_button')}}
        </button>
        &nbsp;&nbsp;
      </span>
      <span ng-show="(data | filter: activeSessionID).length==0">
        <button class="btn btn-danger" ng-click="deleteEmptySession(activeSessionID)" ng-disabled="readOnly==true">
          <i class="fa whiteicon fa-trash-o">
          </i>
          {{contextualize('locale_delete_session')}}
        </button>
        &nbsp;&nbsp;
      </span>
      <button class="btn btn-primary" ng-click="createNewSessionDropdown=!createNewSessionDropdown;editSessionDetails=false" ng-disabled="readOnly==true">
        <i class="fa whiteicon fa-plus">
        </i>
        {{contextualize('locale_create_new_session')}}
      </button>
      <div class="subSubMenubar" ng-show="editSessionDetails==true && activeSessionID!=undefined" ng-cloak>
        <form ng-model='fullCurrentSession'>
          <table cellpadding="5px">
            <tr>
              <td>
                {{contextualize('locale_goal_textbox')}}:
              </td>
              <td>
                <input class="span3" type="text" ng-model="fullCurrentSession.goal" placeholder="Collecting examples of animacy agreement">
              </td>
              <!-- <td>
                {{contextualize('locale_consultants_textbox')}}:
              </td>
              <td>
                <input class="span3" type="text" ng-model="fullCurrentSession.consultants" ng-hide="true" placeholder="ME,EV,FE">
              </td> -->
              <!-- <td>
                {{contextualize('locale_user_textbox')}}:
              </td>
              <td>
                <input class="span3" type="text" ng-model="fullCurrentSession.user" placeholder="{{fullCurrentSession.user}}" disabled>
              </td> -->
            </tr>
            <tr>
              <td>
                {{contextualize('locale_language_textbox')}}:
              </td>
              <td>
                <input class="span3" type="text" ng-model="fullCurrentSession.language" placeholder="Language">
              </td>
              <td>
                {{contextualize('locale_dialect_textbox')}}:
              </td>
              <td>
                <input class="span3" type="text" ng-model="fullCurrentSession.dialect" placeholder="Dialect">
              </td>
              <td>
                {{contextualize('locale_date_elicited_textbox')}}:
              </td>
              <td>
                <input class="span3" type="text" ng-model="fullCurrentSession.dateElicited" placeholder="Weds 2012-08-01">
              </td>
            </tr>
          </table>
        </form>
        <div>
          <button class="btn" ng-click="editSession(fullCurrentSession, data);">
            <i class="fa whiteicon fa-save">
            </i>
            {{contextualize('locale_save_changes_button')}}
          </button>
          &nbsp;
          <button class="btn" ng-click="editSessionDetails=false">
            {{contextualize('locale_cancel_button')}}
          </button>
        </div>
      </div>
      <div class="subSubMenubar" ng-show="createNewSessionDropdown==true" ng-cloak>
        <form ng-model='newSession'>
          <table cellpadding="5px">
            <tr>
              <td>
                <i class="fa whiteicon fa-calendar">
                </i>
                {{contextualize('locale_goal_textbox')}}:
              </td>
              <td>
                <input class="span3" type="text" ng-model="newSession.goal" placeholder="Collecting examples of animacy agreement">
              </td>
              <!-- <td>
                <i class="fa whiteicon fa-group">
                </i>
                {{contextualize('locale_consultants_textbox')}}:
              </td>
              <td>
                <input class="span3" type="text" ng-model="newSession.consultants" ng-hide="true" placeholder="ME,EV,FE">
              </td> -->
              <!-- <td>
                <i class="fa whiteicon fa-user">
                </i>
                {{contextualize('locale_user_textbox')}}:
              </td>
              <td>
                <input disabled class="span3" type="text" ng-model="newSession.user" placeholder="{{user.name}}">
              </td> -->
            </tr>
            <tr>
              <td>
                {{contextualize('locale_language_textbox')}}:
              </td>
              <td>
                <input class="span3" type="text" ng-model="newSession.language" placeholder="Language">
              </td>
              <td>
                {{contextualize('locale_dialect_textbox')}}:
              </td>
              <td>
                <input class="span3" type="text" ng-model="newSession.dialect" placeholder="Dialect">
              </td>
              <td>
                {{contextualize('locale_date_elicited_textbox')}}:
              </td>
              <td>
                <input class="span3" type="text" ng-model="newSession.dateElicited" placeholder="Weds 2012-08-01">
              </td>
            </tr>
          </table>
        </form>
        <div>
          <button class="btn btn-primary" ng-click="createNewSession(newSession);createNewSessionDropdown=false;navigateVerifySaved('none')">
            <i class="fa whiteicon fa-save">
            </i>
            {{contextualize('locale_create_session_button')}}
          </button>
          &nbsp;
          <button class="btn" ng-click="createNewSessionDropdown=false">
            {{contextualize('locale_cancel_button')}}
          </button>
        </div>
      </div>
    </div>
    <div class="subMenubar" ng-show="activeSubMenu=='searchMenu'">
      <form class="form-search">
        <span>
          <i class="fa whiteicon fa-search">
          </i>
          {{contextualize('locale_search_text_box')}}&nbsp;
          <input type="text" class="input-medium search-query" ng-model='searchTerm'>
          &nbsp;
          <button class="btn btn-primary" ng-click="runSearch(searchTerm);">
            {{contextualize('locale_go_button')}}
          </button>
          &nbsp;
          <button class="btn btn-primary" ng-click="selectAll();">
            {{contextualize('locale_select_all_button')}}
          </button>
          &nbsp;
          <button class="btn btn-primary" ng-click="exportResults();">
            {{contextualize('locale_export_button')}}
          </button>
        </span>
        &nbsp;
        <button class="btn btn-warning" ng-click="clearSearch()">
          {{contextualize('locale_clear_results_button')}}
        </button>
        <span>
          {{searchHistory}}
        </span>
      </form>
    </span>
  </div>
</div>
