<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{application.basePathname}}/corpora_list">
        <img ng-src="images/icon48_dev.png" class="gravatar-small"/>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
            <i class="fa whiteicon fa-cogs">
            </i>
            {{contextualize("locale_settings")}}
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li>
              <a href="{{application.basePathname}}/corpussettings">
                <i class="fa fa-cloud"> </i>
                {{contextualize('locale_corpus')}}
              </a>
            </li>
            <li>
              <a href="{{application.basePathname}}/settings">
                <i class="fa fa-cogs"> </i>
                {{contextualize('locale_user_interface')}}
              </a>
            </li>
          </ul>
        </li>

        <li ng-show="show.showSearchSubMenu" ng-click="show.showSearchSubMenu=false;application.corpus.currentSession.datalist.showDocCheckboxes=false;">
          <a href="">
            <i class="fa whiteicon fa-list">
            </i>
            {{contextualize('locale_data_entry')}}
          </a>
        </li>

        <li ng-show="!show.showSearchSubMenu && show.showDataEntryPage" ng-click="show.showSearchSubMenu=true;application.corpus.currentSession.datalist.showDocCheckboxes=true;">
          <a href="">
            <i class="fa whiteicon fa-search">
            </i>
            {{contextualize('locale_search_text_box')}}&nbsp;
          </a>
        </li>

        <form ng-show="show.showSearchSubMenu" class="navbar-form navbar-left" role="search" >
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search" ng-model="searchTerm">
          </div>
          <button type="submit" class="btn btn-default" ng-click="runSearch(searchTerm)">
            <i class="fa fa-spin">
            </i>
            {{contextualize('locale_go_button')}}&nbsp;
          </button>
          <button class="btn btn-primary" ng-click="application.corpus.currentSession.datalist.select('highlightedMatches')">
            {{contextualize('locale_select_all_button')}}
          </button>
          <button class="btn btn-primary" ng-click="exportResults();">
            {{contextualize('locale_export_button')}}
          </button>
          <button class="btn btn-warning" ng-click="clearSearch()">
            {{contextualize('locale_clear_results_button')}}
          </button>
          <span ng-show="searchHistory" class="form-group whiteicon">
            {{searchHistory}}
          </span>
        </form>


        <li ng-show="!show.showSearchSubMenu && show.showDataEntryPage">
          <a href="{{application.basePathname}}/corpora_list">
            <i class="fa whiteicon fa-calendar">
            </i>
            {{contextualize('locale_change_session')}}
          </a>
        </li>

        <li ng-hide="show.showSearchSubMenu">
          <a href="{{application.basePathname}}/faq">
            <i class="fa whiteicon fa-question-circle">
            </i>
            {{contextualize('locale_faq')}}
          </a>
        </li>

        <li ng-show="!show.showSearchSubMenu && show.showDataEntryPage" ng-click="useAutoGlosser=!useAutoGlosser">
          <a href="">
            <input type="checkbox" ng-model="useAutoGlosser">
            <i class="fa whiteicon fa-bar-chart-o">
            </i>
            {{contextualize('locale_glosser')}}
          </a>
        </li>

      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li ng-show="application.corpus.rev && !show.showSearchSubMenu">
          <a href="{{application.website}}/{{application.corpus.team.username}}/{{application.corpus.titleAsUrl}}/{{application.corpus.dbname}}" target="_blank" title="Visit this {{application.corpus.dbname}}'s webpage">
            <img ng-src="https://secure.gravatar.com/avatar/{{application.corpus.team.gravatar}}?s=30&amp;d=retro&amp;r=pg" border="0" class="floatLeft gravatar-small">
            <i class="fa whiteicon fa-calendar">
            </i>
            {{application.corpus.currentSession.dateAndGoalSnippet | limitTo:40}}
            <br/>
            <i class="fa whiteicon fa-cloud">
            </i>
            {{application.corpus.title}}
          </a>
        </li>
        <li>
          <form class="navbar-form" >
            <button ng-class="everythingSavedStatus.class" ng-click="saveChanges();" ng-show="show.showDataEntryPage && (writePermissions || commentPermissions)">
              <i ng-class="everythingSavedStatus.icon">
              </i>
              {{everythingSavedStatus.text}}
            </button>
            <a ng-hide="application.authentication.user.authenticated" href="{{application.basePathname}}/register" class="btn btn-primary">
              {{contextualize('locale_registration')}}
            </a>
            <a href="{{application.website}}/{{application.authentication.user.username}}" target="_blank" title="Visit your share page">
              <img ng-src="https://secure.gravatar.com/avatar/{{application.authentication.user.gravatar}}?s=30&amp;d=identicon" border="0" class="gravatar-small">
            </a>
            <button ng-show="application.authentication.user.authenticated" class="btn btn-warning" ng-click="logout()">
              <i class="fa whiteicon fa-arrow-right">
              </i>
              {{contextualize('locale_logout')}}
            </button>
          </form>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
