<!-- Confirm password Notification Modal-->
<div class="modal hide fade" modal="passwordNotificationShouldBeOpen" close="closePasswordNotification()" options="opts">
  <div class="modal-header">
    <h3>
      {{locale_confirm_password_modal}}
    </h3>
  </div>
  <div class="modal-body">
    <p>
      {{passwordNotificationMessage}}
    </p>
    <label>
      {{locale_password_textbox}}
    </label>
    <input type="password" ng-model="confirmPassword"/>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary cancel" ng-click="closePasswordNotification()">
      {{locale_continue_button}}
    </button>
  </div>
</div>
<!-- Welcome Notification Modal; loaded on absence of saved state in preferences-->
<div class="modal hide fade" modal="welcomeNotificationShouldBeOpen" close="closeWelcomeNotification()" options="opts">
  <div class="modal-header">
    <h3>
      <i class="fa whiteicon fa-cloud">
      </i>
      {{locale_welcome_modal}}
    </h3>
  </div>
  <div class="modal-body">
    <p>
      {{locale_welcome_message}}
    </p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary cancel" ng-click="closeWelcomeNotification()">
      {{locale_OK_button}}
    </button>
  </div>
</div>

