<!-- Export Search Results Modal -->
<div class="modal hide fade" modal="shouldBeOpen" close="close()" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" ng-click="close()" class="close" data-dismiss="modal" aria-hidden="true">
      X
    </button>
    <h3 id="myModalLabel">
      Search results
    </h3>
  </div>
  <div class="modal-body">
    <p>
      {{resultsMessage}}
    </p>
    <div ng-repeat="result in results">
      <span>
        {{result.judgement}} {{result.utterance}}
      </span>
      <br />
      <span>
        {{result.morphemes}}
      </span>
      <br />
      <span>
        {{result.gloss}}
      </span>
      <br />
      <span>
        {{result.translation}}
      </span>
      <br />
      <span>
        Tags: {{commaList(result.datumTags)}}
      </span>
      <hr>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true" ng-click="close()">
      Close
    </button>
  </div>
</div>
<!-- Audio Warning Modal-->
<div class="modal hide fade" modal="audioWarningShouldBeOpen" close="stopRecording(datumForAudio)" options="opts">
  <div class="modal-header">
    <h3>
      <i class="fa fa-microphone">
      </i>
      Recording Audio
    </h3>
  </div>
  <div class="modal-body">
    <b>
      Please make sure to click "Allow" above to begin recording audio.
    </b>
    <br />
    Once clicked, your audio will begin recording.
    <br />
    <br />
    Please note that recording will stop automatically after five minutes.
    <br />
    Time left:
    <i class="fa fa-microphone">
    </i>
    {{timeLeftForAudio}}
  </div>
  <div class="modal-footer">
    <button class="btn btn-danger cancel" ng-click="stopRecording(datumForAudio)">
      <i class="fa whiteicon fa-stop">
      </i>
      Stop Recording
    </button>
  </div>
</div>
<!-- Generic Notification Modal-->
<div class="modal hide fade" modal="notificationShouldBeOpen" close="closeNotification()" options="opts">
  <div class="modal-header">
    <h3>
      Notification
    </h3>
  </div>
  <div class="modal-body">
    {{notificationMessage}}
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary cancel" ng-click="closeNotification()">
      OK
    </button>
  </div>
</div>
<!-- Error logging in-->
<div class="modal hide fade" modal="errorLoggingInNotificationShouldBeOpen" close="closeNotification()" options="opts">
  <div class="modal-header">
    <h3>
      Notification
    </h3>
  </div>
  <div class="modal-body">
    {{notificationMessage}}
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary cancel" ng-click="logOut()">
      OK
    </button>
  </div>
</div>
<!-- Confirm password Notification Modal-->
<div class="modal hide fade" modal="passwordNotificationShouldBeOpen" close="closePasswordNotification()" options="opts">
  <div class="modal-header">
    <h3>
      We need to make sure its you...
    </h3>
  </div>
  <div class="modal-body">
    <p>
      {{passwordNotificationMessage}}
    </p>
    <label>
      Password:
    </label>
    <input type="password" ng-model="confirmPassword"/>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary cancel" ng-click="closePasswordNotification()">
      Continue
    </button>
  </div>
</div>
<!-- Welcome Notification Modal; loaded on absence of saved state in preferences-->
<div class="modal hide fade" modal="welcomeNotificationShouldBeOpen" close="closeWelcomeNotification()" options="opts">
  <div class="modal-header">
    <h3>
      <i class="fa whiteicon fa-cloud">
      </i>
      Welcome to LingSync!
    </h3>
  </div>
  <div class="modal-body">
    <p>
      To get started, select a server* and log in with your username and password.
      <br />
      If you do not have an account yet, click on the Register button.
      <br /> <br />
      <b>
        Tips:
      </b>
      <ul>
        <li>
          Save your work often.
        </li>
        <li>
          To get your most up-to-date auto-glossing rules, refresh your browser window after you save your data.
        </li>
        <li>
          Check out our FAQ for more!
        </li>
      </ul>
      <br />
      <span class="footnote">
        *If you are unsure as to which server to select, chances are your account is located on the LingSync server.
      </span>
    </p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary cancel" ng-click="closeWelcomeNotification()">
      OK
    </button>
  </div>
</div>

