<div class="pagination-centered page_navigation" ng-hide="loading==true || data==undefined || numberOfResultPages()==1 || numberOfResultPages()==0 ">
  <button class="btn btn-inverse btn-mini" ng-disabled="currentPage == 0" ng-click="pageBackward();">
    <font size="4">
      <b>&larr;
      </b>
    </font>
  </button> &nbsp;{{currentPage+1}} of {{numberOfResultPages()}}&nbsp;
  <button class="btn btn-inverse btn-mini" ng-disabled="currentPage >= numberOfResultPages() - 1" ng-click="pageForward()">
    <font size="4">
      <b>&rarr;
      </b>
    </font>
  </button>
</div>
