<br />
<br />
<div class="mainPageDiv">
  <form>
    {{contextualize('locale_server')}}<sup>*</sup>:<br />
    <select ng-model="selectedServer" ng-disabled="loading" ng-options="server.userFriendlyServerName for server in servers">
    </select>
    <br />
    <font size="1"><i>{{contextualize('locale_data_shared_message')}}</i></font> <br />
    <input type="text" placeholder="username"
      ng-model="newLoginInfo.username"><br /> <font size="1"><i>{{contextualize('locale_username_warnig_message')}}</i></font> <br /> <input
      type="password" placeholder="password"
      ng-model="newLoginInfo.password"><br /> <input
      type="password" placeholder="confirm password"
      ng-model="newLoginInfo.confirmPassword"><br /> <input
      placeholder="e-mail (optional)" ng-model="newLoginInfo.email" type="email"><br />
    <button class="btn btn-primary"
      ng-click="registerNewUser(newLoginInfo, selectedServer.serverCode)" ng-disabled="loading">{{contextualize('locale_register')}}</button>&nbsp;<img src="images/spinner-small-mainbg.gif" ng-show="loading">
  </form>

</div>
