<br />
<br />
<div>
		<h3>User Interface Settings</h3>
	<br />

	<!-- Number of records to display -->
	<div class="form-horizontal">
		<div class="settings_section_header">
			<h2>Number of records to display per page</h2>
		</div>
		<div class="clearDiv">&nbsp;</div>
		<div class="settingsItems">
			<select ng-model="numberOfRecordsToDisplay"
				ng-init="numberOfRecordsToDisplay=scopePreferences.resultSize">
				<option value="5">5</option>
				<option value="10">10</option>
				<option value="25" selected>25</option>
				<option value="50">50</option>
				<option value={{data.length}}>All {{data.length}}</option>
			</select>
			&nbsp;<button class="btn btn-primary"
				ng-click="saveNumberOfRecordsToDisplay(numberOfRecordsToDisplay)">Save</button>
		</div>
	</div>
	<hr />

	<div class="settings_section_header">
		<h2>Templates</h2>
	</div>
	<div class="clearDiv">&nbsp;</div>
	<div class="settingsItems">

		<!-- Full TEMPLATE -->
		<h3>
			<span ng-show="template=='fulltemplate'"><b>✓</b></span> Full Template
			<small ng-show="DB.preferredTemplate == 'fulltemplate'">Default template for {{DB.title}}</small>
		</h3>
		<div class="row settingsTemplate">
			<div class="span5">
				<select class="span5" ng-model="newFieldPreferences2.field1">
					<option value="">Empty</option>
					<option select-field-from-default-full-template="field1"
						ng-repeat="field in availableFields" value="{{field.label}}">{{field.title}}</option>
				</select>
				<select class="span5" ng-model="newFieldPreferences2.field2">
					<option value="">Empty</option>
					<option select-field-from-default-full-template="field2"
						ng-repeat="field in availableFields" value="{{field.label}}">{{field.title}}</option>
				</select>
				<select class="span5" ng-model="newFieldPreferences2.field3">
					<option value="">Empty</option>
					<option select-field-from-default-full-template="field3"
						ng-repeat="field in availableFields" value="{{field.label}}">{{field.title}}</option>
				</select>
			</div>
			<div class="span5">
				<select class="span5" ng-model="newFieldPreferences2.field4">
					<option value="">Empty</option>
					<option select-field-from-default-full-template="field4"
						ng-repeat="field in availableFields" value="{{field.label}}">{{field.title}}</option>
				</select>
				<select class="span5" ng-model="newFieldPreferences2.field6">
					<option value="">Empty</option>
					<option select-field-from-default-full-template="field6"
						ng-repeat="field in availableFields" value="{{field.label}}">{{field.title}}</option>
				</select>
				<select class="span5" ng-model="newFieldPreferences2.field7">
					<option value="">Empty</option>
					<option select-field-from-default-full-template="field7"
						ng-repeat="field in availableFields" value="{{field.label}}">{{field.title}}</option>
				</select>
				<!-- <input class="span5" type="text" disabled="disabled"
					placeholder="Tags"></textarea> -->
				<!-- <span class="span4" rows="3">Comments</span> -->

			</div>
			<div class="span1">
				Audio &amp; Comments
			</div>

		</div>
		<br />
		<button class="btn btn-primary"
			ng-click="saveNewPreferences('fulltemplate', newFieldPreferences2)">Save/Activate
			Full Template</button> 
		<button ng-show="admin" class="btn" ng-class="{'btn-primary': DB.preferredTemplate != 'fulltemplate'}"
			ng-click="setAsDefaultCorpusTemplate('fulltemplate')">Set as default template for {{DB.title}}</button>
		<!-- End Full TEMPLATE -->

		<center>
			<hr width="80%">
		</center>

		<!-- Compact TEMPLATE 1 -->
		<h3>
			<span ng-show="template=='compacttemplate'"><b>✓</b></span> Compact Template
			<small ng-show="DB.preferredTemplate == 'compacttemplate'">Default template for {{DB.title}}</small>
		</h3>
		<div class="row settingsTemplate">
			<div class="span3">
				<select class="span3" ng-model="newFieldPreferences1.field1">
					<option value="">Empty</option>
					<option select-field-from-default-compact-template="field1"
						ng-repeat="field in availableFields" value="{{field.label}}">{{field.title}}</option>
				</select>
			</div>
			<div class="span3">
				<select class="span3" ng-model="newFieldPreferences1.field2">
					<option value="">Empty</option>
					<option select-field-from-default-compact-template="field2"
						ng-repeat="field in availableFields" value="{{field.label}}">{{field.title}}</option>
				</select>
			</div>
			<div class="span3">
				<select class="span3" ng-model="newFieldPreferences1.field3">
					<option value="">Empty</option>
					<option select-field-from-default-compact-template="field3"
						ng-repeat="field in availableFields" value="{{field.label}}">{{field.title}}</option>
				</select>
			</div>
			<div class="span3">
				<select class="span3" ng-model="newFieldPreferences1.field4">
					<option value="">Empty</option>
					<option select-field-from-default-compact-template="field4"
						ng-repeat="field in availableFields" value="{{field.label}}">{{field.title}}</option>
				</select>
			</div>
		</div>
		<br />
		<button class="btn btn-primary"
			ng-click="saveNewPreferences('compacttemplate', newFieldPreferences1)">Save/Activate
			Compact Template</button>
		<button ng-show="admin" class="btn" ng-class="{'btn-primary': DB.preferredTemplate != 'compacttemplate'}"
			ng-click="setAsDefaultCorpusTemplate('compacttemplate')">Set as default template for {{DB.title}}</button>
		<!-- End Compact TEMPLATE 1 -->

		<center>
			<hr width="80%">
		</center>

		<!-- Yale Field Methods TEMPLATE 3 -->
		<h3>
			<span ng-show="template=='yalefieldmethodsspring2014template'"><b>✓</b></span> Yale Field Methods Template
			<small ng-show="DB.preferredTemplate == 'yalefieldmethodsspring2014template'">Default template for {{DB.title}}</small>
		</h3>
		<div class="row settingsTemplate">
			<div class="span5">
				<select class="span5" disabled="disabled" ng-model="newFieldPreferences3.field1">
					<option value="">Empty</option>
					<option select-field-from-yale-field-methods-spring-2014-template="field1"
						ng-repeat="field in availableFields" value="{{field.label}}">{{field.title}}</option>
				</select>
				<select class="span5" disabled="disabled" ng-model="newFieldPreferences3.field2">
					<option value="">Empty</option>
					<option select-field-from-yale-field-methods-spring-2014-template="field2"
						ng-repeat="field in availableFields" value="{{field.label}}">{{field.title}}</option>
				</select>
				<select class="span5" disabled="disabled" ng-model="newFieldPreferences3.field3">
					<option value="">Empty</option>
					<option select-field-from-yale-field-methods-spring-2014-template="field3"
						ng-repeat="field in availableFields" value="{{field.label}}">{{field.title}}</option>
				</select>
				<select class="span5" disabled="disabled" ng-model="newFieldPreferences3.field4">
					<option value="">Empty</option>
					<option select-field-from-yale-field-methods-spring-2014-template="field4"
						ng-repeat="field in availableFields" value="{{field.label}}">{{field.title}}</option>
				</select>
			</div>
			<div class="span5">
				<select class="span5" disabled="disabled" ng-model="newFieldPreferences3.field5">
					<option value="">Empty</option>
					<option select-field-from-yale-field-methods-spring-2014-template="field5"
						ng-repeat="field in availableFields" value="{{field.label}}">{{field.title}}</option>
				</select>
				<select class="span5" disabled="disabled" ng-model="newFieldPreferences3.field6">
					<option value="">Empty</option>
					<option select-field-from-yale-field-methods-spring-2014-template="field6"
						ng-repeat="field in availableFields" value="{{field.label}}">{{field.title}}</option>
				</select>
				<select class="span5" disabled="disabled" ng-model="newFieldPreferences3.field7">
					<option value="">Empty</option>
					<option select-field-from-yale-field-methods-spring-2014-template="field7"
						ng-repeat="field in availableFields" value="{{field.label}}">{{field.title}}</option>
				</select>
				<select class="span5" disabled="disabled" ng-model="newFieldPreferences3.field8">
					<option value="">Empty</option>
					<option select-field-from-yale-field-methods-spring-2014-template="field8"
						ng-repeat="field in availableFields" value="{{field.label}}">{{field.title}}</option>
				</select>
				<!-- <input class="span5" type="text" disabled="disabled"
					placeholder="Tags"></textarea> -->
				<!-- <span class="span4" rows="3">Comments</span> -->

			</div>
			<div class="span1">
				Audio &amp; Comments
			</div>

		</div>

		<button class="btn btn-primary"
			ng-click="saveNewPreferences('yalefieldmethodsspring2014template', newFieldPreferences3)">Save/Activate
			Yale Field Methods Template</button>
		<button ng-show="admin" class="btn" ng-class="{'btn-primary': DB.preferredTemplate != 'yalefieldmethodsspring2014template'}"
			ng-click="setAsDefaultCorpusTemplate('yalefieldmethodsspring2014template')">Set as default template for {{DB.title}}</button>
		
		<center>
			<hr width="80%">
		</center>
		<!-- End Yale Field Methods TEMPLATE -->

		<!-- McGill TEMPLATE -->
		<h3>
			<span ng-show="template=='mcgillfieldmethodsspring2014template'"><b>✓</b></span> McGill Field Methods Template
			<small ng-show="DB.preferredTemplate == 'mcgillfieldmethodsspring2014template'">Default template for {{DB.title}}</small>
		</h3>
		<div class="row settingsTemplate">
			<div class="span5">
				<select class="span5" disabled="disabled">
					<option value="">Utterance</option>
				</select>
				<select class="span5" disabled="disabled">
					<option value="">Morphemes</option>
				</select>
				<select class="span5" disabled="disabled">
					<option value="">Gloss</option>
				</select>
			</div>
			<div class="span5" >
				<select class="span5" disabled="disabled">
					<option value="">Translation</option>
				</select>
				<select class="span5" disabled="disabled">
					<option value="">Grammaticality Judgement</option>
				</select>
				<select class="span5" disabled="disabled">
					<option value="">Tags</option>
				</select>
				<!-- <input class="span5" type="text" disabled="disabled"
					placeholder="Tags"></textarea> -->
				<!-- <span class="span4" rows="3">Comments</span> -->

			</div>
			<div class="span1">
				Audio &amp; Comments
			</div>

		</div>
		<br />
		<button class="btn btn-primary"
			ng-click="saveNewPreferences('mcgillfieldmethodsspring2014template', newFieldPreferences2)">Save/Activate
			McGill Template</button> 
		<button ng-show="admin" class="btn" ng-class="{'btn-primary': DB.preferredTemplate != 'mcgillfieldmethodsspring2014template'}"
			ng-click="setAsDefaultCorpusTemplate('mcgillfieldmethodsspring2014template')">Set as default template for {{DB.title}}</button>
		<!-- End McGill TEMPLATE -->

	</div>


	<div ng-show="developer==true">
		<!-- EDIT BUTTONS -->
		<br />
		<div class="row">
			<div class="span8 offset1">
				<button class="btn btn-primary" ng-click="editTags=!editTags">Click
					here to edit tags</button>
				&nbsp;
				<button class="btn btn-primary" ng-click="deleteDuplicateTags();">Delete
					Duplicate Tags</button>
				&nbsp;
				<button class="btn btn-primary" ng-click="editFields=!editFields">Click
					here to edit fields</button>
			</div>
		</div>

		<!-- TAGS -->
		<br />

		<div class="row" ng-show="editTags==true">
			<div class="span8">
				Click EDIT button to rename tag:
				<div ng-repeat="tag in tags">
					<input type="text" value="{{tag}}" disabled="true" ng-model="none">
					<button class="btn btn-primary" ng-click="changeTagToEdit(tag)">Edit</button>
					<span ng-show="tagToEdit==tag"><input type="text"
						ng-model="newTag" placeholder="Change to ...">
						<button class="btn btn-primary"
							ng-click="editTagInfo(tag, newTag)">Update</button> </span> <img
						ng-show="loading==true" src="img/spinner-small.gif">
				</div>
			</div>
		</div>

		<!-- FIELDS -->
		<div class="row" ng-show="editFields==true">
			<div class="span8">
				Click EDIT button to rename field:
				<div ng-repeat="field in availableFields">
					<input type="text" value="{{field.title}}" disabled="true"
						ng-model="none">
					<button class="btn btn-primary" ng-click="changeFieldToEdit(field)">Edit</button>
					<span ng-show="fieldToEdit==field"><input type="text"
						ng-model="newFieldTitle" placeholder="Change to ...">
						<button class="btn btn-primary"
							ng-click="editFieldTitle(field, newFieldTitle)">Update</button> </span>
					<img ng-show="loading==true" src="img/spinner-small.gif">
				</div>
			</div>
		</div>
	</div>

</div>
