<div class="row" ng-show="activeSessionID==undefined && loading==false && searching==false && documentReady && data && writePermissions">
  <div class="span12 pagination-centered">
    <h2 ng-bind-html="contextualize('locale_select_session_message')"> </h2>
  </div>
</div>
<div class="row" ng-show="loading">
  <div class="span12 pagination-centered">
    <img ng-src="images/loading-spinner.gif" width="100px" />
  </div>
</div>
<div class="row" ng-show="data==undefined && loading!=true">
  <div class="span12 pagination-centered" ng-bind-html="contextualize('locale_no_data_message')">
  </div>
</div>
