<div class="row" ng-show="activeSession==undefined && loading==false && searching==false && documentReady==true && data!=undefined && writePermissions==true">
  <div class="span12 pagination-centered">
    <h2>
      {{contextualize('locale_select_session_message')}}
    </h2>
  </div>
</div>
<div class="row" ng-show="loading==true">
  <div class="span12 pagination-centered">
    <img src="images/loading-spinner.gif" width="100px">
  </div>
</div>
<div class="row" ng-show="data==undefined && loading!=true">
  <div class="span12 pagination-centered" ng-bind-html="contextualize('locale_no_data_message')">
  </div>
</div>
