
<div hidden class="row" ng-show="selected=='newEntry' && expandCollapse==true">
  <div class="span10">
    <input ng-disabled="writePermissions==false" keypress-mark-as-new type="text" class="span10" ng-model="newFieldData.field5" placeholder="{{fields.field5.title}}" title="{{fields.field5.title}}" title="{{fields.field5.title}}" >
  </div>
</div>
<div  hidden class="row" ng-show="selected=='newEntry' && expandCollapse==true">
  <div class="span3 offset1 expandedData">
    <div class="expandedDataInner">
      <button ng-hide="writePermissions==false" ng-class="recordingButtonClass" ng-click="startRecording(newFieldData)" ng-show="audioCompatible==true && selected=='newEntry'">
        <i class="fa {{recordingIcon}}">
        </i>&nbsp;{{recordingStatus}}
      </button>&nbsp;&nbsp;
    </div>
  </div>
  <div class="span6 expandedData">
    <div class="expandedDataInner">
      <form id="form_new_datum_audio-file">
        <i class="fa fa-bullhorn">
        </i>&nbsp;
        <input ng-disabled="writePermissions==false" id="new_datum_audio-file" type="file" multiple ng-model='fileToUpload' />
        <button class="btn btn-primary" ng-click="uploadFile(newFieldData)" ng-disabled="newDatumHasAudioToUpload==true">
          <i class="fa whiteicon fa-file">
          </i> Add File(s)
        </button>
      </form>
    </div>
  </div>
  <div class="span1">
    <span ng-show="processingAudio==true">
      <img src="images/spinner-small.gif">
    </span>
  </div>
</div>
<div class="row" ng-show="selected=='newEntry' && expandCollapse==true && newFieldData.audioVideo[0]!=undefined">
  <div class="span8 offset1">
    <b>Click 'Create New' then 'Save' to have access to the following:
    </b>
    <br />
    <span ng-repeat="audioFile in newFieldData.audioVideo">
      <i>New Audio File:
      </i>
      <i class="fa whiteicon fa-bullhorn">
      </i> {{audioFile.description}}
      <br />
    </span>
  </div>
</div>
</div>
<div class="row" ng-show="activeSession==undefined && loading==false && searching==false && documentReady==true && data!=undefined && writePermissions==true">
  <div class="span12 pagination-centered">
    <h2>Please select a
      <i class="fa fa-calendar">
      </i> session before entering data.
    </h2>
  </div>
</div>
<div class="row" ng-show="loading==true">
  <div class="span12 pagination-centered">
    <img src="images/loading-spinner.gif" width="100px">
  </div>
</div>
<div class="row" ng-show="data==undefined && loading!=true">
  <div class="span12 pagination-centered"> No data to display. Please click on
    <img src="images/icon16_dev.png" border="0" /> above and log in.
  </div>
</div>
<div spreadsheet-catch-arrow-key class="row relativePosition" ng-class="{selectedRow: selected==$index, unselectedGreyRow: selected!=$index}" ng-repeat="datum in data | orderBy:orderProp" ng-click="selectRow($index)" ng-hide="loading==true || readPermissions==false">
  <!-- Show when editing -->
  <div ng-show="selected==$index">
    <form ng-submit="markAsEdited(fieldData, datum);">
      <div class="span5">
        <div class="focus_box_div">
          <input ng-disabled="writePermissions==false" spreadsheet-catch-focus-on-arrow-press/>
        </div>
        <input ng-disabled="writePermissions==false" keypress-mark-as-edited class="span5 " type="text" ng-model="fieldData.field1" ng-init="fieldData.field1=datum[fields.field1.label]" value="{{datum[fields.field1.label]}}" ng-hide="fields.field1.label==''" placeholder="{{fields.field1.title}}" title="{{fields.field1.title}}" title="{{fields.field1.title}}"  >
        <input ng-disabled="writePermissions==false" guess-morphemes-from-utterance auto-glosser-on="{{useAutoGlosser}}" keypress-mark-as-edited class="span5" type="text" ng-model="fieldData.field2" ng-init="fieldData.field2=datum[fields.field2.label]" value="{{datum[fields.field2.label]}}" ng-hide="fields.field2.label==''" placeholder="{{fields.field2.title}}" title="{{fields.field2.title}}" title="{{fields.field2.title}}"  >
        <input ng-disabled="writePermissions==false" guess-gloss-from-morphemes guess-utterance-from-morphemes auto-glosser-on="{{useAutoGlosser}}" keypress-mark-as-edited class="span5" type="text" ng-model="fieldData.field3" ng-init="fieldData.field3=datum[fields.field3.label]" value="{{datum[fields.field3.label]}}" ng-hide="fields.field3.label==''" placeholder="{{fields.field3.title}}" title="{{fields.field3.title}}" title="{{fields.field3.title}}"  >
        <input ng-disabled="writePermissions==false" keypress-mark-as-edited class="span5" type="text" ng-model="fieldData.field4" ng-init="fieldData.field4=datum[fields.field4.label]" value="{{datum[fields.field4.label]}}" ng-hide="fields.field4.label==''" placeholder="{{fields.field4.title}}" title="{{fields.field4.title}}" title="{{fields.field4.title}}"  >
      </div>
      <div class="span5">
        <input ng-disabled="writePermissions==false" keypress-mark-as-edited class="span5 " type="text" ng-model="fieldData.field5" ng-init="fieldData.field5=datum[fields.field5.label]" value="{{datum[fields.field5.label]}}"  placeholder="{{fields.field5.title}}" title="{{fields.field5.title}}" title="{{fields.field5.title}}"  >
        <input ng-disabled="writePermissions==false" keypress-mark-as-edited class="span5 " type="text" ng-model="fieldData.field6" ng-init="fieldData.field6=datum[fields.field6.label]" value="{{datum[fields.field6.label]}}" ng-hide="fields.field6.label==''" placeholder="{{fields.field6.title}}" title="{{fields.field6.title}}" title="{{fields.field6.title}}"  >
        <input ng-disabled="writePermissions==false" keypress-mark-as-edited class="span5 " type="text" ng-model="fieldData.field7" ng-init="fieldData.field7=datum[fields.field7.label]" value="{{datum[fields.field7.label]}}" ng-hide="fields.field7.label==''" placeholder="{{fields.field7.title}}" title="{{fields.field7.title}}" title="{{fields.field7.title}}"  >
        <input ng-disabled="writePermissions==false" keypress-mark-as-edited class="span5 " type="text" ng-model="fieldData.field8" ng-init="fieldData.field8=datum[fields.field8.label]" value="{{datum[fields.field8.label]}}" ng-hide="fields.field8.label==''" placeholder="{{fields.field8.title}}" title="{{fields.field8.title}}" title="{{fields.field8.title}}"  >
      </textarea>
    </div>
    <div class="span2 entered_modified_info">
      <span ng-show="searching==true">
        <button class="btn btn-primary" ng-click="selectNone()">Done
        </button>
        <br />
        <br />
      </span>
      <span title="Date entered {{datum.dateEntered | standardDate}}">
        <i class="fa whiteicon  fa-clock-o">
        </i>  {{datum.dateEntered | standardDate}}
      </span>
      <span ng-hide="!datum.enteredByUser">
        <img title="{{datum.enteredByUser.username}}" ng-hide="!datum.enteredByUser.gravatar" ng-src="https://secure.gravatar.com/avatar/{{datum.enteredByUser.gravatar}}?s=15&d=identicon">
        <br />
      </span>
      <br />
      <span title="Date modified {{datum.dateModified | standardDate}}">
        <i class="fa whiteicon fa-save">
        </i> {{datum.dateModified | standardDate}}
      </span>
      <!-- <span ng-hide="!datum.modifiedByUser.users[0]">
        <i class="fa whiteicon fa-group">
        </i>
      </span>  -->
      <span ng-repeat="modifiedByUser in datum.modifiedByUser.users">
        <img ng-src="https://secure.gravatar.com/avatar/{{modifiedByUser.gravatar}}?s=15&d=identicon" title="{{modifiedByUser.username}}" />&nbsp;
      </span>
      <div class="expandCollapseButton">
        <i ng-show="datum.hasAudio==true"class="fa whiteicon {{recordingIcon}}"></i>
        <i ng-show="datum.comments.length > 0" class="fa whiteicon fa-comment"></i>
        <i class="fa whiteicon" ng-class="{'fa-list': !expandCollapse, 'fa-th-list': expandCollapse}" ng-click="triggerExpandCollapse()"></i>
      </div>
    </div>
  </form>
  <div class="row" ng-show="expandCollapse==true && !datum.id">
    <div class="span10 offset1 pagination-centered">
      <b>You must 'Save' your changes to have access to the audio, comment, and delete features of this record.
      </b>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row" ng-show="datum.id!=undefined">
      <div class="span5 expandedDataComments">
        <div class="expandedDataInner">
          <ul class="unstyled">
            <li  ng-repeat="comment in datum.comments">
              <a ng-click="deleteComment(comment, datum)" class="  delete_button"  >
                <i class="fa fa-times-circle">
                </i>
              </a>
              <img title="{{comment.username}}" ng-src="https://secure.gravatar.com/avatar/{{comment.gravatar}}?s=15&d=identicon">&nbsp;
              <i class="fa fa-clock-o">
              </i> {{comment.timestamp | standardDateFromTimestamp}}
              <i class="fa fa-comment">
              </i> {{comment.text}}
            </li>
          </ul>
          <button ng-show="commentPermissions==true" class="btn btn-primary" ng-click="addComment(datum);"  >
            <i class="fa whiteicon fa-comment">
            </i> Add Comment
          </button>
        </div>
      </div>
    </div>
    <div class="row" ng-show="expandCollapse==true && datum.id!=undefined && writePermissions==true">
      <div class="span3 expandedData">
        <div class="expandedDataInner">
          <button ng-class="recordingButtonClass" ng-click="startRecording(datum);markAsEdited(fieldData, datum);" ng-show="audioCompatible==true"  >
            <i class="fa {{recordingIcon}}">
            </i>&nbsp;{{recordingStatus}}
          </button>
        </div>
      </div>
      <div class="span7 expandedData">
        <div class="expandedDataInner">
          <form id='form_{{datum.id}}_audio-file'>
            <i class="fa fa-bullhorn">
            </i>&nbsp;
            <input ng-disabled="writePermissions==false" id="{{datum.id}}_audio-file" type="file" multiple ng-model='fileToUpload'   />
            <button class="btn btn-primary" ng-click="uploadFile(datum);"  >
              <i class="fa whiteicon fa-file">
              </i> Upload File(s)
            </button>&nbsp;&nbsp;
          </form>
        </div>
      </div>
      <div class="span1">
        <span ng-show="processingAudio==true">
          <img src="images/spinner-small.gif">
        </span>
      </div>
    </div>
    <div class="row" ng-show="expandCollapse==true && datum.id!=undefined">
      <div class="span10">
        <table>
          <tr ng-repeat="audioFile in datum.audioVideo" ng-hide="audioFile.trashed == 'deleted'">
            <td>
              <span class="form-horizontal">
                <a ng-show="writePermissions==true" class="delete_button btn btn-danger floatLeft" ng-click="deleteAttachmentFromCorpus(datum, audioFile.filename, audioFile.description)">
                  <i class="fa fa-trash-o whiteicon">
                  </i>
                </a>
                <audio controls>
                  <source ng-src="{{server}}/{{DB.pouchname}}/{{datum.id}}/{{audioFile.filename}}" type="audio/wav"/>
                </audio>
              </span>
            </td>
            <td>
              <span class="form-horizontal">
                <input ng-disabled="writePermissions==false" type="text" keypress-mark-as-edited placeholder="Optional description" title="Optional description" ng-model='audioFile.description' > &nbsp;
                <button hidden  class="btn-small btn-primary" ng-click="saveAttachmentInfo(audioFile, datum.id)" ng-show="datum.id!=undefined"  >Save Description
                </button>
              </span>
            </td>
            <td>
              <a href="{{server}}/{{DB.pouchname}}/{{datum.id}}/{{audioFile.filename}}" target="_blank">
                <i class="fa whiteicon fa-link">
                </i>
              </a>
            </td>
          </tr>
        </table>
        <hr />
        <button ng-show="writePermissions==true" class="btn btn-inverse" type="button" ng-click="deleteRecord(datum)"  >
          <i class="fa fa-trash-o">
          </i> Delete This Record
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Show when not editing -->
<div ng-show="selected!=$index">
  <div class="span1 search_checkbox" ng-show="searching==true">
    <input ng-disabled="writePermissions==false" type="checkbox" value="{{datum.id}}" ng-checked="datum.checked" ng-model="datum.checked">
  </div>
  <div ng-class="{span5: searching!=true, span4: searching==true}">
    <span ng-class="{span5: searching!=true, span4: searching==true}" title="{{fields.field1.title}}" ng-hide="fields.field1.label==''">{{datum[fields.field1.label] | neverEmpty}}
    </span>
    <br />
    <span ng-class="{span5: searching!=true, span4: searching==true}" title="{{fields.field2.title}}" ng-hide="fields.field2.label==''">{{datum[fields.field2.label] | neverEmpty}}
    </span>
    <br />
    <span ng-class="{span5: searching!=true, span4: searching==true}" title="{{fields.field3.title}}" ng-hide="fields.field3.label==''">{{datum[fields.field3.label] | neverEmpty}}
    </span>
    <br />
    <span ng-class="{span5: searching!=true, span4: searching==true}" title="{{fields.field4.title}}" ng-hide="fields.field4.label==''">{{datum[fields.field4.label] | neverEmpty}}
    </span>
    <br />
  </div>
  <div ng-class="{span5: searching!=true, span4: searching==true}">
    <span ng-class="{span5: searching!=true, span4: searching==true}" title="{{fields.field5.title}}" ng-hide="fields.field5.label==''">{{datum[fields.field5.label] | neverEmpty}}
    </span>
    <br />
    <span ng-class="{span5: searching!=true, span4: searching==true}" title="{{fields.field6.title}}" ng-hide="fields.field6.label==''">{{datum[fields.field6.label] | neverEmpty}}
    </span>
    <br />
    <span ng-class="{span5: searching!=true, span4: searching==true}" title="{{fields.field7.title}}" ng-hide="fields.field7.label==''">{{datum[fields.field7.label] | neverEmpty}}
    </span>
    <br />
    <span ng-class="{span5: searching!=true, span4: searching==true}" title="{{fields.field8.title}}" ng-hide="fields.field8.label==''">{{datum[fields.field8.label] | neverEmpty}}
    </span>
    <br />
  </div>
  <div class="span2 entered_modified_info">
    <span ng-show="searching==true">
      <button ng-hide="writePermissions==false" class="btn btn-primary" ng-click="editSearchResults($index)">
        <i class="fa whiteicon fa-pencil">
        </i> Edit
      </button>
      <br />
      <br />
    </span>
    <span title="Date entered">
      <i class="fa  fa-clock-o">
      </i> {{datum.dateEntered | standardDate}}
      <span ng-hide="!datum.enteredByUser">
        <img title="{{datum.enteredByUser.username}}" ng-hide="!datum.enteredByUser.gravatar" ng-src="https://secure.gravatar.com/avatar/{{datum.enteredByUser.gravatar}}?s=15&d=identicon">
        <br />
      </span>
      <br />
      <span title="Date modified">
        <i class="fa fa-save">
        </i> {{datum.dateModified | standardDate}}
      </span>
      <!-- <span ng-hide="!datum.modifiedByUser.users[0]">
        <i class="fa  fa-group">
        </i>
      </span>  -->
      <span ng-repeat="modifiedByUser in datum.modifiedByUser.users">
        <img ng-src="https://secure.gravatar.com/avatar/{{modifiedByUser.gravatar}}?s=15&d=identicon" title="{{modifiedByUser.username}}" />
      </span>
      <span>
        <br />
        <i ng-show="datum.hasAudio==true" class="fa {{recordingIcon}}"></i>
        <!-- <i ng-show="datum.comments.length > 0" class="fa fa-comment"></i> -->
      </span>
    </div>
    <div class="row" ng-show="datum.comments[0]!=undefined">
      <div class="span5 ">
        <ul class="unstyled">
          <li ng-repeat="comment in datum.comments">
            <p>
              <!-- <a ng-click="deleteComment(comment, datum)" class="  delete_button"  >
                <i class="fa fa-times-circle">
                </i>
              </a>  -->
              <img class="" title="{{comment.username}}" ng-src="https://secure.gravatar.com/avatar/{{comment.gravatar}}?s=15&d=identicon">&nbsp;
              <!-- <i class="fa fa-clock-o">
              </i> {{comment.timestamp | standardDateFromTimestamp}}  -->
              <i class=" fa fa-comment">
              </i> {{comment.text}}
            </p>
          </li>
        </ul>
      </div>
    </div>
    <div class="row" ng-show="searching==true">
      <div class="span9 offset1">
        <table>
          <tr ng-repeat="audioFile in datum.audioVideo" ng-hide="audioFile.trashed == 'deleted'">
            <td>
              <span class="form-horizontal">
                <audio controls>
                  <source ng-src="{{server}}/{{DB.pouchname}}/{{datum.id}}/{{audioFile.filename}}" type="audio/wav"/>
                </audio>
              </span>
            </td>
            <td>
              <span class="form-horizontal">
                <input ng-disabled="writePermissions==false" type="text" ng-model='audioFile.description'>
              </span>
            </td>
            <td>
              <a href="{{server}}/{{DB.pouchname}}/{{datum.id}}/{{audioFile.filename}}" target="_blank">
                <i class="fa whiteicon fa-link">
                </i>
              </a>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
<div spreadsheet-catch-arrow-key ng-class="{selectedRow: selected=='newEntry', unselectedNewRow: selected!='newEntry'}" class="relativePosition" ng-click="selectRow('newEntry')" ng-hide="data==undefined || loading==true || activeSession==undefined || searching==true || writePermissions == false ">
  <div class="row">
    <form ng-submit="createRecord(newFieldData)" >
      <div class="span5">
        <div class="focus_box_div">
          <input ng-disabled="writePermissions==false" spreadsheet-catch-focus-on-arrow-press/>
        </div>
        <input ng-disabled="writePermissions==false" keypress-mark-as-new class="span5" type="text" ng-model="newFieldData.field1" placeholder="{{fields.field1.title}}" title="{{fields.field1.title}}" title="{{fields.field1.title}}" ng-hide="fields.field1.label==''">
        <input ng-disabled="writePermissions==false" guess-morphemes-from-utterance auto-glosser-on="{{useAutoGlosser}}" keypress-mark-as-new class="span5" type="text" ng-model="newFieldData.field2" placeholder="{{fields.field2.title}}" title="{{fields.field2.title}}" title="{{fields.field2.title}}" ng-hide="fields.field2.label==''" >
        <input ng-disabled="writePermissions==false" guess-gloss-from-morphemes guess-utterance-from-morphemes auto-glosser-on="{{useAutoGlosser}}" keypress-mark-as-new class="span5" type="text" ng-model="newFieldData.field3" placeholder="{{fields.field3.title}}" title="{{fields.field3.title}}" title="{{fields.field3.title}}" ng-hide="fields.field3.label==''" >
        <input ng-disabled="writePermissions==false" keypress-mark-as-new class="span5 " type="text" ng-model="newFieldData.field4" placeholder="{{fields.field4.title}}" title="{{fields.field4.title}}" title="{{fields.field4.title}}" ng-hide="fields.field4.label==''">
      </div>
      <div class="span5">
        <input ng-disabled="writePermissions==false" keypress-mark-as-new class="span5" type="text" ng-model="newFieldData.field5" placeholder="{{fields.field5.title}}" title="{{fields.field5.title}}" title="{{fields.field5.title}}" ng-hide="fields.field5.label==''">
        <input ng-disabled="writePermissions==false" keypress-mark-as-new class="span5" type="text" ng-model="newFieldData.field6" placeholder="{{fields.field6.title}}" title="{{fields.field6.title}}" title="{{fields.field6.title}}" ng-hide="fields.field6.label==''">
        <input ng-disabled="writePermissions==false" keypress-mark-as-new class="span5" type="text" ng-model="newFieldData.field7" placeholder="{{fields.field7.title}}" title="{{fields.field7.title}}" title="{{fields.field7.title}}" ng-hide="fields.field7.label==''">
        <input ng-disabled="writePermissions==false" keypress-mark-as-new class="span5" type="text" ng-model="newFieldData.field8" placeholder="{{fields.field8.title}}" title="{{fields.field8.title}}" title="{{fields.field8.title}}" ng-hide="fields.field8.label==''">
      </textarea>
    </div>
    <div class="span2">
      <button ng-show="selected=='newEntry'" ng-class="newRecordHasBeenEditedButtonClass()" type="submit" ng-disabled="newRecordHasBeenEdited==false">
        <i class="fa whiteicon fa-plus">
        </i> Create New
      </button>&nbsp;
      <div class="expandCollapseButton">
        <i class="fa whiteicon" ng-class="{'fa-list': !expandCollapse, 'fa-th-list': expandCollapse}" ng-click="triggerExpandCollapse()" ng-show="selected=='newEntry'">
        </i>
      </div>
      <br />
      <span ng-show="newFieldDatahasAudio==true">
        <i class="fa {{recordingIcon}}">
        </i>
      </span>
    </div>
  </form>
</div>
<br />
<div class="pagination-centered page_navigation" ng-hide="loading==true || data==undefined || numberOfResultPages(allData.length)==1 || numberOfResultPages(allData.length)==0 ">
  <button class="btn btn-inverse btn-mini" ng-disabled="currentPage == 0" ng-click="pageBackward();">
    <font size="4">
      <b>&larr;
      </b>
    </font>
  </button> &nbsp;{{currentPage+1}} of {{numberOfResultPages(allData.length)}}&nbsp;
  <button class="btn btn-inverse btn-mini" ng-disabled="currentPage >= (allData | filter: filterTerm).length/resultSize - 1" ng-click="pageForward()">
    <font size="4">
      <b>&rarr;
      </b>
    </font>
  </button>
</div>
