<div class="alert alert-info">

<span> <img src="{{gravatar}}"/></span>

<span>{{username}} commented: </span>
<i class="icons icon-comment"></i>

<div class= "pull-right">  {{timestamp}}</div>

<div class="comment-text">{{text}}</div>

</div>

