<div class="alert alert-info">

<span> <img src="{{gravatar}}"/></span>

<span>{{username}} new comment: </span>
<i class="icons icon-comment"></i>

<div class= "pull-right">  {{timestamp}}</div>

<textarea class="comment-text">{{text}}</textarea>

</div>


  
