<div class="alert alert-info">

<span> <img class="gravatar-medium" src="{{gravatar}}"/></span>

<span> {{username}}   </span>
<i class="icons icon-comment"></i>

<div class= "pull-right">  {{timestamp}}</div>

<div class="comment-text">{{text}}</div>

</div>

