<div class="alert alert-info">

<span> <img class="gravatar-medium" src="{{gravatar}}"/></span>

<span>{{username}}<span class = "new_comment"> </span></span>
<i class="icons icon-comment"></i>

<div class= "pull-right">  {{timestamp}}</div>

<textarea class="comment-new-text">{{text}}</textarea>

</div>


  
