<span ng-click="showGeneric()"><i class="fa fa-list"></i></span>
<span ng-click="showListItem()"><i class="fa fa-th-list"></i></span>
<span ng-click="showSpreadsheetStyle()"><i class="fa fa-table"></i></span>
<span ng-click="showLanguageLessonStyle()"><i class="fa fa-child"></i></span>
<span ng-click="showStimulusStyle()"><i class="fa fa-image"></i></span>
<br/>
As a List Item:
<div class="well" ng-include="'components/datum/datum_list_item.html'"></div>
As an Interlinear Glossed Text:
<div class="well" ng-include="'components/datum/datum_igt.html'"></div>
As a Spreadsheet Row:
<div class="well" ng-include="'components/datum/datum_spreadsheet.html'"></div>
As a Language Lesson:
<div class="well" ng-include="'components/datum/datum_language_lesson.html'"></div>
As a Stimulus:
<div class="well" ng-include="'components/datum/datum_stimulus.html'"></div>
Showing Everything:
<div class="well" ng-include="'components/datum/datum_generic.html'"></div>
