<!-- Black Navigation Bar Across the Top -->
<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<div class="btn-group pull-right">
				<ul class="nav">
					<li><i class="icons icon-home icon-white"></i>
					</li>
				  <li>
					  <div class="btn-group">
						  <button class="btn dropdown-toggle btn-inverse"
		            data-toggle="dropdown">
		            Need save:
		            <progress class="unsaved-changes" max="100" value="30">
		              <strong>60% unsaved.</strong>
		            </progress>
		            <span class="caret"></span>
		          </button>
		          <ul class="dropdown-menu unsaved-changes-status" id="unsaved-changes-status">
		            <li class="not-a">Recent Changes:</li>
		          </ul>
	          </div>
				  </li>
				  <li> <i class="icons icon-save save-dashboard icon-white"></i>
          </li>
          <li>
				    <div class="btn-group">
					  <button class="btn dropdown-toggle btn-inverse"
	            data-toggle="dropdown">
	            Need sync: 
	            <progress class="unsynced-changes" max="100" value="80">
	              <strong>60% unsaved.</strong>
	            </progress>
	            <span class="caret"></span>
	          </button>
	          <ul class="dropdown-menu unsynced-changes-status" id="unsynced-changes-status">
	            <li class="not-a">Differences with the central server:</li>
	          </ul>
	          </div>
				  </li>
					<li> <i class="icons icon-sitemap  sync-everything icon-white"></i>
					</li>
					<li><span id="user-quickview"><i
              class="icons icon-user icon-white"></i></span>
					</li>
					<li>
						<div class="btn-group">
							<button class="btn btn-inverse dropdown-toggle" data-toggle="dropdown"> 
								 <span class="caret"></span>  
							</button>
							<ul class="dropdown-menu" id="authentication-embedded"></ul>
						</div>
					</li>
				</ul>
			</div>
			<div>
				<!-- This is a div for the top nav bar area -->
				<span id="search-top" class="search"></span> 
			</div>
		</div>
	</div>
</div>
<!-- The rest of the page -->
<div  class="container-fluid main">
  <div id="dashboard-view" class="row-fluid">
    <!-- Elements on Lefthand side -->
    <div class="span3">
      <div id="corpus-quickview" class="well sidebar-nav"></div>
      <div id="session-quickview" class="well sidebar-nav"></div>
      <div id="data-list-quickview" class="well sidebar-nav"></div>
    </div>
    <!--Elements in the middle (things that get hidden)  -->
    <div class="span6">
			<div id="toast-user-area">
				<div class="alert alert-block">
			    <a class="close" data-dismiss="alert" href="#">×</a>
			    <h4 class="alert-heading">Warning!</h4>
					This is an beta version of iField, it might smile and make
						bubbles but it also burps, vomits and sleeps at inopportune
						times... These messages are here to communicate what the app is
						doing to beta testers, we will gradually reduce the number of messages as
						the app becomes more stable.
					<p>You can close these messages by clicking on their x.</p>
				</div>
			</div>
  
			<div id="datums-embedded" class="middle well">
			  <div>Datums</div>
			</div>
			
			<div id="data-list-embedded" class="middle well">
        <div>DataList</div>
      </div>
			

			<div id="session-embedded" class="middle well">
        <div>Session</div>
      </div>

      <div id="corpus-embedded" class="middle well">
        <div>Corpus</div>
      </div>

      <div id="search-embedded" class="middle well">
        <div>Search</div>
      </div>

    </div>
    <!--/span-->
    <!-- right hand side -->
    <div class="span3">
      <div id="insert-unicode"  class="well">Insert Unicode</div>
            <div id="activity-feed"  class="well">Activity Feed</div>
      
    </div>
  
    
    <!--/span-->
  </div>
  <!--/row-->

	<!-- FullScreen Views -->
	<div id="user-fullscreen" class="well">
		<div>User</div>
	</div>
	<div id="corpus-fullscreen" class="well">
		<div>Corpus</div>
	</div>
	<div id="session-fullscreen" class="well">
	  <div>Session</div>
	</div>
	<div id="search-fullscreen" class="well">
		<div>Search</div>
	</div>
	<div id="data-list-fullscreen" class="well">
		<div>Data List</div>
	</div>
	<div id="datum-container-fullscreen" class="well">
	  <div>Datum Container</div>
	</div>
	<div id="import-fullscreen" class="">
	 <h1>Import</h1>
  </div>
</div>
<!--/row-->


<!-- Modals are windows which pop over the active app to take focus -->
<div id="hotkey-settings-modal" class="modal hide"></div>
<div id="user-modal" class="modal hide"></div>
<div id="user-edit-modal" class="modal hide"></div>

<div id="user-preferences-modal" class="modal hide"></div>
<div id="export-modal" class="modal hide"></div>
<div id="new-session-modal" data-backdrop="static" class="modal hide"></div>
<div id="new-corpus-modal" data-backdrop="static" class="modal hide"></div>
<div id="quick-authenticate-modal" data-backdrop="static" class="modal hide">
<div class="modal-header">
  <h4>We need to make sure it's you...</h4>
</div>
<div class="modal-body">
<label>Password:</label>
    <input type="password" id="quick-authenticate-password"/>
</div>
<div class="modal-footer">
  <button class="btn btn-success" id="quick-authentication-okay-btn">Yep, it's me</button>
</div>
</div>
