  <!-- The layout of the dashboard page -->
  
  <div id="dashboard-view" class="page">
    <div class="navbar navbar-fixed-top ">
      <div class="navigation widget" id="navigation">
      
       <div>
          <div id="search" class="search"></div> 
          <div id="top">
            <div id="icons">
               <i class="icon-home icon-white"></i>
               <i class="icon-refresh icon-white"></i>
               <a class = "btn-mini btn-inverse"> <i class="icon-user icon-white"></i> <span class ="caret white"></span></a>
            </div>
            
            <div id="authentication" class="authentication"></div>
          
           </div>
           
       </div>
    </div>      
   </div>   
         
           <!--<div id="preference"></div>
               <div id="corpus" class="widget"></div>
               -->
    
  <div class="container main">
    
    <div class = "left">
       <div id="corpus" class = "widget"></div>
    
       <div id="leftside" class="leftside widget">
         <div id="data_list">Data List </div>
           <ul id="data_list_content">  </ul>
           <div id="pagination">  </div>
       </div> 
    </div>
      
      
    <div class ="right">  
      <div id="content" class="centercontent widget"></div>
        
      <div id="rightside" class="rightside widget">
        <!--<div id="user"></div>-->
       <div id="activity_feed">Activity Feed</div> 
       </div>
    </div>   
            
 </div> 
        
        
      <!-- The layout of the new session page -->
        <div id="session" class=" ">
          <div>New Session</div>
        </div>
        
      
        <div id="user-profile-view" class="  ">
          <div>User Profile</div>
        </div>
      
        <div id="user-preferences-view" class="preference">
          <div>User Preferences</div>
        </div>
      
               
      </div>
    </div>
  </div>

  <!-- The layout of the fullscreen datum page -->
  <div id="fullscreen-datum-view" class="page centercontent widget">
    <div>Fullscreen Datum View</div>
  </div>

  <!-- The layout of the fullscreen data list page -->
  <div id="fullscreen-datalist-view" class="page centercontent widget">
    <div>Fullscreen Data List View</div>
  </div>
  <!-- The layout of the fullscreen search page -->
  <div id="fullscreen-search-view" class="page centercontent widget">
    <div>Fullscreen Search View</div>
  </div>
  
        

