<!-- The layout of the dashboard page -->
<div id="dashboard-view" class="page">
  <div class="navbar navbar-fixed-top ">
    <div class="navigation widget" id="navigation">
        <div id="search" class="search"></div> 
          <div id="top">
            <div style="font-size: 24px;" class ="icons">
              <a href="#corpus/yale"><i class="icons icon-home icon-white top"></i></a>
               <i class="icons icon-refresh icon-white top "></i>
               <div id="preference" class="preference top"></div>
            </div>
            <div id="authentication" class="authentication"></div>
          </div>
        </div>      
    </div>   
    <div class="container main">
      <div class = "left">
        <div id="corpus" class = "widget"></div>
          <div id="leftside" class="leftside widget">
            <div id="data_list">Data List </div>
            <ul id="data_list_content">  </ul>
            <div id="pagination">  </div>
          </div> 
        </div>
        <div class ="right">  
          <div id="content" class="centercontent widget">
          
          
             <!-- The layout of the fullscreen datum page -->
             <div id="fullscreen-datum-view" class="">
             <div id="datum-view">Fullscreen Datum View</div>
            </div>
      
              <!-- The layout of the new session page -->
              <div id="new-session-view" class="middle widget">
              <div>New Session</div>
              </div>
      
              <!-- The layout of the fullscreen search page -->
             <div id="fullscreen-search-view" class="middle widget">
             <div>Fullscreen Search View</div>
             </div>
             
             
             <!-- The layout of the user preferences page -->
            <div id="user-preferences-view" class="preference">
            <div>User Preferences</div>
</div>

          </div>
            <div id="rightside" class="rightside widget">
            <!--<div id="user"></div>-->
            <div id="activity_feed">Activity Feed</div> 
       	  </div>
        </div>   
      </div> 
    </div>
  </div>
</div>


<!-- The layout of the fullscreen data list page -->
<div id="fullscreen-datalist-view" class="page centercontent widget">
  <div>Fullscreen Data List View</div>
</div>




<!-- The layout of the user profile page -->  
<div id="fullscreen-user-profile-view" class="  ">
  <div id="user-profile-view">User Profile</div>
</div>

<!-- The layout of the user preferences page -->
<div id="user-preferences-view" class="preference">
  <div>User Preferences</div>
</div>
