<!-- Black Navigation Bar Across the Top -->
<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<div class="btn-group pull-right">
				<ul class="nav">
					<li>
					 <a href="#" class = "locale_Show_Dashboard" rel="tooltip" title="Show dashboard with data entry form">
					     <i class="icons icon-home icon-white"></i></a>
					</li>
				  <li>
					  <div class="btn-group">
						  <button class="btn dropdown-toggle btn-inverse"
		            data-toggle="dropdown">
		        <span class = "locale_Need_save"></span>   
		            <progress class="unsaved-changes" max="100" value="30">
		            <span class = "locale_60_unsaved"></span>
		            </progress>
		            <span class="caret"></span>
		          </button>
		          <ul class="dropdown-menu unsaved-changes-status" id="unsaved-changes-status">
		            <li class="not-a"><span class = "locale_Recent_Changes"></span></li>
		          </ul>
	          </div>
				  </li>
				  <li> 
				    <a href="#" class = "locale_Save_on_this_Computer" rel="tooltip">
    				  <i class="icons icon-save save-dashboard icon-white"></i></a>
          </li>
          <li>
				    <div class="btn-group">
					  <button class="btn dropdown-toggle btn-inverse"
	            data-toggle="dropdown">
	             <span class = "locale_Need_sync"></span>  
	            <progress class="unsynced-changes" max="100" value="80">
	              <span class = "locale_60_unsaved"></span>
	            </progress>
	            <span class="caret"></span>
	          </button>
	          <ul class="dropdown-menu unsynced-changes-status" id="unsynced-changes-status">
	            <li class="not-a"><span class = "locale_Differences_with_the_central_server"></span></li>
	          </ul>
	          </div>
				  </li>
					<li> 
					 <a href="#" class = "locale_Sync_and_Share" rel="tooltip">
    					<i class="icons icon-sitemap  sync-everything icon-white"></i></a>
					</li>
					<li><span id="user-quickview"><i
              class="icons icon-user icon-white"></i></span>
					</li>
					<li>
						<div class="btn-group">
							<button class="btn btn-inverse dropdown-toggle" data-toggle="dropdown"> 
								 <span class="caret"></span>  
							</button>
							<ul class="dropdown-menu" id="authentication-embedded"></ul>
						</div>
					</li>
				</ul>
			</div>
			<div>
				<!-- This is a div for the top nav bar area -->
				<span id="search-top" class="search"></span> 
			</div>
		</div>
	</div>
</div>
<!-- The rest of the page -->
<div  class="container-fluid main">
  <div id="dashboard-view" class="row-fluid">
    <!-- Elements on Lefthand side -->
    <div class="span3">
      <div id="corpus-quickview" class="well sidebar-nav"></div>
      <div id="session-quickview" class="well sidebar-nav"></div>
      <div id="search-data-list-quickview" class=" sidebar-nav">
        <div id="search-data-list-quickview-header" class=" sidebar-nav"></div>
        <div>
          <ul class="unstyled zebra search-data-list-paginated-view"></ul>
          <div class="pagination-control"></div>
        </div>
      </div>
			<div id="data-list-quickview" class="well">
				<div id="data-list-quickview-header" class=" sidebar-nav"></div>
				<div>
					<ul class="unstyled zebra current-data-list-paginated-view"></ul>
					<div class="pagination-control"></div>
				</div>
			</div>
		</div>
    <!--Elements in the middle (things that get hidden)  -->
    <div class="span6">
			<div id="toast-user-area">
				<div class="alert alert-block">
			    <a class="close" data-dismiss="alert" href="#">×</a>
			    <strong class="alert-heading"><span class= locale_Warning"></span></strong> 
					<span class = "locale_This_is_a_beta_version"></span>
					<span class = "locale_to_beta_testers"></span>
				</div>
			</div>
			<div id="datums-embedded" class="middle well"></div>
			<div id="data-list-embedded"  class="well">
				<div id="data-list-embedded-header" class="middle "></div>
				<div>
					<ul class="unstyled zebra current-data-list-paginated-view"></ul>
					<div class="pagination-control"></div>
				</div>
			</div>
			<div id="session-embedded" class="middle well"></div>
      <div id="corpus-embedded" class="middle well"></div>
      <div id="search-embedded" class="middle well"></div>
    </div>
    <!--/span-->
    <!-- right hand side -->
    <div class="span3">
      <div id="insert-unicode"  class="well"></div>
      <div id="activity-feed"  class="well"></div>
    </div>  
    <!--/span-->
  </div>
  <!--/row-->

  <!-- FullScreen Views -->
  <div id="user-fullscreen" class="well"></div>
  <div id="public-user-page" class="well">
    <div id="corpus-fullscreen" class="well"></div>
    <div id="session-fullscreen" class="well"></div>
    <div id="search-fullscreen" class="well"></div>
    <div id="data-list-fullscreen" class="well">
      <div id="data-list-fullscreen-header"></div>
      <div>
        <ul class="unstyled zebra current-data-list-paginated-view"></ul>
        <div class="pagination-control"></div>
      </div>
    </div>
    <div id="datum-container-fullscreen" class="well"></div>
    <div id="import-fullscreen" class=""></div>
  </div>
  <!--/row-->

  <!-- Modals are windows which pop over the active app to take focus -->
<div id="hotkey-settings-modal" class="modal hide"></div>
<div id="user-modal" class="modal hide"></div>
<div id="user-preferences-modal" class="modal hide"></div>
<div id="export-modal" class="modal hide"></div>
<div id="new-session-modal" data-backdrop="static" class="modal hide"></div>
<div id="new-corpus-modal" data-backdrop="static" class="modal hide"></div>
<div id="quick-authenticate-modal" data-backdrop="static" class="modal hide">
<div class="modal-header">
  <h4 class = "locale_We_need_to_make_sure_its_you"></h4>
</div>
<div class="modal-body">
<label class = "Password"></label>
    <input type="password" id="quick-authenticate-password"/>
</div>
<div class="modal-footer">
  <button class="btn btn-success" id="quick-authentication-okay-btn"><span class = "locale_Yep_its_me"></span></button>
</div>
</div>
