<!-- Black Navigation Bar Across the Top -->
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <div class="btn-group pull-right">
        <ul class="nav">
          <li>
            <a href="#corpus/yale">
              <i class="icons icon-home"></i>
            </a>
          </li>
          <li>
            <a>
              <i class="icons icon-refresh icon-white"></i>
            </a>
          </li>
          <li>
            <div class="btn-group">
              <button class="btn dropdown-toggle btn-inverse"
              data-toggle="dropdown">
                <i class="icons icon-user icon-white"></i>
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" id="authentication"></ul>
            </div>
          </li>
        </ul>
      </div>
      <div id="search" class="search"></div>
    </div>
  </div>
</div>
<!-- The rest of the page -->
<div  class="container-fluid main">
  <div id="dashboard-view" class="row-fluid">
    <!-- Elements on Lefthand side -->
    <div class="span3">
      <div id="corpus-quickview" class="well sidebar-nav"></div>
      <div id="session-quickview" class="well sidebar-nav"></div>
      <div id="data-list-embedded" class="sidebar-nav well"></div>
    </div>
    <!--Elements in the middle (things that get hidden)  -->
    <div class="span6 well">
			
			<div id="datums-embedded" class="middle">
				<div>Multiple Data Entry View</div>
				<div id="datum-embedded">Datum View</div>
			</div>

			<div id="session-embedded" class="middle">
        <div>New Session</div>
      </div>

      <div id="corpus-embedded" class="middle">
        <div>Corpus</div>
      </div>

      <div id="export-embedded" class="middle">
        <div>Export Data</div>
      </div>

      <div id="import-embedded" class="middle">
        <div>Import</div>
      </div>
      <div id="search-embedded" class="middle">
        <div>Search</div>
      </div>

    </div>
    <!--/span-->
    <!-- right hand side -->
    <div class="span3 well">
      <div id="activity_feed">Activity Feed</div>
    </div>
    <!--/span-->
  </div>
  <!--/row-->

	<!-- FullScreen Views -->
	<div id="user-fullscreen" class="well">
		<div>User</div>
	</div>
	<div id="corpus-fullscreen" class="well">
		<div>Corpus</div>
	</div>
	<div id="search-fullscreen" class="well">
		<div>Search</div>
	</div>
	<div id="data-list-fullscreen" class="well">
		<div>Data List</div>
	</div>
</div>
<!--/row-->


<!-- Modals are windows which pop over the active app to take focus -->
<div id="corpus-settings-modal" class="modal show"></div>
<div id="hotkey-settings-modal" class="modal show"></div>
<div id="user-modal" class="modal show"></div>
<div id="user-welcome-modal" class="modal show"></div>
<div id="user-preferences-modal" class="modal show"></div>
