<!-- Black Navigation Bar Across the Top -->
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <div class="btn-group pull-right">
        <ul class="nav">
          <li>
            <a href="#corpus/yale">
              <i class="icons icon-home"></i>
            </a>
          </li>
          <li>
            <a>
              <i class="icons icon-refresh icon-white"></i>
            </a>
          </li>
          <li>
            <div class="btn-group">
              <button class="btn dropdown-toggle btn-inverse"
              data-toggle="dropdown">
                <span id="user-quickview"><i class="icons icon-user icon-white"></i></span>
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" id="authentication-embedded"></ul>
            </div>
          </li>
        </ul>
      </div>
      <div id="search-top" class="search"></div>
    </div>
  </div>
</div>
<!-- The rest of the page -->
<div  class="container-fluid main">
  <div id="dashboard-view" class="row-fluid">
    <!-- Elements on Lefthand side -->
    <div class="span3">
      <div id="corpus-quickview" class="well sidebar-nav"></div>
      <div id="session-quickview" class="well sidebar-nav"></div>
      <div id="data-list-embedded" class="sidebar-nav well"></div>
    </div>
    <!--Elements in the middle (things that get hidden)  -->
    <div class="span6">
			
			<div id="datums-embedded" class="middle well">
			  <div>Datums</div>
			</div>

			<div id="session-embedded" class="middle well">
        <div>Session</div>
      </div>

      <div id="corpus-embedded" class="middle well">
        <div>Corpus</div>
      </div>

      <div id="search-embedded" class="middle well">
        <div>Search</div>
      </div>

    </div>
    <!--/span-->
    <!-- right hand side -->
    <div class="span3 well">
      <div id="insert-unicode">Insert Unicode</div>
    </div>
    <!--/span-->
  </div>
  <!--/row-->

	<!-- FullScreen Views -->
	<div id="user-fullscreen" class="well">
		<div>User</div>
	</div>
	<div id="corpus-fullscreen" class="well">
		<div>Corpus</div>
	</div>
	<div id="session-fullscreen" class="well">
	  <div>Session</div>
	</div>
	<div id="search-fullscreen" class="well">
		<div>Search</div>
	</div>
	<div id="data-list-fullscreen" class="well">
		<div>Data List</div>
	</div>
	<div id="datum-container-fullscreen" class="well">
	  <div>Datum Container</div>
	</div>
	<div id="import-fullscreen" class="">
	 <h1>Import</h1>
  </div>
</div>
<!--/row-->


<!-- Modals are windows which pop over the active app to take focus -->
<div id="corpus-settings-modal" class="modal hide"></div>
<div id="hotkey-settings-modal" class="modal hide"></div>
<div id="user-modal" class="modal hide"></div>
<div id="user-preferences-modal" class="modal hide"></div>
<div id="export-modal" class="modal hide"></div>
<div id="quick-authenticate-modal" data-backdrop="static" class="modal hide">
<div class="modal-header">
  <h4>We need to make sure it's you...</h4>
</div>
<div class="modal-body">
<label>Password:</label>
    <input type="password" id="quick-authenticate-password"/>
</div>
<div class="modal-footer">
  <button class="btn btn-success" id="quick-authentication-okay-btn">Yep, it's me</button>
</div>
</div>
