.llama{
  background-image: url('../images/skins/bamboo_garden.jpg'); 
  background-repeat:no-repeat;
  background-attachment:fixed;  
  background-position:center;
}

.search{
	padding: 10px
}
.navbar input:hover{
  color: #000;
}
.gravatar-small{
	width: 2em;
}
.gravatar-medium{
  width: 4em;
}
.gravatar-large{
  width: 8em;
}
.activity_direct_object{
	color: #055;
}
.activity_verb{

}
.activity_indirect_object{
}
.login{
	margin-left: 5px;

}
.logout{
	margin-left: 5px;
}

#login_form{
	margin-left: 5px;
}

.main {
  /* width: 100%; */
  height: 100%;
  clear: both;
  position: relative;
  top: 75px;
}

#corpus-quickview{
	min-height: 10em;	
 
 overflow: auto;
 }

.corpus-description{
float: left;
width: 100%;
}

.corpusMenu{
	float: left;
	margin: 0em;
}

.corpusMenu button{
	  margin: 5px 0px 5px 0px;
	
}

.fullscreen{
	float: right;
}

.widget{
	 background: rgba(0, 0, 0, 0.4);
	   border-radius: 5px;
	 
}

.title{
	
	text-align: center;
}

#dateCreated{
  
  text-align: right;
}

.icons{
	font-size: 1.5em;
	line-height: 1em !important;
	padding-left: .25em;
}
.icon-white {
  color: #bbb;
}
.navbar :hover {
  color: #fff ;
}

textarea{
	width: 100%;
}

#newDatum{
	float: right;
	font-size: 50px;
}

.drop-zone{
	border: dashed;
	border-color:#1E90FF;	
}

.add_field{
	width: 100%;
}

.gramaticality_judgement{
  width: 2em !important;
}

.glossCouplet{
	display: inline-block;
	padding-left: 5px;
	padding-right: 5px;
}

.zebra li:nth-child(odd){
	background: #DDD;
}

.datum-checkboxes{  
    position:absolute;
}

.latex-judgement{
	position: absolute;
}
    
.datum_field_label{
 display:inline;
}   
 
.datum_field_h4{
  display:inline;
}   

.clear-spacing{
  clear:both;
}

.export-large-textarea{
	width: 100%;
	height: 15em;
}
/* Prevent the text contents of draggable elements from being selectable. */
[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.halfopacity{
	opacity: 0.75;
} 

.dropdown-menu .not-a {
  display: block;
  padding: 3px 15px;
  clear: both;
  font-weight: normal;
  line-height: 18px;
  color: #333333;
  white-space: nowrap;
}

.small-field{
	width: 2em !important;
}

.comment-bubble{
	margin: 3px;
	padding: 3px;
  background: #DDDDDD;
  border-radius: 3px;
}

.contact-us-iframe{
	height:100em;
	width:100%;
}
.unicode-symbol{
	cursor: move;
  font-size: 1.25em;
  color: white;
  font-weight:normal !important;
}
.show-unicode-details{
  width: 2em;	
  
}
.unicode-buttons{
	line-height: 2em;
	text-align:center;

}

.nowrap{
	  white-space: nowrap;
}

progress{
	width: 100%;
}
/*
 * Gradient Shadow HTML5 progress bars 
 http://www.useragentman.com/blog/2012/01/03/cross-browser-html5-progress-bars-in-depth/
 */

/* All HTML5 progress enabled browsers */
.navbar progress {
  /* Turns off styling - not usually needed, but good to know. */
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  /* gets rid of default border in Firefox and Opera. */
  border: solid #333 1px;
  border-radius: 5px;
  /* Dimensions */
  width: 8em;
  height: 1em;
}


/* Chrome */
.navbar progress::-webkit-progress-bar {
  background: #333;
}

/*
 * Background of the progress bar value
/* Chrome */
.navbar progress::-webkit-progress-value {
  border-radius: 5px;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgb(120,120,0)),
    color-stop(1, rgb(255,255,1))
  );
  background-image: -webkit-linear-gradient(
    center bottom,
    rgb(120,120,0) 37%,
    rgb(255,255,1) 69%
  );
}

spacer{
	size: 1em;
}

.like-form-inline {
  margin: 0 0 18px;
  display: block
}

.like-form-inline input,
.like-form-inline textarea,
.like-form-inline select,
.like-form-inline .help-inline,
.like-form-inline .uneditable-input,
.like-form-inline .input-prepend,
.like-form-inline .input-append {
  display: inline-block;
  *display: inline;
  margin-bottom: 0;
  *zoom: 1;
}
.datum-audio-player{
	width:100%;
}

/* D3 force directed graph */
circle.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

line.link {
  stroke: #999;
  stroke-opacity: .6;
}
.corpus-precedence-rules-visualization{
	background-color: #333;
  text-align:center;	
}
.vis-title{
	font-size: 2em;
	color: #fff;
}
