body {
	background-color: #FFFFCC;
	width: 1300px;
	height: 1010px;
	margin: auto;
	color: white;
}


#corpus{
	width: 100;
	height: 100;
}
#top{
	float: right;
	 padding: 0em 3em 1em 0em;
	
}

.llama {
	background-image: url('../images/skins/bamboo_garden.jpg');
}

nav {
	font-size: 1.5em;
	padding: 0em 1em 1em 0em;
	float: left;
}

.page {
	width: 100%;
	height: 100%;
}

.search {
	float: left;
}

.preference{
	float: left;
}
.widget {
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.4);
	margin: 0.5em;
	padding: 0.5em;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.datum {
	background: black;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.4);
	margin: 0.5em;
	padding: 0.5em;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

header {
	background-color: #336699;
	padding: 0;
	margin: 0;
}

h1,h2,h3,h4 {
	text-align: center;
	color: orange;
	font-weight: normal;
	line-height: 1.1em;
	margin: 0 0 .5em 0;
}

h1 {
	font-size: 1.7em;
}

h2 {
	font-size: 1.5em;
}

a {
	color: white;
	text-decoration: none;
}

a:hover,a:active {
	text-decoration: underline;
}

ul {
	list-style-type: none;
}

.navigationcontainer {
	width: 1260px;
}

#navigation {
	width: 100%;
	height: 2em;
	background-color: black;
}

#navigation ul {
	margin: 0px;
	padding: 0px;
}

#navigation ul li {
	display: inline;
	height: 30px;
	float: left;
	list-style: none;
	margin-left: 15px;
	position: relative;
}

#navigation li ul {
	margin: 0px;
	padding: 0px;
	display: none;
	position: absolute;
}

#navigation li:hover ul {
	display: block;
	width: 160px;
}

#navigation li li {
	list-style: none;
	display: list-item;
	width: 100%;
}

.main {
	width: 100%;
	height: 100%;
	clear: both;
  position: relative;
  top: 55px;

}


#corpus{
  width: 250px;
  height:100px;
  float: left; 
  position: relative;
}
.left{
	width: 250px;
	float: left;
	height: 100%;
}
.leftside {
	width: 250px;
	position: relative;
	float: left;
}

.rightside {
	width: 230px;
	height: 100%;
	float: right;
}

.centercontent {
  width: 700px;
  height: 100%;
  float: left;
}


/*
.centercontent {
	width: 700px;
	height: 100%;
	margin: 0px auto;
}
*/

.right{
	width: 1000px;
	float: right;
	height: 100%;
	
}

.activity_verb {
	font-weight: bold;
	font-size: 0.75em;
}

.date {
	color: #343298;
}

.goal {
	color: #53edf4;
}

.subtitle {
	color: #fbef9f;
}

.informant {
	color: #fbef9f;
}

.activity_direct_object,.activity_indirect_object {
	font-size: 0.75em;
}

.authentication {
	float: right;
}

.authentication div {
	float: right;
}

#icons{
	float: left;
}

.user {
	padding: 2px;
	margin: 2px;
	text-align: center;
	/*border: 1px solid #fcd857;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-box-shadow: 0 0 6px #f8b635;
	-webkit-box-shadow: 0 0 6px #f8b635;*/
}

.authentication .user img {
	height: 40px;
	width: 40px;
}

.authentication .user .username {
	display: none;
}

.activity_feed_title {
	background-color: #eaa623;
	text-align: center;
	margin: 0.5em;
	padding: 0.15em;
}

button,.button,input[type="button"] {
	color: #fff;
	background-color: #f8b635;
	border: 1px solid #fcd857;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-box-shadow: 0 0 6px #f8b635;
	-webkit-box-shadow: 0 0 6px #f8b635;
}

.inactive_activity {
	color: #fff;
	background-color: #eaa623;
	border: 0px solid #fcd857;
}

textarea {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	padding: 0.3em;
}

.hidden {
	display: none;
}