body {
	background-color: #FFFFCC;
	width: 1500px;
	height: 1010px;
	margin: auto;
	color: white;
}

.llama {
	background-image: url('llama.jpg');
}

.page {
	width: 100%;
	height: 100%;
}

.widget {
	width: 100%;
	height: 100%;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.4);
	margin: 0.5em;
	padding: 0.5em;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.datum {
	background: black;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.4);
	margin: 0.5em;
	padding: 0.5em;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

header {
	background-color: #336699;
	padding: 0;
	margin: 0;
}

h1,h2,h3,h4 {
	text-align: center;
	color: orange;
	font-weight: normal;
	line-height: 1.1em;
	margin: 0 0 .5em 0;
}

h1 {
	font-size: 1.7em;
}

h2 {
	font-size: 1.5em;
}

a {
	color: white;
	text-decoration: none;
}

a:hover,a:active {
	text-decoration: underline;
}

ul {
	list-style-type: none;
}

.navigationcontainer {
	width: 1460px;
}

.main {
	width: 100%;
	height: 100%;
	clear: both;
}

.leftside {
	width: 200px;
	height: 100%;
	float: left;
}

.rightside {
	width: 300px;
	height: 100%;
	float: left;
}
/*
.centercontent {
	width: 700px;
	height: 100%;
	margin: 0px auto;
}
*/
.centercontent {
	width: 700px;
	height: 100%;
	float: left;
}

.activity_verb {
	font-weight: bold;
	font-size: 0.75em;
}

.subtitle {
	color: #fbef9f;
}

.activity_direct_object,.activity_indirect_object {
	font-size: 0.75em;
}

.user {
	padding: 2px;
	margin: 2px;
	text-align: center;
	border: 1px solid #fcd857;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-box-shadow: 0 0 6px #f8b635;
	-webkit-box-shadow: 0 0 6px #f8b635;
}

.activity_feed_title {
	background-color: #eaa623;
	text-align: center;
	margin: 0.5em;
	padding: 0.15em;
}

.button {
	color: #fff;
	background-color: #f8b635;
	border: 1px solid #fcd857;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-box-shadow: 0 0 6px #f8b635;
	-webkit-box-shadow: 0 0 6px #f8b635;
}

.inactive_activity {
	color: #fff;
	background-color: #eaa623;
	border: 0px solid #fcd857;
}

textarea {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	padding: 0.3em;
}

.hidden {
	display: none;
}