<i class="icons icon-resize-full pull-right"></i>
<i class="icons icon-book pull-right"></i>
<label>Title:</label>
<textarea placeholder="Title" class="data-list-title">{{title}}</textarea>
<label>Description</label>
<textarea class="data-list-description">{{description}}</textarea>
<div>
  <ul class="unstyled zebra data_list_content"></ul>
  <div id="data_list_footer"></div>
</div>