<i class="icons icon-resize-full pull-right"></i>
<i class="icons icon-book pull-right"></i>
   <button class="btn btn-success pull-right save-datalist" value="Save">Save</button>
<label>Title:</label>
<textarea placeholder="Title" class="data-list-title">{{title}}</textarea>
<label>Description</label>
<textarea class="data-list-description" placeholder="You can use datalists to create handouts or to prepare for sessions with consultants, or to share with collaborators.">{{description}}</textarea>
<div>
  <ul class="unstyled zebra data_list_content"></ul>
 <p> </p>
  <div class="data-list-footer"></div>
</div>