 
<div id = "toprow">
	<div class="fullscreen"><a href="#fullscreen"><i class="icons icon-fullscreen"></i></a></div>
	
	<div id="dataListInfo">
		<span class="title"><h2>{{title}}</h2></span>

		<span id="dateCreated"><h4>{{dateCreated}}</h4></span>

		<span id="description"><h4>{{description}}</h4></span> <br>
	</div>
</div>



<div class ="icons" id="dataListMenu">

  <a href="#playDatum"><i class="icons icon-bullhorn"></i></a> 
  <a href="#clipboard"><i class="icons icon-paste"></i></a>
  <a href="#duplicate"><i class="icons icon-copy"></i></a>
  <button class= "btn btn-primary" id="LaTeX"> LaTeX</button>
  
</div>


<div>

<ul id="data_list_content"></ul>



</div>


<div id="data_list_footer"></div>

