<div class="pull-right">
  <a  href="#" class= "locale_Show_Datalist" rel="tooltip" title="Show data list" >
      <i class="icons icon-plus-sign"></i></a>
</div>
<h4>{{title}}<small> {{datumCount}}</small></h4>
