<i class="icons icon-resize-full pull-right"></i>
<i class="icons icon-book pull-right"></i>
<label>Title:</label>
<textarea placeholder="Title" class="data-list-title">{{title}}</textarea>
<label>Description</label>
<textarea class="data-list-description">{{description}}</textarea>
<div>
  <ul class="unstyled zebra data_list_content"></ul>
   <button class="btn btn-primary save-datalist" value="Done">Done</button>
 <p> 
  <div id="data_list_footer"></div>
 <h3>Comments</h3>
<ul class="comments unstyled"></ul>
<button class="btn btn-primary add_comment" value="Add">Add
  Comment</button>
</div>