 
<div id = "toprow">
	<div class="fullscreen"><a href="#fullscreen"><i class="icons icon-fullscreen"></i></a></div>
	
	<div id="dataListInfo">
		<span class="title">{{title}}</span><br/> 

		<span class="dateCreated">{{dateCreated}}</span><br/> 

		<span class="description">{{description}}</span> 
	</div>
</div>


   
<div class ="icons" id="dataListMenu">

  <a href="#playDatum"><i class="icons icon-bullhorn"></i></a> 
  <a href="#clipboard"><i class="icons icon-paste"></i></a>
  <a href="#duplicate"><i class="icons icon-copy"></i></a>
  <button  id="LaTeX"> <img src= "./datum_menu/latex.png" alt="this will be the button that will convert your datum into latex." /></button>
  
</div>


<div>

<ul id="data_list_content"></ul>
</div>


<div id="data_list_footer"></div>

