<div class="data_list">
	<!-- full screen button -->
	<button class="cornerB" id="expand"> <img src= "./../datum/expand.png" alt="this will be the button will expand the list view." /></button>
	
	<!--partials -->
	<!--	{{> search/search}}  -->
	<!--	{{> list}}  -->
		{{> title}} 
	    {{> datum_menu/datum_menu}}	
	
</div>