<i class="icons icon-resize-full pull-right"></i>
<i class="icons icon-edit pull-right"></i>

<h3>{{title}}</h3>
<h4>{{dateCreated}}</h4>

<h4>{{description}}</h4>

<div class="icons">
  <a href="#playDatum"><i class="icons icon-bullhorn"></i></a> <a
    href="#clipboard"><i class="icons icon-paste"></i></a> <a
    href="#duplicate"><i class="icons icon-copy"></i></a> <a id="encrypt"><i
    class="icons icon-lock"></i></a>
  <button class="btn btn-primary" id="LaTeX">LaTeX</button>
</div>

<div>
  <ul class="unstyled zebra data_list_content"></ul>
  <div id="data_list_footer"></div>
</div>
