<div class="pull-right">
  <button class="btn btn-success save-search-datalist" value="Save">Save</button>
  <i class="icons icon-minus-sign"></i>
</div>
<label class="locale_Title"></label>
<small> {{datumCount}}</small>
<textarea class="data-list-title locale_Title">{{title}}</textarea>
<label class="locale_Description"></label>
<textarea class="data-list-description locale_Datalist_Description">
{{description}}</textarea>
<div class="icons">
    <a  href="#playDatum" class = "locale_Play_Audio_checked" rel="tooltip" >
       <i class="icons icon-bullhorn"></i></a>
    <a  href="#clipboard" class = "locale_Copy_checked" rel="tooltip" >
       <i class="icons icon-paste"></i></a>
    <a  id="encrypt" href="#" class= "locale_Encrypt_checked" rel="tooltip">
      <i class="icons icon-lock"></i></a> 
    <a href="#" class = "locale_Decrypt_checked" rel="tooltip">
      <i class="icons {{#if decryptedMode}}icon-eye-close{{else}}icon-eye-open{{/if}}"></i>
    </a>
    <a href="#" class = "locale_Export_Datalist" rel="tooltip">
    <button class="btn btn-primary" id="LaTeX">LaTeX</button></a>
          <a href="#" rel="tooltip" title="Export checked items to CSV format">
    <button class="btn btn-primary" >CSV</button>
</div>

