<i class="icon-resize-full pull-right"></i>

<input placeholder="Title" class="title" value="{{title}}" />
<span class="dateCreated"><h4>{{dateCreated}}</h4></span>

<label>Description</label>
<textarea class="description">{{description}}</textarea>
<br/>
<ul class="unstyled zebra" id="data_list_content"></ul>

<div id="data_list_footer"></div>
