<i class="icons icon-resize-small pull-right"></i>
<i class="icons icon-book pull-right"></i>
<button class="btn btn-success pull-right save-datalist" value="Save">Save</button>

<label>Title:</label>
<textarea placeholder="Title" class="data-list-title">{{title}}</textarea>
<h4>{{dateCreated}}</h4>

<label>Description</label>
<textarea class="data-list-description" placeholder="You can use datalists to create handouts or to prepare for sessions with consultants, or to share with collaborators.">{{description}}</textarea>


<div>
  <ul class="unstyled zebra data_list_content"></ul>
 <p> </p>
  <div id="data_list_footer"></div>
  <p></p>
  <h3>Comments</h3>
  <ul class="comments unstyled"></ul>
  <button class="btn btn-primary add-comment" value="Add">Add
    Comment</button>
  <div id="data_list_footer"></div>

</div>
<!-- 
<ul class="unstyled zebra data_list_content"></ul>
<h3>Comments</h3>
<ul class="comments unstyled"></ul>
<button class="btn btn-primary add-comment" value="Add">Add
  Comment</button>
<div id="data_list_footer"></div>

 -->