<div class="dataList">
    <span class="title">{{title}}</span><br/>
    <span class="dateCreated">{{dateCreated}}</span><br/>
    <span class="description">{{description}}</span> 
    
    	    {{> datum_menu}}	
    
</div>

