<div class="pull-right">
  <i class="icons icon-minus-sign"></i>
  <i class="icons icon-edit"></i>
  <i class="icons icon-resize-full"></i>
</div>

<h3>{{title}}<small> {{datumCount}}</small></h3>
<h4>{{dateCreated}}</h4>

{{description}}

<div class="icons">
  <a href="#playDatum"><i class="icons icon-bullhorn"></i></a> <a
    href="#clipboard"><i class="icons icon-paste"></i></a> <a
    href="#duplicate"><i class="icons icon-copy"></i></a> <a id="encrypt"><i
    class="icons icon-lock"></i></a>
  <button class="btn btn-primary latex-export-datalist" id="LaTeX">LaTeX</button>
</div>

<div>
  <ul class="unstyled zebra data_list_content"></ul>
  <div class="data-list-footer"></div>
</div>