<span class="title">{{title}}</span><br/> 

<span class="dateCreated">{{dateCreated}}</span><br/> 

<span class="description">{{description}}</span> 
   
<div id="buttons">
  <button class="menuB" id="playDatum"> <i class = "icon-play icon-white"></i></button>
  <button class="menuB" id="clipboard"> <img src= "./datum_menu/clipboard.png" alt="this will be the button that lets you copy to clipboard." /></button>
  <button class="menuB" id="duplicate"> <img src= "./datum_menu/duplicate.png" alt="this will be the button that will pull up a cloned datum." /></button>
  <button class="menuB star"> <img src= "./datum_menu/favorite.png" alt="this will be the button that lets you favorite a datum" /></button>
  <button  id="LaTeX"> <img src= "./datum_menu/latex.png" alt="this will be the button that will convert your datum into latex." /></button>
</div>

<ul id="data_list_content"></ul>

<div id="data_list_footer"></div>