<div class="pull-right">
	<i class="icons icon-book"></i>
	
	<i class="icons icon-resize-small"></i>
</div>
<button class="btn btn-success pull-right save-datalist" value="Save">Save</button>
<br>
<br>
<h4>{{dateCreated}}</h4>
<label class = "Title"></label>
<textarea placeholder="Title" class="data-list-title">{{title}}</textarea>

<label class = "Description"></label>
<textarea class="data-list-description"
	placeholder="You can use datalists to create handouts or to prepare for sessions with consultants, or to share with collaborators.">{{description}}</textarea>

<div>
  <ul class="unstyled zebra data_list_content"></ul>
  <p></p>
  <div class="data-list-footer"></div>
</div>

<h3 class = "Comments"></h3>
<ul class="comments unstyled"></ul>

<div class="alert alert-info">
  <span class ="new_comment"> </span>
  <i class="icons icon-comment"></i>
  <div class= "pull-right"> </div>
  <textarea class="comment-new-text"></textarea>
</div>
  
<button class="btn btn-primary add-comment-edit" value="Add"><span class = "Add"></span></button>
  