<div class="pull-right">
	  <a href="#" class= "loc_Show_Readonly" rel="tooltip">
    <i class="icons icon-book"></i></a>
  <a href="#" class = "loc_Show_fullscreen" rel="tooltip" title="Show full screen">    
    <i class="icons icon-resize-full resize-full"></i></a>
</div>
<br>
<br>
<button class="btn btn-success pull-right save-datalist" value="Save">
	<span class="Save"></span>
</button>
<label class="Title"></label>
<textarea class="data-list-title loc_Title">{{title}}</textarea>
<label class="Description"></label>
<textarea class="data-list-description loc_Datalist_Description"
>{{description}}</textarea>
<div>
	<ul class="unstyled zebra data_list_content"></ul>
	<p></p>
	<div class="data-list-footer"></div>
</div>
<ul class="comments unstyled"></ul>
<div class="alert alert-info">
	<i class="icons icon-comment"></i>
	<div class="pull-right"></div>
	<textarea class="comment-new-text"></textarea>
</div>
<button class="btn btn-primary add-comment-edit" value="Add">
	<span class="Add"></span>
</button>

