<div class="pull-right">
	<a href="#" rel="tooltip" title="Show read only"> <i
		class="icons icon-book"></i></a> <a href="#" rel="tooltip"
		title="Show full screen"> <i class="icons icon-resize-full"></i></a>
</div>
<br>
<br>
<button class="btn btn-success pull-right save-datalist" value="Save">
	<span class="Save"></span>
</button>
<label class="Title"></label>
<textarea placeholder="Title" class="data-list-title">{{title}}</textarea>
<label class="Description"></label>

<textarea class="data-list-description"
	placeholder="You can use datalists to create handouts or to prepare for sessions with consultants, or to share with collaborators.">{{description}}</textarea>
<div>
	<ul class="unstyled zebra data_list_content"></ul>
	<p></p>
	<div class="data-list-footer"></div>
</div>


<ul class="comments unstyled"></ul>

<div class="alert alert-info">

	<i class="icons icon-comment"></i>
	<div class="pull-right"></div>
	<textarea class="comment-new-text"></textarea>
</div>

<button class="btn btn-primary add-comment-edit" value="Add">
	<span class="Add"></span>
</button>

