<div class="pull-right">
  <a href="#" class= "locale_Show_Readonly" rel="tooltip">
    	<i class="icons icon-book"></i></a>
  <a href="#" class= "locale_Show_in_Dashboard" rel="tooltip" >
    	<i class="icons icon-resize-small"></i></a>
</div>
<button class="btn btn-success pull-right save-datalist" value="Save"><span class = "locale_Save"></span></button>
<br>
<br>
<h4>{{dateCreated}}</h4>
<label class = "locale_Title"></label>
<textarea class="data-list-title locale_Title">{{title}}</textarea>
<label class = "locale_Description"></label>
<textarea class="data-list-description locale_Datalist_Description"
>{{description}}</textarea>
<div>
  <ul class="unstyled zebra data_list_content"></ul>
  <p></p>
  <div class="data-list-footer"></div>
</div>
<ul class="comments unstyled"></ul>
<div class="alert alert-info">
  <i class="icons icon-comment"></i>
  <div class= "pull-right"> </div>
  <textarea class="comment-new-text"></textarea>
</div>  
<button class="btn btn-primary add-comment-edit" value="Add">
<span class = "locale_Add"></span></button>
  
