<i class="icons icon-resize-small pull-right"></i>
<i class="icons icon-book pull-right"></i>

<label>Title:</label>
<textarea placeholder="Title" class="data-list-title">{{title}}</textarea>
<h4>{{dateCreated}}</h4>

<label>Description</label>
<textarea class="data-list-description">{{description}}</textarea>

<ul class="unstyled zebra" id="data_list_content"></ul>
<div id="data_list_footer"></div>
