<div class="pull-right">
  <a href="#" class= "locale_Hide_Datalist" rel="tooltip">
      <i class="icons icon-minus-sign"></i></a>      
  <a href="#" class = "locale_Edit_Datalist" rel="tooltip">
      <i class="icons icon-edit"></i></a>      
  <a href="#" class = "locale_Show_fullscreen" rel="tooltip">
      <i class="icons icon-resize-full"></i></a>
</div>

<h3>{{title}}</h3>
<h4>{{dateCreated}}</h4>

{{description}}

<div class="icons">
    <a  href="#playDatum" class = "locale_Play_Audio" rel="tooltip" >
       <i class="icons icon-bullhorn"></i></a>
    <a  href="#clipboard" class = "locale_Copy" rel="tooltip" >
       <i class="icons icon-paste"></i></a>
    <a  href="#duplicate" class = "locale_Duplicate" rel="tooltip">
      <i class="icons icon-copy"></i></a>
    <a  id="encrypt" href="#" class= "locale_Encrypt" rel="tooltip">
      <i class="icons icon-lock"></i></a>   
  <a href="#" class = "locale_Export_Datalist" rel="tooltip">
      <button class="btn btn-primary" id="LaTeX">LaTeX</button></a>
</div>

<div>
  <ul class="unstyled zebra data_list_content"></ul>
  <div class="data-list-footer"></div>
</div>