<div class="pull-right">
  <button class="btn btn-success save-search-datalist" value="Save">Save</button>
  <i class="icons icon-minus-sign"></i>
  <i class="icons icon-book"></i>
  <i class="icons icon-resize-full"></i>
</div>
<label>Title:</label>
<textarea placeholder="Title" class="data-list-title">{{title}}</textarea>
<label>Description</label>
<textarea class="data-list-description" placeholder="You can use datalists to create handouts or to prepare for sessions with consultants, or to share with collaborators.">{{description}}</textarea>
<div>
  <ul class="unstyled zebra data_list_content"></ul>
  <p></p>
  <div class="data-list-footer"></div>
</div>



<ul class="comments unstyled"></ul>

<div class="alert alert-info">
  <span> new comment: </span>
  <i class="icons icon-comment"></i>
  <div class= "pull-right">  </div>
  <textarea class="comment-new-text"></textarea>
</div>
  
<button class="btn btn-primary add-comment-datalist-edit" value="Add">Add
    Comment</button>