<div class="pull-right">
  <a href="#" class= "locale_Hide_Datalist" rel="tooltip">
      <i class="icons icon-minus-sign"></i></a>      
  <a href="#" class= "locale_Show_Readonly" rel="tooltip">
      <i class="icons icon-book"></i></a>      
  <a href="#" class = "locale_Show_fullscreen" rel="tooltip">
      <i class="icons icon-resize-full"></i></a>     
</div>
<br>
<br>
<button class="btn btn-success pull-right save-datalist" value="Save">
  <span class="locale_Save"></span>
</button>
<br>
<label class = "locale_Title"></label>
<textarea class="data-list-title locale_Title">{{title}}</textarea>
<label class = "locale_Description"></label>
<textarea class="data-list-description locale_Datalist_Description">{{description}}</textarea>

<div class="icons">
    <a  href="#playDatum" class = "locale_Play_Audio_checked" rel="tooltip" >
       <i class="icons icon-bullhorn"></i></a>
    <a  href="#clipboard" class = "locale_Copy_checked" rel="tooltip" >
       <i class="icons icon-paste"></i></a>
    <a  id="encrypt" href="#" class= "locale_Encrypt_checked" rel="tooltip">
      <i class="icons icon-lock"></i></a> 
    <a href="#" class = "locale_Decrypt_checked" rel="tooltip">
      <i class="icons {{#if decryptedMode}}icon-eye-close{{else}}icon-eye-open{{/if}}"></i>
    </a>
    <a href="#" class = "locale_Export_Datalist" rel="tooltip">
    <button class="btn btn-primary" id="LaTeX">LaTeX</button></a>
          <a href="#" rel="tooltip" title="Export checked items to CSV format">
    <button class="btn btn-primary" >CSV</button>
</div>

<ul class="comments unstyled"></ul>
<div class="alert alert-info">
  <i class="icons icon-comment"></i>
  <div class="pull-right"></div>
  <textarea class="comment-new-text"></textarea>
</div>
<button class="btn btn-primary add-comment-edit" value="Add">
  <span class = "locale_Add"></span>
</button>
