<div class="pull-right">
  <a href="#" class= "loc_Hide_Datalist" rel="tooltip">
      <i class="icons icon-minus-sign"></i></a>      
  <a href="#" class= "loc_Show_Readonly" rel="tooltip">
      <i class="icons icon-book"></i></a>      
  <a href="#" class = "loc_Show_fullscreen" rel="tooltip">
      <i class="icons icon-resize-full"></i></a>     
</div>
<br>
<br>
<button class="pull-right btn btn-success save-datalist" value="Save">Save</button>  
<br>
<label class = "Title"></label>
<textarea class="data-list-title loc_Title">{{title}}</textarea>
<label class = "Description"></label>
<textarea class="data-list-description loc_Datalist_Description">{{description}}</textarea>
<div>
  <ul class="unstyled zebra data_list_content"></ul>
  <p></p>
  <div class="data-list-footer"></div>
</div>