<div class="pull-right">
  <button class="btn btn-success save-datalist locale_Save" value="Save">
  </button>
  <a href="#" class= "locale_Hide_Datalist" rel="tooltip">
      <i class="icons icon-minus-sign"></i></a>      
  <a href="#" class= "locale_Show_Readonly" rel="tooltip">
      <i class="icons icon-book"></i></a>      
  <a href="#" class = "locale_Show_fullscreen" rel="tooltip">
      <i class="icons icon-resize-full"></i></a>     
</div>

<label class = "locale_Title"></label>
<small> {{datumCount}}</small>
<textarea class="data-list-title">{{title}}</textarea>
<label class = "locale_Description"></label>
<textarea class="data-list-description locale_Datalist_Description">{{description}}</textarea>

<!--DataList Menu  -->
<div class="icons">
  <a  href="#" class = "locale_Play_Audio_checked" rel="tooltip" >
     <i class="icons icon-bullhorn"></i></a>
  <a  href="#" class = "locale_Copy_checked" rel="tooltip" >
     <i class="icons icon-paste"></i></a>
  <a href="#" class= "locale_Decrypt_checked" rel="tooltip">
    <i class="icons icon-unlock"></i></a> 
  <a href="#" class= "locale_Encrypt_checked" rel="tooltip">
    <i class="icons icon-lock"></i></a>
  <a href="#" class = "locale_Show_confidential_items_Tooltip" rel="tooltip">
    <i class="icons {{#if decryptedMode}}icon-eye-close{{else}}icon-eye-open{{/if}}"></i></a>
  <a href="#" class = "locale_Export_checked_as_LaTeX" rel="tooltip">
    <button class="btn btn-primary latex-export-datalist LaTeX">LaTeX</button></a>
  <a href="#" class = "locale_Export_checked_as_CSV" rel="tooltip">
    <button class="btn btn-primary CSV" >CSV</button></a>
</div>

<!-- Data list comments -->
<ul class="comments unstyled"></ul>
<div class="alert alert-info">
  <textarea class="comment-new-text"></textarea>
  <button class="btn btn-mini btn-primary add-comment-datalist" value="Add">
    <i class="icon-comment"></i>
    <span class = "locale_Add"></span> 
  </button>
</div>