<div class="pull-right">
  <i class="icons icon-book"></i>
  <spacer> </spacer>
  <i class="icons icon-resize-full"></i>
</div>
<button class="btn btn-success pull-left save-datalist" value="Save">Save</button>
<br>
<br>
<label>Title:</label>
<textarea placeholder="Title" class="data-list-title">{{title}}</textarea>
<label>Description</label>
<textarea class="data-list-description"
  placeholder="You can use datalists to create handouts or to prepare for sessions with consultants, or to share with collaborators.">{{description}}</textarea>
<div>
  <ul class="unstyled zebra data_list_content"></ul>
<p></p>  
<h3>Comments</h3>
<ul class="comments unstyled"></ul>
<button class="btn btn-primary add-comment-datalist-edit" value="Add">Add
  Comment</button>
<p></p>
<div id="data_list_footer"></div>
</div>

