<div class="user_profile widget"> 
  <div class="activity_feed_item" style="display:block; clear:both;">
  <div style="float:left;">
    {{>user}}
  </div>
  <div style="float:left; white-space: wrap; padding: 5px;">
    <span class="email">{{email}}</span>
    <br/>
    <span class="researchInterest">{{researchInterest}}</span></br>
	<span class="affiliation">{{affiliation}}</span></br>
	<span class="description">{{description}}</span>
   
  </div>
</div>
</div>

