<div class="modal-header">
  <div class="btn-group pull-right">
    <a href="#" class="btn btn-success sync-lingllama-data locale_Close_and_login_as_LingLlama locale_Close_and_login_as_LingLlama_Tooltip" rel="tooltip"></a>
    <a class="btn btn-success dropdown-toggle" data-toggle="dropdown" href="#"> 
      <i class="icon-user icon-white"></i> 
      <span class = "locale_Log_In"></span>
      <span class="caret"></span> 
    </a>
    <ul class="dropdown-menu">
      <li class="not-a">
        <span class = "locale_Username"></span>
        <input class="welcomeusername" size="16" type="text" />
      </li>
      <li class="not-a"> 
        <span class = "locale_Password"></span>
        <input class="welcomepassword" size="16" type="password" />
      </li>
      <li class="not-a"> 
        <span class = "locale_authUrl">Server:</span>
        <input class="welcomeauthurl" size="16" type="text" />
      </li>
      <li class="not-a">
        <button class="btn btn-success sync-my-data">
          <span class = "locale_Sync_my_data_to_this_computer"></span>
        </button>
      </li>
    </ul>
  </div>
  <div>
    <!-- <h1 class = "locale_Welcome_to_FieldDB"></h1> -->
    <img src="icon.png" /><br/>
    <i class = "locale_An_offline_online_fieldlinguistics_database"></i> <span class="welcome_version_number"></span> 
  </div>
</div>

<div class="modal-body">
  <!-- <div class = "locale_Welcome_Beta_Testers"></div> -->
 
  <div class="breadcrumb create_new_user_password">
    <h3 class = "locale_Create_a_new_user"></h3>
    <p>
      http://www.lingsync.org/{{username}}
    </p>
    <!-- <label class = "locale_What_is_your_username_going_to_be">  </label> -->
    <span class="like-form-inline">
      <input class="registerusername" value="{{username}}" type="text"/>
      <button class="btn btn-primary new-user-button locale_New_User"></button>
    </span>
    <div class="hide confirm-password">
      <label class = "locale_Password"></label>
      <input class="registerpassword" type="password"/>
      <label class = "locale_Confirm_Password"></label>
      <input class="to-confirm-password" type="password"/>
      <label class = "">Email:</label>
      <input class="registeruseremail" type="email"/>
      <br />
      <button class="btn btn-success register-new-user locale_Sign_in_with_password">
      </button>
      <!-- Hiding Twitter and facebook because I dont think anyone will use them now. <button class="btn btn-success register-twitter">
        <i class="i icon-twitter"></i> Sign in with Twitter
      </button>
      <button class="btn btn-success register-facebook">
        <i class="i icon-facebook"></i> Sign in with Facebook
      </button> -->
    </div>
    </div>
    <div class=" alert alert-error hide welcome-screen-alerts"></div>
  <div class="welcome_video_iframe">
    <iframe class="welcome_video_iframe" width="420" height="315" src="https://www.youtube.com/embed/videoseries?list=PL984DA79F4B314FAA" frameborder="0" allowfullscreen></iframe>
  </div>
  <!-- <div class="alert alert-block">moved here so that it can be seen on smaller screens by scrolling
    <a class="close" data-dismiss="alert" href="#">×</a>
    <h4 class="alert-heading locale_Warning"></h4>
   <span class = "locale_Instructions_to_show_on_dashboard"></span>  
  </div> -->
</div>
