<div class="user_profile">
{{> user}}
    <span class="email">{{email}}</span></br>
    <span class="researchInterest">{{researchInterest}}</span></br>
	<span class="affiliation">{{affiliation}}</span></br>
	<span class="description">{{description}}</span>
</div>

