<div class="modal-header">
	<h1 class = "locale_User_Settings"></h1>
</div>
<div class="modal-body">
	<h5><span class = "locale_Skin"></span> {{skin}}</h5>
	<div class="control-group">
		<button class="preference btn" id="skin"><span class = "locale_Change_Background"></span></button>
		<button class="preference btn randomize-backgound">
		<span class = "locale_Background_on_Random"></span>
	</button>
		<button class="preference btn transparent-dashboard">
		<span class = "locale_Transparent_Dashboard"></span>
		</button>
	</div>
	<h5 class ="locale_Number_Datum"></h5>
	<select class="num_datum_dropdown">
		<option value="1">1</option>
		<option value="2">2</option>
		<option value="3" selected>3</option>
		<option value="4">4</option>
		<option value="5">5</option>
	</select>
</div>
<div class="modal-footer">
	<a href="#" class="btn" data-dismiss="modal"><span class = "locale_Close"></span>
</a>
</div>

