<div class="modal-header">
  <h1>User Settings</h1>
</div>
<div class="modal-body">
  <p>
    <div class= "preference btn" id= "skin">Change Background</div>
  </p>
  <p>
    <h5>Number of Datum to appear at a time:</h5>
    <select class="num_datum_dropdown">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3" selected>3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
  </p>
</div>
<div class="modal-footer">
  <a href="#" class="btn" data-dismiss="modal">Close</a>
</div>

