<div class="modal-header">
	<div class="btn-group pull-right">
		<a class="btn btn-success" href="#" data-dismiss="modal"><i
			class="icon-user icon-white"></i> Login</a> <a
			class="btn btn-success dropdown-toggle" data-toggle="dropdown"
			href="#"><span class="caret"></span></a>
		<ul class="dropdown-menu">
			<li class="divider"></li>
			<li>Username: <input class="span2" id="appendedInputButton"
				size="16" type="text">
			</li>
			<li>
				<button class="btn btn-success sync_my_data" type="button">Sync
					my data to this computer</button>
			</li>
		</ul>
	</div>

	<h1>Welcome to iField!</h1>

	<i> iField: An offline/online fieldlinguistics database which
		adapts to its user's I-Language.</i>

</div>
<div class="modal-body">

	<p>You are logged into Ed Sapir's data. Any time you want to import
		new data or create a new corpus, just click on New Corpus.</p>




	<form class="well create_new_user_password">
		<p>http://ifield.fieldlinguist.com/user/YourNewUserNameGoesHere</p>
		<label> What is your username going to be? </label> <input
			class="span2" id="appendedInputButton" size="16" type="text" />
		<hr />
		<button type="submit" class="btn btn-primary">New User</button>
		<a class="btn btn-primary" href="auth/twitter"><i class="i"></i>
			Sign in with Twitter</a> <a class="btn btn-primary" href="auth/facebook"><i
			class="i"></i> Sign in with Facebook</a>

		<div class="hidden">
			<label>Password</label> <input class="span2" type="password"
				id="appendedInputButton" size="16" type="text" /> <label>Confirm
				Password</label> <input class="span2" type="password"
				id="appendedInputButton" size="16" type="text" />
		</div>

	</form>


</div>
<div class="modal-footer">
	<a href="#corpus" class="btn btn-success sync_sapir_data"
		data-dismiss="modal">Close and login as Ed Sapir</a>
</div>