<div class="modal-header">
	<h1 class = "locale_User_Settings"></h1>
</div>
<div class="modal-body">
	<h5 class = "locale_Skin"> </h5>
	<span class="user-pref-skin-filename">{{skin}}</span>
	<div class="control-group">
		<button class="preference btn change-skin locale_Change_Background"></button>
		<button class="preference btn randomize-backgound locale_Background_on_Random">	</button>
		<button class="preference btn transparent-dashboard locale_Transparent_Dashboard">		</button>
	</div>
	<h5 class ="locale_Number_Datum"></h5>
	<select class="num_datum_dropdown">
		<option value="1">1</option>
		<option value="2">2</option>
		<option value="3" selected>3</option>
		<option value="4">4</option>
		<option value="5">5</option>
	</select>
</div>
<div class="modal-footer">
	<a href="#" class="btn locale_Close" data-dismiss="modal"></a>
</div>

