<div class="modal-header">
  <h1>User Settings</h1>
</div>
<div class="modal-body">
  <p>
    <div class= "preference btn" id= "skin">Change Background</div>
  </p>
</div>
<div class="modal-footer">
  <a href="#" class="btn" data-dismiss="modal">Close</a>
</div>

