<div class="user">
    <span class="subtitle">{{subtitle}}</span><br/>
    <a href = "#user/{{username}}"><img src="{{gravatar}}" border="0"></a> <br/>
    <br/>
    <span class="username">{{username}}</span> 
</div>

