<div class="modal-header">
<i class="icons icon-book pull-right"></i>
  <h1>User Profile</h1>
</div>
<div class="modal-body">
  <p>
    <dl>
      <dt>Email</dt>
      <dd>
        <input class="email" type="email" value="{{email}}"/>
      </dd>
      <dt>Research Interest</dt>
      <dd>
        <textarea class="researchInterest">{{researchInterest}}</textarea>
      </dd>
      <dt>Affiliation</dt>
      <dd>
        <textarea class="affiliation">{{affiliation}}</textarea>
      </dd>
      <dt>Description</dt>
      <dd>
        <textarea class="description">{{description}}</textarea>
      </dd>
      <dt>Corpora</dt>
      <dd>
        <ul class="corpora"></ul>
      </dd>
    </dl>
  </p>
</div>

 <button class="btn btn-success pull-right save-user-profile" value="Save">Save</button>


<!-- <div class="modal-footer">
  <a href="#" class="btn" data-dismiss="modal">Done</a>
</div> -->