<h1 class = "User_Profile"></h1>
<dl>
  <dt><span class = "Email"></span>
  </dt>
  <dd>
    <span class="email">{{email}}</span>
  </dd>
  <dt><span class = "Research_Interest"></span>
  </dt>
  <dd>
    <span class="researchInterest">{{researchInterest}}</span>
  </dd>
  <dt><span class = "Affiliation"></span>
  </dt>
  <dd>
    <span class="affiliation">{{affiliation}}</span>
  </dd>
  <dt><span class = "Description"></span>
  </dt>
  <dd>
    <span class="description">{{description}}</span>
  </dd>
  <dt><span class = "Corpora"></span>
  </dt>
  <dd>
    <ul class="corpora"></ul>
  </dd>


