













<!-- 
<a class="btndropdown-toggle" data-toggle="dropdown" href="#"> 
  <img class="grav" src="{{gravatar}}" />
</a>
<ul class="dropdown-menu">
  <li><a href="#">Profile</a></li>
</ul> -->
  
  
    <!--   <div class="username">{{username}}</div>-->




