<div class="user">
    <span class="subtitle">{{subtitle}}</span><br/>
    
    <img class = "grav" src="{{gravatar}}" border="0">
    
    <br/>
    <span class="username">{{username}}</span> 
</div>

