<!DOCTYPE html>
<html {{{ metaHeader.htmlAttributes }}}>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    {{{ metaHeader.title }}}
    {{{ metaHeader.meta }}}
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="/corpus-pages/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/corpus-pages/css/jquery.jsonview.css">
    <link rel="stylesheet" type="text/css" href="/corpus-pages/bootstrap/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" type="text/css" href="/corpus-pages/search.css">
    <link rel="stylesheet" href="{{{ styleSrc }}}" type="text/css" media="screen" charset="utf-8">
    <!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><script>window.html5 || document.write('<script src="corpus-pages/libs/html5shiv.js"><\\/script>')</script><![endif]-->
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a data-toggle="collapse" data-target=".nav-collapse" class="btn btn-navbar"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></a><a href="http://lingsync.org" class="brand">LingSync Public URLS : places to share your data</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="http://emeld.org/school/what.html">EMELD Data Discoverability Best Practices  </a></li>
              <li><a href="http://app.lingsync.org" class="btn btn-primary">Open LingSync App</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div id="root" class="container-fluid" >
      {{{ html }}}
    </div>
    <script src="/components/fielddb/fielddb.js"></script>
    <script>
      window.fieldDBApp = new FieldDB.App({{{ app }}});
      window.fieldDBApp.authentication = {
        user: new FieldDB.User({
          authenticated: false
        })
      };
      window.fieldDBApp.contextualizer = new FieldDB.Contextualizer().loadDefaults();
        // online: "{{ app.online }}",
        // offlineCouchURL: "{{ app.offlineCouchURL }}",
        // brand: "{{ app.brand }}",
        // brandLowerCase: "{{ app.brandLowerCase }}",
        // website: "{{ app.website }}",
        // faq: "{{ app.faq }}",
        // basePathname: window.location.origin + "/#", //might be necessary for apache
        // basePathname: "/",
      // });
    </script>
    <script async="" src="//www.google-analytics.com/analytics.js"></script>
    <script src="/corpus-pages/js/jquery.js"></script>
    <script src="/corpus-pages/bootstrap/js/bootstrap.min.js"></script>
    <script src="/corpus-pages/js/jquery.jsonview.js"></script>
    <script src="/corpus-pages/libs/analytics.js"></script>

    <script type="text/javascript" charset="utf-8">
      window.__REDUX_STATE__ = '{{{ reduxState }}}';
    </script>

    {{#each scriptSrcs }}
    <script src="{{ this }}"></script>
    {{/each }}

  </body>
</html>
