body {
  margin: 0;
  min-width: 357px;
  height: 100%;
  overflow: auto !important;
  height: 100%;
  margin-bottom: 2em;
  margin-top: 2.5em;
  /* background-color: #f5f5f5; */
  background-color: transparent;
  color: #333;
  font-size: .8em;
  font-family: 'Arial', sans-serif;
}

@font-face {
  font-family: 'Gentium Basic';
  font-style: normal;
  font-weight: 400;
  src: local('Gentium Basic'),
    url(https://themes.googleusercontent.com/static/fonts/gentiumbasic/v4/KCktj43blvLkhOTolFn-MU3vq9dAc3DuCNWjMJNKvGE.woff)
    format('woff');
}

a {
  color: #0088cc;
  text-decoration: none !important;
}

a:hover {
  color: #005580;
}

.gravatar-small {
  height: 2em;
}

.team_activity_feed_widget {
  width: 100%;
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  margin-left: -2em;
}

.activity_feed_widget_header {
  background-color: #f5f5f5;
  /* background-color: rgba(0, 0, 0 , 0.4); */
  color: #fff;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999999;
  height: 2.25em !important;
  top: 0;
}

.team_name {
  font-size: 1.25em;
  font-family: 'Gentium Basic', sans-serif;
  vertical-align: top;
  line-height: 2em;
  text-align: center;
  width: 100%;
  margin-left: 1em;
}

.brand {
  float: right;
}

.activity_feed_widget_footer a:link {
  color: #999;
  vertical-align: middle;
  line-height: 2em;
}

.activity_feed_widget_footer {
  background-color: #f5f5f5;
  /* background-color: rgba(0, 0, 0 , 0.4); */
  color: #fff;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 999999;
}

/* .zebra ul li {
  background-color: #eeeeee;
} */
.zebra ul li:nth-child(odd) {
  background-color: #eee;
  /*  background-color: rgba(0, 0, 0 , 0.4); */
}

li:hover {
  background-color: #fff !important;
  /* background-color: #000 !important; */
}