<li class="not-a">
  <div>
  <img class="gravatar-large" src="{{gravatar}}"/><br/>
   {{username}}
  </div>
  <div id="login_form">
    <div class=" alert alert-error hide "></div>
	  <label class = "locale_Username"></label> 
	  <input type="text" id="username" name="username" value="lingllama" /> 
		<label class = "locale_Password "></label>
		<input type="password" id="password" size="100px" name="password"
		value="phoneme" />
		<input type="text" id="authUrl" size="100px" name="authUrl"
    value="" />
	</div>
</li>
<li class="not-a">
  <button id="logout" class="btn btn-inverse logout locale_Log_Out"></button>
  <button id="login" class="btn btn-inverse login locale_Log_In"></button>
</li>
<li class="divider"></li>

<li><a data-toggle="modal" href="#user-modal"><i class=" icon-user"></i> <span class = "locale_Private_Profile"></span> </a></li>
<li><a data-toggle="modal" href="#user-preferences-modal"><i class=" icon-cog"></i> <span class = "locale_User_Settings"></span> </a></li>
<li><a data-toggle="modal" href="#hotkey-settings-modal"><i class=" icon-hdd"></i> <span class = "locale_Keyboard_Shortcuts"></span></a></li>
<li><a class="corpus-settings"><i class=" icon-cogs"></i> <span class = "locale_Corpus_Settings"></span></a></li>
<li class="divider"></li>
<li class="power-users-link"><a data-toggle="modal" href="#terminal-modal"><i class=" icon-magic"></i> <span class = "locale_Terminal_Power_Users"></span> </a></li>
<li><a href="http://fieldlinguist.com" target="_blank"><i class=" icon-film"></i> Help Videos and User Guide</a></li>
<li><a href="https://docs.google.com/spreadsheet/viewform?formkey=dGFyREp4WmhBRURYNzFkcWZMTnpkV2c6MQ" target="_blank"><i class=" icon-beaker"></i> Bug Report/Contact Us</a></li>
<li><a href="https://github.com/OpenSourceFieldlinguistics/FieldDB/issues/milestones?state=closed" target="_blank"><i class=" icon-github"></i> FieldDB v<span class="fielddb-version"></span></a></li>