<div class="datum_status">
    <input id="active" name="active" type="hidden" value="{{active}}" />
    <select class="datum_status_select">
      {{#each statuses}}
          <option {{bindAttr value="id" selected="selected"}}>{{label}}</option>
      {{/each}}
    </select>
</div>

