<div class="row">
	<div class="span6 offset1">
		<div class="bulletSectionHeader">
			<h3>Projects</h3>
		</div>
		<div class="bulletSection">
			<ul>
				<li><a href="http://migmaq.org/">Mi’gmaq Language
						Revitalization Partnership</a> has been implementing LingSync to store
					and share their data since fall 2012.</li>
				<hr>
				<li>A field linguistics course at the University of Ottawa has
					been using LingSync to store and share their data.</li>
			</ul>
		</div>
	</div>
</div>
