<div class="row">
	<div class="span6 offset1">
		<div class="bulletSectionHeader">
			<h3>Video Tutorial</h3>
		</div>
		<div class="bulletSection">
			<ul>
				<li><a
					href="http://www.youtube.com/embed/videoseries?list=PLUrH6CNxFDrMtraL8hTLbLsQwdw1117FT">Watch
						on YouTube</a></li>
			</ul>
		</div>
		<div class="bulletSectionHeader">
			<h3>Slides</h3>
		</div>
		<div class="bulletSection">
			<ul>
				<li><a
					href="https://docs.google.com/presentation/d/1Y-ES1WRCbca03wVYWE2LDycxAht-7zihStutx_ywlqg/edit#slide=id.g4ec723ed_0_18">Getting
						Set Up</a></li>
				<li><a
					href="https://docs.google.com/presentation/d/1TB5K66u6B_UYB7oodqplxS4a58-xDYbK8Rui0hDujUM/edit#slide=id.g4ec723ed_0_18">Entering
						Data</a></li>
			</ul>
		</div>
	</div>
</div>

