<div class="data_list_title">

    <label>Title:</label>
	<textarea>{{dataListTitle}}</textarea> <br>
	
	<label>Date:</label>
	<textarea>{{dateCreated}}</textarea> <br>
	
	<label>Description:</label>
	<textarea>{{description}}</textarea> <br> 

</div>  
