.well{
	color: #fff;
	background-color:rgba(0,0,0,0.4);
	border: 0;
}
.breadcrumb{
  color: #fff;
  background-color:rgba(0,0,0,0.4);
  background-image: none;
}
a {
  color: #3bf;
}
.table-striped tbody tr:nth-child(odd) td,
.table-striped tbody tr:nth-child(odd) th {
  background-color:rgba(0,0,0,0.4);
}

.table tbody tr:hover td,
.table tbody tr:hover th {
  background-color:rgba(0,0,0,0.4);
}