<h4>
	<i class="icon-group"></i> {{role}}s
</h4>
<ul class="inline">
	{{#each users}}
	<li class="pagination-centered well">{{username}}<br/><a href="http://lingsync.org/{{username}}"><img  src="https://secure.gravatar.com/avatar/{{gravatar}}?d=identicon" /></a>
		</li> {{/each}}
</ul>
