<div>
<!-- This div puts the buttons in the left corner -->
<div class="btn-group btn-toolbar corpusMenu">
  <!-- This div is necessary so that the menu appears below the buttons -->
  <div class="btn-group">
    <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
      New <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li class="new-datum-edit"><a href="#">New Datum</a></li>
      <li class="new-data-list"><a href="#">New Data List</a></li>
      <li class="new-session"><a href="#">New Session</a></li>
      <li class="new-corpus"><a href="#">New Corpus</a></li>
    </ul>
  </div>
  <!-- This div is necessary so that the menu appears below the buttons -->
  <div class="btn-group">
    <button class="btn btn-info dropdown-toggle" data-toggle="dropdown">
      Data <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="#import">Import Data</a></li>
      <li><a href="#corpus/{{titleAsUrl}}/export">Export Data</a></li>
    </ul>
  </div>
</div>

<div class="pull-right">
	<i class="icons icon-book"></i>
	
	<i class="icons icon-resize-full"></i>
</div>

</div>



	<div class="corpus-description">
	 <label>Title:</label>
    <textarea class="corpus-title-input save-corpus-blur">{{title}}</textarea>
		<label>Description:</label>
		<textarea class="corpus-description-input save-corpus-blur">{{description}}</textarea>
	</div>
	





