<div class="pull-right">
    <i class="icons icon-book"></i>
<!--     <i class="icons icon-resize-full resize-full"></i>
 -->        <i class="icons icon-resize-small"></i>
    
</div>
<div class="btn-toolbar ">
	<!-- /btn-group -->
	<div class="btn-group">
		<button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
		<span class ="New_menu"></span>	 <span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
			<li class="new-datum-edit"><a href="#"><span class = "New_Datum"></span></a></li>
			<li class="new-data-list"><a href="#"><span class = "New_Data_List"></span></a></li>
			<li class="new-session"><a href="#"><span class = "New_Session"></span></a></li>
			<li class="new-corpus"><a href="#"><span class = "New_Corpus"></span></a></li>
		</ul>
	</div>
	<!-- /btn-group -->
	<div class="btn-group">
		<button class="btn btn-info dropdown-toggle" data-toggle="dropdown">
			<span class ="Data_menu"></span> <span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
			<li><a href="#import"><span class = "Import_Data"></span></a></li>
			<li><a href="#corpus/{{titleAsUrl}}/export"><span class = "Export_Data"></span></a></li>
		</ul>
	</div>
	<!-- /btn-group -->

  <!-- Toggle to readonly -->
  <div class="btn-group">
    <button class="btn btn-success save-corpus">
     <span class="Save"></span></button>
  </div>
</div>


<label class = "Title"></label>
<input class="corpus-title-input" value="{{title}}" type="text"/>
<label class = "Description"></label>
<textarea class="corpus-description-input">{{description}}</textarea>

<div class="accordion" id="accordion-edit-embedded">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse"
        data-parent="#accordion-edit-embedded" href="#collapseSessionsEE">
        <h4 class="Sessions_associated"></h4>
         </a>
    </div>
    <div class="accordion-body collapse" id="collapseSessionsEE">
      <div class="accordion-inner">
        <ul class = "sessions-updating-collection unstyled">
                <!-- Updating Sessions Collection -->
        </ul>
      </div>
    </div>
  </div>
  
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse"
        data-parent="#accordion-edit-embedded" href="#collapseDatalistsEE">
          <h4 class="Datalists_associated"></h4>
      </a>
    </div>
    <div class="accordion-body collapse" id="collapseDatalistsEE" >
      <div class="accordion-inner">
         <ul class = "datalists-updating-collection unstyled">
                <!-- Updating DataLists Collection -->
        </ul>
      </div>
    </div>
  </div>
  
  <div class="accordion-group">
    <div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse"
				data-parent="accordion-edit-embedded" href="#collapsePermissionsEE">
				<h4 class="Permissions_associated"></h4>
			</a>
		</div>
    <div class="accordion-body collapse" id="collapsePermissionsEE">
      <div class="accordion-inner">
        <ul class = "permissions-updating-collection unstyled">
                      <!-- Updating Permissions Collection -->
        </ul>
      </div>
    </div>
  </div>

  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse"
        data-parent="#accordion-edit-embedded" href="#collapseDatumFieldSettingsEE">
           <h4 class="Datum_field_settings"></h4>
        </a>
    </div>
    <div class="accordion-body collapse" id="collapseDatumFieldSettingsEE">
      <div class="accordion-inner">
        <ul class="datum_field_settings unstyled"></ul>
        <div class="breadcrumb">
         
        <!-- <select class="choose_add_field">
            <option value="judgement">Gramaticality/Acceptability Judgement</option>
            <option value="utterence">Orthography/Utterance</option>
            <option value="morphemes">Morphemes</option>
            <option value="gloss">Gloss</option>
            <option value="translation">Translation</option>
            <option value="transcription">IPA Transcription</option>
            <option value="context">Context</option>
            <option value="semantic_denotation">Semantic Denotation</option>
            <option value="Create New">Create New</option>
        </select> -->
        <span class="pull-right">
      <span class = "Encrypt_if_confidential"></span> <input type="checkbox" class="add_encrypted"{{encrypted}}></input>
      </span>
       <input type="text" class="span3 choose_add_field" data-provide="typeahead" data-items="4" 
        data-source="[&quot;Phonemic Transcription&quot;,&quot;Phonetic Transcription&quot;,&quot;Semantic Denotation&quot;,&quot;Semantic Context&quot;,&quot;Spanish&quot;,&quot;Notes&quot;]">
        
            <label class = "Help_Text"></label>
              <textarea
              placeholder="Put a help text here (optional) Example from DataOne: Format conventions: use uppercase ,Codes for missing values: unknown"
              class="add_help">
              </textarea>
          <button class="btn btn-primary add_datum_field" value="Add"><span class = "Add"></span></button>
        </div>
      </div>
    </div>
  </div>
  
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse"
        data-parent="#accordion-edit-embedded" href="#collapseDatumStateSettingsEE">
        <h4 class="Datum_state_settings"></h4>
      </a>
    </div>
    <div class="accordion-body collapse" id="collapseDatumStateSettingsEE">
        <ul class="datum_state_settings unstyled"></ul>
        <input class="add_input" value="" placeholder="Add..." type="text"></input>
        <select class="add_color_chooser">
          <option value="success" class = "Green"></option>
          <option value="warning" class = "Orange"></option>
          <option value="important" class = "Red"></option>
          <option value="primary" class = "Blue"></option>
          <option value="info" class = "Teal"></option>
          <option value="inverse" class = "Black"></option>
          <option value="" class = "Default"></option>
        </select>
        <button class="btn btn-primary add_datum_state" value="Add"><span class = "Add"></span></button>
    </div>
  </div>      
</div>

<ul class="comments unstyled"></ul>

<div class="alert alert-info">
  <i class="icons icon-comment"></i>
  <div class= "pull-right">  </div>
  <textarea class="comment-new-text"></textarea>
</div>

<button class="btn btn-primary add-comment-edit" value="Add"><span class = "Add"></span></button>
