<div class="fullscreen pull-right"><a href="#fullscreen"><i class="icons icon-fullscreen"></i></a></div>
<div class="corpusMenu">

	<div class="btn-group">
		<button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
			New <span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
			<li><a class="new_datum" href="#corpus/Yale/datum/new">New
					Datum</a></li>
			<li><a class="new_data_list" href="#corpus/Yale/datalist">New
					Data List</a></li>
			<li><a class="new_session" href="#corpus/Yale/session/12">New
					Session</a></li>
			<li><a class="new_corpus" href="#corpus/">New Corpus</a></li>
		</ul>
	</div>

	<!-- <div class="btn-group">
	<div class="btn-group">
	<button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
		New <span class="caret"></span>
	</button>
	<ul class="dropdown-menu">

		<li><a class="new_datum"	href="#corpus/Yale/datum/new">New
				Datum</a></li>
		<li><a class="new_data_list" href="#corpus/Yale/datalist">New
				Data List</a></li>
		<li><a class="new_session" href="#corpus/Yale/session/new">New
				Session</a></li>
		<li><a class="new_corpus" href="#corpus/">New
				Corpus</a></li>
	</ul>
</div> -->


	<div class="btn-group">
		<button class="btn btn-info dropdown-toggle" data-toggle="dropdown">
			Data <span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
			<li><a class="new_session" href="#import">Import</a></li>
			<li><a class="new_session" href="#corpus/Yale/export">Export</a></li>
		</ul>
	</div>
</div>

<div id="corpusName">
	<h3>{{name}}</h3>
</div>
<div id="session"></div>
<!-- <div id="status" style="color: #ffcc00"></div>
 -->

