<div class="modal-header">
  <h1> <span class = "locale_New_Corpus"></span> <small>{{corpusname}}</small></h1>
  <p><span class = "locale_New_Corpus_Instructions"></span></p>
  <p class="alert alert-danger"><strong><span class="locale_Warning"></span></strong> 
  <span class = "locale_New_Corpus_Warning"></span>
</div>
<div class="modal-body">
  
	<label class = "locale_Title"></label>
	<textarea class="corpus-title-input">{{title}}</textarea>
	<label class = "locale_Description">Description:</label>
	<textarea class="corpus-description-input">{{description}}</textarea>
  
</div>
<div class="modal-footer">
  <a href="#" class="btn" data-dismiss="modal"><span class = "locale_Cancel"></span></a>
   <button class="btn btn-success pull-right save-corpus" disabled="true" value="Save"><span class = "locale_Save"></span></button>  
</div>
