<div class="pull-right">
    <i class="icons icon-edit"></i>
   <i class="icons icon-resize-small"></i>
  </div>

<div class="btn-toolbar ">
  <!-- /btn-group -->
  <div class="btn-group">
    <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
    <span class ="New_menu"></span>  <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li class="new-datum-edit"><a href="#"><span class = "New_Datum"></span></a></li>
      <li class="new-data-list"><a href="#"><span class = "New_Data_List"></span></a></li>
      <li class="new-session"><a href="#"><span class = "New_Session"></span></a></li>
      <li class="new-corpus"><a href="#"><span class = "New_Corpus"></span></a></li>
    </ul>
  </div>
  <!-- /btn-group -->
  <div class="btn-group">
    <button class="btn btn-info dropdown-toggle" data-toggle="dropdown">
      <span class ="Data_menu"></span> <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="#import"><span class = "Import_Data"></span></a></li>
      <li><a href="#corpus/{{titleAsUrl}}/export"><span class = "Export_Data"></span></a></li>
    </ul>
  </div>
  <!-- /btn-group -->
</div>

<h2>{{title}}</h2>

<div class="description">{{description}}</div>

<div class="corpus-precedence-rules-visualization" id="corpus-precedence-rules-visualization-fullscreen"></div>

<div class="accordion" id="accordion-read-fullscreen">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse"
        data-parent="#accordion-read-fullscreen" href="#collapseSessionsRF">
        <h4 class="Sessions_associated"></h4>
         </a>
    </div>
    <div id="collapseSessionsRF" class="accordion-body collapse">
      <div class="accordion-inner">
        <ul class = "sessions-updating-collection unstyled">
        <!-- Updating Sessions Collection -->
        </ul>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse"
        data-parent="#accordion-read-fullscreen" href="#collapseDatalistsRF">
          <h4 class="Datalists_associated"></h4>
        </a>
    </div>
    <div id="collapseDatalistsRF" class="accordion-body collapse">
      <div class="accordion-inner">
        <ul class = "datalists-updating-collection unstyled">
                <!-- Updating DataLists Collection -->
        </ul>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse"
        data-parent="#accordion-read-fullscreen" href="#collapsePermissionsRF">
        <h4 class="Permissions_associated"></h4>
        </a>
    </div>
    <div id="collapsePermissionsRF" class="accordion-body collapse">
      <div class="accordion-inner">
        <ul class = "permissions-updating-collection unstyled">
             <!-- Updating Permissions Collection -->
        </ul>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse"
        data-parent="#accordion-read-fullscreen" href="#collapseDatumFieldSettingsRF">
           <h4 class="Datum_field_settings"></h4>
        </a>
    </div>
    <div id="collapseDatumFieldSettingsRF" class="accordion-body collapse">
      <div class="accordion-inner">
        <ul class="datum_field_settings unstyled"></ul>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse"
        data-parent="#accordion-read-fullscreen" href="#collapseDatumStateSettingsRF">
        <h4 class="Datum_state_settings"></h4>
        </a>
    </div>
    <div id="collapseDatumStateSettingsRF" class="accordion-body collapse">
      <div class="accordion-inner">
        <ul class="datum_state_settings unstyled"></ul>
      </div>
    </div>
  </div>
</div> 

<ul class="comments unstyled"></ul>

<div class="alert alert-info">
  <i class="icons icon-comment"></i>
  <div class= "pull-right">  </div>
  <textarea class="comment-new-text"></textarea>
</div>

<button class="btn btn-primary add-comment-edit" value="Add"><span class = "Add"></span></button>

