<div>
<!-- This div puts the buttons in the left corner -->
<div class="btn-group btn-toolbar corpusMenu">
  <!-- This div is necessary so that the menu appears below the buttons -->
  <div class="btn-group">
    <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
    <span class ="New_menu"></span>  <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li class="new-datum-edit"><a href="#"><span class = "New_Datum"></span></a></li>
      <li class="new-data-list"><a href="#"><span class = "New_Data_List"></span></a></li>
      <li class="new-session"><a href="#"><span class = "New_Session"></span></a></li>
      <li class="new-corpus"><a href="#"><span class = "New_Corpus"></span></a></li>
    </ul>
  </div>
  <!-- /btn-group -->
  <div class="btn-group">
    <button class="btn btn-info dropdown-toggle" data-toggle="dropdown">
      <span class ="Data_menu"></span> <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="#import"><span class = "Import_Data"></span></a></li>
      <li><a href="#corpus/{{titleAsUrl}}/export"><span class = "Export_Data"></span></a></li>
    </ul>
  </div>
  <!-- /btn-group -->
</div>

<div class="pull-right">

  <a href="#" class= "loc_Show_Readonly" rel="tooltip">
    <i class="icons icon-book"></i></a>
 <a href="#" class = "loc_Show_corpus_settings" rel="tooltip">
      <i class="icons icon-cogs resize-full"></i></a>
</div>
</div>
	<div class="corpus-description">
	 <label class = "Title_Summary_Edit"></label>
    <textarea class="corpus-title-input save-corpus-blur">{{title}}</textarea>
		<label class = "Description_Summary_Edit">Description:</label>
		<textarea class="corpus-description-input save-corpus-blur">{{description}}</textarea>
	</div>
	





