<div class="corpusMenu">
	<ul>
	<div class="btn-group">
	<button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
		New <span class="caret"></span>
	</button>
	<ul class="dropdown-menu">
		<li><a class="new_datum"
			href="#corpus/Yale/datum/new">New
				Datum</a></li>
		<li><a class="new_session" href="#corpus/Yale/session/12">New
				Data List</a></li>
		<li><a class="new_session" href="#corpus/Yale/session/12">New
				Session</a></li>
		<li><a class="new_session" href="#corpus/Yale/session/12">New
				Corpus</a></li>
	</ul>
</div>

<div class="btn-group">
 	<button class="btn btn-success dropdown-toggle" data-toggle="dropdown">
		View <span class="caret"></span>
	</button>
	<ul class="dropdown-menu">
		<li><a class="old_datum" href="#corpus/Yale/datum/574e79f1c0c02df02b116ac71a0008f0">Datum</a></li>
		<li><a class="new_session" href="#corpus/Yale/datalist/12">Data List</a></li>
		<li><a class="new_session" href="#corpus/Yale/datalist/12">Sessions</a></li>
		<li><a class="new_session" href="#corpus/Yale/datalist/12">Corpora</a></li>
	</ul>
	</div>

<div class="btn-group">
	<button class="btn btn-info dropdown-toggle" data-toggle="dropdown">
		Data <span class="caret"></span>
	</button>
	<ul class="dropdown-menu">
		<li><a class="new_session" href="#corpus/Yale/datalist/12">Import</a></li>
		<li><a class="new_session" href="#corpus/Yale/datalist/12">Export</a></li>
	</ul>
</div>

</div>


<div id ="corpusName"> <h4>{{name}}</h4></div>
   
   <div id="session"></div>
      <div id="status" style="color: #ffcc00"></div> 
  </div>         
 
 
 
</div>
     
     
     
</div>
