<div class="pull-right">
  <a href="#" class = "locale_Edit_corpus" rel="tooltip">
    <i class="icons icon-edit"></i></a>
  <a href="#" class = "locale_Show_Fullscreen" rel="tooltip">
    <i class="icons icon-resize-full resize-full"></i></a>
</div>

<div class="btn-toolbar ">
  <!-- /btn-group -->
  <div class="btn-group">
    <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
    <span class ="locale_New_menu"></span>  <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li class="new-datum"><a href="#"><span class = "locale_New_Datum"></span></a></li>
      <li class="new-data-list"><a href="#"><span class = "locale_New_Data_List"></span></a></li>
      <li class="new-session"><a href="#"><span class = "locale_New_Session"></span></a></li>
      <li class="new-corpus"><a href="#"><span class = "locale_New_Corpus"></span></a></li>
    </ul>
  </div>
  <!-- /btn-group -->
  <div class="btn-group">
    <button class="btn btn-info dropdown-toggle" data-toggle="dropdown">
      <span class ="locale_Data_menu"></span> <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="#import"><span class = "locale_Import_Data"></span></a></li>
      <li><a href="#corpus/{{titleAsUrl}}/export"><span class = "locale_Export_Data"></span></a></li>
    </ul>
  </div>
  <!-- /btn-group -->

</div>

<h2>{{title}} <small>{{publicCorpus}}</small></h2>
<div class="description">{{description}}</div>

<div class="accordion" id="accordion-read-embedded">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse"
        data-parent="#accordion-read-embedded" href="#collapseSessionsRE">
        <strong class="locale_Sessions_associated"></strong>
         </a>
    </div>
    <div id="collapseSessionsRE" class="accordion-body collapse">
      <div class="accordion-inner">
         <ul class = "sessions-updating-collection unstyled">
                <!-- Updating Sessions Collection -->
        </ul>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse"
        data-parent="#accordion-read-embedded" href="#collapseDatalistsRE">
          <strong class="locale_Datalists_associated"></strong>
        </a>
    </div>
    <div id="collapseDatalistsRE" class="accordion-body collapse">
      <div class="accordion-inner">
        <ul class = "datalists-updating-collection unstyled">
                <!-- Updating DataLists Collection -->
        </ul>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse"
        data-parent="#accordion-read-embedded" href="#collapsePermissionsRE">
        <strong class="locale_Permissions_associated"></strong>
        </a>
    </div>
    <div id="collapsePermissionsRE" class="accordion-body collapse">
      <div class="accordion-inner">
      <ul class = "permissions-updating-collection unstyled">
                      <!-- Updating Permissions Collection -->
        </ul>
      </div>
    </div>
  </div>
  
  <div class="accordion-group">
    <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse"
        data-parent="#accordion-read-embedded" href="#collapseDatumFieldSettingsRE">
           <strong class="locale_Datum_field_settings"></strong>
        </a>
    </div>
    <div id="collapseDatumFieldSettingsRE" class="accordion-body collapse">
      <div class="accordion-inner">
        <ul class="datum_field_settings unstyled"></ul>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse"
        data-parent="#accordion-read-embedded" href="#collapseDatumStateSettingsRE">
        <strong class="locale_Datum_state_settings"></strong>
        </a>
    </div>
    <div id="collapseDatumStateSettingsRE" class="accordion-body collapse">
      <div class="accordion-inner">
        <ul class="datum_state_settings unstyled"></ul>
      </div>
    </div>
  </div>
</div> 

<ul class="comments unstyled"></ul>

<div class="alert alert-info">
  <i class="icons icon-comment"></i>
  <div class= "pull-right">  </div>
  <textarea class="comment-new-text"></textarea>
</div>

<button class="btn btn-primary add-comment-edit" value="Add"><span class = "locale_Add"></span></button>


