
<div>
    <div id="caret">
    <ul class = "dropdown" id="menu">
         <li><a class = "btn btn-mini btn-inverse dropdown-toggle" data-toggle = "dropdown"> <span class ="caret white"></span></a>      
               
            <ul class = "dropdown" >
              <li>New
                <ul>
                  <li><a class="new_datum" href="#corpus/Yale/datum/08F056F3-22D1-4504-9696-B7C7D695DA05">New Datum</a></li>
                  <li><a class="new_session" href="#corpus/Yale/session/12">New Session</a></li>
                </ul>
              </li> 
              <li> View
                <ul>
                  <li><a class="new_session" href="#corpus/Yale/datalist/12">Datum</a></li>
                  <li><a class="new_session" href="#corpus/Yale/datalist/12">Data List</a></li>            
                  <li><a class="new_session" href="#corpus/Yale/datalist/12">Sessions</a></li>
                  <li><a class="new_session" href="#corpus/Yale/datalist/12">Corpora</a></li>
                  
                  
                </ul>
              </li>
              <li> Data
                <ul>
                  <li><a class="new_session" href="#corpus/Yale/datalist/12">Import</a></li>
                  <li><a class="new_session" href="#corpus/Yale/datalist/12">Export</a></li>
                </ul>
              </li>
            </li>
          </ul> 
       </ul>  
      
   
   
   
   </div>   
       <div id ="corpusName"> <h3>{{name}}<h3></div>
   
   <div id="session"></div>
      <div id="status" style="color: #ffcc00"></div> 
  </div>         
 
 
 
</div>
     
     
     
</div>
