
<div>
    <div id="caret">
    <ul class = "dropdown">
         <li> <a class = "btn btn-mini btn-inverse dropdown-toggle" data-toggle = "dropdown"> <span class ="caret white"></span></a>      
               
            <ul class = "dropdown">
              <li>New
                <ul>
                  <li><a class="new_datum" href="#corpus/Yale/datum/4f3c285937f7dde33d8749ad35000767">New Datum</a></li>
                  <li><a class="new_session" href="#corpus/Yale/session/12">New Session</a></li>
                </ul>
              </li> 
              <li> View 
                <ul class = "dropdown">
                  <li><input type="button" class="btn-mini show_data_lists" value="Data Lists"/></li>
                  <li><input type="button" class="btn-mini show_corpus_details" value="Corpus"/></li>
                  <li><input type="button" class="btn-mini show_sessions" value="Sessions"/></li>
                  <li><input type="button" class="btn-mini show_permissions" value="Teams"/></li>
                  <li><input type="button" class="btn-mini show_corpora" value="Corpora"/></li>
                </ul>
              </li>
              <li> Data
                <ul class = "dropdown">
                  <li><input type="button" class="btn-mini import" value="Import"/> </li>
                  <li><input type="button" class="btn-mini export" value="Export"/> </li>
                </ul>
              </li>
             </li>
             </ul> 
       </ul>  
      
   
   
   
   </div>   
       Corpus: {{name}}
   
   <div id="session"></div>
      <div id="status" style="color: #ffcc00"></div>
     
  </div>         
 
 
 
</div>
     
     
     
</div>
