<div>
<!-- This div puts the buttons in the left corner -->
  <div class="btn-group btn-toolbar corpusMenu">
    <!-- This div is necessary so that the menu appears below the buttons -->
    <div class="btn-group">
      <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
        <span class ="locale_New_menu"></span>  <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li class="new-datum"><a href="#" class = "locale_New_Datum"></a></li>
        <li class="new-data-list"><a href="#" class = "locale_New_Data_List"></a></li>
        <li class="new-session"><a href="#" class = "locale_New_Session"></a></li>
        <li class="new-corpus"><a href="#" class = "locale_New_Corpus"></a></li>
      </ul>
    </div>
    <!-- /btn-group -->
    <div class="btn-group">
      <button class="btn btn-info dropdown-toggle" data-toggle="dropdown">
        <span class ="locale_Data_menu"></span> <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#import" class = "locale_Import_Data"></a></li>
        <li><a href="#corpus/{{titleAsUrl}}/export" class = "locale_Export_Data"></a></li>
      </ul>
    </div>
    <!-- /btn-group -->
  </div>
  
  <div class="pull-right">
    <a href="#" class= "locale_Show_Readonly" rel="tooltip">
      <i class="icons icon-book"></i></a>
    <a href="#" class = "locale_Show_corpus_settings" rel="tooltip">
      <i class="icons icon-cogs resize-full"></i></a>
  </div>
</div>
<div class="corpus-description">
	<label class="locale_Title"></label>
	<textarea class="corpus-title-input save-corpus-blur">{{title}}</textarea>
	<label class="locale_Description_Summary_Edit"></label>
	<textarea class="corpus-description-input save-corpus-blur">{{description}}</textarea>
	<input type="text" value="{{publicCorpus}}" class=" public-or-private"
		data-provide="typeahead" data-items="4"
		data-source="[&quot;Public&quot;,&quot;Private&quot;]" />
</div>






