<div><h1>New Corpus View</h1></div>
<button class="btn btn-primary save" >Save</button>
<label>Corpus Title:</label>
<input class="title"></input>

<label>Description:</label>
<input class="description"></input>
