<div id="sandbox">
	<div class="row">
		<div class="span12 pagination-centered">
			<h1>Developer Sandbox</h1>
			<br />
			Month to display (optional):<br />
			<select ng-model='month'>
				<option value="all" selected="selected">All</option>
				<option ng-repeat="availableMonth in availableMonths" value={{availableMonth}}>{{availableMonth}}</option>
			</select><br />
			<button class="btn btn-success" ng-click="makeGraph(month)">Generate Bar Graph</button>
			<br>
			<div id="bar-graph"></div>
		</div>
	</div>
</div>
