<html>
<head>
<link rel="stylesheet" type="text/css" href="./../css/menu.css">
<link rel="stylesheet" type="text/css" href="./../css/main.css">
<title>All Entries</title>
</head>
<body>
	<div id="navigation">
	 <script type="text/javascript" charset="utf-8" src="./../src/navigation.js"></script>
	</div>
<div id="albanian">

Vrapova jasht&euml; sht&euml;pis&euml;<br>
I ran out of the house<br>
<br>
Dola jasht&euml; sht&euml;pis&euml;<br>
I exited the house.<br>
<br>
*dola sht&euml;pis&euml;<br>
<br>
Foshnja eci k&euml;mbadorazi jasht&euml; sht&euml;pis&euml;	<br>
The baby w alked feetlandly out of the house<br>
<br>
Dola k&euml;mborazi jasht&euml; sht&euml;pis&euml;<br>
I exited feet handly house<br>
<br>
Dola vrapimthi jasht&euml; sht&euml;pise<br>
I exited runningly out of the house<br>
<br>
*dola vrapimthi sht&euml;pise<br>
<br>
hyra br&euml;nda sht&euml;pis&euml;<br>
I enterend into the house.(abl)<br>
<br>
Sht&euml;pia &euml;sht&euml; e madhe<br>
The house is big<br>
<br>
Hyra vrapinthi br&euml;nda sht&euml;pis&euml;<br>
I entered running into the house<br>
<br>
Hyra br&euml;nda sht&euml;pis&euml; s&euml; madhe<br>
I entered the big house.<br>
<br>
Gngjita shkall&euml;t <br>
I climbed the stairs.<br>
<br>
 U Ngjita n&euml; mal<br>
Non active climb in moutnain <br>
<br>
I u ngjita malit<br>
I climbed the moutain<br>
<br>
Zbrita shkall&euml;t<br>
I descended the stairs.<br>
<br>
Zbrita malit<br>
<br>
*u zbrita n&euml; mal<br>
i ngjithi vrapimthi shkall&euml;t<br>
I ran up the stairs<br>
Better with the i <br>
<br>
U ngita vrapimthi shkall&euml;ve<br>
<br>
Barova s&euml; ingituri malit<br>
Finished climbing the moutain<br>
<br>
Fillova s&euml; gjitori malit<br>
I started climbing the moutain<br>
<br>
Fillova t'i ngjitem malit<br>
(subjunctive, can't with finish)<br>
<br>
*mbarova t'i ngjit&euml;m malit<br>
<br>
t&euml; ngjiturit e malit &euml;sht&euml; i zbatsh&euml;m<br>
climbing the moutain is fun<br>
<br>
vrapova lart&euml; shkall&euml;ve<br>
i ran up the stairs<br>
<br>
vrapova p&euml;rposh shkall&euml;ve<br>
I ran downward the stairs<br>
<br>
I ngiti k&euml;mbadorazi shkall&euml;t<br>
Ascended crawlingly the stairs<br>
<br>
I zbriti k&euml;mbadorazi shkall&euml;t<br>
Crawled down the stairs<br>
<br>
U ngjit k&euml;mbadorzi shkall&euml;ve<br>
Dative form i guess<br>
<br>
Pluskova n&euml;n ur&euml;n<br>
Floated under the bridge<br>
<br>
Fluturova p&euml;rmbi qytetin<br>
I flew over the city<br>
<br>
Ngava makin&euml;n p&euml;rreth qytetit<br>
I drove around the city<br>
<br>
Eca p&euml;rreth qytetit<br>
Ec&euml;m p&euml;rreth qytetit<br>
<br>
Eca p&euml;rmes der&euml;s<br>
I walked through the door.<br>
<br>
Ec&euml;m p&euml;rgjat&euml; qutetit<br>
I walked across the city<br>
<br>
Vrapova p&euml;rgjat&euml; qytetit<br>
I ran across the city<br>
<br>
Shkova n&euml; dyqan<br>
I went to the store<br>
<br>
Shkova vrapinthi p&euml;rgjat&euml; qytetit<br>
<br>
Kap&euml;rceva qytetin <br>
I crossed the city<br>
<br>
Kap&euml;rceva vrapinthi qytetit<br>
<br>
*kap&euml;rceva p&euml;rgjat&euml; qytetit<br>
<br>
u kruspullova jasht&euml; der&euml;s<br>
u kruspollova n&euml;p&euml;r der&euml;<br>
I tumbled through the door<br>
<br>
Eca n&euml;p&euml;r qytet<br>
I walked around the city (around town)<br>
<br>
Ec&euml;m n&euml;p&euml;r t&euml; gjith&euml; qytetin<br>
I walked the city (the whole city)<br>
<br>
Secili djal&euml; ec&euml;n n&euml;p&euml;r nj&euml; qytet<br>
Each boy walks around a city<br>
<br>
Nj&euml; djale ec&euml;n n&euml;p&euml;r scilin qytet<br>
A boy walked around each city<br>
<br>
Qarkoj qytetin<br>
<br>
E qarkoy fluturmth qytetin<br>
I circle flyingly the city<br>
<br>
Fluturova p&euml;rreth qytetit<br>

<br>
Po q&euml;mtoj p&euml;r cel&euml;sat e bythes<br>
<br>
Po q&euml;mtoj p&euml;r nj&euml; lib&euml;r t&euml; byth&euml;s t&euml; cilin nuk e gjej<br>
<br>
With the context<br>
E pat&euml;n librin e bythes gjethnj&euml; gjat&euml; gjith&euml; koh&euml;s<br>
They had the book the whole time (all along)<br>
<br>

Besoj se ky djal&euml; po g&euml;njen<br>
I believe that this boy grog lie<br>
<br>
E besoj k&euml;t&euml; djal&euml; t&euml; g&euml;njeaj&euml;<br>
<br>
But it ends up meaning something like i count on him to lie<br>
<br>
E pret nj&euml; djal&euml; t&euml; shkoj&euml; n&euml; shkoll&euml;<br>
I expect a boy to go to school<br>
(doesnt have to be a specific boy)<br>
<br>
e quaj nj&euml; djal&euml; t&euml; zguar<br>
I consider a boy intelligent<br>
<br>
Lexova nj&euml; lib&euml;r un&euml;<br>
E lexova nj&euml; lib&euml;r un&euml;<br>
<br>
A i dhe nj&euml; lib&euml;r Dritanit?<br>
Jo i dhash&euml; nj&euml; lib&euml;r agimit<br>
<br>
Cilit i dhe nj&euml; lib&euml;r?<br>
I dhash&euml; nj&euml; lib&euml;r agimit<br>
<br>
Nuk kam bler&euml; ndonj&euml; lib&euml;r ende, por do t&euml; ble nj&euml; lib&euml;r nes&euml;r<br>
<br>
*(i) besoj atij t&euml; g&euml;ndjej&euml;<br>
*(e) quaj at&euml; t&euml; <br>
<br>
i lejova vajzat t&euml; g&euml;njen&euml;<br>
i let the girls lie<br>
le t&euml; ham&euml;<br>
lets eat<br>
<br>
<br>
foshnja po ha<br>
the baby is eating<br>
<br>
po e m&euml;koj foshnjen<br>
I am feeding hte baby<br>
<br>
Delja ngordhi<br>
The sheep died.<br>
<br>
E vrava delen<br>
I killed the sheep<br>
<br>
Makina ndaloi<br>
I ndalova  makinen<br>
E b&euml;ra makin&euml;n t&euml; ndaloj&euml;<br>
Vajza u p&euml;rskuq<br>
E p&euml;rskuqa vajz&euml;n<br>
<br>
E b&euml;ra t&euml; bjer&euml;<br>
<br>
Pema u rr&euml;zua<br>
The tree fell<br>
<br>
Rr&euml;zova pem&euml;n<br>
T&euml; rr&euml;zova<br>
<br>
I b&euml;ra vajzat t&euml; blejn&euml; nj&euml; makin&euml;<br>
M&euml; b&euml;n&euml; t&euml; blej nj&euml; makin&euml;<br>
Secila vajze m&euml; b&euml;ri t&euml; blej nj&euml; makin&euml;<br>
Each girl made me buy a car<br>
How many cars did i buy?<br>
<br>
Vajzat m&euml; b&euml;n&euml; t&euml; blej nga nj&euml; makin&euml;<br>
One car per girl (so i ahve like  5 cars)<br>
<br>
T&euml; i cant see the board<br>
<br>
Nj&euml; makin&euml; u ble<br>
A car was bought<br>
Nj&euml; makin&euml; u ble prej dritani<br>
A car was bought by dritan<br>
<br>
The book was given to dritan<br>
Libri iu dha dritanit<br>
<br>
Dritanit iu dha libri<br>
*dritanit iu dha librin<br>
<br>
dritanit iu dha libri prej marias<br>
<br>
maria po k&euml;rcente<br>
<br>
u k&euml;rcye<br>
there was dancing<br>
<br>
k&euml;rcehen<br>
(they are being danced)<br>
<br>
pema ra<br>
the tree fell<br>
<br>
*u ra<br>
nuke vijet me makin&euml;<br>
 nuk i bihet murit me kuk&euml;<br>
it is not advisable to hit your head agaisnt the wall when you ahve other things you can do...<br>
<br>
dritani dha qe pa dik&euml;<br>
k&euml; tha dritani qe pa?<br>
cfar&euml; tha dritani qe pa/?<br>
dritan said someone saw something.<br>
Dritani tha dikush pa dicka<br>
<br>
Kush tha dritani q&euml; pa dicka<br>
Kush tha dritani qe pa cfare<br>
<br>




	 
<!-- <iframe src="https://docs.google.com/spreadsheet/gform?key=0Ah7KsKvpIoTodENKQkVuejdsTlBjMmZqWVRpOWlWalE&gridId=0#chart" width="1030" height="937" frameborder="0" marginheight="0" marginwidth="0"></iframe>
 -->

</body>
</html>