<html>
<head>
<link rel="stylesheet" type="text/css" href="./../css/menu.css">
<link rel="stylesheet" type="text/css" href="./../css/main.css">
<title>LaTeX</title>
</head>
<body>
	<div id="navigation">
	 <script type="text/javascript" charset="utf-8" src="./../src/navigation.js"></script>
	</div>



	  <img src="./../images/latex.png">

<!-- <iframe src="https://docs.google.com/spreadsheet/gform?key=0Ah7KsKvpIoTodENKQkVuejdsTlBjMmZqWVRpOWlWalE&gridId=0#chart" width="1030" height="937" frameborder="0" marginheight="0" marginwidth="0"></iframe>
 -->

</body>
</html>