<html>
<head>
<link rel="stylesheet" type="text/css" href="./../css/main.css">
<title>Drag and Drop Field Linguistics</title>
</head>
<body>

<h1>Field Linguistic Tool for Offline and Online Elicitation and Data Entry in HTML5 </h1>

<div id="drop_zone">Drop Files Here!</div>


<output id="list"></output>

<style>
  .thumb {
    height: 75px;
    border: 1px solid #000;
    margin: 10px 5px 0 0;
  }
</style>


<output id="list"></output>

<script type="text/javascript" charset="utf-8" src="./../src/elicitation.js"></script>






<div id="dataentry_area"></div>

</body>
</html>
