<html>
<head>
<link rel="stylesheet" type="text/css" href="./../css/menu.css">
<link rel="stylesheet" type="text/css" href="./../css/main.css">

<title>Drag and Drop Field Linguistics</title>
</head>
<body>



<div id="navigation">
	<ul class="menu">
<h1>Drag and Drop Field Linguistics</h1>
<h2>Field Linguistic Tool for Offline and Online Elicitation and Data Entry in HTML5 </h2>
	<li><a href="#">New</a>
		<ul>
			<li><a href="./session.html" >Session</a></li>
			<li><a href="./entry.html" >Entry</a></li>
		</ul>
	</li>
	<li><a href="#">Views</a>

		<ul>
			<li><a href="#" >All Entries</a></li>
			<li><a href="#" >Session</a></li>
		</ul>

	</li>
	<li><a href="#">Search</a></li>
	<li><a href="#">Export</a>

		<ul>
			<li><a href="#" >CSV</a></li>
			<li><a href="#" >Wiki</a></li>
			<li><a href="#" >Latex</a></li>

		</ul>

	</li>
	<li><a href="#">Sync</a></li>

	</ul>

</div>
















</body>
</html>
