<html>
<head>
<link rel="stylesheet" type="text/css" href="./../css/main.css">
<title>Drag and Drop Field Linguistics</title>
</head>
<body>


<h1>Drag and Drop Field Linguistics</h1>
<h2>Field Linguistic Tool for Offline and Online Elicitation and Data Entry in HTML5 </h2>
<div id="container">
	<ul class="menu">

	<li><a href="#">New</a>
		<ul>
			<li><a href="#" class="documents">Session</a></li>
			<li><a href="#" class="messages">Entry</a></li>
		</ul>
	</li>
	<li><a href="#">Views</a>

		<ul>
			<li><a href="#" class="documents">All Entries</a></li>
			<li><a href="#" class="messages">Session</a></li>
		</ul>

	</li>
	<li><a href="#">Search</a></li>
	<li><a href="#">Export</a>

		<ul>
			<li><a href="#" class="documents">CSV</a></li>
			<li><a href="#" class="messages">Wiki</a></li>
			<li><a href="#" class="messages">Latex</a></li>

		</ul>

	</li>
	<li><a href="#">Synch</a></li>

</ul>












</div>

</body>
</html>
