<div class="preference">

          
            <div id="skin">
            
                           <a class = "btn-mini btn-inverse"> <i class="icon-user icon-white"></i> <span class ="caret white"></span></a>
            
            </div> 
            
 
</div>