<div class="preference">

    <ul class = "dropdown">
          <li> <a class = "btn-mini btn-inverse"> <i class="icon-user icon-white"></i> <span class ="caret white"></span></a>
            <ul class = "dropdown">
              <li id= "skin"> Change Background   </li>
              <li>User Preferences</li>
              <li>User Profile</li>
              <li>Datum Preferences</li>
            
     </ul>
          
          
          
          
          
          
          
          
           
</div>