


<div class="row-fluid">
	<div class="span4 keyword mywell">
		<label>Original French Keyword</label>
		 <input class="input-medium"></input>
	</div>
	<div class="span4 mywell mediate document_source">
	<br>
		<label>Document Source</label>
		 <input class="input-large"></input>
	</div>

	<form class="span4 form-horizontal well pull-right">
		<div class="control-group mywell">
			<label class="control-label mywell">Page</label>
			<div class="controls">
				<input class="input-my">
			</div>
		</div>
		<div class="control-group mywell">
			<label class="control-label mywell">Line</label>
			<div class="controls">
				<input class="input-my">
			</div>
		</div>
		<div class="control-group mywell">
			<label class="control-label mywell">Line Segment</label>
			<div class="controls">
				<input class="input-my">
			</div>
		</div>
	</form>
</div>
<div class="row-fluid">
	<div class="scrollable">
		<img src="images/test.jpg" class="width100">
	</div>
	


	<div class="span12">
	
		<div class="span6">
			<!-- First column -->
			<!-- <div class="well">{{original_french}}</div>-->
			<div class="well">
				<div class="row-fluid">
					<label class="span3">Original French</label>
					<div class="btn-group pull-right">
						<button
							class="btn btn-small btn-success show_original_details">show</button>
						<button
							class="btn btn-small btn-success hide_original_details">hide</button>
					</div>
				</div>
				<div class="original_french_details" hidden="hidden">
					<ul class="unstyled">
						<li class="datum_field modernFrench">
						<label class="datum_field_label">modern French spelling</label> <textarea
								class="datum_field_input"> </textarea></li>
						<li class="datum_field EnglishTranslation"><label
							class="datum_field_label">English translation</label> <textarea
								class="datum_field_input"> </textarea></li>
					</ul>
				</div>

				</div>
			<div class="well">
				<div class="row-fluid">
					<label class="span3">Cognates</label>
					<div class="btn-group pull-right">
						<button
							class="btn btn-small btn-success show_cognates_details">show</button>
						<button
							class="btn btn-small btn-success hide_cognates_details">hide</button>
					</div>
				</div>
				<div class="cognates_details" hidden="hidden">
				<div class="row-fluid">
					<div class="well span12">
						<input class="span4 input-mini" placeholder="form"></input>
						<input class="span4 input-mini" placeholder="gloss"></input>
						<input class="span4 offset1 input-mini" placeholder="source"></input>
					</div>
				</div>	
				<div class="row-fluid">
					<div class="well span12">
						<input class="span4 input-mini" placeholder="form"></input>
						<input class="span4 input-mini" placeholder="gloss"></input>
						<input class="span4 input-mini" placeholder="source"></input>
					</div>
				</div>	
				</div>
		</div>
		
		<div class="well">
				<div class="row-fluid">
					<label class="span6">Related Miami-Illinois Forms</label>
					<div class="btn-group pull-right">
						<button
							class="btn btn-small btn-success show_related_miami_details">show</button>
						<button
							class="btn btn-small btn-success hide_related_miami_details">hide</button>
					</div>
				</div>
				<div class="related_miami_details" hidden="hidden">
				<div class="row-fluid">
					<div class="well span12">
						<input class="span5 input-mini" placeholder="original form"></input>
						<input class="span5 input-mini" placeholder="phonemic form"></input>
						
					</div>
				</div>	
				<div class="row-fluid">
					<div class="well span12">
				
						<input class="span5 input-mini" placeholder="gloss"></input>
						<input class="span5 input-mini" placeholder="page"></input>
					</div>
				</div>	
				</div>
		
		
	</div>
    </div>
    
        <div class="span6">
        
			<!-- Second column -->
	       <div class="well">
				<div class="row-fluid">
					<label class="span3">Original Miami-Illinois</label>
					<div class="btn-group pull-right">
						<button
							class="btn btn-small btn-success show_miami_details">show</button>
						<button
							class="btn btn-small btn-success hide_miami_details">hide</button>
					</div>
				</div>
				<div class="miami_details" hidden="hidden">
					<ul class="unstyled">
						<li class="datum_field modernFrench">
						<label class="datum_field_label">Modern Miami-Illinois spelling</label> <textarea
								class="datum_field_input"> </textarea></li>
						<li class="datum_field EnglishTranslation"><label
							class="datum_field_label">English translation</label> <textarea
								class="datum_field_input"> </textarea></li>
					</ul>
				</div>

				</div>

           <div class="well">
				<div class="row-fluid">
					<label class="span6">Modem Myaamia Speech Forms</label>
					<div class="btn-group pull-right">
						<button
							class="btn btn-small btn-success show_myaamia_details">show</button>
						<button
							class="btn btn-small btn-success hide_myaamia_details">hide</button>
					</div>
				</div>
				<div class="myaamia_details" hidden="hidden">
				<div class="row-fluid">
					<div class="well span12">
						<input class="span4 input-mini" placeholder="stem"></input>
						<input class="span4 input-mini" placeholder="gloss"></input>
						
					</div>
				</div>	
				<div class="row-fluid">
					<div class="well span12">
				
						<input class="span4 input-mini" placeholder="stem"></input>
						<input class="span4 input-mini" placeholder="gloss"></input>
					</div>
				</div>	
				</div>
		
		
	</div>
         
         <div class="well">
         <div class="row-fluid">
         
      <button class="btn btn-success save-datum locale_Save pull-right"
        value="Save"></button>
         </div>
         </div>

		</div>
	</div>
    
</div>

