<div class="alert alert-info">
	<span> <img class="gravatar-small" src="https://secure.gravatar.com/avatar/{{gravatar}}?d=identicon"/></span>
	<div class= "pull-right">  
	</div>
	<span>{{username}}</span> 
	<button class="btn btn-mini btn-primary add-comment-button pull-right">
		<span>{{locale_Add}}</span> 
		<i class="icon-comment"></i>
	</button>
	<!--  <i class="icons icon-comment"></i>  -->

	<textarea class="comment-new-text">{{text}}</textarea>
	
</div>