@import url(https://fonts.googleapis.com/css?family=Andika);

@import url(https://fonts.googleapis.com/css?family=Droid+Sans);

@import url(https://fonts.googleapis.com/css?family=Ubuntu);

@import url(../bootstrap/css/bootstrap.css);

@import url(../bootstrap/css/bootstrap-responsive.css);

a {
	color: #74C2E1;
}

h1 {
	color: #000000;
	font-size: 3em;
	font-family: 'Andika', sans-serif;
}

h2 {
	color: #000000;
	font-size: 1.2em;
}

h3 {
	color: #000000;
}

.LingSyncBody { /* 	background-color: #000000; */
	background-image: url(../img/test_background.png);
	font-family: 'Droid Sans', sans-serif;
}

.mainHeader {
	color: #000000;
	min-height: 130px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background-image: linear-gradient(left, rgb(159, 216, 242) 17%,
		rgb(205, 255, 255) 56%, rgb(205, 255, 255) 95% );
	background-image: -o-linear-gradient(left, rgb(159, 216, 242) 17%,
		rgb(205, 255, 255) 56%, rgb(205, 255, 255) 95% );
	background-image: -moz-linear-gradient(left, rgb(159, 216, 242) 17%,
		rgb(205, 255, 255) 56%, rgb(205, 255, 255) 95% );
	background-image: -webkit-linear-gradient(left, rgb(159, 216, 242) 17%,
		rgb(205, 255, 255) 56%, rgb(205, 255, 255) 95% );
	background-image: -ms-linear-gradient(left, rgb(159, 216, 242) 17%,
		rgb(205, 255, 255) 56%, rgb(205, 255, 255) 95% );
	background-image: -webkit-gradient(linear, left top, right top, color-stop(0.17, rgb(159,
		216, 242) ), color-stop(0.56, rgb(205, 255, 255) ),
		color-stop(0.95, rgb(205, 255, 255) ) );
	padding: 15px;
	margin-top: 10px;
}

.mainHeaderLogo {
	padding-left: 25px;
}

span.headerTagLine {
	font-size: 1.4em;
	padding-left: 70px;
	font-family: "Andika";
	margin-top: -20px;
}

.mainHeaderButton {
	padding-top: 50px;
	padding-right: 50px;
}

.menubar {
	background-color: #74C2E1;
	border: 1px solid #000000;
	background: #74C2E1;
	min-height: 40px;
	border-radius: 5px;
}

.menubar a.active {
	text-decoration: underline;
}

.menubar span {
	background: -webkit-gradient(radial, 50% 100%, 10, 50% 50%, 40, from(#CDFFFF),
		to(#74C2E1) );
	background: -moz-radial-gradient(center 80px 45deg, circle cover, #CDFFFF 0%,
		#74C2E1 100%);
	margin-top: 0;
	padding: 0;
	text-align: center;
	height: 40px;
	border-radius: 5px;
	display: inline;
}

.menubar span a {
	text-decoration: none;
	line-height: 40px;
	color: #000000;
	text-transform: uppercase;
	line-height: 40px;
	font-size: 1.1em;
	font-weight: 900;
	padding: 0 20px;
	background: #74C2E1;
	-webkit-transition-property: background;
	-webkit-transition-duration: 400ms;
	-moz-transition-property: background;
	-moz-transition-duration: 400ms;
}

.menubar a:hover {
	background: transparent none;
}

.mainContentDiv {
	margin-top: 0px;
	margin-bottom: 10px;
	background-color: #FAFAFA;
	color: #000000;
	padding: 15px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	min-height: 400px;
}

#mainBodyTitle {
	text-align: center;
	text-shadow: 1px 1px 1px #D2EAFA;
	margin-top: -10px;
	margin-bottom: 25px;
}

#mainBodyHeader {
	font-size: 1.2em;
	font-weight: 700;
	color: #000000;
	padding-right: 10px;
	padding-left: 10px;
	margin-left: 15%;
	margin-right: 15%;
	margin-top: -15px;
	text-align: center;
	color: #000000;
}

.listIntroText {
	font-size: 1.2em;
	font-weight: 600;
	text-align: center;
	margin-top: 20px;
}

.bulletSectionHeader {
	background-color: #D2EAFA;
	height: 40px;
	border-radius: 10px;
	border: 1px solid #DEDEDE;
	box-shadow: 3px 3px 1px #DEDEDE;
	margin-top: 20px;
}

.bulletSectionHeader h3 {
	font-size: 1.3em;
	font-weight: 700;
	font-family: "Ubuntu";
	letter-spacing: 1px;
	color: #000000;
	margin-left: 15px;
	text-transform: uppercase;
	margin-top: 0px;
}

.bulletSection {
	background-color: #FFFFFF;
	border-radius: 10px;
	margin-left: 30px;
	margin-top: 10px;
	margin-right: 25px;
}

.bulletSection span {
	font-size: 1em;
}

.bulletSection hr {
	background-color: #CDFFFF;
	border: #000 1px dotted;
	border-style: none none dotted;
	color: #74C2E1;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
}

input:focus {
	background-color: #EAFFFF;
	outline-size: 6px; !
	important outline: #000000;
	!
	important
}