@import url(https://fonts.googleapis.com/css?family=Andika);

@import url(https://fonts.googleapis.com/css?family=Droid+Sans);

@import url(https://fonts.googleapis.com/css?family=Ubuntu);

@import url(../bootstrap/css/bootstrap.css);

@import url(../bootstrap/css/bootstrap-responsive.css);

a {
	color: #5F1BF2;
}

h1 {
	color: #000000;
	font-size: 3em;
	font-family: 'Andika', sans-serif;
}

h2 {
	color: #000000;
	font-size: 1.2em;
}

h3 {
	color: #000000;
}

.LingSyncBody { /* 	background-color: #000000; */
	background-image: url(../img/test_background.png);
	font-family: 'Droid Sans', sans-serif;
}

.mainHeader {
	color: #000000;
	min-height: 130px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background-image: linear-gradient(left, rgb(159, 216, 242) 17%,
		rgb(205, 255, 255) 56%, rgb(205, 255, 255) 95% );
	background-image: -o-linear-gradient(left, rgb(159, 216, 242) 17%,
		rgb(205, 255, 255) 56%, rgb(205, 255, 255) 95% );
	background-image: -moz-linear-gradient(left, rgb(159, 216, 242) 17%,
		rgb(205, 255, 255) 56%, rgb(205, 255, 255) 95% );
	background-image: -webkit-linear-gradient(left, rgb(159, 216, 242) 17%,
		rgb(205, 255, 255) 56%, rgb(205, 255, 255) 95% );
	background-image: -ms-linear-gradient(left, rgb(159, 216, 242) 17%,
		rgb(205, 255, 255) 56%, rgb(205, 255, 255) 95% );
	background-image: -webkit-gradient(linear, left top, right top, color-stop(0.17, rgb(159,
		216, 242) ), color-stop(0.56, rgb(205, 255, 255) ),
		color-stop(0.95, rgb(205, 255, 255) ) );
	padding: 15px;
	margin-top: 10px;
}

.mainHeaderLogo {
	padding-left: 25px;
}

span.headerTagLine {
	font-size: 1.4em;
	padding-left: 70px;
	font-family: "Andika";
	margin-top: -20px;
}

.mainHeaderButton {
	padding-top: 50px;
	padding-right: 50px;
}

.menubar {
	background-color: #74C2E1;
	border: 1px solid #000000;
	background: #74C2E1;
	min-height: 40px;
	border-radius: 5px;
}

.menubar a.active { /* 	text-decoration: underline; */
	text-shadow: 2px 2px 5px #FFFFFF;
}

.menubar span {
	margin-top: 0;
	padding: 0;
	text-align: center;
	height: 40px;
	border-radius: 5px;
	display: inline;
}

.menubar span a {
	text-decoration: none;
	line-height: 40px;
	color: #000000;
	text-transform: uppercase;
	font-size: 1.1em;
	font-weight: 900;
	padding: 0 15px;
	background: #74C2E1;
	transition: text-shadow 700ms;
	-moz-transition: text-shadow 700ms; /* Firefox 4 */
	-webkit-transition: text-shadow 700ms; /* Safari and Chrome */
	-o-transition: text-shadow 700ms; /* Opera */
}

.menubar a:hover {
	text-shadow: 2px 2px 10px #0011FF;
}

.mainContentDiv {
	margin-top: 0px;
	margin-bottom: 10px;
	background-color: #FAFAFA;
	color: #000000;
	padding: 15px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	min-height: 420px;
}

#mainBodyTitle {
	text-align: center;
	text-shadow: 1px 1px 1px #D2EAFA;
	margin-top: -10px;
	margin-bottom: 25px;
}

#mainBodyHeader {
	font-size: 1.2em;
	font-weight: 700;
	color: #000000;
	padding-right: 10px;
	padding-left: 10px;
	margin-left: 15%;
	margin-right: 15%;
	margin-top: -15px;
	text-align: center;
	color: #000000;
}

.contentSection {
	margin-top: 25px;
}

.bulletSectionHeader {
	background-color: #D2EAFA;
	min-height: 20px;
	border-radius: 10px;
	border: 1px solid #DEDEDE;
	box-shadow: 3px 3px 1px #DEDEDE;
	margin-top: 10px;
}

.bulletSectionHeader h3 {
	font-size: 1.3em;
	font-weight: 700;
	font-family: "Ubuntu";
	letter-spacing: 1px;
	color: #000000;
	margin-left: 8px;
	text-transform: uppercase;
	margin-top: -5px;
	margin-bottom: -5px;
}

.bulletSectionHeader h3.active {
	color: #5100FF;
}

.bulletSectionHeader h3.clickable:hover {
	color: #74C2E1;
}

.bulletSection {
/* 	background-color: #FFFFFF; */
/* 	box-shadow: 3px 3px 1px #DEDEDE; */
/* border: 1px solid #DEDEDE; */
	border-radius: 10px;
	margin-left: 10px;
	margin-top: 20px;
	padding: 10px;
	margin-right: 25px;
}

.bulletSection span {
	font-size: 1em;
}

.bulletSection hr {
	background-color: #CDFFFF;
	border: #000 1px dotted;
	border-style: none none dotted;
	color: #74C2E1;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
}

.youtube-player {
	min-height: 275px;
}

input:focus {
	background-color: #EAFFFF;
	outline-size: 6px; !
	important outline: #000000;
	!
	important
}