<!-- &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
<a href="#" class="locale_Advanced_Search_Tooltip" rel="tooltip"> <i
	class="icons trigger-quick-search icon-search icon-white"></i>
</a> -->
&nbsp;
<input type="text" id="search_box" class="search-query input-small"
	placeholder="Search" value="{{searchKeywords}}" autocomplete="on"></input>

<span> <a tabindex="-1" href="#corpus/{{dbname}}/search"
	id="advanced_search_drop_down_trigger"
	class="trigger-advanced-search" title="{{locale_Advanced_Search_Tooltip}}"
	rel="tooltip"> <i class=" icon-search icon-white"></i>
</a></span>
