body {
	background-color: #FFFFCC;
	width: 1500px;
	height: 1010px;
	margin: auto;
	color: white;
}

.llama {
	background-image: url('llama.jpg');
}

.widget {
	width: 100%;
	height: 100%;
	background: black;
	opacity: 0.4;
	margin: 0.5em;
	padding: 0.5em;
	filter: alpha(opacity =   40); /* For IE8 and earlier */
	-moz-border-radius: 5px;
	border-radius: 5px;
}

header {
	background-color: #336699;
	padding: 0;
	margin: 0;
}

h1,h2,h3,h4 {
	text-align: center;
	color: orange;
	font-weight: normal;
	line-height: 1.1em;
	margin: 0 0 .5em 0;
}

h1 {
	font-size: 1.7em;
}

h2 {
	font-size: 1.5em;
}

a {
	color: white;
	text-decoration: none;
}

a:hover,a:active {
	text-decoration: underline;
}

.navigationcontainer {
	width: 1460px;
}

.main {
	width: 100%;
	height: 100%;
	clear: both;
}

.leftside {
	width: 200px;
	height: 100%;
	float: left;
}
.rightside {
	width: 300px;
	height: 100%;
	float: left;
}
.content {
	width: 900px;
	height: 100%;
	float: left;
}