<div class="middle">
  <div class="fullscreen">
    <a href="#fullscreen">
      <i class="icons icon-resize-full"></i>
    </a>
  </div>
  <div class="title">
    <h1>Advanced Search</h1>
  </div>
  <ul class="advanced_search_datum"></ul>
  <ul class="advanced_search_session"></ul>
  <button class="btn btn-primary btn-search-union">Search Union</button>
  <button class="btn btn-primary btn-search-intersection">Search Intersection</button>
</div>