<div class="fullscreen-search-view">

Advanced Search
  <!-- full screen button -->
  
        <button class="menuB" id="fullscreen"> <i class = "icon-fullscreen icon-white"></i></button>
  
   
  <!--partial for the fields -->
  {{> datum_field}}

  <div> 
    {{> datum_tag}}
    {{> datum_status}}
     
      
  </div>
  
</div>