<div class="middle">
<div class="fullscreen"><a href="#fullscreen"><i class="icons icon-fullscreen"></i></a></div>

<div class="title"><h1>Advanced Search<h1></div>
  <!-- full screen button -->
  
  
   
  <!--partial for the fields -->
  {{> datum_field}}

  <div> 
    {{> datum_tag}}
    {{> datum_status}}
     
      
  </div>
  
</div>