<div class="middle">
<div class="fullscreen"><a href="#fullscreen"><i class="icons icon-resize-full"></i></a></div>

<div class="title"><h1>Advanced Search<h1></div>
  <!-- full screen button -->
  
  
   
  
 
  <div> 

     
      
  </div>
  
</div>