<i class="icons icon-resize-full pull-right"></i>

<div class="title">
	<h1 class = "locale_Advanced_Search"></h1>
</div>
<ul class="advanced_search_datum unstyled"></ul>
<ul class="advanced_search_session unstyled"></ul>
<button class="btn btn-primary btn-search-union"><span class ="locale_OR"></span> <img src = "images/or_venn_diagram.png"></button>
<button class="btn btn-primary btn-search-intersection"><span class ="locale_AND"></span><img src = "images/and_venn_diagram.png"></button>

