<div class = data_search_box>
  <input id="search_box" value="{{searchKeywords}}" />
  <i class="icons icon-search icon-white"></i>
  <span>  
    <button class="btn-mini btn-inverse btn-advanced-search">Advanced Search</button>
  </span>
</div>

	
	
