<div class = data_search_box>

	<input value="{{searchKeywords}}" />
   <a href="#corpus/yale/search" class = "btn-mini btn-inverse"> <i class="icon-search icon-white"></i></i> <span class ="caret white"></span></a>

	
</div>
