<i class="icons icon-resize-full pull-right"></i>
<i class="icons icon-edit pull-right"></i>

<div class="title">
	<h1>Advanced Search</h1>
</div>
<ul class="advanced_search_datum unstyled"></ul>
<ul class="advanced_search_session unstyled"></ul>
<button class="btn btn-primary btn-search-union">Search Union</button>
<button class="btn btn-primary btn-search-intersection">Search
	Intersection</button>
