  <input id="search_box" type="text" value="{{searchKeywords}}" />
  <i class="icons icon-search icon-white"></i>
  <span>  
    <button class="btn btn-inverse btn-advanced-search locale_Advanced_Search"></button>
  </span>
