<div class = data_search_box>

	<input value="{{searchKeywords}}" />

 <i class="icon-search icon-white"></i><span>  <a href="#corpus/yale/search" class = "btn-mini btn-inverse">  Advanced Search</span></a>

	
	<div class = "icons top-left">
             
               <i class="icons icon-search"></i>
	</div>
	
    <a href="#corpus/yale/search" class = "btn-mini btn-inverse"><span> Advanced Search</span></a>

	
</div>
