@import url(https://fonts.googleapis.com/css?family=Droid+Sans);

#hideOnLoad {
	visibility: hidden;
}

h3 {
	color: #585947;
}

body {
	background-color: #E8E6DA;
	font-family: 'Droid Sans', sans-serif;
}

@media only screen and (min-width : 1001px) {
	.largeMenuBar {
		display: inline;
	}
	.smallMenuBar {
		display: none;
	}
}

@media only screen and (max-width : 1000px) {
	.largeMenuBar {
		display: none;
	}
	.smallMenuBar {
		display: inline;
	}
}

.menubar {
	background-color: #585947;
	border: 1px solid #585947;
	background: #585947;
	min-height: 50px;
	/* 	position: fixed; */
	left: 0;
	right: 0;
	margin-left: 0px;
	margin-right: 0px;
	z-index: 100;
	padding-left: 10px;
}

.menubar span {
	margin-top: 0;
	padding: 0;
	text-align: center;
	height: 50px;
	border-radius: 5px;
	display: inline;
	color: #FFFFFF;
}

.menubar span a {
	text-decoration: none;
	line-height: 50px;
	color: #FFFFFF;
	text-transform: uppercase;
	font-size: 1.1em;
	font-weight: 900;
	padding: 0 15px;
	background: #585947;
	transition: color 700ms;
	-moz-transition: color 700ms; /* Firefox 4 */
	-webkit-transition: color 700ms; /* Safari and Chrome */
	-o-transition: color 700ms; /* Opera */
}

.menubar a:hover {
	color: #A6AF7A;
}

.menuTitle {
	font-size: 1.3em;
	float: left;
}

.smallMenuBarInfo {
	color: #FFFFFF;
}

.smallMenuBarInfoItem {
	padding: 10px;
}

.floatLeft {
	float: left;
}

.rightMenuItems {
	float: right;
}

.rightMenuItemsDiv {
	float: right;
	margin-top: 5px;
	margin-right: 5px;
}

.rightMenuItemsDiv div {
	display: inline-block;
	vertical-align: top;
	text-align: left;
}

.clearDiv {
	clear: both;
}

.mainMenubar {
	top: 0;
}

.subMenubar {
	background-color: #585947;
	border: 1px solid #585947;
	background: #585947;
	color: #FFFFFF;
	left: 0;
	right: 0;
	margin-left: 0px;
	margin-right: 0px;
	padding: 10px;
	z-index: 99;
}

.subSubMenubar {
	/* 	top: 80; */
	background-color: #585947;
	border: 1px solid #585947;
	background: #585947;
	left: 0;
	right: 0;
	margin-left: 0px;
	margin-right: 0px;
	padding: 10px;
	z-index: 98;
}

span ul {
	display: inline;
}

.dropdown_nav,.dropdown_nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
	z-index: 1000;
}

.dropdown_nav a {
	display: block;
	width: 10em;
}

.dropdown_nav li {
	float: left;
	width: 10em;
}

.dropdown_nav li ul {
	position: absolute;
	width: 10em;
	left: -999em;
}

.dropdown_nav li:hover ul {
	left: auto;
}

.mainBody {
	margin-bottom: 10px;
	position: relative;
	z-index: 1;
}

#login_screen {
	text-align: center;
}

.mainPageDiv {
	background-color: #F4F5E7;
	border-radius: 10px;
	border: 3px solid #585947;
	margin-left: 20%;
	margin-right: 20%;
	padding: 10px;
	font-weight: 700;
	font-size: 1.3em;
}

.newSessionDiv {
	background-color: #F4F5E7;
	/* 	border-radius: 10px; */
	/* 	border: 1px solid #585947; */
	margin-right: 5%;
	margin-left: 5%;
	padding: 10px;
}

.newSessionTable {
	text-align: left;
}

.settingsTemplate {
	background-color: #F4F5E7;
	border-radius: 10px;
	border: 1px solid #585947;
	margin: 5px;
}

.settings_section_header {
	background-color: #585947;
	padding: 10px;
}

.settings_section_header h2 {
	color: #FFFFFF;
}

.user_thumbnails {
	display: inline;
	text-align: center;
	float: left;
	padding: 1em;
}

.delete_button {
	text-decoration: none;
	color: #585947;
	font-size: 1.6em;
	font-weight: 800;
}

.settingsItems {
	margin: 15px;
}

.selectedRow {
	background-color: #A6AF7A;
	border: 2px solid;
}

.unselectedRow:nth-child(odd) {
	background-color: #CCCEA9;
}

.unselectedRow {
	background-color: #E8E6DA;
}

.unselectedNewRow {
	background-color: #6D8CA0;
}

.uploadAudio {
		border: 2px solid #585947;
		background-color: #F4F5E7;
		min-height: 35px;
		border-radius: 15px;
		padding: 10px;
		text-align: center;
}

.uploadAudio form {
	margin: 0;
	padding: 0;
}

.settingsHeader {
	background-color: #0099CC;
	border: 1px solid;
}

.settingsRow {
	background-color: #6D8CA0;
	box-shadow: 10px 10px 5px #888888;
}

.activeTemplate {
	background-color: #83F787;
	border-radius: 15px;
}

div.row {
	padding: 10px;
}

h1 {
	color: #585947;
}

h2 {
	color: #585947;
}

input:focus {
	background-color: #EAFFFF;
	outline-size: 6px;
	outline: #585947;
}

.clearCacheMessage {
	text-align: center;
	font-size: .8em;
	font-weight: 700;
}

@-webkit-keyframes greenPulse {
  from { background-color: #C20495; -webkit-box-shadow: 0 0 9px #333; }
  50% { background-color: #FF75DF; -webkit-box-shadow: 0 0 18px #91bd09; }
  to { background-color: #C20495; -webkit-box-shadow: 0 0 9px #333; }
}

.pulsing 
{
	border-radius: 4px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	border: 0;
	color: #FFFFFF;
 -webkit-animation-name: greenPulse;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
}