svg {
  font: 10px sans-serif;
}

/* FOCUS CONTEXT GRAPH */

.focus-context path {
  fill: #B8F5C6;
}

.focus-context .axis path,
.focus-context .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.focus-context .brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}


/* LINE CHART */
.line-chart .axis path,
.line-chart .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.line-chart .x.axis path {
  display: none;
}

.line-chart .line {
  fill: none;
  stroke: #B8F5C6;
  stroke-width: 1.5px;
}