

<div class="container-fluid">
	<div class="row-fluid">
		<div class="span4 well">
			<!--Sidebar content-->
			<button class="btn btn-success approve-save disabled">Save and Finish Importing</button>
			<div id="import-data-list-view"></div>
		</div>
		<div class="span8">
			<!--Body content-->
			<div class="well">
				<i class="icons icon-resize-small pull-right"></i>
				<h1>
					Import <small id="import-type-description">{{corpusname}}</small>
				</h1>
				<div>{{status}}</div>
			</div>
			<textarea class="export-large-textarea  drop-zone"
			>Drag and drop files here! {{rawText}}</textarea>

			<div class="well">
				<button class="btn btn-primary add-column pull-right hide">Add
					Extra Columns</button>
				<div id="import-datum-field-labels"></div>
			</div>
		</div>
	</div>
</div>
	<button class="btn btn-success approve-import hide">Attempt Import</button>

	<table id="csv-table-area"
		class=" table well table-striped table-bordered table-condensed"></table>
