<div class="container-fluid">
	<div class="row-fluid">
		<div class="span4 well">
			<!--Sidebar content-->
			<span class="badge badge-info">8</span>
			<button class="btn btn-success approve-save disabled locale_Save_And_Import"></button>
			<div id="import-data-list" class="">
        <div id="import-data-list-header" class="middle "></div>
        <div>
          <ul class="unstyled zebra import-data-list-paginated-view"></ul>
          <div class="pagination-control"></div>
        </div>
      </div>
      <div id="import-session" ></div>
		</div>
		<div class="span8">
			<!--Body content-->
			<div class="well">
				<h1><span class="locale_Import"></span>
					 <small>{{pouchname}}</small>
				</h1>
				<progress class="import-progress" max="5" value="0">
          <strong class = "locale_percent_completed"></strong>
        </progress>
        <span class = "locale_Import_Instructions"></span>
				<div>{{status}}</div>
			</div>
			<div class="well">
				<span class="badge badge-info">1</span><span class="badge badge-info">2</span>
				<textarea class="export-large-textarea  drop-zone locale_Drag_and_Drop_Placeholder" >{{rawText}}</textarea>
			</div>
			<button
				class="btn btn-primary add-column  hide locale_Add_Extra_Columns"></button>
			<div class="well container span11">
				<span class="badge badge-info">3</span>
				<div id="import-datum-field-labels" class="row-fluid"></div>
			</div>
		</div>
	</div>
</div>
<span class="badge badge-info">5</span>
<button class="btn btn-success approve-import hide locale_Attempt_Import"></button>

<span class="badge badge-info">4</span><span class="badge badge-info">7</span>
<table id="csv-table-area" class="well table table-striped table-bordered table-condensed"></table>
