
<i class="icons icon-resize-small pull-right"></i>
<h1>
	Import <small id="import-type-description">{{corpusname}}</small>
</h1>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span2 well">
			<!--Sidebar content-->
			<button class="btn btn-success approve-import disabled">Import
				and Save</button>
			<div id="import-data-list-view"></div>
		</div>
		<div class="span10">
			<!--Body content-->
			<div>{{status}}</div>
			<textarea class="export-large-textarea  drop-zone"
				id="export-text-area">{{rawText}}</textarea>

			<div id="import-datum-field-labels"></div>
			<table id="csv-table-area"
				class="table table-striped table-bordered table-condensed"></table>
		</div>
	</div>
</div>
