<div class="modeal-header">
  <h1>Import<small id="import-type-description"></small></h1>
</div>
<div class="modal-body import">
  <div id="temporary-import-debugging-text-area">
  </div>
  <textarea class="large-textarea" id="export-text-area"></textarea>  
  <div class="drop-zone">Drop File Here!</div>
</div>
<div class="modal-footer">
  <a href="#" class="btn" data-dismiss="modal">Close</a>
</div>