
<i class="icons icon-resize-small pull-right"></i>
<h1>
	Import <small id="import-type-description">{{corpusname}}</small>
</h1>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span2 well">
			<!--Sidebar content-->
			<button class="btn btn-success approve-import disabled">Import
				and Save</button>
			<div id="import-data-list-view"></div>
		</div>
		<div class="span10">
			<!--Body content-->
			<div class="well">{{status}}</div>
			<textarea class="export-large-textarea  drop-zone"
				id="export-text-area">Drag and drop files here! {{rawText}}</textarea>

  <div class="well">
			<div id="import-datum-field-labels"></div>
			<button class="btn btn-primary add-column pull-right hide">Add
				Extra Columns</button>
				</div>
		</div>
	</div>
</div>
<table id="csv-table-area"
	class="well table table-striped table-bordered table-condensed"></table>
