<div class="modeal-header">
  <h1>Import</h1>
</div>
<div class="modal-body export">
  <div>
    <h1>Import</h1>
  </div>
  <div class="drop-zone">Drop File Here!</div>
</div>
<div class="modal-footer">
  <a href="#" class="btn" data-dismiss="modal">Close</a>
</div>