<div class="pull-right">
  <a  href="#" class = "locale_Hide_Activities" rel="tooltip"  >
      <i class="icons icon-minus-sign"></i></a>
</div>
<h3 class="locale_Activity_Feed"></h3>
<ul class = "activities-updating-collection unstyled"></ul>
<div class="pagination-control"></div>
