<div class="pull-right">
  <a  href="#" rel="tooltip" title="Hide activities" >
      <i class="icons icon-minus-sign"></i></a>
</div>
<h3>Activity Feed</h3>
<ul class = "activities-updating-collection unstyled"></ul>
<div class="pagination-control"></div>
