<div class="pull-right">
  <a  href="#" class = "loc_Hide_Activities" rel="tooltip" title="Hide activities" >
      <i class="icons icon-minus-sign"></i></a>
</div>
<h3 class="Activity_Feed"></h3>
<ul class = "activities-updating-collection unstyled"></ul>
