<div class="activity" style="display:block; clear:both;">
  <div style="float:left;">
    {{>user}}
  </div>
  <div style="float:left; white-space: wrap; padding: 5px;">
    <span class="activity_verb">
      {{verb}}
    </span> 
    <span class="activity_direct_object">
      {{directobject}}
    </span>
    <br/>
    <span class="activity_indirect_object">
      {{indirectobject}}
    </span>
  </div>
</div>

