<div class="pull-right">
  <a  href="#" rel="tooltip" title="Hide activities" >
      <i class="icons icon-minus-sign"></i></a>
</div>
<h3 id="Activity_Feed1"></h3>
<ul class = "activities-updating-collection unstyled"></ul>
