<span class="pull-right">
  Encrypt if confidential:
  <input type="checkbox" class="encrypted"{{encrypted}}></input>
</span>

<input class="choose-field" {{userchooseable}} value="{{label}}"/>
	

<label>Help Text</label>
<textarea class="help-text"
	placeholder="Put a help text here (optional)">{{help}}</textarea>
