<!-- shrink button -->
<i class="icons icon-resize-small pull-right"></i>
<i class="icons icon-edit pull-right"></i>

<!-- Required so that the full screen button doesn't end up inside the next div -->
<div style="clear:both;"></div>

<!-- list of datum -->
<ul class="datum-embedded-ul unstyled"></div>