<input class="datum_state_input" value="{{state}}"></input>
<select class="color_chooser">
	<option value="success">Green</option>
	<option value="warning">Orange</option>
	<option value="important">Red</option>
  <option value="primary">Blue</option>
	<option value="info">Teal</option>
	<option value="inverse">Black</option>
	<option value="">Default</option>
</select>
<span class="badge badge-{{color}}">{{state}}</span>

