<!-- this is a read-only version.  -->

<span class="pull-right">
  Encrypt if confidential:
  <input type="checkbox" class="shouldBeEncrypted" {{shouldBeEncrypted}} disabled></input>
</span>
<h4>{{label}}</h4> 
<p>{{help}}</p>

