<div class="datum">
	<!-- full screen button -->
	<button class="cornerB" id="expand"> <img src= "./datum/expand.png" alt="this will be the button will expand the datum view." /></button>
    <button class="cornerB" id="new"> <img src= "../datum_menu/play.png" alt="this will be the button that goes makes a new empty datum." /></button>
	
	<!--partial for the fields -->
	{{> datum_field}}

	<div> 
		{{> datum_tag}}
		{{> datum_status}}
	    {{> datum_menu}}	
	</div>
	
</div>