<input class="datum_state_input" value="{{state}}" type="text"></input>
<select class="color_chooser">
	 <option value="success" class = "locale_Green"></option>
          <option value="warning" class = "locale_Orange"></option>
          <option value="important" class = "locale_Red"></option>
          <option value="primary" class = "locale_Blue"></option>
          <option value="info" class = "locale_Teal"></option>
          <option value="inverse" class = "locale_Black"></option>
          <option value="" class = "locale_Default"></option>
</select>
<span class="badge badge-{{color}}">{{state}}</span>

