a{
    color: black;
    text-decoration: none;
}
a:hover,
a:active{ text-decoration: underline; }



#wrapperL {
    width: 30%;
    overflow: hidden;
    float: left;
    padding:5px;
    margin-top:5px;
    margin-bottom:5px;
    height: 25%;
}


#wrapperR{
    width: 30%;
    float: right;
    overflow: hidden;
    padding:5px;
    margin-top:5px;
    margin-bottom:5px;
}

#drop {
    width:50%;
    border-style: dashed;
    border-color: #336699;
    border-width: 3px;
    float:left;
    overflow: hidden;
}



#leftArrow{
    width: 30%;
    float: right;
    overflow: hidden;

}

#rightArrow{
    width: 30%;
    float: left;
    overflow: hidden;

}

#latex{
    float:right;
    width:60%;
    overflow: hidden;
}









.arrow-right {
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 30px solid orange;

}

.arrow-left {
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-right:30px solid orange;

}



.classname {
    -moz-box-shadow:inset 0px 1px 0px 0px #fce2c1;
    -webkit-box-shadow:inset 0px 1px 0px 0px #fce2c1;
    box-shadow:inset 0px 1px 0px 0px #fce2c1;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffc477), color-stop(1, #fb9e25) );
    background:-moz-linear-gradient( center top, #ffc477 5%, #fb9e25 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc477', endColorstr='#fb9e25');
    background-color:#ffc477;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #eeb44f;
    display:inline-block;
    color:#ffffff;
    font-family:arial;
    font-size:21px;
    font-weight:bold;
    padding:13px 39px;
    text-decoration:none;
    text-shadow:1px 1px 0px #cc9f52;
}.classname:hover {
     background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fb9e25), color-stop(1, #ffc477) );
     background:-moz-linear-gradient( center top, #fb9e25 5%, #ffc477 100% );
     filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb9e25', endColorstr='#ffc477');
     background-color:#fb9e25;
 }.classname:active {
      position:relative;
      top:1px;
  }



