<!-- list for the fields -->
<ul class="datum_fields_ul unstyled"></ul>
<!-- label for the states -->
<div class="datum_state">
  {{#each datumStates}}
  {{#if selected}}
  <span class="badge badge-{{color}}">{{state}}</span>
  {{/if}}
  {{/each}}
</div>
<!-- list for the tags -->
<ul class="datum_tags_ul unstyled"></ul>
<!-- Buttons for various actions -->
<div>
  <div class="icons btn-group ">
    <button class="btn btn-primary" id="LaTeX">LaTeX</button>
    <button class="btn btn-primary dropdown-toggle"
    data-toggle="dropdown">
      ə
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li>
        <a>ə</a>
      </li>
    </ul>
    <a  id="playDatum" href="#" rel="tooltip" title="Play audio" >
       <i class="icons icon-bullhorn"></i></a>
    <a  id="clipboard" href="#" rel="tooltip" title="Copy to clipboard" >
       <i class="icons icon-paste"></i></a>
    <a  id="duplicate" href="#" rel="tooltip" title="Duplicate" >
      <i class="icons icon-copy"></i></a>
    <a  id="encrypt" href="#" rel="tooltip" title="Encrypt/Decrypt" >
      <i class="icons icon-lock"></i></a>   

<!--     <a id="playDatum"><i class="icons icon-bullhorn"></i></a> 
     <a id="clipboard"><i class="icons icon-paste"></i></a> 
     <a id="duplicate"><i class="icons icon-copy"></i></a>
     <a id="encrypt"><i class="icons icon-lock"></i></a>  
-->
  </div>
</div>

<!--Comments Section  -->
<div class="comments-section">
<h3>Comments</h3>
<ul class="comments unstyled"></ul>

<div class="alert alert-info">
  <span> new comment: </span>
  <i class="icons icon-comment"></i>
  <div class= "pull-right">  </div>
  <textarea class="comment-new-text"></textarea>
</div>

<button class="btn btn-primary add-comment-datum-edit" value="Add">Add
  Comment</button>
</div>
