<!-- full screen button -->
<div class="pull-right">
    <a href="#" rel="tooltip" title="Show editable">
      <i class="icons icon-edit"></i></a>
      
    <a href="#" rel="tooltip" title="Show fullscreen">
      <i class="icons icon-resize-full"></i></a>
</div>

<!-- Required so that the full screen button doesn't end up inside the next div -->
<div class="clear-spacing"></div>

<!-- list of datum -->
<ul class="datum-embedded-ul unstyled"></div>