<!-- full screen button -->
<div class="pull-right">
  <a href="#" rel="tooltip" title="Show read only">
      <i class="icons icon-book"></i></a>           
  <a href="#" class = "locale_Show_fullscreen" rel="tooltip">
      <i class="icons icon-resize-full"></i></a>
</div>

<!-- Required so that the full screen button doesn't end up inside the next div -->
<div class="clear-spacing"></div>

<!-- list of datum -->
<ul class="datum-embedded-ul unstyled"></ul>