<h2>Edit Datum Fields</h2>


<select class="add_field">
  <option value="IPAtranscription">IPA Transcription</option>
  <option value="Context">Context</option>
  <option value="SemanticDenotation">Semantic Denotation</option>
    <option value="Create New">Create New</option>
  
</select>
<span>
<input class="add_input" value="" placeholder="Put a hint here..."></input>

<input type="checkbox"></input> Encrypted

  <button class="btn btn-primary" class="add_datum_field" value="Add">Add</button>


<ul class="edit_datum_fields">

</ul>
