<!-- list for the fields -->
<ul class="datum_fields_ul unstyled"></ul>
<!-- label for the states -->
<div class="datum_state">
  {{#each datumStates}}
  {{#if selected}}
  <span class="badge badge-{{color}}">{{state}}</span>
  {{/if}}
  {{/each}}
</div>
<!-- list for the tags -->
<ul class="datum_tags_ul unstyled"></ul>
<!-- Buttons for various actions -->
<div>
  <div class="icons btn-group ">
    <button class="btn btn-primary" id="LaTeX">LaTeX</button>
    <button class="btn btn-primary dropdown-toggle"
    data-toggle="dropdown">
      ə
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li>
        <a>ə</a>
      </li>
    </ul>
    <a id="playDatum">
      <i class="icons icon-bullhorn"></i>
    </a>
    <a
    id="clipboard">
      <i class="icons icon-paste"></i>
    </a>
    <a
    id="duplicate">
      <i class="icons icon-copy"></i>
    </a>
    <a id="encrypt">
      <i
      class="icons icon-lock"></i>
    </a>
  </div>
</div>