<div class="breadcrumb">
<select class="choose_field">
	<option value="utterence">Orthography/Utterance</option>
	<option value="morphemes">Morphemes</option>
	<option value="gloss">gloss</option>
	<option value="translation">Translation</option>
	<option value="transcription">IPA Transcription</option>
	<option value="context">Context</option>
	<option value="semantic_denotation">Semantic Denotation</option>
	<option value="Create New">Create New</option>
</select>
  Encryptable:
<input type="checkbox"></input>
<label>Help Text</label>
<textarea placeholder="Put a help text here (optional)"></textarea>

</div>