<!-- list for the fields -->
<ul class="datum_fields_ul unstyled"></ul>
<!-- label for the states -->
<div class="datum_state">
  {{#each datumStates}}
  {{#if selected}}
  <span class="badge badge-{{color}}">{{state}}</span>
  {{/if}}
  {{/each}}
</div>
<!-- list for the tags -->
<ul class="datum_tags_ul unstyled"></ul>
<!-- Buttons for various actions -->
<div>
  <div class="icons btn-group ">
    <button class="btn btn-primary" id="LaTeX">LaTeX</button>
    <button class="btn btn-primary dropdown-toggle"
    data-toggle="dropdown">
      ə
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li>
        <a>ə</a>
      </li>
    </ul>
   <a  href="#playDatum" class = "loc_Play_Audio" rel="tooltip" >
       <i class="icons icon-bullhorn"></i></a>
    <a  href="#clipboard" class = "loc_Copy" rel="tooltip" >
       <i class="icons icon-paste"></i></a>
    <a  href="#duplicate" class = "loc_Duplicate" rel="tooltip">
      <i class="icons icon-copy"></i></a>
    <a  id="encrypt" href="#" class= "loc_Encrypt" rel="tooltip">
      <i class="icons icon-lock"></i></a>   
  <a href="#" class = "loc_Export_Datalist" rel="tooltip">
      <button class="btn btn-primary" id="LaTeX">LaTeX</button></a>

<!--     <a id="playDatum"><i class="icons icon-bullhorn"></i></a> 
     <a id="clipboard"><i class="icons icon-paste"></i></a> 
     <a id="duplicate"><i class="icons icon-copy"></i></a>
     <a id="encrypt"><i class="icons icon-lock"></i></a>  
-->
  </div>
</div>

<!--Comments Section  -->
<div class="comments-section">

<ul class="comments unstyled"></ul>

<div class="alert alert-info">

  <i class="icons icon-comment"></i>
  <div class= "pull-right">  </div>
  <textarea class="comment-new-text"></textarea>
</div>


<button class="btn btn-primary add-comment-edit" value="Add">
  <span class="Add"></span>
</button>
</div>
