<h2>Edit Datum Fields</h2>

<ul class="edit_datum_fields ">

</ul>
<div class="breadcrumb">
	<select class="choose_add_field">
		<option value="utterence">Orthography/Utterance</option>
		<option value="morphemes">Morphemes</option>
		<option value="gloss">gloss</option>
		<option value="translation">Translation</option>
		<option value="transcription">IPA Transcription</option>
		<option value="context">Context</option>
		<option value="semantic_denotation">Semantic Denotation</option>
		<option value="Create New">Create New</option>
	</select> <label>Help Text</label>
	<textarea placeholder="Put a help text here (optional)"></textarea>
	<label>Encryptable</label> <input type="checkbox"></input> <input
		type="button" class="add_datum_field" value="Add"></input>
</div>