<!-- list for the fields -->
<ul class="datum_fields_ul unstyled"></ul>
<!-- label for the states -->
<div class="datum_state">
  {{#each datumStates}}
  {{#if selected}}
  <span class="label label-{{color}}"><i class = " icon-flag"></i>{{state}}</span>
  {{/if}}
  {{/each}}
</div>
<!-- list for the tags -->
<ul class="datum_tags_ul unstyled"></ul>

<!-- Buttons for various actions -->
<div>
  <div class="icons btn-group">
    <a href="#" class = "locale_LaTeX" rel="tooltip">
      <button class="btn btn-primary LaTeX">LaTeX</button></a>
    <a href="#" class = "locale_CSV_Tooltip" rel="tooltip">
      <button class="btn btn-primary CSV">CSV/Excel</button></a>
    <a  href="#" class = "locale_Copy" rel="tooltip" >
      <i class="icons icon-paste"></i></a>
  </div>
</div>
<div class="audio_video"></div>

<!-- Datum comments -->
<ul class="comments unstyled"></ul>
<div class="alert alert-info">
  <textarea class="comment-new-text"></textarea>
  <button class="btn btn-mini btn-primary add-comment-datum" value="Add">
    <i class="icon-comment"></i>
    <span class = "locale_Add"></span> 
  </button>
</div>