<h4 class="datum_field_h4">{{label}}</h4>
{{#if helpText}}
<a  href="#" class="help-conventions" rel="popover" data-placement="bottom" data-content="{{help}}" 
  data-original-title="Help Conventions set by your team" tabindex="-1">
  <i class="icon-question-sign"></i>
</a>
{{/if}}
<p>{{value}}</p>

