<div class="datum">
	<!-- checkbox, we don't have the image yet so recycling the NEW button -->
    <button class="cornerA" id="check"> <img src= "../datum_menu/play.png" alt="This should be the checkbox, recycling New buton for the moment." /></button>
	
	<!--partial for the fields -->
	{{> datum_field}}

	<div> 
		{{> datum_tag}}
		{{> datum_status}}
	    {{> datum_menu}}	
	</div>
	
</div>