<div class="datum_state">
    <select class="datum_state_select">
      {{#each datumStates}}
          <option value="{{state}}" {{selected}}>{{state}}</option>
      {{/each}}
    </select>
</div>

