<!-- full screen button -->
<div class="pull-right">
    <i class="icons icon-book"></i>
    
    <i class="icons icon-resize-full"></i>
  </div>

<!-- Required so that the full screen button doesn't end up inside the next div -->
<div class="clear-spacing"></div>

<!-- list of datum -->
<ul class="datum-embedded-ul unstyled"></ul>