<h2>{{title}}</h2>
datum states and colors etc will show up in a list here

<ul class="edit_datum_states">

</ul>


<input class="add_input" value="" placeholder="Add..."></input>
<select class="add_color_chooser">
  <option value="success">Green</option>
  <option value="warning">Orange</option>
  <option value="important">Red</option>
  <option value="primary">Blue</option>
  <option value="info">Teal</option>
  <option value="inverse">Black</option>
  <option value="">Default</option>
</select>
<input type="button" class="add_datum_state" value="Add"></input>