<!-- list for the fields -->
<ul class="datum_fields_ul unstyled"></ul>
<a  href="#" class= "loc_See_Fields" rel="tooltip" >
  <i class="icon-list-alt pull-right"> </i></a>
<!-- drop down for the states -->
<div class="datum_state">
    <select class="datum_state_select">
      {{#each datumStates}}
          <option value="{{state}}" {{selected}}>{{state}}</option>
      {{/each}}
    </select>
</div>
<!-- list for the tags -->
<ul class="datum_tags_ul unstyled"></ul>
<!-- way to add new tags -->
<span class="like-form-inline">
  <input class="add_tag loc_Add_Tags" type="text"></input>
  <a href="#" rel="tooltip">
    <button class="btn btn-primary add_datum_tag" value="Add">
    <i class = "icon-tag icon-white"></i>
    Add
    </button></a>
</span>

<!-- Buttons for various actions -->
<div>
  <div class="icons btn-group">
    <a><button class="btn btn-primary">
      <i class="icon-white icon-plus"></i></button></a>
 
    <a  href="#playDatum" class = "loc_Play_Audio" rel="tooltip" >
       <i class="icons icon-bullhorn"></i></a>
    <a  href="#clipboard" class = "loc_Copy" rel="tooltip" >
       <i class="icons icon-paste"></i></a>
    <a  href="#duplicate" class = "loc_Duplicate" rel="tooltip">
      <i class="icons icon-copy"></i></a>
    <a  id="encrypt" href="#" class= "loc_Encrypt" rel="tooltip">
      <i class="icons icon-lock"></i></a>   
  <a href="#" class = "loc_Export_Datalist" rel="tooltip">
      <button class="btn btn-primary" id="LaTeX">LaTeX</button></a>
  </div>
</div>
<div class="audio_video"></div>

<!--Comments Section  -->
<div class="comments-section">

<ul class="comments unstyled"></ul>

<div class="alert alert-info">

  <i class="icons icon-comment"></i>
  <div class= "pull-right">  </div>
    <textarea class="comment-new-text"></textarea>
  </div>
<button class="btn btn-primary add-comment-edit" value="Add">

</div>

<!-- 
	
	<ul class="comments unstyled"></ul>
	<button class="btn btn-primary add-comment" value="Add">
	  Add Comment
  </button>
 -->