<!-- list for the fields -->
<ul class="datum_fields_ul unstyled"></ul>
<i class="icon-th-list pull-right"> </i>
<!-- drop down for the states -->
<div class="datum_state">
    <select class="datum_state_select">
      {{#each datumStates}}
          <option value="{{state}}" {{selected}}>{{state}}</option>
      {{/each}}
    </select>
</div>
<!-- list for the tags -->
<ul class="datum_tags_ul unstyled"></ul>
<!-- way to add new tags -->
<span class="pull-right">
  <input class="add_tag input-small" placeholder="New Tag..."></input>
  <button class="btn btn-primary add_datum_tag" value="Add">Add</button>
</span>
<!-- Buttons for various actions -->
<div>
  <div class="icons btn-group">
    <button class="btn btn-primary">
      <i class="icon-white icon-plus"></i>
    </button>
    <button class="btn btn-primary LaTeX">LaTeX</button>
    <button class="btn btn-primary CSV">CSV/Excel</button>
  
    <a id="playDatum">
      <i class="icons icon-bullhorn"></i>
    </a>
    <a
    id="clipboard">
      <i class="icons icon-paste"></i>
    </a>
    <a
    id="duplicate">
      <i class="icons icon-copy"></i>
    </a>
    <a id="encrypt">
      <i
      class="icons icon-lock"></i>
    </a>
    <div class="audio_video pull-right"></div>
  </div>
</div>
