<!-- TODO Make this a read-only version. Right now, this is just a copy of the Editable version -->

<div class="datum_state">
    <select class="datum_state_select">
      {{#each state}}
          <option value="{{id}}" {{selected}}>{{label}}</option>
      {{/each}}
    </select>
</div>

