<h2>{{title}}</h2>
datum fields will show up here

<ul class="edit_datum_fields">

</ul>


<input class="add_input" value="" placeholder="Add..."></input>
<select class="add_field">
  <option value="IPAtranscription">IPA Transcription</option>
  <option value="Context">Context</option>
  <option value="SemanticDenotation">Semantic Denotation</option>
</select>
<input type="button" class="add_datum_field" value="Add"></input>