<div class="span1">
  <input type="checkbox" class="datum-checkboxes"></input>
</div>
<div class="span1">
  {{#if judgement}}
    <span class = "latex-judgement">{{judgement}}</span> 
  {{/if}}
</div>
<div class="span10">
	{{#each couplet}}
	  <span class="glossCouplet">
	    {{utteranceSegment}}
	    <br />
	    {{glossSegment}}
	  </span>
	{{/each}}
	<br />
	<span class="datum-latex-translation">{{translation}}</span>
</div>