<div class="datum">
	<!-- full screen button -->
  <div class="fullscreen"><a href="#fullscreen"><i class="icons icon-fullscreen"></i></a></div>


	<!--partial for the fields -->
	{{> datum_field}}

	<div>
		{{> datum_tag}} {{> datum_status}}

		<div class="icons">

			<a id="playDatum"><i class="icons icon-bullhorn"></i></a> 
			<a id="clipboard"><i class="icons icon-paste"></i></a> 
			<a id="duplicate"><i class="icons icon-copy"></i></a>
			<button class="btn btn-primary" id="LaTeX">LaTeX</button>
      <div id="dropZone">Drop Audio Here!</div>
      
      
		</div>


	


    <div id="newDatum" > <a><button class="btn btn-primary"><i class="icon-white icon-plus"></i></a></button></div>

	</div>

</div>