<input class="datum_state_input" value="{{state}}" type="text"></input>
<select class="color_chooser">
	 <option value="success" class = "Green"></option>
          <option value="warning" class = "Orange"></option>
          <option value="important" class = "Red"></option>
          <option value="primary" class = "Blue"></option>
          <option value="info" class = "Teal"></option>
          <option value="inverse" class = "Black"></option>
          <option value="" class = "Default"></option>
</select>
<span class="badge badge-{{color}}">{{state}}</span>

