<div class="datum">
	<!-- full screen button -->
	<div class="fullscreen">
		<a href="#fullscreen"><i class="icons icon-resize-full"></i></a>
	</div>


	<!--partial for the fields -->
<div class ="datum_fields"></div>

	<div>


		<div class="icons btn-group ">
			<button class="btn btn-primary">
				<i class="icon-white icon-plus"></i>
			</button>

			<button class="btn btn-primary" id="LaTeX">LaTeX</button>
			<button class="btn btn-primary dropdown-toggle"
				data-toggle="dropdown">
				ə <span class="caret"></span>
			</button>

			<ul class="dropdown-menu">
				<li><a> ə</a></li>
			</ul>
			<a id="playDatum"><i class="icons icon-bullhorn"></i></a> <a
				id="clipboard"><i class="icons icon-paste"></i></a> <a
				id="duplicate"><i class="icons icon-copy"></i></a> <a id="encrypt"><i
				class="icons icon-lock"></i></a>


			<div class="dropZone pull-right ">Drop Audio Here!</div>

		</div>




	</div>

</div>