<h2>{{title}}</h2>
datum fields will show up here

<ul class="datum_fields">

</ul>


<input class="add_input" value="" placeholder="Add..."></input>
<select class="add_field">
  <option value="IPA Transcription">IPA Transcription</option>
  <option value="Context">Context</option>
  <option value="Semantic Denotation">Red</option>
  <option value="Notes">Blue</option>
</select>
<input type="button" class="add_datum_field" value="Add"></input>