<select class="choose-field" {{userchooseable}}>
  <option value="judgement">Gramaticality/Acceptability Judgement</option>
  <option value="utterence">Orthography/Utterance</option>
  <option value="morphemes">Morphemes</option>
  <option value="gloss">Gloss</option>
  <option value="translation">Translation</option>
  <option value="transcription">IPA Transcription</option>
  <option value="context">Context</option>
  <option value="semantic_denotation">Semantic Denotation</option>
  <option value="Create New">Create New</option>
</select>
Encrypt if confidential:
<input type="checkbox" class="encrypted" {{encrypted}}></input>
<label>Help Text</label>
<textarea class="help-text" placeholder="Put a help text here (optional)">{{help}}</textarea>
