<!-- this is a read-only version.  -->
<span class="pull-right">
<span class ="Encrypt_if_confidential"></span>
  <input type="checkbox" class="encrypted"{{encrypted}} disabled></input>
</span>
<h4>{{label}}</h4> 
<p>{{help}}</p>

