<div class="datum">
	<!-- full screen button -->
	
	      <button class="menuB" id="fullscreen"> <i class = "icon-fullscreen"></i></button>
	
   
	<!--partial for the fields -->
	{{> datum_field}}

	<div> 
		{{> datum_tag}}
		{{> datum_status}}


   <button class="menuB" id="playDatum"> <i class = "icon-bullhorn"></i></button>
      <button class="menuB" id="clipboard"> <img src= "./datum_menu/clipboard.png" alt="this will be the button that lets you copy to clipboard." /></button>
      <button class="menuB" id="duplicate"> <img src= "./datum_menu/duplicate.png" alt="this will be the button that will pull up a cloned datum." /></button>
      <button class="menuB" id="LaTeX"> <img src= "./datum_menu/latex.png" alt="this will be the button that will convert your datum into latex." /></button>



           <button class="menuB" id="newDatum"> <i class = "icon-plus"></i></button>

	     <div id="dropZone">Drop Audio Here! </div>
	    
	    
	</div>
	
</div>