<div class="breadcrumb">
  <span class="cell">
    {{#if morePages}}
    <a href="#" class="nextinfinitepagination"><span class = "locale_More"></span></a>
    {{/if}}
    <span class="cell howmanyperpagination">
        <span class = "locale_Show"></span>
      <a href="#" class="selected">12</a>      |
      <a href="#" class="">50</a>
     |
      <a href="#" class="">100</a>
       <span class = "locale_per_page"></span>
    </span>
    <span class="divider">/</span>
    <span class="cell first records">
      <span class="current">{{currentPage}}</span>

 <span class = "locale_of"></span>
      <span class="total">{{totalPages}}</span>
  <span class = "locale_pages_shown"></span>
      {{#if allShown}}
        (All)
      {{/if}}
    </span>
  </span>
</div>