<div class="breadcrumb">
  <span class="cell">
    {{#if morePages}}
    <a href="#" class="servernext"><span class = "locale_Next"></span></a>
    {{/if}}
    <span class="cell serverhowmany">
      <span class = "locale_Show"></span>
      <a href="#" class="">3</a>
      |
      <a href="#" class="">9</a>
      |
      <a href="#" class="selected">12</a>
      <span class = "locale_per_page"></span>
    </span>
    <span class="divider">/</span>
    <span class="cell first records">
      <span class="current">{{currentPage}}</span>
      /
      <span class="total">{{totalPages}}</span> 
    </span>
  </span>
</div>