<div class="breadcrumb">
  <span class="cell">
    {{#if morePages}}
    <a href="#" class="nextinfinitepagination">Next</a>
    {{/if}}
    <span class="cell howmanyperpagination">
      Show
      <a href="#" class="selected">12</a>
      |
      <a href="#" class="">50</a>
      |
      <a href="#" class="">100</a>
      per page
    </span>
    <span class="divider">/</span>
    <span class="cell first records">
      <span class="current">{{currentPage}}</span>
      of
      <span class="total">{{totalPages}}</span>
      pages shown
      {{#if allShown}}
        (All)
      {{/if}}
    </span>
  </span>
</div>