<div class="breadcrumb">
  <span class="cell">
    {{#if morePages}}
    <a href="#" class="servernext">Next</a>
    {{/if}}
    <span class="cell serverhowmany">
      Show
      <a href="#" class="">3</a>
      |
      <a href="#" class="">9</a>
      |
      <a href="#" class="selected">12</a>
      per page
    </span>
    <span class="divider">/</span>
    <span class="cell first records">
      <span class="current">{{currentPage}}</span>
      of
      <span class="total">{{totalPages}}</span>
      pages shown
      shown
    </span>
  </span>
</div>