<i class="icons icon-resize-full pull-right"></i>
<i class="icons icon-edit pull-right"></i>
<h5>
	Goal: <span class="sv">{{goal}}</span><br>
</h5>
<h5>
	Consultant: <span class="sv">{{consultants}}</span> <br />
</h5>
on
<span class="sv">{{dateElicited}}</span>
