<div class="modal-header">
  <h1>Session</h1>
</div>
<div class="modal-body">
  <ul class="session-fields-ul unstyled"></ul>
</div>
<div class="modal-footer">
  <input id="btn-save-session" type="button" class="btn-mini done" value="Done" />
</div>
<h3>Comments</h3>
<ul class="comments unstyled"></ul>
<button class="btn btn-primary add_comment" value="Add">Add
  Comment</button>