<i class="icon-calendar"></i> <strong class = "locale_Elicitation_Session"></strong>
<br />
<label class="locale_Goal"></label>
<textarea class="session-goal-input">{{goal}}</textarea><br />

<label class="locale_Consultants"></label>
<textarea class="session-consultant-input">{{consultants}}</textarea> <br />

<label class = "locale_When"></label>
<textarea class="session-elicitation-date-input">{{dateElicited}}</textarea>
