<i class="icons icon-resize-full pull-right"></i>
<i class="icons icon-edit pull-right"></i>
<h5>
	Goal:</h5> <span class="sv">{{goal}}</span><br>

<h5>
	Consultant: </h5> <span class="sv">{{consultants}}</span> <br />
<h5>
when:
</h5>
<span class="sv">{{dateElicited}}</span>
