<div class="btn-toolbar">
  <div class="btn-toolbar">
		<div class="pull-right">
		   <a href="#" class= "locale_Show_Readonly" rel="tooltip">
		    <i class="icons icon-book"></i></a>
		  <a href="#" class= "locale_Show_in_Dashboard" rel="tooltip" >
		    <i class="icons icon-resize-small"></i></a>
		</div>
		<button class="btn btn-success pull-left btn-save-session locale_Save" value="Save"></button>
  </div>
</div>


<h1 class = "locale_Elicitation_Session"></h1>
<ul class="session-fields-ul unstyled"></ul>
<ul class="comments unstyled"></ul>

<div class="alert alert-info">
  <i class="icons icon-comment"></i>
  <textarea class="comment-new-text"></textarea>
</div>
  
<button class="btn btn-primary add-comment-session" value="Add">
  <span class = "locale_Add"></span>  
  <i class="icons icon-comment"></i>
</button>
