<div class="modal-header">
  <h1>New Session <small>{{corpusname}}</small></h1>
  <p>Edit the fields below to create a new elicitation session, or push ESC to enter more data in the current session.</p>
</div>
<div class="modal-body">
  <ul class="session-fields-ul unstyled"></ul>
</div>
<div class="modal-footer">
  <a href="#" class="btn" data-dismiss="modal">Cancel</a>
  <input type="button" class="btn btn-success btn-save-session" value="New Session" />
</div>