<div class="pull-right">
  <a href="#" rel="tooltip" title="Show read only">
    	<i class="icons icon-book"></i></a>
  <a href="#" rel="tooltip" title="Show dashboard">	
    	<i class="icons icon-resize-small"></i></a>	
</div>

  <button class="btn btn-success pull-right btn-save-session pull-left" value="Save">Save</button>
  <br><br>
<h1>Session</h1>
<ul class="session-fields-ul unstyled"></ul>


<ul class="comments unstyled"></ul>

<div class="alert alert-info">
  <span> new comment: </span>
  <i class="icons icon-comment"></i>
  <div class= "pull-right">  </div>
  <textarea class="comment-new-text"></textarea>
</div>

<button class="btn btn-primary add-comment-session-edit" value="Add">Add
  Comment</button>
