<i class="icons icon-resize-full pull-right"></i>
<i class="icons icon-edit pull-right"></i>

<h1>Session</h1>
<ul class="session-fields-ul unstyled"></ul>

<h3>Comments</h3>
<ul class="comments unstyled"></ul>
<button class="btn btn-primary add-comment" value="Add">Add
  Comment</button>