<div class="pull-right">

  <a href="#" rel="tooltip" title="Show read only">
    <i class="icons icon-book"></i></a>
  <a href="#" rel="tooltip" title="Show full screen">    
    <i class="icons icon-resize-full"></i></a>
</div>

 <button class="btn btn-success pull-left btn-save-session" value="Save"><span class = "Save"></span></button>
 <br>
 <br>
<h1 class = "Session"></h1>
<ul class="session-fields-ul unstyled"></ul>

<ul class="comments unstyled"></ul>

<div class="alert alert-info">
  <i class="icons icon-comment"></i>
  <div class= "pull-right"> </div>
  <textarea class="comment-new-text"></textarea>
</div>
  
<button class="btn btn-primary add-comment-edit" value="Add"><span class = "Add"></span></button>
