<div class="pull-right">
    <i class="icons icon-book"></i>
    <i class="icons icon-resize-full"></i>
  </div>
 <button class="btn btn-success pull-right btn-save-session" value="Save">Save</button>
 <br>
 <br>
<h1 class = "Session"></h1>
<ul class="session-fields-ul unstyled"></ul>

<h3 class = "Comments"></h3>
<ul class="comments unstyled"></ul>

<div class="alert alert-info">
  <span class ="new_comment"> </span>
  <i class="icons icon-comment"></i>
  <div class= "pull-right"> </div>
  <textarea class="comment-new-text"></textarea>
</div>
  
<button class="btn btn-primary add-comment-edit" value="Add"><span class = "Add"></span></button>