<div class="pull-right">
    <i class="icons icon-edit"></i>
    
    <i class="icons icon-resize-full"></i>
  </div>
<h1>Session</h1>
<ul class="session-fields-ul unstyled"></ul>


<ul class="comments unstyled"></ul>

<div class="alert alert-info">
  <span> new comment: </span>
  <i class="icons icon-comment"></i>
  <div class= "pull-right">  </div>
  <textarea class="comment-new-text"></textarea>
</div>

<button class="btn btn-primary add-comment-session-read" value="Add">Add
  Comment</button>