<div class="modal-header">
  <h1><span class = "locale_New_Session"></span><small>{{corpusname}}</small></h1>
<span  class= "locale_New_Session_Instructions"></span>
</div>
<div class="modal-body">
  <ul class="session-fields-ul unstyled"></ul>
  <a href="#" class="btn" data-dismiss="modal"><span class="locale_Cancel"></span></a>
  <button class="btn btn-success pull-right btn-save-session" value="Save"><span class="locale_Save"></span></button>  
</div>
