<div class="pull-right">
    <i class="icons icon-book"></i>
    <spacer></spacer>
    <i class="icons icon-resize-full"></i>
  </div>
<label>
	Goal: <textarea class="session-goal-input">{{goal}}</textarea><br>
</label>
<label>
	Consultant(s): <textarea class="session-consultant-input">{{consultants}}</textarea> <br />
</label>
when:
<textarea class="session-elicitation-date-input">{{dateElicited}}</textarea>
