<div class="modal-header">
  <h1><span class = "locale_New_Session"></span><small>{{corpusname}}</small></h1>
  <span  class= "locale_New_Session_Instructions"></span>
</div>
<div class="modal-body">
  <ul class="session-fields-ul unstyled"></ul>
  <a href="#" class="btn locale_Cancel" data-dismiss="modal"></a>
  <button class="btn btn-success pull-right btn-save-session locale_Save" value="Save"></button>  
</div>
