<div class="pull-right">
  <a href="#" rel="tooltip" title="Edit session">
      <i class="icons icon-edit"></i></a>
  <a href="#" rel="tooltip" title="Show dashboard">    
      <i class="icons icon-resize-small"></i></a>
</div>

<h1 class = "Session"></h1>
<ul class="session-fields-ul unstyled"></ul>
<ul class="comments unstyled"></ul>

<div class="alert alert-info">
  <i class="icons icon-comment"></i>
  <div class= "pull-right"> </div>
  <textarea class="comment-new-text"></textarea>
</div>
<button class="btn btn-primary add-comment-edit" value="Add"><span class = "Add"></span></button>

  
