<div class="pull-right">
  <a href="#" rel="tooltip" title="Show read only">
    <i class="icons icon-book"></i></a>
    <spacer></spacer>
  <a href="#" rel="tooltip" title="Show full screen">    
    <i class="icons icon-resize-full"></i></a>
</div>

<label>
	Goal: <textarea class="session-goal-input">{{goal}}</textarea><br>
</label>
<label>
	Consultant(s): <textarea class="session-consultant-input">{{consultants}}</textarea> <br />
</label>
When:
<textarea class="session-elicitation-date-input">{{dateElicited}}</textarea>
