<div class="pull-right">
  <a href="#" rel="tooltip" title="Edit session">
    <i class="icons icon-edit"></i></a>
    <spacer></spacer>
  <a href="#" rel="tooltip" title="Show full screen">
    <i class="icons icon-resize-full"></i></a>
</div>

<h4 class = "Goal"></h4>
<span>{{goal}}</span>
<br>

<h4 class="Consultants"></h4>
<span>{{consultants}}</span>
<br />
<h4 class = "When"></h4>
<span>{{dateElicited}}</span>
