<div class="pull-right">
  <a href="#" class = "locale_Edit_Session" rel="tooltip">
      <i class="icons icon-edit"></i></a>
  <a href="#" class= "locale_Show_in_Dashboard" rel="tooltip" >
      <i class="icons icon-resize-small"></i></a>
</div>

<h1 class = "locale_Elicitation_Session"></h1>
<ul class="session-fields-ul unstyled"></ul>
<ul class="comments unstyled"></ul>

<div class="alert alert-info">
  <i class="icons icon-comment"></i>
  <textarea class="comment-new-text"></textarea>
</div>
<button class="btn btn-primary add-comment-session" value="Add">
  <span class = "locale_Add"></span>
  <i class="icons icon-comment"></i>
</button>

  
