<i class="icons icon-resize-full pull-right"></i>
<i class="icons icon-book pull-right"></i>
<h1>Edit Session</h1>
<ul class="session-fields-ul"></ul>
<input id="btn-save-session" type="button" class="btn-mini done"
	value="Done" />