<!-- TODO Make this a read-only version. Right now, this is just a copy of the Editable version -->

<h1>New Session</h1>
<ul class = "session-fields-ul"></ul>
<input id="btn-save-session" type="button" class="btn-mini done" value="Done"/>