<div class="pull-right">
   <a href="#" class= "locale_Show_Readonly" rel="tooltip">
    <i class="icons icon-book"></i></a>
  <a href="#" class = "locale_Show_fullscreen" rel="tooltip">    
    <i class="icons icon-resize-full"></i></a>
</div>

 <button class="btn btn-success pull-left btn-save-session" value="Save"><span class = "locale_Save"></span></button>
 <br>
 <br>
<h1 class = "locale_Session"></h1>
<ul class="session-fields-ul unstyled"></ul>
<ul class="comments unstyled"></ul>

<div class="alert alert-info">
  <i class="icons icon-comment"></i>
  <div class= "pull-right"> </div>
  <textarea class="comment-new-text"></textarea>
</div>
  
<button class="btn btn-primary add-comment-edit" value="Add"><span class = "locale_Add"></span></button>
