<i class="icons icon-resize-full pull-right"></i>
<i class="icons icon-book pull-right"></i>
<h1>Session</h1>
<ul class="session-fields-ul unstyled"></ul>

 <button class="btn btn-success btn-save-session" value="Done">Done</button>
