<div class="pull-right">
   <a href="#" class= "locale_Show_Readonly" rel="tooltip">
    <i class="icons icon-book"></i></a>
  <a href="#" class = "locale_Show_fullscreen" rel="tooltip">    
    <i class="icons icon-resize-full"></i></a>
</div>
  
<strong class = "locale_Elicitation_Session"></strong>
<br />
<label class="locale_Goal"></label>
<textarea class="session-goal-input">{{goal}}</textarea><br />

<label class="locale_Consultants"></label>
<textarea class="session-consultant-input">{{consultants}}</textarea> <br />

<label class = "locale_When"></label>
<textarea class="session-elicitation-date-input">{{dateElicited}}</textarea>
