<i class="icons icon-resize-full pull-right"></i>
<i class="icons icon-edit pull-right"></i>
<h4>Goal:</h4>
<span>{{goal}}</span>
<br>

<h4>Consultant:</h4>
<span>{{consultants}}</span>
<br />
<h4>When:</h4>
<span>{{dateElicited}}</span>
