<i class="icons icon-resize-full pull-right"></i>
<i class="icons icon-edit pull-right"></i>

<div class="pull-right">
    <i class="icons icon-edit"></i>
    <spacer></spacer>
    <i class="icons icon-resize-full"></i>
  </div>
<h1>Session</h1>
<ul class="session-fields-ul unstyled"></ul>

<div class="accordion" id="accordion-session-read-embedded">
<div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse"
        data-parent="#accordion-session-read-embedded" href="#collapseCommentsSRE">
        <h4>Comments</h4>
        </a>
    </div>
    <div id="collapseCommentsSRE" class="accordion-body collapse">
      <div class="accordion-inner">
        <ul class="comments unstyled"></ul>
        <div class="breadcrumb">
        <label>New Comment</label>
              <textarea
              class="add-comment" placeholder=""></textarea>
          <button class="btn btn-primary add-comment-session-read" value="Add">Add Comment</button>
        </div>
      </div>
    </div>
  </div>
</div>

