<div class="pull-right">
    <i class="icons icon-edit"></i>
    <spacer></spacer>
    <i class="icons icon-resize-full"></i>
  </div>
<h4>Goal:</h4>
<span>{{goal}}</span>
<br>

<h4>Consultant:</h4>
<span>{{consultants}}</span>
<br />
<h4>When:</h4>
<span>{{dateElicited}}</span>
