<i class="icons icon-resize-full pull-right"></i>
<i class="icons icon-book pull-right"></i>
<label>
	Goal: <textarea class="sv session-goal-input">{{goal}}</textarea><br>
</label>
<label>
	Consultant(s): <textarea class="sv session-consultant-input">{{consultants}}</textarea> <br />
</label>
on
<textarea class="sv session-elicitation-date-input">{{dateElicited}}"></textarea>
