<a href="#session/{{_id}}">
<i class="icon-comments-alt"></i>
  <span>{{dateElicited}}</span> 
</a>
--
<span class= "locale_Consultants"></span> <span>{{consultants}}</span>
<br/>
<span class = "locale_Goal"></span> <span>{{goal}}</span>

