<p><i class="icon-list"></i>
<a href="#session/{{_id}}">
 <span>{{dateElicited}}</span> 
 </a>
 <br/>
 <span class= "Consultants"></span> <span>{{consultants}}</span>
<br/>
<span class = "Goal"></span> <span>{{goal}}</span>
 </p>

