<div class="pull-right">
  <a href="#" class = "locale_Edit_Session" rel="tooltip">
    <i class="icons icon-edit"></i></a>
  <a href="#" class = "locale_Show_fullscreen" rel="tooltip">    
    <i class="icons icon-resize-full"></i></a>
</div>

<p>
  <strong class = "locale_Goal"></strong>
  <span>{{goal}}</span>
  <br/>
  
  <strong class="locale_Consultants"></strong>
  <span>{{consultants}}</span>
  <br />
  <strong class = "locale_When"></strong>
  <span>{{dateElicited}}</span>
</p>