<div class="pull-right">
    <i class="icons icon-book"></i>
    <spacer></spacer>
    <i class="icons icon-resize-full"></i>
  </div>
 <button class="btn btn-success pull-right btn-save-session" value="Save">Save</button>
<h1>Session</h1>
<ul class="session-fields-ul unstyled"></ul>

<h3>Comments</h3>
<ul class="comments unstyled"></ul>
<button class="btn btn-primary add-comment-session-edit" value="Add">Add
  Comment</button>

