<i class="icons icon-resize-small pull-right"></i>
<i class="icons icon-book pull-right"></i>
<input type="button" class="btn btn-success pull-right btn-save-session" value="Save" />
<h1>Session</h1>
<ul class="session-fields-ul unstyled"></ul>

<div class="accordion" id="accordion-session-edit-fullscreen">
<div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse"
        data-parent="#accordion-session-eidt-fullscreen" href="#collapseCommentsSEF">
        <h4>Comments</h4>
        </a>
    </div>
    <div id="collapseCommentsSEF" class="accordion-body collapse">
      <div class="accordion-inner">
        <ul class="comments unstyled"></ul>
        <div class="breadcrumb">
        <label>New Comment</label>
              <textarea
              class="add-comment" placeholder=""></textarea>
          <button class="btn btn-primary add-comment-session-edit" value="Add">Add Comment</button>
        </div>
      </div>
    </div>
  </div>
</div>


