<div class="pull-right">
   <a href="#" class= "locale_Show_Readonly" rel="tooltip">
    <i class="icons icon-book"></i></a>
    <spacer></spacer>
  <a href="#" class = "locale_Show_fullscreen" rel="tooltip">    
    <i class="icons icon-resize-full"></i></a>
</div>

<label>
  <strong class = "locale_Elicitation_Session"></strong>
<br>
<span class="locale_Goal">	</span> <textarea class="session-goal-input">{{goal}}</textarea><br>
</label>
<label>
	<span class="locale_Consultants"> </span> <textarea class="session-consultant-input">{{consultants}}</textarea> <br />
</label>
<span class = "locale_When"></span>
<textarea class="session-elicitation-date-input">{{dateElicited}}</textarea>
