<i class="icons icon-resize-full pull-right"></i>
<i class="icons icon-book pull-right"></i>
<label>
	Goal: <textarea class="sv">{{goal}}</textarea><br>
</label>
<label>
	Consultant(s): <textarea class="sv">{{consultants}}</textarea> <br />
</label>
on
<textarea class="sv">{{date}}</textarea>
