<div class="pull-right">
    <i class="icons icon-book"></i>
    <spacer></spacer>
    <i class="icons icon-resize-full"></i>
  </div>
 <button class="btn btn-success pull-right btn-save-session" value="Save">Save</button>
<h1>Session</h1>
<ul class="session-fields-ul unstyled"></ul>

<div class="accordion" id="accordion-session-edit-embedded">
<div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse"
        data-parent="#accordion-session-eidt-embedded" href="#collapseCommentsSEE">
        <h4>Comments</h4>
        </a>
    </div>
    <div id="collapseCommentsSEE" class="accordion-body collapse">
      <div class="accordion-inner">
        <ul class="comments unstyled"></ul>
        <div class="breadcrumb">
        <label>New Comment</label>
              <textarea
              class="add-comment" placeholder=""></textarea>
          <button class="btn btn-primary add-comment-session-edit" value="Add">Add Comment</button>
        </div>
      </div>
    </div>
  </div>
</div>

