<div class="modeal-header">
  <h1 class = "Export">Export <small id="export-type-description"></small></h1>
</div>
<div class="modal-body export">
<textarea class="export-large-textarea" id="export-text-area"></textarea>  

</div>
<div class="modal-footer">
  <a href="#" class="btn" data-dismiss="modal">Close</a>
</div>