<div class="modeal-header">
  <h1 class = "locale_Export"></h1>
</div>
<div class="modal-body export">
<span class="pull-right datim-state-settings-checkbox">
  <span class ="locale_Decrypt"></span>
  
  <input type="checkbox" class="shouldBeEncryptedExport" {{shouldBeEncryptedExport}}></input>
</span>

  <select class="export_format">
    <option>JSON</option>
    <option>ToolBox</option>
    <option>ELAN</option>
    <option>XML</option>
    <option>Text</option>
    <option>CSV</option>
  </select>









</div>
<div class="modal-footer">
  <a href="#" class="btn" data-dismiss="modal"><span class= "locale_Close"></span></a>
</div>