<!-- full screen button -->
<div class="pull-right">
  <a href="#"   title="{{locale_Show_Readonly}}" rel="tooltip">
      <i class="icons icon-book"></i></a>        
  <a href="#"   title="{{locale_Show_Fullscreen}}" rel="tooltip">
      <i class="icons icon-resize-full"></i></a>
</div>
<h4 class="hide">{{{locale_Data_Entry_Area}}}</h4>

<!-- Required so that the full screen button doesn't end up inside the next div -->
<div class="clear-spacing"></div>

<!-- list of datum -->
<ul class="datum-embedded-ul unstyled"></ul>