


<div class="row-fluid">
	<div class="span4 keyword mywell">
		<label>Original French Keyword</label>
		 <input class="input-medium"></input>
	</div>
	<div class="span4 mywell mediate document_source">
	<br>
		<label>Document Source</label>
		 <input class="input-large"></input>
	</div>

	<form class="span4 form-horizontal well pull-right">
		<div class="control-group mywell">
			<label class="control-label mywell">Page</label>
			<div class="controls">
				<input class="input-my">
			</div>
		</div>
		<div class="control-group mywell">
			<label class="control-label mywell">Line</label>
			<div class="controls">
				<input class="input-my">
			</div>
		</div>
		<div class="control-group mywell">
			<label class="control-label mywell">Line Segment</label>
			<div class="controls">
				<input class="input-my">
			</div>
		</div>
	</form>
</div>
<div class="row-fluid">
	<div class="scrollable">
		<img src="images/test.jpg" class="width100">
	</div>
	


	<div class="span12">
	
		<div class="span6">
			<!-- First column -->
			<!-- <div class="well">{{original_french}}</div>-->
			<div class="well">
				<div class="row-fluid">
					<label class="span3">Original French</label>
					<div class="btn-group pull-right">
						<button
							class="btn btn-small btn-success show_original_details">show</button>
						<button
							class="btn btn-small btn-success hide_original_details">hide</button>
					</div>
				</div>
				<div class="original_french_details" hidden="hidden">
					<ul class="unstyled">
						<li class="datum_field modernFrench">
						<label class="datum_field_label">modern French spelling</label> <textarea
								class="datum_field_input"> </textarea></li>
						<li class="datum_field EnglishTranslation"><label
							class="datum_field_label">English translation</label> <textarea
								class="datum_field_input"> </textarea></li>
					</ul>
				</div>

				</div>
			<div class="well">
				<div class="row-fluid">
					<label class="span3">Cognates</label>
					<div class="btn-group pull-right">
						<button
							class="btn btn-small btn-success show_cognates_details">show</button>
						<button
							class="btn btn-small btn-success hide_cognates_details">hide</button>
					</div>
				</div>
				<div class="cognates_details" hidden="hidden">
				<div class="row-fluid">
					<div class="well span12">
						<input class="span4 input-mini" placeholder="form"></input>
						<input class="span4 input-mini" placeholder="gloss"></input>
						<input class="span4 offset1 input-mini" placeholder="source"></input>
					</div>
				</div>	
				<div class="row-fluid">
					<div class="well span12">
						<input class="span4 input-mini" placeholder="form"></input>
						<input class="span4 input-mini" placeholder="gloss"></input>
						<input class="span4 input-mini" placeholder="source"></input>
					</div>
				</div>	
				</div>
		</div>
		
		<div class="well">
				<div class="row-fluid">
					<label class="span6">Related Miami-Illinois Forms</label>
					<div class="btn-group pull-right">
						<button
							class="btn btn-small btn-success show_related_miami_details">show</button>
						<button
							class="btn btn-small btn-success hide_related_miami_details">hide</button>
					</div>
				</div>
				<div class="related_miami_details" hidden="hidden">
				<div class="row-fluid">
					<div class="well span12">
						<input class="span5 input-mini" placeholder="original form"></input>
						<input class="span5 input-mini" placeholder="phonemic form"></input>
						
					</div>
				</div>	
				<div class="row-fluid">
					<div class="well span12">
				
						<input class="span5 input-mini" placeholder="gloss"></input>
						<input class="span5 input-mini" placeholder="page"></input>
					</div>
				</div>	
				</div>
		
		
	</div>
    </div>
    
        <div class="span6">
        
			<!-- Second column -->
	       <div class="well">
				<div class="row-fluid">
					<label class="span3">Original Miami-Illinois</label>
					<div class="btn-group pull-right">
						<button
							class="btn btn-small btn-success show_miami_details">show</button>
						<button
							class="btn btn-small btn-success hide_miami_details">hide</button>
					</div>
				</div>
				<div class="miami_details" hidden="hidden">
					<ul class="unstyled">
						<li class="datum_field modernFrench">
						<label class="datum_field_label">Modern Miami-Illinois spelling</label> <textarea
								class="datum_field_input"> </textarea></li>
						<li class="datum_field EnglishTranslation"><label
							class="datum_field_label">English translation</label> <textarea
								class="datum_field_input"> </textarea></li>
					</ul>
				</div>

				</div>

           <div class="well">
				<div class="row-fluid">
					<label class="span6">Modem Myaamia Speech Forms</label>
					<div class="btn-group pull-right">
						<button
							class="btn btn-small btn-success show_myaamia_details">show</button>
						<button
							class="btn btn-small btn-success hide_myaamia_details">hide</button>
					</div>
				</div>
				<div class="myaamia_details" hidden="hidden">
				<div class="row-fluid">
					<div class="well span12">
						<input class="span4 input-mini" placeholder="stem"></input>
						<input class="span4 input-mini" placeholder="gloss"></input>
						
					</div>
				</div>	
				<div class="row-fluid">
					<div class="well span12">
				
						<input class="span4 input-mini" placeholder="stem"></input>
						<input class="span4 input-mini" placeholder="gloss"></input>
					</div>
				</div>	
				</div>
		
		
	</div>
         
         <div class="well">
         <div class="row-fluid">
         
        
<div id="insert-unicode" class="well"><div class="pull-right">
  <a href="#" class="locale_Hide_Unicode_Palette" rel="tooltip" title="Hide Unicode Palette">
    <i class="icons icon-minus-sign"></i></a>
</div>
<h3><span class="locale_Unicode">Unicode</span>
<span class="locale_Drag_and_Drop"><small>Drag and Drop</small></span>
</h3>
<div id="unicodes" class="unicode-buttons row-fluid"><span><span class="dropdown" id="menuɔ"> 
  <a class="btn-mini btn show-unicode-details dropdown-toggle btn-info" data-toggle="dropdown" href="#menuɔ"> 
    <b class="unicode-symbol infrequent-unicode-symbol" draggable="true">ɔ</b>
  </a>
	<ul class="dropdown-menu">
		<li class="locale_LaTeX_Code">LaTeX Code:</li>
		<li><input class="edit-tipa-input input-small" value="" type="text"></li>
		<li class="locale_Unicode_Instructions">By default this is also a keyboard shortcut to type this character in a datum field. To customize the shortcut:</li>
		<li><a data-toggle="modal" href="#hotkey-settings-modal">
		  <i class="icon-hdd"></i>
		  <span class="locale_Keyboard_Shortcuts">Keyboard Shortcuts</span> </a></li>
		<li class="remove-unicode"><a>
		  <i class="icon-remove-sign"></i>
		  <span class="locale_Remove_Unicode">Remove Unicode</span></a></li>
	</ul>
</span></span><span><span class="dropdown" id="menuɛ"> 
  <a class="btn-mini btn show-unicode-details dropdown-toggle btn-info" data-toggle="dropdown" href="#menuɛ"> 
    <b class="unicode-symbol infrequent-unicode-symbol" draggable="true">ɛ</b>
  </a>
	<ul class="dropdown-menu">
		<li class="locale_LaTeX_Code">LaTeX Code:</li>
		<li><input class="edit-tipa-input input-small" value="" type="text"></li>
		<li class="locale_Unicode_Instructions">By default this is also a keyboard shortcut to type this character in a datum field. To customize the shortcut:</li>
		<li><a data-toggle="modal" href="#hotkey-settings-modal">
		  <i class="icon-hdd"></i>
		  <span class="locale_Keyboard_Shortcuts">Keyboard Shortcuts</span> </a></li>
		<li class="remove-unicode"><a>
		  <i class="icon-remove-sign"></i>
		  <span class="locale_Remove_Unicode">Remove Unicode</span></a></li>
	</ul>
</span></span><span><span class="dropdown" id="menuɣ"> 
  <a class="btn-mini btn show-unicode-details dropdown-toggle btn-info" data-toggle="dropdown" href="#menuɣ"> 
    <b class="unicode-symbol infrequent-unicode-symbol" draggable="true">ɣ</b>
  </a>
	<ul class="dropdown-menu">
		<li class="locale_LaTeX_Code">LaTeX Code:</li>
		<li><input class="edit-tipa-input input-small" value="" type="text"></li>
		<li class="locale_Unicode_Instructions">By default this is also a keyboard shortcut to type this character in a datum field. To customize the shortcut:</li>
		<li><a data-toggle="modal" href="#hotkey-settings-modal">
		  <i class="icon-hdd"></i>
		  <span class="locale_Keyboard_Shortcuts">Keyboard Shortcuts</span> </a></li>
		<li class="remove-unicode"><a>
		  <i class="icon-remove-sign"></i>
		  <span class="locale_Remove_Unicode">Remove Unicode</span></a></li>
	</ul>
</span></span><span><span class="dropdown" id="menuɥ"> 
  <a class="btn-mini btn show-unicode-details dropdown-toggle btn-info" data-toggle="dropdown" href="#menuɥ"> 
    <b class="unicode-symbol infrequent-unicode-symbol" draggable="true">ɥ</b>
  </a>
	<ul class="dropdown-menu">
		<li class="locale_LaTeX_Code">LaTeX Code:</li>
		<li><input class="edit-tipa-input input-small" value="" type="text"></li>
		<li class="locale_Unicode_Instructions">By default this is also a keyboard shortcut to type this character in a datum field. To customize the shortcut:</li>
		<li><a data-toggle="modal" href="#hotkey-settings-modal">
		  <i class="icon-hdd"></i>
		  <span class="locale_Keyboard_Shortcuts">Keyboard Shortcuts</span> </a></li>
		<li class="remove-unicode"><a>
		  <i class="icon-remove-sign"></i>
		  <span class="locale_Remove_Unicode">Remove Unicode</span></a></li>
	</ul>
</span></span><span><span class="dropdown" id="menuɦ"> 
  <a class="btn-mini btn show-unicode-details dropdown-toggle btn-info" data-toggle="dropdown" href="#menuɦ"> 
    <b class="unicode-symbol infrequent-unicode-symbol" draggable="true">ɦ</b>
  </a>
	<ul class="dropdown-menu">
		<li class="locale_LaTeX_Code">LaTeX Code:</li>
		<li><input class="edit-tipa-input input-small" value="" type="text"></li>
		<li class="locale_Unicode_Instructions">By default this is also a keyboard shortcut to type this character in a datum field. To customize the shortcut:</li>
		<li><a data-toggle="modal" href="#hotkey-settings-modal">
		  <i class="icon-hdd"></i>
		  <span class="locale_Keyboard_Shortcuts">Keyboard Shortcuts</span> </a></li>
		<li class="remove-unicode"><a>
		  <i class="icon-remove-sign"></i>
		  <span class="locale_Remove_Unicode">Remove Unicode</span></a></li>
	</ul>
</span></span><span><span class="dropdown" id="menuɫ"> 
  <a class="btn-mini btn show-unicode-details dropdown-toggle btn-info" data-toggle="dropdown" href="#menuɫ"> 
    <b class="unicode-symbol infrequent-unicode-symbol" draggable="true">ɫ</b>
  </a>
	<ul class="dropdown-menu">
		<li class="locale_LaTeX_Code">LaTeX Code:</li>
		<li><input class="edit-tipa-input input-small" value="" type="text"></li>
		<li class="locale_Unicode_Instructions">By default this is also a keyboard shortcut to type this character in a datum field. To customize the shortcut:</li>
		<li><a data-toggle="modal" href="#hotkey-settings-modal">
		  <i class="icon-hdd"></i>
		  <span class="locale_Keyboard_Shortcuts">Keyboard Shortcuts</span> </a></li>
		<li class="remove-unicode"><a>
		  <i class="icon-remove-sign"></i>
		  <span class="locale_Remove_Unicode">Remove Unicode</span></a></li>
	</ul>
</span></span><span><span class="dropdown" id="menuʃ"> 
  <a class="btn-mini btn show-unicode-details dropdown-toggle btn-info" data-toggle="dropdown" href="#menuʃ"> 
    <b class="unicode-symbol infrequent-unicode-symbol" draggable="true">ʃ</b>
  </a>
	<ul class="dropdown-menu">
		<li class="locale_LaTeX_Code">LaTeX Code:</li>
		<li><input class="edit-tipa-input input-small" value="" type="text"></li>
		<li class="locale_Unicode_Instructions">By default this is also a keyboard shortcut to type this character in a datum field. To customize the shortcut:</li>
		<li><a data-toggle="modal" href="#hotkey-settings-modal">
		  <i class="icon-hdd"></i>
		  <span class="locale_Keyboard_Shortcuts">Keyboard Shortcuts</span> </a></li>
		<li class="remove-unicode"><a>
		  <i class="icon-remove-sign"></i>
		  <span class="locale_Remove_Unicode">Remove Unicode</span></a></li>
	</ul>
</span></span><span><span class="dropdown" id="menuʒ"> 
  <a class="btn-mini btn show-unicode-details dropdown-toggle btn-info" data-toggle="dropdown" href="#menuʒ"> 
    <b class="unicode-symbol infrequent-unicode-symbol" draggable="true">ʒ</b>
  </a>
	<ul class="dropdown-menu">
		<li class="locale_LaTeX_Code">LaTeX Code:</li>
		<li><input class="edit-tipa-input input-small" value="" type="text"></li>
		<li class="locale_Unicode_Instructions">By default this is also a keyboard shortcut to type this character in a datum field. To customize the shortcut:</li>
		<li><a data-toggle="modal" href="#hotkey-settings-modal">
		  <i class="icon-hdd"></i>
		  <span class="locale_Keyboard_Shortcuts">Keyboard Shortcuts</span> </a></li>
		<li class="remove-unicode"><a>
		  <i class="icon-remove-sign"></i>
		  <span class="locale_Remove_Unicode">Remove Unicode</span></a></li>
	</ul>
</span></span><span><span class="dropdown" id="menuʔ"> 
  <a class="btn-mini btn show-unicode-details dropdown-toggle btn-info" data-toggle="dropdown" href="#menuʔ"> 
    <b class="unicode-symbol infrequent-unicode-symbol" draggable="true">ʔ</b>
  </a>
	<ul class="dropdown-menu">
		<li class="locale_LaTeX_Code">LaTeX Code:</li>
		<li><input class="edit-tipa-input input-small" value="" type="text"></li>
		<li class="locale_Unicode_Instructions">By default this is also a keyboard shortcut to type this character in a datum field. To customize the shortcut:</li>
		<li><a data-toggle="modal" href="#hotkey-settings-modal">
		  <i class="icon-hdd"></i>
		  <span class="locale_Keyboard_Shortcuts">Keyboard Shortcuts</span> </a></li>
		<li class="remove-unicode"><a>
		  <i class="icon-remove-sign"></i>
		  <span class="locale_Remove_Unicode">Remove Unicode</span></a></li>
	</ul>
</span></span><span><span class="dropdown" id="menuλ "> 
  <a class="btn-mini btn show-unicode-details dropdown-toggle btn-info" data-toggle="dropdown" href="#menuλ "> 
    <b class="unicode-symbol infrequent-unicode-symbol" draggable="true">λ </b>
  </a>
	<ul class="dropdown-menu">
		<li class="locale_LaTeX_Code">LaTeX Code:</li>
		<li><input class="edit-tipa-input input-small" value="lambda" type="text"></li>
		<li class="locale_Unicode_Instructions">By default this is also a keyboard shortcut to type this character in a datum field. To customize the shortcut:</li>
		<li><a data-toggle="modal" href="#hotkey-settings-modal">
		  <i class="icon-hdd"></i>
		  <span class="locale_Keyboard_Shortcuts">Keyboard Shortcuts</span> </a></li>
		<li class="remove-unicode"><a>
		  <i class="icon-remove-sign"></i>
		  <span class="locale_Remove_Unicode">Remove Unicode</span></a></li>
	</ul>
</span></span><span><span class="dropdown" id="menuα "> 
  <a class="btn-mini btn show-unicode-details dropdown-toggle btn-info" data-toggle="dropdown" href="#menuα "> 
    <b class="unicode-symbol infrequent-unicode-symbol" draggable="true">α </b>
  </a>
	<ul class="dropdown-menu">
		<li class="locale_LaTeX_Code">LaTeX Code:</li>
		<li><input class="edit-tipa-input input-small" value="alpha" type="text"></li>
		<li class="locale_Unicode_Instructions">By default this is also a keyboard shortcut to type this character in a datum field. To customize the shortcut:</li>
		<li><a data-toggle="modal" href="#hotkey-settings-modal">
		  <i class="icon-hdd"></i>
		  <span class="locale_Keyboard_Shortcuts">Keyboard Shortcuts</span> </a></li>
		<li class="remove-unicode"><a>
		  <i class="icon-remove-sign"></i>
		  <span class="locale_Remove_Unicode">Remove Unicode</span></a></li>
	</ul>
</span></span><span><span class="dropdown" id="menuβ "> 
  <a class="btn-mini btn show-unicode-details dropdown-toggle btn-info" data-toggle="dropdown" href="#menuβ "> 
    <b class="unicode-symbol infrequent-unicode-symbol" draggable="true">β </b>
  </a>
	<ul class="dropdown-menu">
		<li class="locale_LaTeX_Code">LaTeX Code:</li>
		<li><input class="edit-tipa-input input-small" value="eta" type="text"></li>
		<li class="locale_Unicode_Instructions">By default this is also a keyboard shortcut to type this character in a datum field. To customize the shortcut:</li>
		<li><a data-toggle="modal" href="#hotkey-settings-modal">
		  <i class="icon-hdd"></i>
		  <span class="locale_Keyboard_Shortcuts">Keyboard Shortcuts</span> </a></li>
		<li class="remove-unicode"><a>
		  <i class="icon-remove-sign"></i>
		  <span class="locale_Remove_Unicode">Remove Unicode</span></a></li>
	</ul>
</span></span><span><span class="dropdown" id="menu∀"> 
  <a class="btn-mini btn show-unicode-details dropdown-toggle btn-info" data-toggle="dropdown" href="#menu∀"> 
    <b class="unicode-symbol infrequent-unicode-symbol" draggable="true">∀</b>
  </a>
	<ul class="dropdown-menu">
		<li class="locale_LaTeX_Code">LaTeX Code:</li>
		<li><input class="edit-tipa-input input-small" value="orall" type="text"></li>
		<li class="locale_Unicode_Instructions">By default this is also a keyboard shortcut to type this character in a datum field. To customize the shortcut:</li>
		<li><a data-toggle="modal" href="#hotkey-settings-modal">
		  <i class="icon-hdd"></i>
		  <span class="locale_Keyboard_Shortcuts">Keyboard Shortcuts</span> </a></li>
		<li class="remove-unicode"><a>
		  <i class="icon-remove-sign"></i>
		  <span class="locale_Remove_Unicode">Remove Unicode</span></a></li>
	</ul>
</span></span><span><span class="dropdown" id="menu∃"> 
  <a class="btn-mini btn show-unicode-details dropdown-toggle btn-info" data-toggle="dropdown" href="#menu∃"> 
    <b class="unicode-symbol infrequent-unicode-symbol" draggable="true">∃</b>
  </a>
	<ul class="dropdown-menu">
		<li class="locale_LaTeX_Code">LaTeX Code:</li>
		<li><input class="edit-tipa-input input-small" value="exists" type="text"></li>
		<li class="locale_Unicode_Instructions">By default this is also a keyboard shortcut to type this character in a datum field. To customize the shortcut:</li>
		<li><a data-toggle="modal" href="#hotkey-settings-modal">
		  <i class="icon-hdd"></i>
		  <span class="locale_Keyboard_Shortcuts">Keyboard Shortcuts</span> </a></li>
		<li class="remove-unicode"><a>
		  <i class="icon-remove-sign"></i>
		  <span class="locale_Remove_Unicode">Remove Unicode</span></a></li>
	</ul>
</span></span><span><span class="dropdown" id="menu∄"> 
  <a class="btn-mini btn show-unicode-details dropdown-toggle btn-info" data-toggle="dropdown" href="#menu∄"> 
    <b class="unicode-symbol infrequent-unicode-symbol" draggable="true">∄</b>
  </a>
	<ul class="dropdown-menu">
		<li class="locale_LaTeX_Code">LaTeX Code:</li>
		<li><input class="edit-tipa-input input-small" value="" type="text"></li>
		<li class="locale_Unicode_Instructions">By default this is also a keyboard shortcut to type this character in a datum field. To customize the shortcut:</li>
		<li><a data-toggle="modal" href="#hotkey-settings-modal">
		  <i class="icon-hdd"></i>
		  <span class="locale_Keyboard_Shortcuts">Keyboard Shortcuts</span> </a></li>
		<li class="remove-unicode"><a>
		  <i class="icon-remove-sign"></i>
		  <span class="locale_Remove_Unicode">Remove Unicode</span></a></li>
	</ul>
</span></span><span><span class="dropdown" id="menu∅"> 
  <a class="btn-mini btn show-unicode-details dropdown-toggle btn-info" data-toggle="dropdown" href="#menu∅"> 
    <b class="unicode-symbol infrequent-unicode-symbol" draggable="true">∅</b>
  </a>
	<ul class="dropdown-menu">
		<li class="locale_LaTeX_Code">LaTeX Code:</li>
		<li><input class="edit-tipa-input input-small" value="" type="text"></li>
		<li class="locale_Unicode_Instructions">By default this is also a keyboard shortcut to type this character in a datum field. To customize the shortcut:</li>
		<li><a data-toggle="modal" href="#hotkey-settings-modal">
		  <i class="icon-hdd"></i>
		  <span class="locale_Keyboard_Shortcuts">Keyboard Shortcuts</span> </a></li>
		<li class="remove-unicode"><a>
		  <i class="icon-remove-sign"></i>
		  <span class="locale_Remove_Unicode">Remove Unicode</span></a></li>
	</ul>
</span></span><span><span class="dropdown" id="menu∈"> 
  <a class="btn-mini btn show-unicode-details dropdown-toggle btn-info" data-toggle="dropdown" href="#menu∈"> 
    <b class="unicode-symbol infrequent-unicode-symbol" draggable="true">∈</b>
  </a>
	<ul class="dropdown-menu">
		<li class="locale_LaTeX_Code">LaTeX Code:</li>
		<li><input class="edit-tipa-input input-small" value="" type="text"></li>
		<li class="locale_Unicode_Instructions">By default this is also a keyboard shortcut to type this character in a datum field. To customize the shortcut:</li>
		<li><a data-toggle="modal" href="#hotkey-settings-modal">
		  <i class="icon-hdd"></i>
		  <span class="locale_Keyboard_Shortcuts">Keyboard Shortcuts</span> </a></li>
		<li class="remove-unicode"><a>
		  <i class="icon-remove-sign"></i>
		  <span class="locale_Remove_Unicode">Remove Unicode</span></a></li>
	</ul>
</span></span><span><span class="dropdown" id="menu∉"> 
  <a class="btn-mini btn show-unicode-details dropdown-toggle btn-info" data-toggle="dropdown" href="#menu∉"> 
    <b class="unicode-symbol infrequent-unicode-symbol" draggable="true">∉</b>
  </a>
	<ul class="dropdown-menu">
		<li class="locale_LaTeX_Code">LaTeX Code:</li>
		<li><input class="edit-tipa-input input-small" value="" type="text"></li>
		<li class="locale_Unicode_Instructions">By default this is also a keyboard shortcut to type this character in a datum field. To customize the shortcut:</li>
		<li><a data-toggle="modal" href="#hotkey-settings-modal">
		  <i class="icon-hdd"></i>
		  <span class="locale_Keyboard_Shortcuts">Keyboard Shortcuts</span> </a></li>
		<li class="remove-unicode"><a>
		  <i class="icon-remove-sign"></i>
		  <span class="locale_Remove_Unicode">Remove Unicode</span></a></li>
	</ul>
</span></span><span><span class="dropdown" id="menu∋"> 
  <a class="btn-mini btn show-unicode-details dropdown-toggle btn-info" data-toggle="dropdown" href="#menu∋"> 
    <b class="unicode-symbol infrequent-unicode-symbol" draggable="true">∋</b>
  </a>
	<ul class="dropdown-menu">
		<li class="locale_LaTeX_Code">LaTeX Code:</li>
		<li><input class="edit-tipa-input input-small" value="" type="text"></li>
		<li class="locale_Unicode_Instructions">By default this is also a keyboard shortcut to type this character in a datum field. To customize the shortcut:</li>
		<li><a data-toggle="modal" href="#hotkey-settings-modal">
		  <i class="icon-hdd"></i>
		  <span class="locale_Keyboard_Shortcuts">Keyboard Shortcuts</span> </a></li>
		<li class="remove-unicode"><a>
		  <i class="icon-remove-sign"></i>
		  <span class="locale_Remove_Unicode">Remove Unicode</span></a></li>
	</ul>
</span></span><span><span class="dropdown" id="menu∌"> 
  <a class="btn-mini btn show-unicode-details dropdown-toggle btn-info" data-toggle="dropdown" href="#menu∌"> 
    <b class="unicode-symbol infrequent-unicode-symbol" draggable="true">∌</b>
  </a>
	<ul class="dropdown-menu">
		<li class="locale_LaTeX_Code">LaTeX Code:</li>
		<li><input class="edit-tipa-input input-small" value="" type="text"></li>
		<li class="locale_Unicode_Instructions">By default this is also a keyboard shortcut to type this character in a datum field. To customize the shortcut:</li>
		<li><a data-toggle="modal" href="#hotkey-settings-modal">
		  <i class="icon-hdd"></i>
		  <span class="locale_Keyboard_Shortcuts">Keyboard Shortcuts</span> </a></li>
		<li class="remove-unicode"><a>
		  <i class="icon-remove-sign"></i>
		  <span class="locale_Remove_Unicode">Remove Unicode</span></a></li>
	</ul>
</span></span><span><span class="dropdown" id="menusad"> 
  <a class="btn-mini btn show-unicode-details dropdown-toggle btn-info" data-toggle="dropdown" href="#menusad"> 
    <b class="unicode-symbol infrequent-unicode-symbol" draggable="true">sad</b>
  </a>
	<ul class="dropdown-menu">
		<li class="locale_LaTeX_Code">LaTeX Code:</li>
		<li><input class="edit-tipa-input input-small" value="" type="text"></li>
		<li class="locale_Unicode_Instructions">By default this is also a keyboard shortcut to type this character in a datum field. To customize the shortcut:</li>
		<li><a data-toggle="modal" href="#hotkey-settings-modal">
		  <i class="icon-hdd"></i>
		  <span class="locale_Keyboard_Shortcuts">Keyboard Shortcuts</span> </a></li>
		<li class="remove-unicode"><a>
		  <i class="icon-remove-sign"></i>
		  <span class="locale_Remove_Unicode">Remove Unicode</span></a></li>
	</ul>
</span></span><span><span class="dropdown" id="menu"> 
  <a class="btn-mini btn show-unicode-details dropdown-toggle btn-info" data-toggle="dropdown" href="#menu"> 
    <b class="unicode-symbol infrequent-unicode-symbol" draggable="true"></b>
  </a>
	<ul class="dropdown-menu">
		<li class="locale_LaTeX_Code">LaTeX Code:</li>
		<li><input class="edit-tipa-input input-small" value="ds" type="text"></li>
		<li class="locale_Unicode_Instructions">By default this is also a keyboard shortcut to type this character in a datum field. To customize the shortcut:</li>
		<li><a data-toggle="modal" href="#hotkey-settings-modal">
		  <i class="icon-hdd"></i>
		  <span class="locale_Keyboard_Shortcuts">Keyboard Shortcuts</span> </a></li>
		<li class="remove-unicode"><a>
		  <i class="icon-remove-sign"></i>
		  <span class="locale_Remove_Unicode">Remove Unicode</span></a></li>
	</ul>
</span></span><span><span class="dropdown " id="menu"> 
  <a class="btn-mini btn show-unicode-details dropdown-toggle btn-info" data-toggle="dropdown" href="#menu"> 
    <b class="unicode-symbol infrequent-unicode-symbol" draggable="true"></b>
  </a>
	<ul class="dropdown-menu">
		<li class="locale_LaTeX_Code">LaTeX Code:</li>
		<li><input class="edit-tipa-input input-small" value="asdas" type="text"></li>
		<li class="locale_Unicode_Instructions">By default this is also a keyboard shortcut to type this character in a datum field. To customize the shortcut:</li>
		<li><a data-toggle="modal" href="#hotkey-settings-modal">
		  <i class="icon-hdd"></i>
		  <span class="locale_Keyboard_Shortcuts">Keyboard Shortcuts</span> </a></li>
		<li class="remove-unicode"><a>
		  <i class="icon-remove-sign"></i>
		  <span class="locale_Remove_Unicode">Remove Unicode</span></a></li>
	</ul>
</span></span><span><span class="dropdown" id="menuasd"> 
  <a class="btn-mini btn show-unicode-details dropdown-toggle btn-info" data-toggle="dropdown" href="#menuasd"> 
    <b class="unicode-symbol infrequent-unicode-symbol" draggable="true">asd</b>
  </a>
	<ul class="dropdown-menu">
		<li class="locale_LaTeX_Code">LaTeX Code:</li>
		<li><input class="edit-tipa-input input-small" value="" type="text"></li>
		<li class="locale_Unicode_Instructions">By default this is also a keyboard shortcut to type this character in a datum field. To customize the shortcut:</li>
		<li><a data-toggle="modal" href="#hotkey-settings-modal">
		  <i class="icon-hdd"></i>
		  <span class="locale_Keyboard_Shortcuts">Keyboard Shortcuts</span> </a></li>
		<li class="remove-unicode"><a>
		  <i class="icon-remove-sign"></i>
		  <span class="locale_Remove_Unicode">Remove Unicode</span></a></li>
	</ul>
</span></span></div>
<br>
<span class="like-form-inline">
  <input class="insert-unicode-input input-small locale_Paste_Type_Unicode_Symbol_Placeholder" type="text" placeholder="Paste/type unicode symbol">
  <input class="insert-unicode-tipa-input input-small locale_TIPA_shortcut" type="text" placeholder="TIPA/keyboard shortcut">
  <a href="#" class="locale_Add_new_symbol btn btn-primary add-unicode locale_Add" rel="tooltip" title="Add new symbol">Add</a>
</span></div> 
      <button class="btn btn-success save-datum locale_Save pull-right"
        value="Save"></button>
         </div>
         </div>

		</div>
	</div>
    
</div>

