@import url("../libs/bootstrap/css/bootstrap.css");

@import url("../libs/bootstrap/css/bootstrap-responsive.css");

@import url("../libs/font_awesome/font-awesome.css");

@import url("../libs/terminal/terminal.css");


body { /* background-image: url('../user/skins/bamboo_garden.jpg'); */
	background-color: #000;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	font-family: 'Gentium Basic', sans-serif;
	/* margin-top: 75px; */
}

input {
	font-family: 'Gentium Basic', sans-serif;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.backup_page{
	min-height: 500px;
	min-width: 500px;
}

a
:hover {
	text-decoration: none !important;
}
.myaamiaImage{
	height:10em;

}
.search {
	padding: 10px
}

.width100 {
	width: 100%;
}

.locale_View_Public_Profile_Tooltip {
	white-space: nowrap;
}

@font-face {
	font-family: 'Gentium Basic';
	font-style: normal;
	font-weight: 400;
	src: local('Gentium Basic'),
		url(https://themes.googleusercontent.com/static/fonts/gentiumbasic/v4/KCktj43blvLkhOTolFn-MU3vq9dAc3DuCNWjMJNKvGE.woff)
		format('woff');
}

h1,h2,h3,h4 {
	font-family: 'Gentium Basic', sans-serif;
	margin: 0em;
	margin-bottom: .5em;
}

h1 {
	font-size: 1.6em;
}

h2 {
	font-size: 1.4em;
}

h3 {
	font-size: 1.2em;
}

h4 {
	font-size: 1em;
}

.gravatar-small {
	height: 2em;
}

.gravatar-medium {
	height: 4em;
}

.gravatar-large {
	height: 8em;
}

.user-pref-dashboard-layout-tile {
	height: 11em;
}

.activity_direct_object,.activity_direct_object

a { /* color: #055; */
	/* font-size: .85em; */

}

.activity_verb,.activity_verb

a { /* color: #055; */
	font-weight: bold !important;
}

.activity_indirect_object,.activity_indirect_object

a { /* color: #550; */
	/* font-size: .85em; */

}

#toast-user-area {
	font-size: .7em;
}

.brand { /* font-size: .85em !important; */

}

.thisIsEditable {
	background: #fff;
}

.timestamp,.timestamp

a {
	opacity: 0.75;
	font-size: .85em;
	font-style: italic;
}

.login {
	margin-left: 5px;
}

.logout {
	margin-left: 5px;
}

#login_form { /* margin-left: 5px; */

}

.datalist_hover_datum_views_so_they_look_clickable

li {
	cursor: hand;
	cursor: pointer;
}

.main { /* width: 100%; */
	/* height: 100%;
	clear: both;
	position: relative;*/
	margin-top: 4em;
}
.wiki-preview {
	border: 1px solid #ccc;
}

#corpus-quickview { /* min-height: 10em;
	overflow: auto;  */

}

#corpus-quickview

p {
	font-size: .8em;
	line-height: 1.5em;
	/* margin: -.4em; */
}

#session-quickview

p {
	font-size: .8em;
	line-height: 1.5em;
	/* margin: -.4em; */
}

.well {
	padding: .6em !important;
	margin-bottom: .6em;

}
.mediate{
	text-align:center;
}

.alert {
	font-size: .8em;
	line-height: 1.5em;
	padding: .6em !important;
	margin: .2em !important;
}

.copyright, .terms, .license{
	opacity: .5;
}


.corpus-description { /* float: left;
	width: 100%; */

}

.corpusMenu { /* float: left;
	margin: 0em;  */

}

.corpusMenu

button { /* margin: 5px 0px 5px 0px;  */

}

.fullscreen {
	float: right;
}

.widget {
	background: rgba(0, 0, 0, 0.4);
	border-radius: 5px;
}

.title {
	text-align: center;
}

#dateCreated {
	text-align: right;
}

.icons { /* font-size: 1.5em;
	line-height: 1em !important;
	padding-left: .25em; */

}

.icon-white {
	color: #bbb;
}

.icon-white
:hover {
	color: #fff !important;
}

textarea {
	width: 98%;
}

.comment-new-text{
	height: 1em;
}

.datum_fields_ul textarea.datum_field_input {
	padding: 2px;
	margin: 0px;
	/* background-color: #ff00ff; */
	outline: none;
	overflow: hidden;
	resize: none;
	/*line-height: 1.2em;*/
	min-height: 1.2em;
	font-size: 1em;
	border: none;
	box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0);
	height: 1.5em;
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-radius: 0 !important;
	line-height: 1.2em;
	  	font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;

}

.datum_fields_ul {
	width: 100%
}

.datum_field_input_cell {
	width: 90%;

	/* background-color: white;
  color: #333;
  border-bottom: 1px solid #999; */
}

.datum_field_label_cell {
	text-align: right;
	white-space: nowrap;
}

.drop-zone {
	border: dashed;
	border-color: #1E90FF;
}

.add_field {
	width: 100%;
}

.gramaticality_judgement {
	width: 2em !important;
}

.glossCouplet {
	display: inline-block;
	margin-left: 5px;
	margin-right: 5px;
	vertical-align: top;
	/*necessary for when utteranceArray/morphemeArray/glossArray have different lengths*/
}

.preview_IGT_area{
	margin: .5em;
}
.preview_IGT_area .glossCouplet {
	background-color: #FFFcdF;
	margin-bottom: 5px;
/*	font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
*/}

.zebra

li
:nth-child(odd) {
	background: #fff;
}

.zebra

li
:nth-child(even) {
	background: #fff;
}

.datum-checkboxes { /* position:absolute;  */

}

.latex-judgement { /* position: absolute; */

}

.datum_field_label {
	display: inline;
}

.datum_field_h4 {
	display: inline;
}

.clear-spacing {
	clear: both;
}

.export-large-textarea {
	width: 100%;
	height: 15em;
}
/* Prevent the text contents of draggable elements from being selectable. */
[draggable] {
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

.halfopacity {
	opacity: 0.5;
}

.over {
	border-color: #000;
	background: #999 !important;
}
/*http://html5demos.com/drag*/
*
[draggable=true] {
	-moz-user-select: none;
	-khtml-user-drag: element;
	cursor: move;
}

*
:-khtml-drag {
	background-color: rgba(238, 238, 238, 0.5);
	/* padding: 1em; */
	border: dashed #333 2px;
	color: #000;
}

.dropdown-menu

.not-a {
	display: block;
	padding: 3px 15px;
	clear: both;
	font-weight: normal;
	line-height: 18px;
	color: #333333;
	white-space: nowrap;
}

.small-field {
	width: 2em !important;
}

.welcome_video_iframe {
	margin: auto;
	text-align: center;
}

.comment-bubble {
	margin: 3px;
	padding: 3px;
	background: #DDDDDD;
	border-radius: 3px;
}

.contact-us-iframe {
	height: 100em;
	width: 100%;
}

.unicode-symbol {
	cursor: move;
	font-size: 1.25em;
	color: #FFF68F;
	font-weight: normal !important;
}

.infrequent-unicode-symbol {
	color: #fff !important;
}

.show-unicode-details {
	width: 2em;
}

.unicode-buttons {
	line-height: 2em;
	text-align: center;
}

.nowrap {
	white-space: nowrap;
}

progress {
	width: 100%;
}
/*
 * Gradient Shadow HTML5 progress bars
 http://www.useragentman.com/blog/2012/01/03/cross-browser-html5-progress-bars-in-depth/
 */

/* All HTML5 progress enabled browsers */
spacer {
	size: 1em;
}

.like-form-inline {
	margin: 0 0 18px;
	display: block
}

.like-form-inline

input,.like-form-inline

textarea,.like-form-inline

select,.like-form-inline

.help-inline,.like-form-inline

.uneditable-input,.like-form-inline

.input-prepend,.like-form-inline

.input-append {
	display: inline-block;
	*display: inline;
	margin-bottom: 0;
	*zoom: 1;
}

.datum-audio-player {
	width: 100%;
}

/* D3 force directed graph */
circle
.node {
	stroke: #fff;
	stroke-width: 1.5px;
}

line
.link {
	stroke: #999;
	stroke-opacity: .6;
}

.corpus-precedence-rules-visualization {
	background-color: #333;
	text-align: center;
}

.vis-title {
	font-size: 2em;
	color: #fff;
}

.datum_tag {
	padding: 1px 9px 2px !important;
	-webkit-border-radius: 9px !important;
	-moz-border-radius: 9px !important;
	border-radius: 9px !important;
	border-color: #3A87AD !important;
	font-size: .85em !important;
	font-weight: bold !important;
	line-height: 1em !important;
	color: white !important;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25) !important;
	white-space: nowrap !important;
	vertical-align: baseline !important;
	background-color: #3A87AD !important;
	text-align: center;
}

.border-left {
	border-left: 1px solid #999;
	padding-left: 5px !important;
	margin-left: 10px !important;
}

.border-bottom {
	border-bottom: 1px solid #ccc;
}

.no-margin-left {
	margin-left: 0px !important;
}

.wordwrap {
	word-wrap: break-word;
	white-space: normal;
}

.datum-primary-validation-status-color-success {
	color: rgb(70, 136, 71) !important;
	background-color: rgb(223, 240, 216) !important;
	border: 1px solid rgb(214, 233, 198) !important;
	margin: 0px 0px 0px 0px !important;
	padding-top: 0.25em !important;
	padding-bottom: 0.25em !important;
}

.datum-primary-validation-status-color-warning {
	color: rgb(192, 152, 83) !important;
	background-color: rgb(252, 248, 227) !important;
	border: 1px solid rgb(251, 238, 213) !important;
	margin: 0px 0px 0px 0px !important;
	padding-top: 0.25em !important;
	padding-bottom: 0.25em !important;
	border-bottom: 1px solid #888;
}

.datum-primary-validation-status-color-important {
	color: rgb(185, 74, 72) !important;
	background-color: rgb(242, 222, 222) !important;
	border: 1px solid rgb(238, 211, 215) !important;
	margin: 0px 0px 0px 0px !important;
	padding-top: 0.25em !important;
	padding-bottom: 0.25em !important;
	border-bottom: 1px solid #888;
}

.datum-primary-validation-status-color-info {
	color: rgb(58, 135, 173) !important;
	background-color: rgb(230, 250, 250) !important;
	border: 1px solid rgb(220, 240, 240) !important;
	margin: 0px 0px 0px 0px !important;
	padding-top: 0.25em !important;
	padding-bottom: 0.25em !important;
	border-bottom: 1px solid #888;
}

.datum-primary-validation-status-color-inverse {
	color: rgb(51, 51, 51) !important;
	background-color: rgb(221, 221, 221) !important;
	border: 1px solid rgb(210, 210, 210) !important;
	margin: 0px 0px 0px 0px !important;
	padding-top: 0.25em !important;
	padding-bottom: 0.25em !important;
	border-bottom: 1px solid #888;
}

.datum-primary-validation-status-color- {
	border: 1px solid rgb(210, 210, 210) !important;
	margin: 0px 0px 0px 0px !important;
	padding-top: 0.25em !important;
	padding-bottom: 0.25em !important;
	border-bottom: 1px solid #888;
}

.datum-primary-validation-status-outline-color-success {
	border: 1px solid rgb(70, 136, 71) !important;
}

.datum-primary-validation-status-outline-color-warning {
	border: 1px solid rgb(192, 152, 83) !important;
}

.datum-primary-validation-status-outline-color-important {
	border: 1px solid rgb(185, 74, 72) !important;
}

.datum-primary-validation-status-outline-color-info {
	border: 1px solid rgb(58, 135, 173) !important;
}

.datum-primary-validation-status-outline-color-inverse {
	border: 1px solid rgb(0, 0, 0) !important;
}

.datum-primary-validation-status-outline-color- {
	border: 1px solid rgba(51, 51, 51, 0.5) !important;
}

.datum-latex-translation {
	font-style: italic;
}

.scrollable {
	overflow: auto !important;
	height: 25em !important;
	width: 100%;
}

.min_auth_dropdown_size {
	width: 30em !important;
	min-height: 35em !important;
}

#dashboard_loading_spinner {
	text-align: center;
	color: #fff;
}

.user-permission-pending {
	color: rgb(192, 152, 83) !important;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) !important;
	background-color: rgb(252, 248, 227) !important;
	border: 1px solid rgb(251, 238, 213) !important;
	margin: 0px 0px 2px 0px !important;
	padding-top: 0.25em !important;
	padding-bottom: 0.25em !important;
	border-bottom: 1px solid #888;
}
.finished-status{
	color: #fff;
	font-size: 2em;
	line-height: 1em;
	margin-top: 2em;
	text-shadow: 1px 1px #000;
}

.spinner-status {
	color: #fff;
	vertical-align: middle;
	font-size: 2em;
	text-align: center;
	text-shadow: 1px 1px #000;
}

.conversation-text-audio-wrapper {
	overflow: hidden;
	top: 18px;
	left: 0px;
	background: transparent;
	width: 960px;
	height: 435px;
}

.conversation-text-audio-played {
	background-color: rgba(0, 0, 0, 0.5);
	width: 750px;
}

.jp-load-bar {
	background-color: #aaa;
	width: 960px;
	height: 435px;
	cursor: pointer;
}

.jp-play-bar {
	background: rgba(255, 255, 255, 0.5);
	content: 'comming in January-February';
	margin: 1em;
	font-size: 2em;
	line-height: 2em;
	text-align: center;
	width: 330px;
	height: 435px;
}

/* in the App we override the modals dimensions ot fit on a 10inch screen. */
/* rules for 10inch screens in landscape orientation */
@media only screen and (device-width: 1024px) and (orientation:
	landscape) {
	.modal {
		width: 80% !important;
		height: 80% !important;
		margin-left: 10% !important;
		margin-top: 10% !important;
	}
}

@media ( max-width : 980px) {
	.nav .dropdown ul.dropdown-menu {
		display: block;
	}
}

h1 {
	font-size: 1.6em;
}

h2 {
	font-size: 1.4em;
}

h3 {
	font-size: 1.2em;
}

h4 {
	font-size: 1em;
}

.gravatar-small {
	height: 2em;
}

.gravatar-medium {
	height: 4em;
}

.gravatar-large {
	height: 8em;
}

.activity_direct_object,.activity_direct_object a { /* color: #055; */
	/* font-size: .85em; */

}

.activity_verb,.activity_verb a { /* color: #055; */
	font-weight: bold !important;
}

.activity_indirect_object,.activity_indirect_object a {
	/* color: #550; */
	/* font-size: .85em; */

}

#toast-user-area {
	font-size: .7em;
}

.brand { /* font-size: .85em !important; */

}

.timestamp,.timestamp a {
	opacity: 0.75;
	font-size: .85em;
	font-style: italic;
}

.login {
	margin-left: 5px;
}

.logout {
	margin-left: 5px;
}

#login_form { /* margin-left: 5px; */

}

.datalist_hover_datum_views_so_they_look_clickable li {
	cursor: hand;
	cursor: pointer;
}

.main { /* width: 100%; */
	/* height: 100%;
	clear: both;
	position: relative;*/
	margin-top: 4em;
}

#corpus-quickview { /* min-height: 10em;
	overflow: auto;  */

}

#corpus-quickview p {
	font-size: .8em;
	line-height: 1.5em;
	/* margin: -.4em; */
}

#session-quickview p {
	font-size: .8em;
	line-height: 1.5em;
	/* margin: -.4em; */
}
.input-my{
    width: 60px;
    line-height:0.9em !important;
    vertical-align:top !important;
    font-size:0.8em !important;
	height: 1em;


}
.well {
	padding: .6em !important;
	margin-bottom: .6em;
}
.mywell{
	padding: .01em !important;
	margin-bottom: .01em !important;

}

.alert {
	font-size: .8em;
	line-height: 1.5em;
	padding: .6em !important;
	margin: .2em !important;
}

.corpus-description { /* float: left;
	width: 100%; */

}

.corpusMenu { /* float: left;
	margin: 0em;  */

}

.corpusMenu button { /* margin: 5px 0px 5px 0px;  */

}

.fullscreen {
	float: right;
}

.widget {
	background: rgba(0, 0, 0, 0.4);
	border-radius: 5px;
}

.title {
	text-align: center;
}

#dateCreated {
	text-align: right;
}

.icons { /* font-size: 1.5em;
	line-height: 1em !important;
	padding-left: .25em; */

}

.icon-white {
	color: #bbb;
}

.icon-white:hover {
	color: #fff !important;
}

.drop-zone {
	border: dashed;
	border-color: #1E90FF;
}

.add_field {
	width: 100%;
}

.gramaticality_judgement {
	width: 2em !important;
}

.glossCouplet {
	display: inline-block;
	padding-left: 5px;
	padding-right: 5px;
	vertical-align: top;
	/*necessary for when utteranceArray/morphemeArray/glossArray have different lengths*/
}

.zebra li:nth-child(odd) {
	background: #fff;
}

.zebra li:nth-child(even) {
	background: #fff;
}

.datum-checkboxes { /* position:absolute;  */

}

.latex-judgement { /* position: absolute; */

}

.datum_field_label {
	display: inline;
}

.datum_field_h4 {
	display: inline;
}

.clear-spacing {
	clear: both;
}

.export-large-textarea {
	width: 100%;
	height: 15em;
}
/* Prevent the text contents of draggable elements from being selectable. */
[draggable] {
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

.halfopacity {
	opacity: 0.5;
}

.over {
	border-color: #000;
	background: #999 !important;
}
/*http://html5demos.com/drag*/
*[draggable=true] {
	-moz-user-select: none;
	-khtml-user-drag: element;
	cursor: move;
}

*:-khtml-drag {
	background-color: rgba(238, 238, 238, 0.5);
	/* padding: 1em; */
	border: dashed #333 2px;
	color: #000;
}

.droparea {
	border: dashed #4d90fe 2px;
	min-height: 2em;
	width: 100%;
	color: #000;
  background-color: rgba(238, 238, 238, 0.5);
}

.dropdown-menu .not-a {
	display: block;
	padding: 3px 15px;
	clear: both;
	font-weight: normal;
	line-height: 18px;
	color: #333333;
	white-space: nowrap;
}

.small-field {
	width: 2em !important;
}

.welcome_video_iframe {
	margin: auto;
	text-align: center;
}

.comment-bubble {
	margin: 3px;
	padding: 3px;
	background: #DDDDDD;
	border-radius: 3px;
}

.contact-us-iframe {
	height: 100em;
	width: 100%;
}

.unicode-symbol {
	cursor: move;
	font-size: 1.25em;
	color: #FFF68F;
	font-weight: normal !important;
}

.infrequent-unicode-symbol {
	color: #fff !important;
}

.show-unicode-details {
	width: 2em;
}

.unicode-buttons {
	line-height: 2em;
	text-align: center;
}

.nowrap {
	white-space: nowrap;
}

progress {
	width: 100%;
}
/*
 * Gradient Shadow HTML5 progress bars
 http://www.useragentman.com/blog/2012/01/03/cross-browser-html5-progress-bars-in-depth/
 */

/* All HTML5 progress enabled browsers */
spacer {
	size: 1em;
}

.like-form-inline {
	margin: 0 0 18px;
	display: block
}

.like-form-inline input,.like-form-inline textarea,.like-form-inline select,.like-form-inline .help-inline,.like-form-inline .uneditable-input,.like-form-inline .input-prepend,.like-form-inline .input-append
	{
	display: inline-block;
	*display: inline;
	margin-bottom: 0;
	*zoom: 1;
}

.datum-audio-player {
	width: 100%;
}

/* D3 force directed graph */
circle.node {
	stroke: #fff;
	stroke-width: 1.5px;
}

line.link {
	stroke: #999;
	stroke-opacity: .6;
}
.ungrammatical {
	text-decoration: line-through;
}
.corpus-precedence-rules-visualization {
	background-color: #333;
	text-align: center;
}

.vis-title {
	font-size: 2em;
	color: #fff;
}
.input-right
{
	height: 3em;
	width: 100%;
}

.datum_tag {
	padding: 1px 9px 2px !important;
	-webkit-border-radius: 9px !important;
	-moz-border-radius: 9px !important;
	border-radius: 9px !important;
	border-color: #3A87AD !important;
	font-size: .85em !important;
	font-weight: bold !important;
	line-height: 1em !important;
	color: white !important;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25) !important;
	white-space: nowrap !important;
	vertical-align: baseline !important;
	background-color: #3A87AD !important;
	text-align: center;
}

.border-left {
	border-left: 1px solid #999;
	padding-left: 5px !important;
	margin-left: 10px !important;
}

.border-bottom {
	border-bottom: 1px solid #ccc;
}

.no-margin-left {
	margin-left: 0px !important;
}

.wordwrap {
	word-wrap: break-word;
	white-space: normal;
}


.datum-latex-translation {
	font-style: italic;
}

.scrollable {
	overflow: auto !important;
	height: 25em !important;
	width: 100%;
}

.min_auth_dropdown_size {
	width: 30em !important;
	min-height: 35em !important;
}

#dashboard_loading_spinner {
	text-align: center;
	color: #fff;
}

.user-permission-pending {
	color: rgb(192, 152, 83) !important;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) !important;
	background-color: rgb(252, 248, 227) !important;
	border: 1px solid rgb(251, 238, 213) !important;
	margin: 0px 0px 2px 0px !important;
	padding-top: 0.25em !important;
	padding-bottom: 0.25em !important;
	border-bottom: 1px solid #888;
}

.spinner-status {
	color: #fff;
	vertical-align: middle;
	font-size: 2em;
	text-align: center;
	text-shadow: 1px 1px #000;
}

.conversation-text-audio-wrapper {
	overflow: hidden;
	top: 18px;
	left: 0px;
	background: transparent;
	width: 960px;
	height: 435px;
}

.conversation-text-audio-played {
	background-color: rgba(0, 0, 0, 0.5);
	width: 750px;
}

.jp-load-bar {
	background-color: #aaa;
	width: 960px;
	height: 435px;
	cursor: pointer;
}

.jp-play-bar {
	background: rgba(255, 255, 255, 0.5);
	content: 'comming in January-February';
	margin: 1em;
	font-size: 2em;
	line-height: 2em;
	text-align: center;
	width: 330px;
	height: 435px;
}

/* in the App we override the modals dimensions ot fit on a 10inch screen. */
/* rules for 10inch screens in landscape orientation */
@media only screen and (device-width: 1024px) and (orientation:
	landscape) {
	.modal {
		width: 80% !important;
		height: 80% !important;
		margin-left: 10% !important;
		margin-top: 10% !important;
	}
}

@media ( max-width : 980px) {
	.dropdown

ul
.dropdown-menu {
		display: block;
	}
}

.highlight {
	background-color: yellow;
}


.language-learning-lesson .morphemes{
	display: none !important;
}

.language-learning-lesson .judgement{
	display: none !important;
}

.language-learning-lesson .gloss{
	display: none !important;
}

.language-learning-lesson .syntacticCategory{
	display: none !important;
}

.language-learning-lesson .syntacticTreeLatex{
	display: none !important;
}

.language-learning-lesson .validationStatus{
	display: none !important;
}


.language-learning-lesson .enteredByUser{
	display: none !important;
}

.language-learning-lesson .modifiedByUser{
	display: none !important;
}
.language-learning-lesson .orthography{
	display: none !important;
}
.language-learning-lesson .russian{
	display: none !important;
}
.language-learning-lesson .startTime{
	display: none !important;
}
.language-learning-lesson .endTime{
	display: none !important;
}
