.well{
	color: #fff;
	background-color:rgba(0,0,0,0.4);
	border: 0;
}
.breadcrumb{
  color: #fff;
  background-color:rgba(0,0,0,0.4);
  background-image: none;
}
a {
  color: #3bf;
}
.table-striped tbody tr:nth-child(odd) td,
.table-striped tbody tr:nth-child(odd) th {
  background-color:rgba(0,0,0,0.4);
}
.popover{
  color: #333;
}
.table tbody tr:hover td,
.table tbody tr:hover th {
  background-color:rgba(0,0,0,0.4);
}

.datum-primary-validation-status-color-success {
  color: #fff !important;
  background-color: rgba(107, 138, 108, 0.6) !important;
  border: 0px  !important;
}
.preview_IGT_area .glossCouplet {
  background-color:rgba(0,0,0,0.4)  !important;
}
.datum-primary-validation-status-color-warning {
  color: #fff !important;
  background-color: rgba(179, 157, 119, 0.6) !important;
  border: 0px  !important;
}

.datum-primary-validation-status-color-important {
  color: #fff !important;
  background-color: rgba(119, 82, 81, 0.6) !important;
  border: 0px  !important;
}

.datum-primary-validation-status-color-info {
  color: #fff !important;
  background-color: rgba(58, 135, 173,0.6) !important;
  border: 0px  !important;
}

.datum-primary-validation-status-color-inverse {
  color: #fff !important;
  background-color: rgba(51, 51, 51, 0.6) !important;
  border: 0px  !important;
}

.datum-primary-validation-status-color- {
  color: #fff !important;
  background-color: rgba(51, 51, 51, 0.6) !important;
  border: 0px  !important;
}
