<!-- Black Navigation Bar Across the Top -->
<div class="navbar navbar-fixed-top navbar-inner width100">
  <div class="btn-group pull-right">
    <ul class="nav">
      <li>
      <!--  <a href="#" class = "locale_Show_Dashboard" rel="tooltip" title="Show dashboard with data entry form">
           <i class="icons icon-home icon-white"></i></a> -->
      </li>
      <li>
        <!-- <div class="btn-group">
          <button class="btn dropdown-toggle btn-inverse" data-toggle="dropdown">
            <span class = "locale_Need_save"></span>   
            <progress class="unsaved-changes" max="100" value="30">
            </progress>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu unsaved-changes-status" id="unsaved-changes-status">
            <li class="not-a locale_Recent_Changes"></li>
          </ul>
          <a href="#" class = "locale_Save_on_this_Computer pull-right" rel="tooltip">
            <i class="icons icon-save save-dashboard icon-white"></i></a>
        </div> -->
      </li>
      
      <li>
        <!-- <div class="btn-group">
          <button class="btn dropdown-toggle btn-inverse" data-toggle="dropdown">
            <span class = "locale_Need_sync"></span>  
            <progress class="unsynced-changes" max="100" value="80">
            </progress>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu unsynced-changes-status" id="unsynced-changes-status">
            <li class="not-a locale_Differences_with_the_central_server"></li>
          </ul>
          <a href="#" class = "locale_Sync_and_Share pull-right" rel="tooltip">
            <i class="icons icon-sitemap  sync-everything icon-white"></i></a>
        </div> -->
      </li>
      <li>
        <div class="btn-group">
        <a href="#" class = "locale_View_Public_Profile_Tooltip pull-left" rel="tooltip">
         <span id="user-quickview">
           <i class="icons icon-user icon-white"></i>
         </span>
         </a>
          <button class="btn btn-inverse dropdown-toggle" data-toggle="dropdown"> 
             <span class="caret"></span>  
          </button>
          <ul class="dropdown-menu" id="authentication-embedded"></ul>
        </div>
      </li>
    </ul>
  </div>
  <div>
    <!-- This is a div for the top nav bar area -->
    <span id="search-top" class="search"></span> 
  </div>
</div>
<!-- The rest of the page -->
<div class="container-fluid main">

  <!-- FullScreen Views -->
  <div id="user-fullscreen" class="well "></div>
</div>

<!-- Modals are windows which pop over the active app to take focus -->
<div id="hotkey-settings-modal" class="modal hide"></div>
<div id="user-modal" class="modal hide"></div>
<div id="user-preferences-modal" class="modal hide"></div>
<div id="quick-authenticate-modal" data-backdrop="static" data-keyboard="static" class="modal hide">
  <div class="modal-header">
    <h4 class = "locale_We_need_to_make_sure_its_you"></h4>
  </div>
  <div class="modal-body">
  <label class = "locale_Password"></label>
      <input type="password" id="quick-authenticate-password"/>
  </div>
  <div class="modal-footer">
    <button class="btn btn-success locale_Yep_its_me" id="quick-authentication-okay-btn"></button>
  </div>
</div>
