<div class="navigation widget">

    <font size="6"><a href="#corpus/YaleConceptualFun/datum/12">New</a> 
    
    </font>
    
     <font size="6">View 
    
    </font>
    
     <font size="6">Data 
    
    </font>
    
</div>