<div class="navigation widget" id ="navigation">
<font size="6">

	<nav>
		<ul>
			<li>New
			
				<ul>
					<li><a href="#corpus/Yale/datum/12"> Datum </a> </li>
					<li><a href="#corpus/Yale/session/12"> Session </a> </li>
				</ul>
			</li>	
			<li> View  </li>
			<li> Data </li>
			<li class="sync"> Sync </li>
		</ul> 
   
    
   </nav> 
</font>
   
</div>
