<form class="btn-toolbar span6">
  <div class="btn-group">
    <button class="btn" ng-disabled="recordability.isProcessing || recordability.isRecordingVideo" ng-click="toogleRecording('audio')" ng-show="recordability.canRecordAudio" ng-class="{'btn-danger': recordability.isRecordingAudio, 'btn-primary': recordability.canRecordAudio, 'btn-inverse': recordability.cantRecordAudio}" >
      <i class="fa" ng-class="{'fa-stop': recordability.isRecordingAudio, 'fa-microphone': recordability.canRecordAudio, 'fa-microphone-slash': recordability.cantRecordAudio }">
      </i>
    </button>
    <button class="btn" ng-click="toogleRecording('video')" ng-disabled="recordability.isProcessing || recordability.isRecordingAudio" ng-show="recordability.canRecordVideo" ng-hide="recordability.cantRecordVideo" ng-class="{'btn-danger': recordability.isRecordingVideo, 'btn-primary': recordability.canRecordVideo, 'btn-inverse': recordability.cantRecordVideo }" >
      <i class="fa" ng-class="{'fa-stop': recordability.isRecordingVideo, 'fa-video-camera': recordability.canRecordVideo, 'fa-microphone-slash ': recordability.cantRecordVideo }">
      </i>
    </button>
    <button class="btn btn-warning" ng-click="pause()" ng-show="recordability.isRecordingAudio || recordability.isRecordingVideo" >
      <i class="fa fa-pause">
      </i>
    </button>
  </div>
  <img src="images/spinner-small.gif" ng-show="processingAudio" />
</form>

<video hidden class="hide" autoplay controls> </video>
<canvas hidden class="hide" ng-hide="true===true"> </canvas>
<img hidden class="hide" />

<div class="span6" data-fielddb-import></div>
