<button class="hide btn pull-right" ng-click="save()" ng-class="{'btn-default': datalist.saving, 'btn-success': !datalist.saving}">Save</button>
<button class="hide btn pull-right" ng-click="undo()" ng-class="{'btn-default': datalist.saving, 'btn-inverse': !datalist.saving}">Undo</button>
<h1 >{{datalist.title.default}}</h1>
<!-- <h1 ng-show="typeof (datalist.title == 'string')">{{datalist.title}}</h1>
 --><p >{{datalist.description.default | unsafeHtml}}</p>
<p ng-show="typeof (datalist.title == 'string')">{{datalist.description}}</p>

<div class="row" ng-class="{'drop-zone': datalist.docsAreReorderable}" >
  <div class="lead topRow" ng-show="datalist.docsAreReorderable">Drag and drop a item's number to re-order it</div>
  <div class="well"
  ng-class="{'col-md-12': datalist.showDocCheckboxes}"
  ng-repeat="item in datalist.docs._collection track by $index"
  drag-hover-class="drop-zone-instructions-can-reorder-here"
  ui-on-Drop="onDrop($event, $data, $index, datalist.docs._collection)">
    <div ng-class="{'col-md-1': datalist.showDocCheckboxes || datalist.showDocPosition}">
      <span><input type="checkbox" ng-show="datalist.showDocCheckboxes"/></span>
      <span
        class="badge badge-info"
        ng-show="datalist.showDocPosition"
        title="Position in list"
        ui-draggable="true"
        drag="item"
        on-drop-success="dropSuccessHandler($event, $index, datalist.docs._collection)">
        N. {{$index +1}}
      </span>
      <span ng-click="removeItemFromList(item)"><i class="fa fa-times-circle"></i></span>
    </div>
    <div  ng-class="{'col-md-10': datalist.showDocCheckboxes}" data-fielddb-doc json="item" corpus="corpus">
    </div>
  </div>
</div>
<div ng-show="canAddNewItemsToDataList()"><i class="fa fa-plus-circle"></i> Add </div>

<blockquote hidden ng-hide="true" class="status">
  {{datalist.warnMessage}}
  {{datalist.docs.warnMessage}}
</blockquote>
