<div class="container-fluid">
  <div class="row-fluid">

    <div>
      <!--Body content-->
      <h1 ng-hide="importer.importType=='audioVideo'">
        <span>{{locale.locale_Import}}</span> <small>{{corpus.dbname}}</small>
      </h1>

      <h5 ng-hide="importer.importType=='audioVideo'">
        <span>{{locale.locale_Import_Instructions}}</span> <a
        href="http://www.facebook.com/LingSyncApp" target="_blank"><i
        class="icons icon-facebook"></i></a> <a
        href="https://twitter.com/lingsync" target="_blank"><i
        class="icons icon-twitter"></i></a>
      </h5>
      <pre hidden ng-hide="true" class="status">
        status: {{importer.status}}
        bugMessage:  {{importer.bugMessage}}
        warnMessage:  {{importer.warnMessage}}

        corpus bugMessage: {{importer.corpus.bugMessage}}
        corpus warnMessage: {{importer.corpus.warnMessage}}
      </pre>

    </div>
  </div>
  <div class="row-fluid"></div>

  <div class="" id="import-first-step">
    <span ng-hide="importer.importType=='audioVideo'">{{locale.locale_Import_First_Step}}</span>
    <label ng-show="linguistApp">
      <i class="fa fa-gift"></i>
      <span>New! Import long audio/video stimuli(s)</span>
    </label>
    <form class="form-inline button-group btn-mini" role="form" enctype="multipart/form-data" >
      <span class="btn btn-file btn-info">
        <span>
          <i class="fa fa-file"></i>
          Choose file(s)
        </span>
        <input class="uploadAudioForTextGridformFiles" type="file" multiple="true" name="files" ng-file-select="onFileSelect($files)" data-multiple="true" value="Audio/Video/Image/Text files to be imported"/>
      </span>
      <input class="hidden hide" hidden type="text" name="token" ng-model="uploadInfo.token"/>
      <input class="hidden hide" hidden type="text" name="username" ng-model="uploadInfo.username" />
      <input class="hidden hide" hidden type="text" name="dbname" ng-model="uploadInfo.dbname"/>
      <input class="hidden hide" hidden type="text" name="returnTextGrid" ng-model="uploadInfo.returnTextGrid"/>
    </form>

    <textarea class="fielddb-large-textarea drop-zone" ng-blur="guessFormatAndPreviewImport()" placeholder="{{locale.locale_Drag_and_Drop_Placeholder}}" ng-file-drop="onFileSelect($files)" ng-file-drag-over-class="drop-zone-can-drop-now" ng-file-drag-over-delay="200" ng-model="importer.rawText"></textarea>

    <div class="btn-group pull-right" ng-hide="importer.importType=='audioVideo'">
      <button class="btn btn-info dropdown-toggle" data-toggle="dropdown">
        <span>Import from</span> <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" ng-model="whichFormatToImport">
        <li ng-click="importer.importTextIGT(importer.rawText)">
          <a tabindex="-1">Handout/Doc</a>
        </li>
        <li ng-click="importer.importCSV(importer.rawText)">
          <a tabindex="-1">CSV</a>
        </li>
        <li ng-click="importer.importTabbed(importer.rawText)">
          <a tabindex="-1">Tabbed</a>
        </li>
        <li ng-click="importer.importXML(importer.rawText)">
          <a tabindex="-1">XML</a>
        </li>
        <li ng-click="importer.importElanXML(importer.rawText)">
          <a tabindex="-1">ElanXML</a>
        </li>
        <li ng-click="importer.importToolbox(importer.rawText)">
          <a tabindex="-1">Toolbox</a>
        </li>
        <li ng-click="importer.importTextGrid(importer.rawText)">
          <a tabindex="-1">Praat Text Grid</a>
        </li>
        <li ng-click="importer.importLatex(importer.rawText)">
          <a tabindex="-1">LaTex</a>
        </li>

      </ul>
    </div>
    <span class="pull-right" ng-hide="importer.importType=='audioVideo'">Did the app guess the wrong format?</span>
  </div>

  <div class="well" ng-show="importer.showImportSecondStep">
    <span>{{locale.locale_Import_Second_Step}}</span>

    <button class="btn btn-info add-column pull-right hide">{{locale.locale_Add_Extra_Columns}}</button>
    <div class=" container span11">

      <div id="import-datum-field-labels" class="row-fluid">
        <span class="pull-left label label-info" ui-draggable="true" ng-repeat="participantField in importer.corpus.participantFields" drag="participantField.labelExperimenter" on-drop-success="dropSuccessHandler(participantField)" ng-model="participantField.labelExperimenter">{{participantField.labelExperimenter}}</span>
      </div>
    </div>

    <div class="scrollable">
      <table id="csv-table-area" class="table table-striped table-bordered table-condensed ">
        <tr >
          <th></th>
          <th class="drop-zone" ng-repeat="headerCell in importer.extractedHeader track by $index" >
            <input ng-model="headerCell" drag-hover-class="drop-zone-can-drop-now" ui-on-Drop="onDropRecieved($data, importer.extractedHeader, $index)"/>
          </th>
        </tr>
        <tr ng-repeat="row in importer.asCSV track by $index">
          <td ng-click="removeRow($index)"><i class="fa fa-times-circle"></i></td>
          <td ng-repeat="cell in row track by $index" contenteditable ng-model="cell"></td>
        </tr>
      </table>
    </div>

  <button class="btn btn-success approve-import" ng-show="importer.asCSV.length > 0" ng-click="runImport()">{{locale.locale_Attempt_Import}}</button>
</div>

<progress  class="import-progress" value="{{importer.progress.completed}}">
  <strong>{{locale.locale_percent_completed}}</strong>
</progress>

<div class="well container-fluid" ng-show="importer.showImportThirdStep">
  <span>{{locale.locale_Import_Third_Step}}</span>

  <div class="row-fluid" data-fielddb-datalist json="importer.datalist" corpus="corpus" >

    <div id="import-session" class="well"></div>

    <button
    class="btn btn-success approve-save disabled">{{locale.locale_Save_And_Import}}</button>

  </div>
</div>
