<span ng-hide="showFullView">
  {{locales.currentLocale.iso}}
</span>
<label ng-show="showFullView">Change the user interface language:</label>
<select class=" btn btn-inverse" ng-model="locales.currentLocale" ng-options="locale[localeKeyToShow] for locale in locales.availableLanguages._collection" ng-change="persistUsersChosenLocale(locales.currentLocale)">
</select>
<select class="hide btn btn-default" ng-model="application.authentication.user.prefs.preferedDashboardType" title="Which kind of dashboard defaults would you like to use view this corpus?">
  <option value="experimenterNormalUser">Experiment Administrator (basic)</option>
  <option value="psychoLinguistPowerUser">Psycho Linguist (advanced)</option>
  <option value="fieldLinguistNormalUser">Field Linguist (basic)</option>
  <option value="fieldLinguistPowerUser">Field Linguist/Translator (advanced)</option>
  <option value="speaker">Language Speaker</option>
  <option value="languageLearnerCourseUser">Language Learner (course work)</option>
  <option value="languageLearnerImmersionUser">Language Learner (immersion)</option>
  <option value="translatorNormalUser">Translator</option>
</select>
<p ng-show="showFullView">
  Current Locale: {{locales.currentLocale.nativeName}} - {{locales.currentLocale.name}}
  <br/>
  <button class="btn btn-inverse" ng-click="clearLocalizerUserPreferences()"> <i class="fa fa-remove"></i> Reset to defaults</button>
</p>
<div hidden>
  Locale Settings Popup too
</div>
