<div data-fielddb-user json="team"></div>
<div class="well">
  <dl>
    <dt>
      <i style="margin-top:3px" class="fa fa-folder-open"></i>
      &nbsp;&nbsp;Interests:
    </dt>
    <dd>
      {{team.researchInterest}}
    </dd>
    <dt>
      <i style="margin-top:3px" class="fa fa-team"></i>
      &nbsp;&nbsp;Affiliation:
    </dt>
    <dd>
      {{team.affiliation}}
    </dd>
    <dt>
      <i style="margin-top:3px" class="fa fa-comment"></i>
      &nbsp;&nbsp;Description:
    </dt>
    <dd>
      {{team.description}}
    </dd>
  </dl>
</div>

<div ng-repeat="corpus in team.corpora">
  <div data-fielddb-corpus json="corpus"></div>
</div>
{{team.status}}
