<div data-fielddb-user json="application.user"></div>
<div class="well">
  <dl>
    <dt>
      <i style="margin-top:3px" class="fa fa-folder-open"></i>
      &nbsp;&nbsp;Interests: {{application.user.researchInterest}}
    </dt>
    <dd>
    </dd>
    <dt>
      <i style="margin-top:3px" class="fa fa-user"></i>
      &nbsp;&nbsp;Affiliation: {{application.user.affiliation}}
    </dt>
    <dd>
    </dd>
    <dt>
      <i style="margin-top:3px" class="fa fa-comment"></i>
      &nbsp;&nbsp;Description: {{application.user.description}}
    </dt>
    <dd>
    </dd>
  </dl>
</div>

