<script>
	if (chrome.app.isInstalled) {
		document.getElementById('install-button').display = 'none';
	}
</script>
<div class="singleHeaderPage">
	<div class="bulletSectionHeader_noMenu">
		<span>Use LingSync</span>
	</div>
	<div class="bulletSection">

		<span>There are several ways to use LingSync.</span>
		<hr>
		<h3>Apps</h3>
		<table>
			<tr>
				<td width="50"><img width="50" src="img/chrome.png"></td>
				<td><b>LingSync</b><br /> The fully-featured version of
					LingSync is offered as a Google Chrome App. This version
					includes advanced search and data manipulation, as well as offline
					capability and more!<br />
					<button class="btn btn-primary" onclick="chrome.webstore.install()"
						id="install-button">Install (Add to Chrome)</button></td>
			</tr>
		</table>

		<hr />
		<table>
                        <tr>
                                <td width="50"><img width="50" src="img/chrome.png"></td>
                                <td><b>LingSync Online</b><br /> The fully-featured version of
                                        LingSync runs online (preferably in a Chrome browser). This version
                                        includes advanced search and data manipulation.<br /><a href="https://corpusdev.lingsync.org/public-firstcorpus/_design/pages/corpus.html">Go to LingSync Online</a></td>
                        </tr>
                </table>

                <hr />
		<table>
			<tr>
				<td width="50"><img src="img/HTML5_Logo.png" width="50"></td>
				<td><b>LingSync Spreadsheet</b><br />The spreadsheet version of LingSync is a 100% web-based app that allows for quick and easy entry of your data. Currently in beta.<br /><a href="http://litebeta.lingsync.org/">Go to LingSync Spreadsheet</a></td>
			</tr>
		</table>

		<hr />
		<table>
                        <tr>
                                <td width="50"><img
                                        alt="Android app on Google Play"
                                        src="img/android.png" width="50" /></td><td><b>LingSync Elicitation </b><br />
                                        Record your elicitation session as videos directly into your database, automatically extract the audio and generate datum later when you want to drill into details.
                                        <br />
                                        <a
                                        href="https://play.google.com/store/apps/details?id=org.lingsync.elicitation.collection"><img
                                        alt="Android app on Google Play"
                                        src="https://developer.android.com/images/brand/en_app_rgb_wo_45.png" />
                                        </a></td>
                        </tr>
                </table>
		<hr />
		<table>
			<tr>
				<td width="50"><img
					alt="Android app on Google Play"
					src="img/android.png" width="50" /></td><td><b>LingSync for Android</b><br /> 
					The mobile version of LingSync gives you access to the app anytime, anywhere on your Android device.
					<br />
					<a
					href="https://play.google.com/store/apps/details?id=org.lingsync.fieldlinguistics"><img
					alt="Android app on Google Play"
					src="https://developer.android.com/images/brand/en_app_rgb_wo_45.png" />
					</a></td>
			</tr>
		</table>
		<hr />
                <table>
                        <tr>
                                <td width="50"><img width="50" src="img/HTML5_Logo.png"></td>
                                <td><b>LingSync TV</b><br /> You can show your love for LingSync by putting this colorful TV activity board on your department screens as a screensaver, or better yet, build your own to inspire your team to get out of the data entry doldrums and dig into that data!<br /><a href="http://uses.lingsync.org/lingsyncTV">Go to LingSync TV</a></td>
                        </tr>
                </table>
		<hr />
                <table>
                        <tr>
                                <td width="50"><img width="50" src="img/HTML5_Logo.png"></td>
                                <td><b>LingSync Public URLs</b><br /> EMELD recommends unique urls which you can share to allow others to cite your data. This simple app allows you to email a citation link for the public profile of your corpus.<br /><a href="https://www.lingsync.org/public">Go to LingSync Public URLs</a></td>
                        </tr>
                </table>
		<hr>
		<span>Please <a
			href="https://docs.google.com/spreadsheet/viewform?formkey=dGFyREp4WmhBRURYNzFkcWZMTnpkV2c6MQ">contact
				us</a> if you have any questions!
		</span>
	</div>
</div>

