
<div class="singleHeaderPage">
	<div class="bulletSectionHeader_noMenu">
		<span>People</span>
	</div>
	<div class="bulletSection">

		<span>The app was developed in collaboration with students and
			professors of linguistics from local universities (McGill and
			Concordia).</span>
		<hr>
		<h3>Interns & Contributors</h3>
		<ul class="namesList">
			<li><a href="http://udel.edu/%7Emdotedot/">M.E. Cathcart</a> (U
				Delaware)</li>
			<li><a href="http://gina.ilanguage.ca/">Gina Cook</a> (iLanguage
				Lab Ltd)</li>
			<li><a href="http://trisapeace.angelfire.com/">Theresa
					Deering</a> (iLanguage Lab Ltd)</li>
			<li><a href="http://egg.auf.net/people/manyakinayuliya/">Yuliya
					Manyakina</a> (Stony Brook)</li>
			<li><a href="https://github.com/Kedersha">Elise McClay</a>
				(McGill)</li>
			<li><a href="http://linguistics.concordia.ca/gazette.html">Hisako
					Noguchi</a> (Concordia)</li>
			<li><a href="http://jessepollak.me/">Jesse Pollak</a> (Pomona
				College)</li>
			<li><a href="http://tobinskinner.com/">Tobin Skinner</a>
				(iLanguage Lab Ltd, UQAM)</li>
			<li><a href="http://www.myaamiaproject.org/index.html">Xianli
					Sun</a> (Miami University)</li>
                        <li><a href="https://github.com/OpenSourceFieldlinguistics?tab=members">More...</a></li>
		</ul>

		<hr>
		<span>Please <a
			href="https://docs.google.com/spreadsheet/viewform?formkey=dGFyREp4WmhBRURYNzFkcWZMTnpkV2c6MQ">contact
				us</a> if you have any questions!
		</span>
	</div>
</div>


