
<div class="singleHeaderPage">

	<div class="bulletSection">
		<div class="bulletSectionHeader_noMenu">
			<span>Video Tutorial</span>
		</div>
		<span><a
			href="https://www.youtube.com/watch?v=4XrO8AhGNqo&list=PLUrH6CNxFDrMtraL8hTLbLsQwdw1117FT">Watch
				on YouTube</a></span> <br />
		<br />
		<div class="bulletSectionHeader_noMenu">
			<span>Slides</span>
		</div>
		<span><a
			href="https://docs.google.com/presentation/d/1Y-ES1WRCbca03wVYWE2LDycxAht-7zihStutx_ywlqg/edit#slide=id.g4ec723ed_0_18">Getting
				Set Up</a></span><br> <span><a
			href="https://docs.google.com/presentation/d/1TB5K66u6B_UYB7oodqplxS4a58-xDYbK8Rui0hDujUM/edit#slide=id.g4ec723ed_0_18">Entering
				Data</a></span>
		</ul>
	</div>
</div>

