<div id="mainBody_container" class="homeContainer">
	<div id="mainBodyTitle">
		<h1>LingSync</h1>
	</div>
	<div id="mainBodyHeader">
		<h2>A Free Tool for Creating and Maintaining a Shared Database
			For Communities, Linguists and Language Learners</h2>
	</div>
	<div class="spacingDiv"></div>
	<div class="bullets_container">


		<h3 class="listIntroText">How LingSync makes sharing, searching,
			and revitalizing your language easier:</h3>
		<div class="float_container">
			<div class="floatLeft">
				<div class="bulletSectionHeader">
					<h3>Sharing</h3>
				</div>
				<div class="bulletSection">
					<ul>
						<li>Speakers, linguists, and learners can contribute remotely
							to one centralized database, distributing the responsibility of
							documentation.</li>
						<hr>
						<li>The database is shared between researchers and the
							community. Everyone with permission has access to the data,
							ensuring that language information is not just on the computers
							of a few people.</li>
						<hr>
						<li>While it is easy to share data, the database is secure
							and encrypted. Permission settings control who can see what.</li>
					</ul>
				</div>
			</div>
			<div class="floatRight">
				<div class="bulletSectionHeader">
					<h3>Searching</h3>
				</div>
				<div class="bulletSection">
					<ul>
						<li>LingSync is customizable. You decide what is important
							and how much detail goes into your database.</li>
						<hr>
						<li>Data is easy to tag, search, and sort by factors you can
							create (i.e., speaker, date, morpheme or construction type).</li>
						<hr>
						<li>It is very easy to import and export data in a variety of
							formats.</li>
					</ul>
				</div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="float_container">
			<div class="floatLeft">
				<div class="bulletSectionHeader">
					<h3>Revitalizing</h3>
				</div>
				<div class="bulletSection">
					<ul>
						<li>Learners can participate in recording and transcribing
							their language.</li>
						<hr>
						<li>Users can easily search the database for specific words
							or phrases, and discover patterns on their own.</li>
						<hr>
						<li>Material can be easily converted from LingSync to
							language lessons on a complementary language learning app (still
							under development).</li>
					</ul>
				</div>
			</div>
			<div class="floatRight">
				<div class="bulletSectionHeader">
					<h3>Key features of LingSync</h3>
				</div>
				<div class="bulletSection">
					<ul>
						<li>LingSync is a Chrome app, which means it works on
							Windows, Mac, Linux, Android, iPad, and also offline.</li>
						<hr>
						<li>LingSync is free and open source. You maintain control of
							your data.</li>
						<hr>
						<li>LingSync learns from your data to streamline morpheme
							glossing.</li>
						<hr>
						<li>LingSync automatically backs up your database. Previous
							versions are accessible, making it easy to undo any mistakes.</li>
					</ul>
				</div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
</div>
