<!DOCTYPE HTML>
<html lang="en" ng-csp>
<head>
<title>LingSync</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Stylesheets -->
<link rel="stylesheet" type="text/css"
	href="libs/bootstrap/css/bootstrap.css">
<link rel="stylesheet" type="text/css"
	href="libs/bootstrap/css/bootstrap-responsive.css">
<link rel="stylesheet" type="text/css" href="css/LingSync.css">
<!-- END Stylesheets -->

</head>
<body id="app" class="LingSyncBody"
	ng-controller="LingSyncSpreadsheetController" ng-cloak>

	<div class="menubar mainMenubar">
		<span class="menuTitle">|<a href="#"
			ng-click="dataentry=false;changeActiveSubMenu('none')">LingSync</a>|
		</span> <span ng-hide="data==undefined"><a
			href="#/lingsync/{{template}}" ng-click="dataentry=true;loadData()">Data
				Entry</a></span> <span ng-hide="dataentry==false"> <a
			href="#/lingsync/{{template}}"
			ng-click="changeActiveSubMenu('searchMenu')">Search</a>
		</span> <span ng-show="dataentry==true"> <a
			href="#/lingsync/{{template}}"
			ng-click="changeActiveSubMenu('editSession')">Session</a>
		</span> <span ng-hide="data==undefined"><a href="#/settings"
			ng-click="dataentry=false;changeActiveSubMenu('none')">Settings</a></span> <span><a
			href="#/sandbox"
			ng-click="dataentry=false;changeActiveSubMenu('none')"
			ng-hide="username!='senhorzinho'">Sandbox</a></span> <span
			class="rightMenuItems" ng-show="authenticated==true">
			<div class="rightMenuItemsDiv">
				Current Session: {{currentSessionName}}&nbsp;&nbsp;&nbsp; {{DB[0]}}
				<button class="btn btn-warning" ng-click="reloadPage()">Log
					out</button>
			</div>
			<div class="clearDiv"></div>
		</span>
	</div>
	<div class="menubar subMenubar" ng-show="activeSubMenu=='editSession'">
		<span>Change Session:</span> <select class="span3"
			ng-model='activeSessionToSwitchTo'>
			<option value='none'>All sessions</option>
			<option select-dropdown-session
				ng-repeat="session in sessions | orderBy:'dateCreated'"
				value={{session._id}}>{{session.dateCreated | shortDate}}
				{{session.title}} ({{(data | filter: session._id).length}})</option>
		</select>
		<button class="btn btn-primary"
			ng-click="changeActiveSession(activeSessionToSwitchTo)">Activate
			Session</button>
		&nbsp;&nbsp;&nbsp;
		<button class="btn"
			ng-click="changeActiveSession(activeSessionToSwitchTo);editSessionDetails=!editSessionDetails" ng-hide="activeSession==undefined">Edit
			Session Info</button>
		&nbsp;&nbsp;&nbsp;
		<button class="btn btn-danger"
			ng-click="deleteEmptySession(activeSession)"
			ng-show="(data | filter: activeSession).length==0">Delete
			Session</button>
		<div class="menubar subSubMenubar" ng-show="editSessionDetails==true && activeSession!=undefined">
			<form ng-model='editedSessionInfo'>
				<table cellpadding="5px">
					<tr>
						<td>Goal:</td>
						<td><input class="span3" type="text"
							ng-model="editSessionInfo.goal"
							value={{fullCurrentSessionToEdit.goal}} placeholder="{{fullCurrentSessionToEdit.goal}}"></td>
						<td>Consultants:</td>
						<td><input class="span3" type="text"
							ng-model="editSessionInfo.consultants"
							value={{fullCurrentSessionToEdit.consultants}} placeholder="{{fullCurrentSessionToEdit.consultants}}"></td>
						<td>User:</td>
						<td><input class="span3" type="text"
							ng-model="editSessionInfo.user"
							value={{fullCurrentSessionToEdit.user}} placeholder="{{fullCurrentSessionToEdit.user}}"></td>
					</tr>
					<tr>
						<td>Language:</td>
						<td><input class="span3" type="text"
							ng-model="editSessionInfo.language"
							value={{fullCurrentSessionToEdit.language}} placeholder="{{fullCurrentSessionToEdit.language}}"></td>
						<td>Dialect:</td>
						<td><input class="span3" type="text"
							ng-model="editSessionInfo.dialect"
							value={{fullCurrentSessionToEdit.dialect}} placeholder="{{fullCurrentSessionToEdit.dialect}}"></td>
						<td>Date Elicited</td>
						<td><input class="span3" type="text"
							ng-model="editSessionInfo.dateElicited"
							value={{fullCurrentSessionToEdit.dateElicited}} placeholder="{{fullCurrentSessionToEdit.dateElicited}}"></td>
					</tr>
				</table>
			</form>
			<div class="rightMenuItems">
			<button class="btn" ng-click="editSession(editSessionInfo, data);">Save
				Changes</button>&nbsp;<button class="btn" ng-click="editSessionDetails=false">Cancel</button>
				</div>
		</div>
	</div>

	<div class="menubar subMenubar" ng-show="activeSubMenu=='searchMenu'">
		<span>SEARCH</span>
	</div>



	<div class="mainBody"
		ng-class='{lowerMainDiv: activeSubMenu!=&#39;none&#39;}'
		ng-click="changeActiveSubMenu('none');">
		<ng-view></ng-view>
	</div>


	<!-- Le javascript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->

	<script src="libs/require.js"></script>
	<script src="libs/d3.v3.js"></script>
	<script src="LingSyncSpreadsheet.js"></script>
</body>
</html>
