<!DOCTYPE HTML>
<html lang="en" ng-csp>
<head>
<title>LingSync</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Stylesheets -->
<link rel="stylesheet" type="text/css"
	href="libs/bootstrap/css/bootstrap.css">
<link rel="stylesheet" type="text/css"
	href="libs/bootstrap/css/bootstrap-responsive.css">
<link rel="stylesheet" type="text/css" href="css/LingSync.css">
<!-- END Stylesheets -->

</head>
<body id="app" class="LingSyncBody"
	ng-controller="LingSyncSpreadsheetController">

	<div class="navbar">
		<div class="navbar-inner">
			<a class="brand" href="#" ng-click="dataentry=false"><h3>| LingSync |</h3></a>
			<ul class="nav">
				<li><a href="#/lingsync/{{template}}" ng-click="dataentry=true">Data Entry</a></li>
				<li><a href="#/settings" ng-click="dataentry=false">Settings</a></li>
				<li><a href="#/sandbox" ng-click="dataentry=false">Sandbox</a></li>
			</ul>
			<ul class="nav pull-right" ng-show="dataentry==true">
				<li>Filter results: <input type="text" ng-model=filterTerm></li>
			</ul>
		</div>
	</div>

	<ng-view></ng-view>


	<!-- Le javascript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->

	<script src="libs/require.js"></script>
	<script src="libs/d3.v3.js"></script>
	<script src="js/LingSyncSpreadsheet.js"></script>
</body>
</html>
