/* app css stylesheet */
.menu {
	list-style: none;
	border-bottom: 0.1em solid black;
	margin-bottom: 2em;
	padding: 0 0 0.5em;
}

.menu:before {
	content: "[";
}

.menu:after {
	content: "]";
}

.menu>li {
	display: inline;
}

.menu>li:before {
	content: "|";
	padding-right: 0.3em;
}

.menu>li:nth-child(1):before {
	content: "";
	padding: 0;
}

.gravatar-small{
	height:2em;
}
.team_activity_feed_widget {
	background-color: #000;
	color: #fff;
	width: 300px;
}
.activity_feed_widget_header{
  background-color: #333;
  color: #fff;
  width: 100%;
}
.activity_feed_widget_footer{
  background-color: #333;
  color: #fff;
  width: 100%;
}
