.LingSyncBody {
	background-color: #74C2E1;
}

.selectedRow {
	background-color: #74C2E1;
	border: 2px solid;
}

.unselectedRow:nth-child(odd) {
	background-color: #CDFFFF;
}

.unselectedRow {
	background-color: #9DF3F5;
}

.unselectedNewRow {
	background-color: #CCCCCC;
}

.settingsHeader {
	background-color: #0099CC;
	border: 1px solid;
}

.settingsRow {
	background-color: #9DF3F5;
	box-shadow: 10px 10px 5px #888888;
}

.activeTemplate {
	background-color: #83F787;
	border-radius: 15px;
}

div.row {
	padding: 10px;
}

h1 {
	color: #000000;
	font-family: "Palatino"
}

h2 {
	color: #FFFFFF;
	font-family: "Palatino"
}