@import url(http://fonts.googleapis.com/css?family=Andika);

@import url(http://fonts.googleapis.com/css?family=Droid+Sans);

@import url(http://fonts.googleapis.com/css?family=Ubuntu);

.LingSyncBody { /* 	background-color: #000000; */
	background-image: url(../img/test_background.png);
	font-family: 'Droid Sans', sans-serif;
}

.mainContainer {
	margin-top: 25px;
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 25px;
	color: #EBEBEB;
	min-height: 800px;
	height: auto;
	background: transparent;
}

.mainHeader {
	color: #000000;
	height: 130px;
	margin-right: 100px;
	margin-left: 100px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	/* 	background-image: url(../img/test_background.jpg); */
	background-image: linear-gradient(left, rgb(159, 216, 242) 17%,
		rgb(205, 255, 255) 56%, rgb(205, 255, 255) 95% );
	background-image: -o-linear-gradient(left, rgb(159, 216, 242) 17%,
		rgb(205, 255, 255) 56%, rgb(205, 255, 255) 95% );
	background-image: -moz-linear-gradient(left, rgb(159, 216, 242) 17%,
		rgb(205, 255, 255) 56%, rgb(205, 255, 255) 95% );
	background-image: -webkit-linear-gradient(left, rgb(159, 216, 242) 17%,
		rgb(205, 255, 255) 56%, rgb(205, 255, 255) 95% );
	background-image: -ms-linear-gradient(left, rgb(159, 216, 242) 17%,
		rgb(205, 255, 255) 56%, rgb(205, 255, 255) 95% );
	background-image: -webkit-gradient(linear, left top, right top, color-stop(0.17, rgb(159,
		216, 242) ), color-stop(0.56, rgb(205, 255, 255) ),
		color-stop(0.95, rgb(205, 255, 255) ) );
}

a {
	color: #74C2E1;
}

h3.headerTagLine {
	font-size: 1.4em;
	padding-left: 70px;
	font-family: "Andika";
	margin-top: -20px;
}

#mainHeader-logo {
	padding-top: 5px;
	padding-left: 25px;
	float: left;
}

#mainHeader-button {
	padding-top: 50px;
	padding-right: 75px;
	float: right;
}

#mainBody_container {
	background-color: #FFFFFF;
	margin-right: 100px;
	margin-left: 100px;
	color: #000000;
	padding: 15px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	min-height: 400px;
}

.homeContainer {
	background-color: #FAFAFA !important;
}

#mainBodyTitle {
	text-align: center;
}

#mainBodyHeader {
	color: #000000;
	padding-right: 10px;
	padding-left: 10px;
	/* 	background-color: #FFFFFF; */
	/* 	border-radius: 5px; */
	/* 	border: 1px solid #DEDEDE; */
	margin-left: 125px;
	margin-right: 125px;
	margin-top: -30px;
	text-align: center;
}

.float_container {
	overflow: hidden;
}

.floatLeft {
	float: left;
	width: 47%;
	padding-left: 20px;
	margin-left: -15px;
}

.floatRight {
	float: right;
	width: 48%;
	padding-right: 20px;
	margin-right: 5px;
}

.nonfloat {
	padding-right: 20px;
	margin-right: 225px !important;
	margin-left: 175px !important;
}

.nonfloatHeader {
	margin-left: 155px !important;
	width: 45% !important;
}

.clear {
	clear: both;
	line-height: 0px;
	padding: 5px;
}

.searchBox {
	width: 200px;
	border-radius: 5px;
}

.download_button {
	-moz-box-shadow: inset 0px 1px 0px 0px #bbdaf7;
	-webkit-box-shadow: inset 0px 1px 0px 0px #bbdaf7;
	box-shadow: inset 0px 1px 0px 0px #bbdaf7;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #79bbff
		), color-stop(1, #378de5) );
	background: -moz-linear-gradient(center top, #79bbff 5%, #378de5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff',
		endColorstr='#378de5' );
	background-color: #79bbff;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #84bbf3;
	display: inline-block;
	color: #000000;
	font-family: arial;
	font-size: 15px;
	font-weight: bold;
	padding: 12px 36px;
	text-decoration: none;
	text-shadow: 1px 1px 0px #79bbff;
}

.download_button:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #378de5
		), color-stop(1, #79bbff) );
	background: -moz-linear-gradient(center top, #378de5 5%, #79bbff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5',
		endColorstr='#79bbff' );
	background-color: #378de5;
}

.download_button:active {
	position: relative;
	top: 1px;
}

.navbar {
	background-color: #000000;
	/* 	font-family: "Andika"; */
	font-size: .95em;
	margin-left: 75px;
	margin-right: 75px;
	margin-left: 75px;
}

.navbar-inner {
	padding-left: 10px;
	padding-right: 10px;
	height: 50px;
	line-height: 50px;
}

.wrapper {
	width: 100%;
	height: 40px;
	background: #74C2E1;
	position: relative;
	border-radius: 5px;
	border: 1px solid #000000;
}

.navbar_container {
	display: table; /* Allow the centering to work */
	margin: 0 auto;
}

.navbar ul {
	margin-top: 0;
	padding: 0;
	margin-left: 10px;
	text-align: center;
}

.navbar ul li a:first-child {
	border-left: 0px;
}

.navbar ul.menu {
	height: 40px;
	float: left;
}

.navbar ul.menu li.active {
	text-decoration: underline;
}

.navbar ul.menu li {
	list-style: none;
	float: left;
	height: 40px;
	background: -webkit-gradient(radial, 50% 100%, 10, 50% 50%, 40, from(#CDFFFF),
		to(#74C2E1) );
	background: -moz-radial-gradient(center 80px 45deg, circle cover, #CDFFFF 0%,
		#74C2E1 100%);
	border-radius: 5px;
}

.navbar ul li a {
	text-decoration: none;
	color: #000000;
	font-weight: 900;
	display: block;
	padding: 0 20px;
	line-height: 40px;
	background: #74C2E1;
	-webkit-transition-property: background;
	-webkit-transition-duration: 400ms;
	-moz-transition-property: background;
	-moz-transition-duration: 400ms;
	border-radius: 5px;
	text-transform: uppercase;
}

.navbar ul li a:hover {
	background: transparent none;
}

h1 {
	color: #000000;
	font-size: 3em;
	text-shadow: 1px 1px 1px #D2EAFA;
	font-family: 'Andika', sans-serif;
	margin-top: -15px;
	margin-bottom: 25px;
}

h2 {
	color: #000000;
	font-size: 1.2em;
}

h3 {
	color: #000000;
}

h3.listIntroText {
	font-size: 1.2em;
	font-weight: 600;
	text-align: center;
}

.bullets_container {
	border: 1px solid #DEDEDE;
	border-radius: 10px;
	background-color: #FFFFFF;
	padding: 10px;
}

.bulletSectionHeader {
	background-color: #D2EAFA;
	height: 40px;
	border-radius: 10px;
	width: 92%;
	/* 	border-top-left-radius: 10px; */
	/* 	border-top-right-radius: 10px; */
	border: 1px solid #DEDEDE;
	margin-bottom: -20px;
	margin-left: 15px;
	z-index: 100;
	position: relative;
	box-shadow: 3px 3px 1px #DEDEDE;
}

.bulletSectionHeader h3 {
	font-size: 1.3em;
	font-weight: 700;
	font-family: "Ubuntu";
	letter-spacing: 1px;
	color: #000000;
	position: relative;
	margin-left: 15px;
	text-transform: uppercase;
	margin-top: 0px;
	padding-top: 10px;
	margin-top: 0px;
	letter-spacing: 1px;
	/* 	text-shadow: 1px 1px 0px #000000; */
}

/* .bulletSectionHeader h3:first-child:first-letter { */
/* 	font-size: 1.9em; */
/* 	font-style: italic; */
/* 	float: left; */
/* 	line-height: .325; */
/* 	letter-spacing: 4px; */
/* } */

.bulletSection {
	background-color: #FFFFFF;
	border-radius: 10px;
	/* 	border: 2px solid #DEDEDE; */
	margin-left: 30px;
	margin-top: 30px;
	margin-right: 35px;
}

.bulletSection li {
	list-style-type: none;
	padding: 10px;
	font-size: 1em;
	margin-left: -30px;
	line-height: 1.4em;
}

.namesList li {
	line-height: 1.3em;
	padding: 2px;
}

.bulletSection ul hr {
	background-color: #CDFFFF;
	border: #000 1px dotted;
	border-style: none none dotted;
	color: #74C2E1;
	width: 70%;
	margin-top: 0px;
	margin-bottom: 0px;
}

.spacingDiv {
	min-height: 20px;
}

input:focus {
	background-color: #EAFFFF;
	outline-size: 6px; !
	important outline: #000000;
	!
	important
}