<div class="hot_key_config">

            <label>Key1</label>
            <textarea>{{user}}</textarea> <br>
    
            <label>Key2</label>
            <textarea>{{team}}</textarea> <br>
           
            <label>Action</label>
            <textarea>{{language}}</textarea> <br>
           
     
 
</div>