<li class="not-a">
  <div>
  <img class="gravatar-large" src="{{gravatar}}"/> {{username}}
  </div>
  <div id="login_form">
    <div class=" alert alert-error hide "></div>
	  <label class = "locale_Username"></label> 
	  <input type="text" id="username" name="username" value="sapir" /> 
		<label class = "locale_Password "></label>
		<input type="password" id="password" size="100px" name="password"
		value="phoneme" />
	</div>
</li>
<li class="not-a">
  <button id="logout" class="btn btn-inverse logout "><span class = "locale_Log_Out"></span></button>
  <button id="login" class="btn btn-inverse login "><span class = "locale_Log_In"></span></button>
</li>
<li class="divider"></li>

<li><a data-toggle="modal" href="#user-modal"><i class="icon-user"></i> <span class = "locale_User_Profile"></span> </a></li>
<li><a data-toggle="modal" href="#user-preferences-modal"><i class="icon-cog"></i> <span class = "locale_User_Settings"></span> </a></li>
<li><a data-toggle="modal" href="#hotkey-settings-modal"><i class="icon-hdd"></i> <span class = "locale_Keyboard_Shortcuts"></span></a></li>
<li><a class="corpus-settings"><i class="icon-cogs"></i> <span class = "locale_Corpus_Settings"></span></a></li>
<li class="divider"></li>
<li><a data-toggle="modal" href="#terminal-modal"><i class="icon-group"></i> <span class = "locale_Terminal_Power_Users"></span> </a></li>
