  
  <div id="login">
    <div>
      <label>Username:</label>  <input type="text" id="username"
        name="username" value="sapir" />
    </div>
    <div>
      <label>Password:</label>  <input type="password" id="password"
        name="password" value="wharf" />
    </div>
    <div>
      <button id="login_button" class="btn login">Log In:</button>
    </div>
  </div>
  <div id="logout" class="hidden">
  
 
        <button id="logout" class="btn logout">Log Out</button>
  
  
  </div>
   {{> user}}