
<div id="login">  
  <div class="log">
    <label>Username:</label>  <input type="text" id="username"
    name="username" value="sapir" />
    
    <label>Password:</label>  <input type="password" id="password" size="100px"
    name="password" value="wharf" /> 
  </div>
  <div>
    <button id="login_button" class="btn-mini login">Log In:</button>
  </div>
</div>

 <div>
  <div id="logout" class="hidden">
  <button id="logout" class="btn-mini logout">Log Out</button>
  </div>
  {{> user}}
</div>