<li><img class="grav" src="{{gravatar}}" />{{username}}</li>

<li id="login_form"><label>Username:</label> <input type="text"
	id="username" name="username" value="sapir" /> <label>Password:</label>
	<input type="password" id="password" size="100px" name="password"
	value="wharf" /></li>

<li id="login">
	<button class="btn-mini login">Log In:</button>
</li>

<li id="logout">
	<button class="btn-mini logout">Log Out</button>
<li class="divider"></li>

<li><a data-toggle="modal" href="#fullscreen-user-profile-view"><i class="icon-user"></i> User
		Profile </a></li>
<li><a data-toggle="modal" href="#user-preferences-view"><i class="icon-cog"></i> User
		Settings </a></li>
<li><a data-toggle="modal" href="#hotkey-edit-view"><i class="icon-hdd"></i>Keyboard 
        Shortcuts </a></li>
<li><a data-toggle="modal" href="#datum-preferences-view"><i class="icon-cogs"></i>Datum 
       Settings </a></li>
</li>

<li><a data-toggle="modal" href="#user/sapir/teamManagement"><i class="icon-group"></i>Team 
       Management </a></li>
</li>

