  
  <div id="login">
    <div>
      <label>Username:</label>  <input type="text" id="username"
        name="username" value="sapir" />
    </div>
    <div>
      <label>Password:</label>  <input type="password" id="password"
        name="password" value="wharf" />
    </div>
    <div>
      <input type="button" id="login_button" class="login button" value="Log In"
        " />
    </div>
  </div>
  <div id="logout" class="hidden">
  
  {{> user}}
  
    <input type="button"  class="logout button"
      value="Logout" />
  </div>