<div class="datum">
  <h1>Datum Preferences</h1>



  <div>

    <div class="icons">

      <a id="playDatum"><i class="icons icon-bullhorn"></i></a> 
      <a id="clipboard"><i class="icons icon-paste"></i></a> 
      <a id="duplicate"><i class="icons icon-copy"></i></a>
      <button class="btn btn-primary" id="LaTeX">LaTeX</button>
      <div id="dropZone">Drop Audio Here!</div>
      
      
    </div>


  



  </div>

</div>