<div class="pull-right">
  <a href="#"   title="{{locale_Show_Unicode_Palette}}" rel="tooltip" >  <!-- locale_Show_Unicode_Palette -->
    <i class="icons icon-plus-sign"></i></a>
</div>
<h3><span>{{locale_Unicode}}</span>
<span>{{{locale_Drag_and_Drop}}}</span>
</h3>