<br />
<br />
  <h1>Frequently Asked Questions</h1>
<br />

<div class="question">
Tips:
</div>
<div class="answer">
<ul>
  <li>To return to the main page at any time, click on the LingSync logo at the top left of the page.</li>
  <li>Save your work often! Changes are automatically saved every five minutes, but it is good practice to save frequently.</li>
  <li>Do <b>not</b> use your browser's reload button! This will completely reload the LingSync Spreadsheet, erasing any unsaved data and logging you out of your corpus. Instead, use the refresh button (↻) on the LingSync toolbar to download the most recent changes.</li>
</ul>
</div>

<div class="question">
How do I create an account?
</div>
<div class="answer">
From the main startup screen, click the "Register" button in the top right corner and fill out the form. If you are unsure as to which server you should select, you most likely want to choose "LingSync Beta".
</div>

<div class="question">
How do I create a corpus?
</div>
<div class="answer">
  After you have logged in, hover over "Settings" and select "Corpus". From this page, you can add a new corpus.
</div>

<div class="question">
How do I enter data?
</div>
<div class="answer">
  After you have selected a corpus and a session (or created a new session), you will be taken to the data entry page. The topmost item on this page is the space to enter new records. Fill in your data and/or record/upload audio and then click "Create New". Note that your new record will not be saved to the database until you click the "Save" button at the top right of the screen!
</div>

<div class="question">
How do I edit an existing record?
</div>
<div class="answer">
  Single-click anywhere on the record you wish to edit. This will make the record editable. Make your changes and click the "Done" button. Note that changes to this record will not be saved to the database until you click the "Save" button!
</div>

<div class="question">
How do I record audio, upload audio, or add/view comments?
</div>
<div class="answer">
  Click the expand button <img src="img/expand.png"> on a new record or a record in edit mode to access audio and comment features. You may click the collapse button <img src="img/collapse.png"> to hide this section.<br /><br />
  <b>Recording Audio</b><br />
  To record audio, click the record button. <b>Note that you must then click the "Allow" button on the browser dropdown at the top of the page.</b> Your audio will begin recording once you click "Allow". To stop recording, simply click the "Recording" button. Your audio will then be processed. This may take a while.<br /><br />
  <b>Uploading Audio</b><br />
  To upload audio files, click on "Choose files" and select one or more audio files from your hard drive. Audio files may be in .wav, .mp3, or .ogg format.<br /><br />
  <b>Adding/Deleting Comments</b><br />
  To add a comment, click on the "Add a comment" link and enter your comment in the popup box. To delete a comment, click on the "X" next to the comment. You may only delete your own comments.
</div>

<div class="question">
How do I delete a record or audio file?
</div>
<div class="answer">
  To delete a record, click the relevant record and then click the "Delete" button. To delete an audio file, click on the "X" next to the file. In both cases, you will be prompted to verify the deletion. Note that deleting records and files is irreversible! 
</div>
<div class="question">
Is my data private and protected?
</div>
<div class="answer">
  Yes! For more on our policies with respect to your data, please see <a href="https://www.lingsync.org/">our main site</a>.
</div>

<div class="question">
Contact
</div>
<div class="answer">
  For any other questions or comments, you may <a href="mailto:tobin.skinner@gmail.com?subject=LingSync Spreadsheet">contact the developer</a>.
</div>