<div id="data_entry">
	<div class="row">
		<div class="span12 pagination-centered">
			<img src="img/lingsync.png"> <br />
			<h1>LingSync Quick Data Entry Module</h1>
			<div ng-show="authenticated==false">
				Log in <br>
				<form ng-submit='loginUser(auth)'>
				<input type="text" ng-model='auth.user' placeholder="username"><br>
				 <input type="password" ng-model='auth.password'
					placeholder="password"><br>
				<button class="btn btn-primary">Log
					In</button>
					</form>
			</div>
			<div ng-show="authenticated==true">Logged in as {{username}}<br>
			Select Database:<br>
			<select ng-click=selectDB(selectedDB) ng-model='selectedDB'>
			<option ng-repeat="db in availableDBs" value={{db}}>{{db}}</option></select><br>
			<br><span ng-show="loading==true">Please wait while we load your data...</span><br><br><br>
			<button class="btn btn-primary" ng-click="authenticated=!authenticated">Log in as another user</button> </div>
		</div>
	</div>
</div>
