<div id="Settings">
	<div class="row">
		<div class="span12 pagination-centered">
			<h1>Settings</h1>
		</div>
	</div>

	<br />

	<!-- Number of records to display -->
	<div class="row settingsRow">
		<div class="span6 offset5">
			Number of records to display per page: <select
				ng-model="numberOfRecordsToDisplay"
				ng-init="numberOfRecordsToDisplay=scopePreferences.resultSize">
				<option value="5">5</option>
				<option value="10">10</option>
				<option value="25" selected>25</option>
				<option value="50">50</option>
				<option value={{data.length}}>All {{data.length}}</option>
			</select>
		</div>
		<div class="span1">
			<button class="btn btn-primary"
				ng-click="saveNumberOfRecordsToDisplay(numberOfRecordsToDisplay)">Save</button>
		</div>
	</div>

	<br />

	<!-- TEMPLATE 1 -->

	<div class="row settingsHeader">
		<div class="span12 pagination-centered">
			<h2>Template 1</h2>
		</div>
		<div class="span2 offset5 pagination-centered activeTemplate"
			ng-show="template=='template1'">
			<h3>Active</h3>
		</div>
	</div>
	<div class="row settingsRow">
		<div class="span3">
			<select class="span3" ng-model="newFieldPreferences1.field1">
				<option value="">Empty</option>
				<option select-dropdown1=field1 ng-repeat="field in availableFields"
					value={{field.label}}>{{field.title}}</option>
			</select>
		</div>
		<div class="span3">
			<select class="span3" ng-model="newFieldPreferences1.field2">
				<option value="">Empty</option>
				<option select-dropdown1=field2 ng-repeat="field in availableFields"
					value={{field.label}}>{{field.title}}</option>
			</select>
		</div>
		<div class="span3">
			<select class="span3" ng-model="newFieldPreferences1.field3">
				<option value="">Empty</option>
				<option select-dropdown1=field3 ng-repeat="field in availableFields"
					value={{field.label}}>{{field.title}}</option>
			</select>
		</div>
		<div class="span2">
			<select class="span2" ng-model="newFieldPreferences1.field4">
				<option value="">Empty</option>
				<option select-dropdown1=field4 ng-repeat="field in availableFields"
					value={{field.label}}>{{field.title}}</option>
			</select>
		</div>

		<div class="span1">
			<button class="btn btn-primary"
				ng-click="saveNewPreferences('template1', newFieldPreferences1)">Save/Activate
				Template</button>
		</div>
	</div>
	<br />


	<!-- TEMPLATE 2 -->

	<div class="row settingsHeader">
		<div class="span12 pagination-centered">
			<h2>Template 2</h2>
		</div>
		<div class="span2 offset5 pagination-centered activeTemplate"
			ng-show="template=='template2'">
			<h3>Active</h3>
		</div>
	</div>
	<div class="row settingsRow">
		<div class="span4">
			<select class="span4" ng-model="newFieldPreferences2.field1">
				<option value="">Empty</option>
				<option select-dropdown2=field1 ng-repeat="field in availableFields"
					value={{field.label}}>{{field.title}}</option>
			</select> <select class="span4" ng-model="newFieldPreferences2.field2">
				<option value="">Empty</option>
				<option select-dropdown2=field2 ng-repeat="field in availableFields"
					value={{field.label}}>{{field.title}}</option>
			</select> <select class="span4" ng-model="newFieldPreferences2.field3">
				<option value="">Empty</option>
				<option select-dropdown2=field3 ng-repeat="field in availableFields"
					value={{field.label}}>{{field.title}}</option>
			</select>
		</div>
		<div class="span4">
			<select class="span4" ng-model="newFieldPreferences2.field4">
				<option value="">Empty</option>
				<option select-dropdown2=field4 ng-repeat="field in availableFields"
					value={{field.label}}>{{field.title}}</option>
			</select> <select class="span4" multiple="multiple"
				ng-model="newFieldPreferences2.field5">
				<option value="">Empty</option>
				<option select-dropdown2=field5 ng-repeat="field in availableFields"
					value={{field.label}}>{{field.title}}</option>
			</select>


		</div>
		<div class="span2">
			<select class="span2" ng-model="newFieldPreferences2.field6">
				<option value="">Empty</option>
				<option select-dropdown2=field6 ng-repeat="field in availableFields"
					value={{field.label}}>{{field.title}}</option>
			</select>

			<textarea class="span2" rows="3" disabled='disabled'
				placeholder="Tags"></textarea>

		</div>
		<div class="span1">&nbsp;</div>
		<div class="span1">
			<button class="btn btn-primary"
				ng-click="saveNewPreferences('template2', newFieldPreferences2)">Save/Activate
				Template</button>
		</div>
	</div>


	<!-- TEMPLATE 3 -->

	<!-- EDIT BUTTONS -->
	<br />
	<div class="row">
		<div class="span8 offset1">
			<button class="btn btn-primary" ng-click="editTags=!editTags">Click
				here to edit tags</button>
			&nbsp;
			<button class="btn btn-primary" ng-click="deleteDuplicateTags();">Delete
				Duplicate Tags</button>
			&nbsp;
			<button class="btn btn-primary" ng-click="editFields=!editFields">Click
				here to edit fields</button>
		</div>
	</div>

	<!-- TAGS -->
	<br />

	<div class="row" ng-show="editTags==true">
		<div class="span8">
			Click EDIT button to rename tag:
			<div ng-repeat="tag in tags">
				<input type="text" value="{{tag}}" disabled=true>
				<button class="btn btn-primary" ng-click="changeTagToEdit(tag)">Edit</button>
				<span ng-show="tagToEdit==tag"><input type="text"
					ng-model='newTag' placeholder="Change to ...">
					<button class="btn btn-primary" ng-click="editTagInfo(tag, newTag)">Update</button>
				</span> <img ng-show="loading==true" src="img/spinner-small.gif">
			</div>
		</div>
	</div>

	<!-- FIELDS -->
	<div class="row" ng-show="editFields==true">
		<div class="span8">
			Click EDIT button to rename field:
			<div ng-repeat="field in availableFields">
				<input type="text" value="{{field.title}}" disabled=true>
				<button class="btn btn-primary" ng-click="changeFieldToEdit(field)">Edit</button>
				<span ng-show="fieldToEdit==field"><input type="text"
					ng-model='newFieldTitle' placeholder="Change to ...">
					<button class="btn btn-primary"
						ng-click="editFieldTitle(field, newFieldTitle)">Update</button> </span> <img
					ng-show="loading==true" src="img/spinner-small.gif">
			</div>
		</div>
	</div>


</div>