

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.customTagBackground {
  background: #B4C8FF !important;
  color: #000 !important;
}

.ms-sel-text {
  background: #fff !important;
  color: #000 !important;
}
